Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @coilysiren, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @pcraig3

Format
  api/tests/src/api/applications/test_application_update.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Lint
  api/tests/src/api/applications/test_application_update.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update endpoint to take dict / update tests
  api/src/api/application_alpha/application_route.py
  api/src/services/applications/update_application.py
  api/tests/src/services/applications/test_update_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Use factory
  api/tests/src/api/applications/test_application_update.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #4987] Update Saved search opportunities status code (#5103)
  api/openapi.generated.yml
  api/src/api/users/user_routes.py
  api/tests/src/api/users/test_user_delete_saved_opportunity.py
  api/tests/src/api/users/test_user_delete_saved_search.py
  api/tests/src/api/users/test_user_get_saved_searches.py
  api/tests/src/api/users/test_user_save_opportunity_post.py
  api/tests/src/api/users/test_user_save_search_post.py
  api/tests/src/api/users/test_user_saved_opportunities_get.py
  api/tests/src/api/users/test_user_update_saved_search.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[#5065] Add load balancer name to task definition (if load balancer exists) (#5101)
  infra/modules/service/main.tf
Owners: @acouch, @coilysiren, @mdragon

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[No ticket] Upgrade packages with vulnerabilties (#5075)
  .grype.yml
  api/poetry.lock
  api/pyproject.toml
Owners: @mdragon, @chouinar, @freddieyebra, @joshtonava

NOFOs vuln scans
  .github/workflows/cd-nofos.yml
  .github/workflows/vulnerability-scans-nofos.yml
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

Update tests / endpoint to remove warnings, and empty string validation
  api/src/api/application_alpha/application_route.py
  api/src/services/applications/update_application.py
  api/tests/src/api/applications/test_application_update.py
  api/tests/src/services/applications/test_update_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

run checks first
  .github/workflows/cd-nofos.yml
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

debug
  .github/workflows/vulnerability-scans-nofos.yml
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

WIP
  api/src/services/applications/application_validation.py
  api/src/services/applications/submit_application.py
  api/src/services/applications/update_application_form.py
  api/tests/src/db/models/factories.py
  api/tests/src/services/applications/test_application_validation.py
  api/tests/src/services/applications/test_submit_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Unticketed] Adjust OpenSearch docker config to be version 2 specfically
  api/docker-compose.yml
  api/opensearch/Dockerfile
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

use specific nofos commit
  .github/workflows/vulnerability-scans-nofos.yml
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

Revert "use specific nofos commit"
  .github/workflows/vulnerability-scans-nofos.yml
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

use latest tag
  .github/workflows/ci-nofos.yml
  .github/workflows/vulnerability-scans-nofos.yml
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

merge readt
  .github/workflows/cd-nofos.yml
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

Updated how opportunities are filtered and updated tests
  api/src/task/notifications/search_notification.py
  api/tests/src/task/notifications/test_search_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Added comment in tests
  api/tests/src/task/notifications/test_search_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

remove fields from epic template
  .github/ISSUE_TEMPLATE/5_internal_epic.yml
Owners: @acouch, @coilysiren, @mdragon

cleanup image handling
  .github/workflows/ci-nofos.yml
  .github/workflows/deploy-nofos.yml
  .github/workflows/vulnerability-scans-nofos.yml
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

[Unticketed] Adjust OpenSearch docker config to be version 2 specfically (#5114)
  api/docker-compose.yml
  api/opensearch/Dockerfile
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update soap client and handle get opportunity list request in applicants client.
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/src/legacy_soap_api/legacy_soap_api_routes.py
  api/src/legacy_soap_api/soap_payload_handler.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_schemas.py
  api/tests/src/legacy_soap_api/test_soap_payload_handler.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update client test.
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

testing
  .github/workflows/vulnerability-scans.yml
Owners: @acouch, @coilysiren, @mdragon

Update setuptools
  analytics/poetry.lock
Owners: @acouch, @coilysiren, @freddieyebra, @widal001

[Issue #4984] Add an endpoint for updating an application (#5110)
  api/openapi.generated.yml
  api/src/api/application_alpha/application_route.py
  api/src/api/application_alpha/application_schemas.py
  api/src/services/applications/update_application.py
  api/tests/src/api/applications/test_application_update.py
  api/tests/src/services/applications/test_update_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Updated search mapping to support opportunity_id and updated tests to use uuid
  api/src/services/opportunities_v1/search_opportunities.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

opportunity version tests
  api/tests/src/services/opportunities_v1/test_opportunity_version.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Updated get user saved opportunities response schema and tests
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/tests/src/api/users/test_user_saved_opportunities_get.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Updated user save opportunity request schema to get tests to pass
  api/src/api/users/user_schemas.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Updated delete saved opportunity endpoint and tests
  api/src/api/users/user_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Updated postgres_type_decorators tests
  api/tests/src/adapters/db/type_decorators/test_postgres_type_decorators.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Regenerate the whole lock file to make newrelic work
  analytics/poetry.lock
Owners: @acouch, @coilysiren, @freddieyebra, @widal001

Updated recent tests to convert uuid to str in assertion
  api/tests/src/api/competition_alpha/test_competition_route_get.py
  api/tests/src/api/users/test_user_saved_opportunities_get.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Added legacy_opportunity_id to the OpportunityV1 schema
  api/openapi.generated.yml
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/tests/src/services/opportunities_v1/test_opportunity_version.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add an ignore
  analytics/src/analytics/datasets/base.py
Owners: @acouch, @coilysiren, @freddieyebra, @widal001

Add new status/name/users to response
  api/src/api/application_alpha/application_schemas.py
  api/src/db/models/competition_models.py
  api/src/services/applications/get_application.py
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/db/models/factories.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @coilysiren @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 # everyone

/analytics/               @acouch @coilysiren @freddieyebra @widal001
/documentation/analytics/ @acouch @coilysiren @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @coilysiren @mdragon
/infra/nofos/              @acouch @coilysiren @mdragon @pcraig3
/documentation/infra/      @acouch @coilysiren @mdragon
/.github/                  @acouch @coilysiren @mdragon
/.github/workflows/*nofos* @acouch @coilysiren @mdragon @pcraig3
/bin/                      @acouch @coilysiren @mdragon
