Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @coilysiren, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @pcraig3

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @coilysiren @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 # everyone

/analytics/               @acouch @coilysiren @freddieyebra @widal001
/documentation/analytics/ @acouch @coilysiren @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @coilysiren @mdragon
/infra/nofos/              @acouch @coilysiren @mdragon @pcraig3
/documentation/infra/      @acouch @coilysiren @mdragon
/.github/                  @acouch @coilysiren @mdragon
/.github/workflows/*nofos* @acouch @coilysiren @mdragon @pcraig3
/bin/                      @acouch @coilysiren @mdragon

[Issue #5079] Modify GET /opportunity to return competitions associated with it (#5181)
  api/openapi.generated.yml
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/services/opportunities_v1/get_opportunity.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_get.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update opportunity_list_schemas.
  api/src/legacy_soap_api/applicants/schemas/get_opportunity_list_schemas.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Lookup the app folder specific most recent hash (no later than the current ref being deployed)
  .github/workflows/build-and-publish.yml
Owners: @acouch, @coilysiren, @mdragon

Add app awareness
  bin/is-image-published
Owners: @acouch, @coilysiren, @mdragon

We may need to get a deeper git checkout for the app specific hash checks to work
  .github/workflows/build-and-publish.yml
Owners: @acouch, @coilysiren, @mdragon

Address shellcheck issues
  bin/is-image-published
Owners: @acouch, @coilysiren, @mdragon

Fetching 100 still only takes 2 seconds so go bigger
  .github/workflows/build-and-publish.yml
Owners: @acouch, @coilysiren, @mdragon

Better error logging when we have trouble talking to Sendy
  frontend/src/app/[locale]/subscribe/actions.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Align test with new implementation
  frontend/tests/pages/subscribe/subscribeEmailAction.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Better error messaging
  frontend/src/app/[locale]/subscribe/actions.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Address test lint warning
  frontend/tests/pages/subscribe/SubscriptionForm.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Updated messaging based on discussions
  api/src/task/notifications/search_notification.py
  api/tests/src/task/notifications/test_search_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Tests and cleanup
  api/src/api/application_alpha/application_route.py
  api/src/api/application_alpha/application_schemas.py
  api/src/api/response.py
  api/src/services/applications/create_application_attachment.py
  api/src/util/file_util.py
  api/tests/src/api/applications/attachments/pdf_file.pdf
  api/tests/src/api/applications/attachments/spaces in file name.txt
  api/tests/src/api/applications/attachments/text_file.txt
  api/tests/src/api/applications/test_application_attachment_routes.py
  api/tests/src/schemas/schema_validation_utils.py
  api/tests/src/util/test_file_util.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Limiting results to be the top 25 for each search
  api/src/task/notifications/search_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Updated submission period no close date content
  api/src/task/notifications/search_notification.py
  api/tests/src/task/notifications/test_search_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Minor cleanup
  api/src/api/application_alpha/application_schemas.py
  api/src/api/schemas/extension/schema_fields.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add competition to ApplicationGetResponseDataSchema and remove competition_id
  api/src/api/application_alpha/application_schemas.py
  api/src/services/applications/get_application.py
  api/tests/src/api/applications/test_application_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Suggestion from PR
  frontend/src/app/[locale]/subscribe/actions.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Patching type mismatches with legacy opportunity id
  api/src/data_migration/transformation/subtask/transform_opportunity.py
  api/src/search/backend/load_opportunities_to_index.py
  api/src/services/opportunity_attachments/attachment_util.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Got transform funding category tests to pass
  api/tests/src/data_migration/transformation/conftest.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Updated to support transform_applicant_type tests
  api/src/data_migration/transformation/subtask/abstract_transform_subtask.py
  api/src/data_migration/transformation/subtask/transform_opportunity_summary.py
  api/tests/src/data_migration/transformation/conftest.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Updated transform assistance listing and got tests to pass
  api/src/data_migration/transformation/subtask/abstract_transform_subtask.py
  api/src/data_migration/transformation/subtask/transform_assistance_listing.py
  api/src/data_migration/transformation/transform_util.py
  api/tests/src/data_migration/transformation/conftest.py
  api/tests/src/data_migration/transformation/subtask/test_transform_assistance_listing.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5157] Application form links to competition form instead of form (#5159)
  api/src/db/migrations/versions/2025_05_23_application_form_points_to_comp_form.py
  api/src/db/migrations/versions/2025_05_23_drop_competition_form.py
  api/src/db/models/competition_models.py
  api/src/services/applications/application_validation.py
  api/src/services/applications/get_application.py
  api/src/services/applications/update_application_form.py
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/db/models/factories.py
  api/tests/src/services/applications/test_application_validation.py
  api/tests/src/services/applications/test_submit_application.py
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fix csp
  frontend/next.config.js
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
  documentation/api/database/erds/api-schema.png
  documentation/api/database/erds/staging-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
  documentation/api/database/erds/staging-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Got transform opportunity tests to pass
  api/src/data_migration/transformation/subtask/transform_opportunity.py
  api/src/data_migration/transformation/transform_util.py
  api/tests/src/data_migration/transformation/conftest.py
  api/tests/src/data_migration/transformation/subtask/test_transform_opportunity.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add initial get_opportunity_list_response services.
  api/src/legacy_soap_api/applicants/services/__init__.py
  api/src/legacy_soap_api/applicants/services/get_opportunity_list_response.py
  api/src/legacy_soap_api/legacy_soap_api_client.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Format
  api/src/services/applications/get_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5138] Add validation to the GET /application endpoint (#5171)
  api/openapi.generated.yml
  api/src/api/application_alpha/application_route.py
  api/src/api/application_alpha/application_schemas.py
  api/src/services/applications/get_application.py
  api/tests/src/api/applications/test_application_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Unticketed] Fix a test broken by another PR
  api/tests/src/api/applications/test_application_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Remove TODO
  api/tests/src/api/applications/test_application_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fix(styles): fixes issue where tables are squished due to max-width set to 0
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Unticketed] Fix a test broken by another PR (#5193)
  api/tests/src/api/applications/test_application_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add form instruction table
  api/src/db/migrations/versions/2025_05_29_add_form_instruction_table_and_relation_.py
  api/src/db/models/competition_models.py
  api/tests/src/db/models/factories.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update selectinload
  api/src/services/applications/get_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #4719] basic filter drawer (#5072)
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/components/drawer/Drawer.tsx
  frontend/src/components/drawer/DrawerControl.tsx
  frontend/src/components/drawer/DrawerUnit.tsx
  frontend/src/components/opportunity/OpportunityStatusWidget.tsx
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchDrawerFilters.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/components/search/SearchResults.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
  frontend/src/constants/defaultFeatureFlags.ts
  frontend/src/constants/environments.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/services/featureFlags/withFeatureFlag.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/tests/components/drawer/Drawer.test.tsx
  frontend/tests/components/drawer/DrawerControl.test.tsx
  frontend/tests/components/drawer/DrawerUnit.test.tsx
  frontend/tests/components/search/Filters/CheckboxFilter.test.tsx
  frontend/tests/components/search/SearchDrawerFilters.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterAccordion.test.tsx
  frontend/tests/components/search/SearchPagination.test.tsx
  frontend/tests/components/search/SearchResults.test.tsx
  frontend/tests/e2e/subscribe.spec.ts
  infra/frontend/app-config/env-config/environment_variables.tf
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc, @coilysiren, @mdragon

add status
  frontend/src/components/search/SearchDrawerFilters.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc
