Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @coilysiren, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @pcraig3

In progress set when creating application, make a factory more reliable
  api/src/services/applications/application_validation.py
  api/src/services/applications/create_application.py
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/db/models/factories.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

redirect to homepage on auth page logout
  frontend/src/components/user/UserControl.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[No ticket] Upgrade packages with vulnerabilties
  api/poetry.lock
  api/pyproject.toml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

inactive agency on get agency
  api/src/services/agencies_v1/get_agencies.py
  api/tests/src/api/agencies_v1/test_agencies_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update endpoint [WIP]
  api/src/api/application_alpha/application_route.py
  api/src/api/application_alpha/application_schemas.py
  api/src/services/applications/update_application.py
  api/tests/src/api/applications/test_application_update.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Format
  api/src/services/applications/get_application_form.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update imports.
  api/src/legacy_soap_api/applicants/schemas/get_opportunity_list_request.py
  api/src/legacy_soap_api/applicants/schemas/get_opportunity_list_response.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update form for auth
  frontend/src/app/[locale]/formPrototype/[applicationId]/form/[formId]/page.tsx
  frontend/src/app/api/applications/start/route.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/workspace/CreateApplicationButton.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Remove 404 since it's thrown in get_application
  api/src/services/applications/auth_utils.py
  api/src/services/applications/get_application_form.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update unit test
  api/tests/src/services/applications/test_auth_utils.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

refactor
  api/src/adapters/search/opensearch_client.py
  api/src/api/agencies_v1/agency_schema.py
  api/src/search/backend/load_agencies_to_index.py
  api/src/services/agencies_v1/get_agencies.py
  api/src/services/agencies_v1/search_agencies.py
  api/src/services/service_utils.py
  api/tests/conftest.py
  api/tests/src/api/agencies_v1/test_agencies_routes.py
  api/tests/src/api/agencies_v1/test_agency_routes_search.py
  api/tests/src/search/backend/test_load_agencies_to_index.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Fix tests
  api/tests/src/api/applications/test_application_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[#5090] Add database migrations step to Nofos deploy workflow (#5091)
  .github/workflows/deploy-nofos.yml
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

Add our first secret env var: DOCRAPTOR_API_KEY
  infra/nofos/app-config/env-config/environment_variables.tf
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

use non-custom component for status filter
  frontend/src/components/search/SearchFilterAccordion/SearchFilterOptions.ts
  frontend/src/components/search/SearchFilters.tsx
  frontend/src/components/search/SearchOpportunityStatus.tsx
  frontend/tests/components/search/SearchOpportunityStatus.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[#5065] Add our first secret env var for the Nofos app: DOCRAPTOR_API_KEY (#5098)
  infra/nofos/app-config/env-config/environment_variables.tf
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

Add load balancer name to task definition if exists
  infra/modules/service/main.tf
Owners: @acouch, @coilysiren, @mdragon

Update soap router to separate grantors and applicants apis.
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/src/legacy_soap_api/legacy_soap_api_routes.py
  api/src/legacy_soap_api/legacy_soap_api_schemas.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update routes with error code , update test
  api/src/api/users/user_routes.py
  api/tests/src/api/users/test_user_delete_saved_opportunity.py
  api/tests/src/api/users/test_user_delete_saved_search.py
  api/tests/src/api/users/test_user_get_saved_searches.py
  api/tests/src/api/users/test_user_save_opportunity_post.py
  api/tests/src/api/users/test_user_save_search_post.py
  api/tests/src/api/users/test_user_saved_opportunities_get.py
  api/tests/src/api/users/test_user_update_saved_search.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Separate grantors and applicants api endpoints.
  api/src/legacy_soap_api/applicants/schemas/get_opportunity_list_request.py
  api/src/legacy_soap_api/applicants/schemas/opportunity_filter.py
  api/src/legacy_soap_api/legacy_soap_api_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update messaging
  api/src/api/users/user_routes.py
  api/tests/src/api/users/test_user_delete_saved_opportunity.py
  api/tests/src/api/users/test_user_delete_saved_search.py
  api/tests/src/api/users/test_user_get_saved_searches.py
  api/tests/src/api/users/test_user_save_opportunity_post.py
  api/tests/src/api/users/test_user_save_search_post.py
  api/tests/src/api/users/test_user_saved_opportunities_get.py
  api/tests/src/api/users/test_user_update_saved_search.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

upgrade playwright to latest to fix webkit bugs
  frontend/package-lock.json
  frontend/package.json
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #4695] Add form validation to the submit application endpoint (#5073)
  api/openapi.generated.yml
  api/src/api/response.py
  api/src/api/schemas/response_schema.py
  api/src/services/applications/application_validation.py
  api/src/services/applications/create_application.py
  api/src/services/applications/submit_application.py
  api/src/validation/validation_constants.py
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/api/test_route_error_format.py
  api/tests/src/db/models/factories.py
  api/tests/src/services/applications/test_application_validation.py
  api/tests/src/services/applications/test_submit_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5095] use non-custom component for status filter (#5099)
  frontend/src/components/search/SearchFilterAccordion/SearchFilterOptions.ts
  frontend/src/components/search/SearchFilters.tsx
  frontend/src/components/search/SearchOpportunityStatus.tsx
  frontend/tests/components/search/SearchOpportunityStatus.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #4614] session tests followup (#4864)
  frontend/tests/components/LoginModal.test.tsx
  frontend/tests/e2e/login.spec.ts
  frontend/tests/pages/login/page.test.tsx
  frontend/tests/services/auth/sessionStorage.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue # 4872] Content update to static site roadmap (#4957)
  frontend/src/components/roadmap/sections/RoadmapMilestones.tsx
  frontend/src/components/roadmap/sections/RoadmapWhatWereWorkingOn.tsx
  frontend/src/components/search/SaveSearchSelector.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/tests/components/roadmap/RoadmapMilestones.test.tsx
  frontend/tests/components/roadmap/RoadmapWhatWereWorkingOn.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #4900] edit query name updates (#5021)
  frontend/src/components/workspace/EditSavedSearchModal.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/tests/components/workspace/EditSavedSearchModal.test.tsx
  frontend/tests/components/workspace/__snapshots__/EditSavedSearchModal.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update grype ignore for new vulnerability
  .grype.yml
Owners: @mdragon

Add another ignore
  .grype.yml
  api/poetry.lock
Owners: @mdragon, @chouinar, @freddieyebra, @joshtonava

update message
  api/src/api/users/user_routes.py
  api/tests/src/api/users/test_user_delete_saved_opportunity.py
  api/tests/src/api/users/test_user_delete_saved_search.py
  api/tests/src/api/users/test_user_get_saved_searches.py
  api/tests/src/api/users/test_user_save_opportunity_post.py
  api/tests/src/api/users/test_user_save_search_post.py
  api/tests/src/api/users/test_user_saved_opportunities_get.py
  api/tests/src/api/users/test_user_update_saved_search.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #3509] next js response logs (#4863)
  documentation/frontend/logging.md
  frontend/src/app/api/auth/login/route.ts
  frontend/src/app/api/auth/logout/handler.ts
  frontend/src/app/api/auth/logout/route.ts
  frontend/src/app/api/auth/session/handler.ts
  frontend/src/app/api/auth/session/route.ts
  frontend/src/app/api/opportunities/[opportunityId]/attachments-download/handler.ts
  frontend/src/app/api/opportunities/[opportunityId]/attachments-download/route.ts
  frontend/src/app/api/search/export/handler.ts
  frontend/src/app/api/search/export/route.ts
  frontend/src/app/api/user/saved-opportunities/[id]/handler.ts
  frontend/src/app/api/user/saved-opportunities/[id]/route.ts
  frontend/src/app/api/user/saved-opportunities/handler.ts
  frontend/src/app/api/user/saved-opportunities/route.ts
  frontend/src/app/api/user/saved-searches/handler.ts
  frontend/src/app/api/user/saved-searches/list/handler.ts
  frontend/src/app/api/user/saved-searches/list/route.ts
  frontend/src/app/api/user/saved-searches/route.ts
  frontend/src/services/logger/simplerLogger.tsx
  frontend/src/utils/apiUtils.ts
  frontend/src/utils/testing/commonTestUtils.ts
  frontend/tests/api/auth/login/route.test.ts
  frontend/tests/api/auth/logout/route.test.ts
  frontend/tests/api/auth/session/route.test.ts
  frontend/tests/api/opportunities/[opportunityId]/attachments-download/route.test.ts
  frontend/tests/api/search/export/route.test.ts
  frontend/tests/api/user/saved-opportunities/[id]/route.test.ts
  frontend/tests/api/user/saved-opportunities/route.test.ts
  frontend/tests/api/user/saved-searches/list/route.test.ts
  frontend/tests/api/user/saved-searches/route.test.ts
  frontend/tests/hooks/useClientFetch.test.ts
  infra/frontend/app-config/env-config/environment_variables.tf
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc, @coilysiren, @mdragon

Fix merge / update tests
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/services/applications/test_submit_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Format
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/services/applications/test_submit_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

no need to call value
  api/src/search/backend/load_agencies_to_index.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fmt lint
  api/tests/src/api/users/test_user_delete_saved_opportunity.py
  api/tests/src/api/users/test_user_delete_saved_search.py
  api/tests/src/api/users/test_user_get_saved_searches.py
  api/tests/src/api/users/test_user_save_opportunity_post.py
  api/tests/src/api/users/test_user_save_search_post.py
  api/tests/src/api/users/test_user_saved_opportunities_get.py
  api/tests/src/api/users/test_user_update_saved_search.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update MAINTAINERS.md
  MAINTAINERS.md
Owners: @mdragon

[Issue #4970] Set apply endpoints to only allow the owner of an application to interact (#5076)
  api/src/api/application_alpha/application_route.py
  api/src/db/models/competition_models.py
  api/src/services/applications/auth_utils.py
  api/src/services/applications/get_application.py
  api/src/services/applications/get_application_form.py
  api/src/services/applications/submit_application.py
  api/src/services/applications/update_application_form.py
  api/src/validation/validation_constants.py
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/db/models/factories.py
  api/tests/src/services/applications/test_auth_utils.py
  api/tests/src/services/applications/test_submit_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @coilysiren @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 # everyone

/analytics/               @acouch @coilysiren @freddieyebra @widal001
/documentation/analytics/ @acouch @coilysiren @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @coilysiren @mdragon
/infra/nofos/              @acouch @coilysiren @mdragon @pcraig3
/documentation/infra/      @acouch @coilysiren @mdragon
/.github/                  @acouch @coilysiren @mdragon
/.github/workflows/*nofos* @acouch @coilysiren @mdragon @pcraig3
/bin/                      @acouch @coilysiren @mdragon
