Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava

fix: cleaned up some scss and added some missing elements
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionB.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionC.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionD.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionE.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix test and update readme
  api/COMMON_GRANTS_INTEGRATION.md
  api/tests/src/api/common_grants/test_opportunities_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[WIP] Try to get it working locally
  api/local.env
  api/src/task/apply/create_application_submission_task.py
  api/tests/src/task/apply/test_create_application_submission_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

WIP
  api/src/task/forms/update_form_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Format/lint
  api/src/task/apply/create_application_submission_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5958] Sort the application forms when fetching an application (#6015)
  api/src/services/applications/get_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[issue#5577]: Budget form sections (#6017)
  api/src/form_schema/forms/sf424a.py
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/validate.ts
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionB.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionC.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionD.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionE.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionF.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

WIP
  api/src/task/forms/README.md
  api/src/task/forms/update_form_task.py
  api/tests/src/task/forms/test_update_form_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5914] foreign model for v_opportunity_summary (#6019)
  api/src/db/models/foreign/opportunity.py
  api/src/db/models/legacy_mixin/opportunity_mixin.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Cleanup and tests
  api/src/task/forms/update_form_task.py
  api/tests/src/task/forms/test_update_form_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Fix one small thing
  api/src/task/forms/update_form_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Unticketed] Create a utility script for uploading forms to a given environment (#5994)
  api/src/task/__init__.py
  api/src/task/forms/README.md
  api/src/task/forms/__init__.py
  api/src/task/forms/update_form_task.py
  api/tests/src/task/forms/__init__.py
  api/tests/src/task/forms/test_update_form_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update table name
  api/src/db/models/foreign/opportunity.py
  api/src/db/models/legacy_mixin/opportunity_mixin.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update name
  api/src/db/models/foreign/opportunity.py
  api/src/db/models/legacy_mixin/opportunity_mixin.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5914] update foreign table (#6044)
  api/src/db/models/foreign/opportunity.py
  api/src/db/models/legacy_mixin/opportunity_mixin.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

initial commit
  frontend/src/app/[locale]/dev/api-dashboard/page.tsx
  frontend/src/app/api/user/api-keys/[apiKeyId]/handler.ts
  frontend/src/app/api/user/api-keys/[apiKeyId]/route.ts
  frontend/src/app/api/user/api-keys/handler.ts
  frontend/src/app/api/user/api-keys/list/handler.ts
  frontend/src/app/api/user/api-keys/list/route.ts
  frontend/src/app/api/user/api-keys/route.ts
  frontend/src/components/dev/ApiDashboard.tsx
  frontend/src/components/dev/ApiKeyTable.tsx
  frontend/src/components/dev/CreateApiKeyModal.tsx
  frontend/src/components/dev/EditApiKeyModal.tsx
  frontend/src/components/developer/sections/DeveloperInfo.tsx
  frontend/src/services/fetch/fetchers/apiKeyFetcher.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Fix test
  api/tests/src/services/pdf_generation/test_service.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5051] Add PDF fetching to zip process (#6018)
  api/local.env
  api/src/task/apply/create_application_submission_task.py
  api/tests/src/services/pdf_generation/test_service.py
  api/tests/src/task/apply/test_create_application_submission_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update to datetime
  api/src/db/models/legacy_mixin/opportunity_mixin.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add terraform vars
  infra/api/app-config/dev.tf
  infra/api/app-config/env-config/environment_variables.tf
  infra/api/app-config/prod.tf
  infra/api/app-config/staging.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

Format / Default to test mode for safety
  infra/api/app-config/dev.tf
  infra/api/app-config/env-config/environment_variables.tf
  infra/api/app-config/prod.tf
  infra/api/app-config/staging.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

Renamed user table in analytics to user_data and updated loading procedure to account for name difference.
  analytics/src/analytics/integrations/etldb/migrations/versions/0013_rename_user_table.sql
  analytics/src/analytics/integrations/extracts/constants.py
  analytics/src/analytics/integrations/extracts/load_opportunity_data.py
  analytics/tests/conftest.py
  analytics/tests/integrations/extracts/test_load_opportunity_data.py
Owners: @acouch, @freddieyebra, @widal001

initial commit
  api/src/api/agencies_v1/agency_routes.py
  api/src/api/extracts_v1/extract_routes.py
  api/src/api/form_alpha/form_route.py
  api/src/api/opportunities_v1/opportunity_routes.py
  api/src/auth/api_gateway_key_auth.py
  api/src/auth/auth_utils.py
  api/src/auth/multi_auth.py
  api/tests/src/api/test_route_error_format.py
  api/tests/src/auth/test_api_gateway_key_auth.py
  api/tests/src/auth/test_api_key_multi_auth.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Unticketed] Add PDF Terraform env vars (#6049)
  infra/api/app-config/dev.tf
  infra/api/app-config/env-config/environment_variables.tf
  infra/api/app-config/prod.tf
  infra/api/app-config/staging.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

fixing testing
  api/openapi.generated.yml
  api/src/api/agencies_v1/agency_routes.py
  api/src/api/extracts_v1/extract_routes.py
  api/src/api/form_alpha/form_route.py
  api/src/api/opportunities_v1/opportunity_routes.py
  api/src/auth/api_gateway_key_auth.py
  api/tests/src/auth/test_api_gateway_key_auth.py
  api/tests/src/auth/test_api_key_multi_auth.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fixing formatting
  api/tests/src/auth/test_api_gateway_key_auth.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update columns
  api/src/db/models/legacy_mixin/opportunity_mixin.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

cleanup
  api/src/db/models/legacy_mixin/opportunity_mixin.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

wip general idea
  frontend/src/components/applyForm/utils.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip using the required fields to find children from warning on parent field
  frontend/src/components/applyForm/utils.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

this seems to work
  frontend/src/components/applyForm/utils.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

function to paths to all required fields is in place
  frontend/src/components/applyForm/utils.tsx
  frontend/tests/components/applyForm/sflll.mock.json
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

cleanup
  frontend/src/components/applyForm/utils.tsx
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5914] v_opportunity_summary foreign field type (#6046)
  api/src/db/models/legacy_mixin/opportunity_mixin.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

cleanup
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip tests
  frontend/src/components/applyForm/utils.tsx
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add check-spec command
  api/Makefile
  api/src/common_grants/scripts/generate_openapi.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

use fastapi to gen schema
  api/poetry.lock
  api/pyproject.toml
  api/src/common_grants/scripts/generate_openapi.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update documentation
  api/COMMON_GRANTS_INTEGRATION.md
  api/Makefile
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

add linter for openapi specs
  api/Makefile
  api/src/common_grants/scripts/lint_openapi.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava
