Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @coilysiren, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @pcraig3

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @coilysiren @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 # everyone

/analytics/               @acouch @coilysiren @freddieyebra @widal001
/documentation/analytics/ @acouch @coilysiren @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @coilysiren @mdragon
/infra/nofos/              @acouch @coilysiren @mdragon @pcraig3
/documentation/infra/      @acouch @coilysiren @mdragon
/.github/                  @acouch @coilysiren @mdragon
/.github/workflows/*nofos* @acouch @coilysiren @mdragon @pcraig3
/bin/                      @acouch @coilysiren @mdragon

Make sure we `terraform-init` inside of `run-command` (#5258)
  bin/run-command
  infra/nofos/service/.terraform.lock.hcl
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

Update response types
  frontend/src/types/applicationResponseTypes.ts
  frontend/src/types/opportunity/opportunityResponseTypes.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

got most of generate notifications tests working
  api/tests/src/task/notifications/test_generate_notifications.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Got create test export opportunity data task tests to pass
  api/tests/src/task/opportunities/test_export_opportunity_data_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add HTTPs for NOFOs Dev
  infra/nofos/app-config/dev.tf
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

Update for new types (#5257)
  frontend/src/types/applicationResponseTypes.ts
  frontend/src/types/competitionsResponseTypes.ts
  frontend/src/types/opportunity/opportunityResponseTypes.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5260] Add HTTPS for NOFOs Dev (#5261)
  infra/nofos/app-config/dev.tf
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

Got 3/4 transform oracle data task tests to pass
  api/src/data_migration/transformation/subtask/transform_opportunity_attachment.py
  api/src/data_migration/transformation/subtask/transform_opportunity_summary.py
  api/src/data_migration/transformation/transform_util.py
  api/tests/src/data_migration/transformation/conftest.py
  api/tests/src/data_migration/transformation/test_transform_oracle_data_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Got 4/4 transform oracle data task tests to pass -- left some crud to cleanup
  api/tests/src/data_migration/transformation/conftest.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Include more details around certificate rotations
  OPERATIONS.md
Owners: @mdragon

Note about uncertainty for certificate rotations
  OPERATIONS.md
Owners: @mdragon

Cleaned up transform oracle data tests
  api/tests/src/data_migration/transformation/conftest.py
  api/tests/src/data_migration/transformation/test_transform_oracle_data_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Refactor query and fix upstream failing tests.
  api/src/legacy_soap_api/applicants/services/get_opportunity_list_response.py
  api/tests/src/legacy_soap_api/applicants/services/test_get_opportunity_list_response.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
  api/tests/src/pagination/test_paginator.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

WIP
  api/src/data_migration/load/load_oracle_data_task.py
  api/src/db/models/competition_models.py
  api/src/form_schema/rule_processing/json_rule_context.py
  api/src/form_schema/rule_processing/json_rule_processor.py
  api/src/form_schema/rule_processing/json_rule_util.py
  api/src/form_schema/rule_processing/json_rule_validator.py
  api/src/validation/validation_constants.py
  api/tests/src/form_schema/rule_processing/test_json_rule_processor.py
  api/tests/src/form_schema/rule_processing/test_json_rule_util.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add delenv to reset_aws_vars
  api/tests/conftest.py
  api/tests/src/api/competition_alpha/test_competition_route_get.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Don't raise if already deleted
  api/tests/conftest.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_get.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Clean up env setting
  api/tests/src/api/extracts_v1/test_extract_schema.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5134] Add the competition instruction object to the competition response (#5237)
  api/openapi.generated.yml
  api/src/api/competition_alpha/competition_schema.py
  api/src/db/models/competition_models.py
  api/src/services/competition_alpha/get_competition.py
  api/tests/conftest.py
  api/tests/src/api/competition_alpha/test_competition_route_get.py
  api/tests/src/api/extracts_v1/test_extract_schema.py
  api/tests/src/api/extracts_v1/test_extracts_routes.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_get.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Address CR.
  api/src/legacy_soap_api/applicants/services/get_opportunity_list_response.py
  api/tests/src/db/models/factories.py
  api/tests/src/legacy_soap_api/applicants/services/test_get_opportunity_list_response.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Formatting
  api/src/data_migration/load/load_oracle_data_task.py
  api/src/form_schema/rule_processing/json_rule_context.py
  api/src/form_schema/rule_processing/json_rule_field_population.py
  api/src/form_schema/rule_processing/json_rule_processor.py
  api/src/form_schema/rule_processing/json_rule_util.py
  api/src/form_schema/rule_processing/json_rule_validator.py
  api/src/validation/validation_constants.py
  api/tests/src/form_schema/rule_processing/test_json_rule_processor.py
  api/tests/src/form_schema/rule_processing/test_json_rule_util.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava
