Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

chore: moved components to nest in container file
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/page.tsx
  frontend/src/components/application/ApplicationContainer.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: fixes linting issues
  frontend/src/app/api/applications/[applicationId]/handler.ts
  frontend/src/app/api/applications/[applicationId]/route.ts
  frontend/src/components/application/InformationCard.tsx
  frontend/src/components/application/editAppFilingName/EditAppFilingName.tsx
  frontend/src/components/application/editAppFilingName/EditAppFilingNameModalBody.tsx
  frontend/src/components/application/editAppFilingName/EditAppFilingNameModalForm.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: format changes
  frontend/src/components/application/editAppFilingName/EditAppFilingNameModalBody.tsx
  frontend/src/components/application/editAppFilingName/EditAppFilingNameModalForm.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #4940] search controls styling cleanup (#5651)
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/app/[locale]/saved-opportunities/layout.tsx
  frontend/src/app/[locale]/saved-opportunities/page.tsx
  frontend/src/app/[locale]/saved-search-queries/layout.tsx
  frontend/src/app/[locale]/saved-search-queries/page.tsx
  frontend/src/app/[locale]/search/layout.tsx
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/app/[locale]/subscribe/page.tsx
  frontend/src/app/[locale]/subscribe/unsubscribe/page.tsx
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/components/Breadcrumbs.tsx
  frontend/src/components/drawer/DrawerControl.tsx
  frontend/src/components/drawer/DrawerUnit.tsx
  frontend/src/components/search/AndOrPanel.tsx
  frontend/src/components/search/FilterPillPanel.tsx
  frontend/src/components/search/PillList.tsx
  frontend/src/components/search/SaveSearchPanel.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchBarWithLabel.tsx
  frontend/src/components/search/SearchCallToAction.tsx
  frontend/src/components/search/SearchFilterRadio.tsx
  frontend/src/components/search/SearchResultsControls/SearchResultsControls.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
  frontend/tests/components/search/SearchBar.test.tsx
  frontend/tests/pages/saved-opportunities/__snapshots__/page.test.tsx.snap
  frontend/tests/pages/saved-opportunities/page.test.tsx
  frontend/tests/pages/saved-search-queries/page.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Issue #5277: Add query provider unit tests (#5625)
  frontend/tests/services/search/QueryProvider.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Add a log statement
  api/src/task/opportunities/store_opportunity_version_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Clean up
  api/src/services/applications/application_validation.py
  api/tests/src/services/applications/test_application_validation.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Rename column and index it
  api/src/db/migrations/constants.py
  api/src/db/migrations/versions/2025_07_14_add_version_queue_column.py
  api/src/db/models/opportunity_models.py
  api/src/task/opportunities/store_opportunity_version_task.py
  api/tests/src/db/models/factories.py
  api/tests/src/task/apply/test_create_application_submission_task.py
  api/tests/src/task/opportunities/test_store_opportunity_version_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5600] Setup form for Project Abstract Summary (#5662)
  api/src/form_schema/forms/project_abstract_summary.py
  api/src/form_schema/forms/sflll.py
  api/tests/lib/seed_local_db.py
  api/tests/src/form_schema/forms/test_project_abstract_summary.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Adjust scaling limits
  infra/modules/service/autoscaling.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

remove selected filter count, replace with background color
  frontend/src/components/search/Filters/AgencyFilterBody.tsx
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/tests/components/search/Filters/CheckboxFilter.test.tsx
  frontend/tests/components/search/Filters/RadioButtonFilter.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterAccordion.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5672] Adjust scaling limits (#5673)
  infra/modules/service/autoscaling.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

fix color
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Unticketed] Fix opportunity versioning to use a bool queue (#5668)
  api/src/db/migrations/constants.py
  api/src/db/migrations/versions/2025_07_14_add_version_queue_column.py
  api/src/db/models/opportunity_models.py
  api/src/services/opportunities_v1/opportunity_version.py
  api/src/task/opportunities/store_opportunity_version_task.py
  api/tests/src/db/models/factories.py
  api/tests/src/services/opportunities_v1/test_opportunity_version.py
  api/tests/src/task/apply/test_create_application_submission_task.py
  api/tests/src/task/opportunities/test_store_opportunity_version_task.py
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Adding short form name and legacy ID
  api/src/db/models/competition_models.py
  api/src/form_schema/forms/project_abstract_summary.py
  api/src/form_schema/forms/sf424.py
  api/src/form_schema/forms/sf424a.py
  api/src/form_schema/forms/sflll.py
  api/src/task/apply/create_application_submission_task.py
  api/tests/src/db/models/factories.py
  api/tests/src/task/apply/test_create_application_submission_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

send env vars through from server
  frontend/src/components/Layout.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: cleanup, linting, and update locations and routes
  frontend/src/app/api/applications/[applicationId]/handler.ts
  frontend/src/app/api/applications/[applicationId]/route.ts
  frontend/src/app/api/applications/[applicationId]/submit/handler.ts
  frontend/src/app/api/applications/[applicationId]/submit/route.ts
  frontend/src/components/application/ApplicationContainer.tsx
  frontend/src/components/application/InformationCard.tsx
  frontend/src/components/application/editAppFilingName/EditAppFilingNameModalForm.tsx
  frontend/src/components/application/editAppFilingName/actions.ts
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
  frontend/tests/api/applications/submit/route.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Last bits of cleanup
  api/src/task/apply/create_application_submission_task.py
  api/tests/src/task/apply/test_create_application_submission_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

chore: brought back the helper text
  frontend/src/components/application/editAppFilingName/EditAppFilingNameModalForm.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

chore: formatting
  frontend/src/components/application/editAppFilingName/EditAppFilingNameModalForm.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

PR feedback
  api/src/services/applications/application_validation.py
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/services/applications/test_application_validation.py
  api/tests/src/services/applications/test_submit_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Fix method signature
  api/src/services/applications/application_validation.py
  api/src/services/applications/get_application_form.py
  api/src/services/applications/update_application_form.py
  api/tests/src/services/applications/test_application_validation.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Format
  api/src/services/applications/application_validation.py
  api/tests/src/services/applications/test_application_validation.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update factory
  api/tests/src/db/models/factories.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5549] remove selected filter count, replace with background color (#5674)
  frontend/src/components/search/Filters/AgencyFilterBody.tsx
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/tests/components/search/Filters/CheckboxFilter.test.tsx
  frontend/tests/components/search/Filters/RadioButtonFilter.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterAccordion.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip, need to mess w csp to test locally
  frontend/next.config.js
  frontend/src/app/[locale]/layout.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

allow iframe
  frontend/next.config.js
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

skip failing axe iframe tests
  frontend/.pa11yci-desktop.json
  frontend/src/constants/environments.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

disable non ssl for deploy
  frontend/next.config.js
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fully disable failing pa11y
  frontend/.pa11yci-mobile.json
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

cleanup
  frontend/src/constants/environments.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

handle targeting on our end
  frontend/src/app/[locale]/layout.tsx
  frontend/src/components/ScriptInjector.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

disable ethnio in ci
  frontend/.pa11yci-desktop.json
  frontend/.pa11yci-mobile.json
  frontend/src/app/[locale]/layout.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

set targeting variable
  frontend/src/app/[locale]/layout.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix iframe position
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

test
  frontend/src/components/ScriptInjector.tsx
  frontend/src/utils/injectableScripts.tsx
  frontend/tests/components/ScriptInjector.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5582] add ethnio script for search launch survey (#5637)
  frontend/.pa11yci-desktop.json
  frontend/.pa11yci-mobile.json
  frontend/next.config.js
  frontend/src/app/[locale]/layout.tsx
  frontend/src/components/ScriptInjector.tsx
  frontend/src/constants/environments.ts
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/src/utils/injectableScripts.tsx
  frontend/tests/components/ScriptInjector.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

update seed
  api/tests/lib/seed_local_db.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava
