Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

Add keys only logic.
  api/src/legacy_soap_api/legacy_soap_api_utils.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_utils.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update
  api/src/adapters/search/opensearch_query_builder.py
  api/src/services/opportunities_v1/search_opportunities.py
  api/tests/src/adapters/search/test_opensearch_query_builder.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fmt
  api/src/adapters/search/opensearch_query_builder.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update tests.
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/src/legacy_soap_api/legacy_soap_api_config.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_utils.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5733] Restore Click Thru Tracking metadata (#5734)
  frontend/src/components/search/SearchResultsTable.tsx
  frontend/src/components/search/SearchResultsView.tsx
  frontend/tests/components/search/SearchResultsTable.test.tsx
  frontend/tests/components/search/__snapshots__/SearchResultsTable.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5729] Fix up links to Grants.gov (#5730)
  frontend/src/components/ReturnToGrantsNotification.tsx
  frontend/src/constants/environments.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update form-data via npm audit fix
  frontend/package-lock.json
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Run npm audit --fix to fix scan
  frontend/package-lock.json
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5748] Address form-data vulnerability (#5748)
  frontend/package-lock.json
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5429] Facet count closed date (#5732)
  api/openapi.generated.yml
  api/src/adapters/search/opensearch_query_builder.py
  api/src/adapters/search/opensearch_response.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/services/opportunities_v1/search_opportunities.py
  api/tests/src/adapters/search/test_opensearch_query_builder.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

More tests
  api/src/db/models/competition_models.py
  api/src/form_schema/rule_processing/json_rule_field_population.py
  api/tests/src/form_schema/rule_processing/conftest.py
  api/tests/src/form_schema/rule_processing/test_json_rule_field_population.py
  api/tests/src/form_schema/rule_processing/test_json_rule_processor.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Adjust some comments
  api/src/form_schema/forms/project_abstract_summary.py
  api/src/form_schema/forms/sf424.py
  api/src/form_schema/forms/sflll.py
  api/src/form_schema/rule_processing/json_rule_field_population.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add indicator of matching responses.
  api/src/legacy_soap_api/legacy_soap_api_client.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

scheduler
  infra/api/app-config/env-config/scheduled_jobs.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

override envvar
  infra/api/app-config/dev.tf
  infra/api/app-config/prod.tf
  infra/api/app-config/staging.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

fmt
  infra/api/app-config/env-config/scheduled_jobs.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

update time
  infra/api/app-config/env-config/scheduled_jobs.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

[Issue #5419] Add more prepopulation rules (#5749)
  api/src/db/models/competition_models.py
  api/src/form_schema/forms/project_abstract_summary.py
  api/src/form_schema/forms/sf424.py
  api/src/form_schema/forms/sflll.py
  api/src/form_schema/rule_processing/json_rule_field_population.py
  api/tests/src/form_schema/rule_processing/conftest.py
  api/tests/src/form_schema/rule_processing/test_json_rule_field_population.py
  api/tests/src/form_schema/rule_processing/test_json_rule_processor.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #4674] Email schedule sender (#5751)
  infra/api/app-config/dev.tf
  infra/api/app-config/env-config/scheduled_jobs.tf
  infra/api/app-config/prod.tf
  infra/api/app-config/staging.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

chore: add stashed files
  frontend/next.config.js
  frontend/src/utils/fileUtils/createFormData.ts
  frontend/src/utils/fileUtils/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5721] some non-search related query params as custom new relic attributes (#5722)
  frontend/src/components/search/SearchAnalytics.tsx
  frontend/src/types/search/searchQueryTypes.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

update seed
  api/tests/lib/seed_local_db.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

custom handling for p margins and such
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/components/opportunity/OpportunityAwardGridRow.tsx
  frontend/src/components/opportunity/OpportunityAwardInfo.tsx
  frontend/src/components/opportunity/OpportunityDownload.tsx
  frontend/src/components/opportunity/OpportunityEligibility.tsx
  frontend/src/components/opportunity/OpportunityHistory.tsx
  frontend/src/components/opportunity/OpportunityIntro.tsx
  frontend/src/components/opportunity/OpportunityStatusWidget.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

cleanup
  frontend/src/components/opportunity/OpportunityDownload.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix test
  frontend/tests/components/opportunity/OpportunityAwardGridRow.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

use same stacking for tablet and desktop
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

post rebase fix
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

update load-search-agency-data to run every 1 hour
  infra/api/app-config/env-config/scheduled_jobs.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

adjust time
  api/tests/src/adapters/search/test_opensearch_query_builder.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

lint
  api/tests/src/adapters/search/test_opensearch_query_builder.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5429] Fix for facet count closed date (#5758)
  api/tests/src/adapters/search/test_opensearch_query_builder.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

initial commit
  frontend/src/components/search/SearchResultsTable.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fixing layout issues on button
  frontend/src/components/search/SearchResultsTable.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

feat(form): sf424
  api/src/form_schema/forms/sf424.py
  frontend/src/app/api/applications/[applicationId]/attachments/route.ts
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/validate.ts
  frontend/src/components/applyForm/widgets/AttachmentArrayWidget.tsx
  frontend/src/components/applyForm/widgets/FileUploadWidget.tsx
  frontend/src/services/attachments/upload.ts
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
  frontend/src/types/applicationResponseTypes.ts
  frontend/src/types/attachmentTypes.ts
  frontend/src/utils/fileUtils/createFormData.ts
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

chore: updated per PR comment
  frontend/src/components/application/attachments/AttachmentsCardForm.tsx
  frontend/src/components/application/attachments/actions.ts
  frontend/src/utils/fileUtils/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fixing css
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5752] Change agency search schedule to populate data hourly (#5752)
  infra/api/app-config/env-config/scheduled_jobs.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

Add ClamAV antivirus ADR
  documentation/wiki/product/decisions/adr/2025-07-23-file-upload-virus-scanning.md
Owners: @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @mdragon, @myduong-navapbc, @widal001, @prasnava

Add Status / Last Modified
  documentation/wiki/product/decisions/adr/2025-07-23-file-upload-virus-scanning.md
Owners: @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @mdragon, @myduong-navapbc, @widal001, @prasnava

Update link
  documentation/wiki/SUMMARY.md
Owners: @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @mdragon, @myduong-navapbc, @widal001, @prasnava

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava
