Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @coilysiren, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @pcraig3

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @coilysiren @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 # everyone

/analytics/               @acouch @coilysiren @freddieyebra @widal001
/documentation/analytics/ @acouch @coilysiren @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @coilysiren @mdragon
/infra/nofos/              @acouch @coilysiren @mdragon @pcraig3
/documentation/infra/      @acouch @coilysiren @mdragon
/.github/                  @acouch @coilysiren @mdragon
/.github/workflows/*nofos* @acouch @coilysiren @mdragon @pcraig3
/bin/                      @acouch @coilysiren @mdragon

fixes, tests, refactor for two different fetch and transform functions
  frontend/src/app/api/agencies/handler.ts
  frontend/src/components/search/Filters/AgencyFilterContent.tsx
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/Filters/FilterSearchNoResults.tsx
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/src/components/search/SearchFilters.tsx
  frontend/src/services/fetch/fetchers/agenciesFetcher.ts
  frontend/src/utils/search/searchUtils.ts
  frontend/src/utils/testing/fixtures.ts
  frontend/tests/services/fetch/fetchers/agenciesFetcher.test.ts
  frontend/tests/utils/search/searchUtils.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add icon to input
  frontend/src/components/USWDSIcon.tsx
  frontend/src/components/search/Filters/AgencyFilterContent.tsx
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterSection/SearchFilterSection.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add more tests
  frontend/src/app/api/agencies/handler.ts
  frontend/src/components/search/Filters/AgencyFilterContent.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterSection/SearchFilterSection.tsx
  frontend/tests/api/agencies/route.test.ts
  frontend/tests/components/search/Filters/AgencyFilterContent.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterSection/SearchFilterSection.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix type bug
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

cleanup
  frontend/tests/api/agencies/route.test.ts
  frontend/tests/components/search/Filters/AgencyFilterContent.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterSection/SearchFilterSection.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

e2e fix
  frontend/next.config.js
  frontend/tests/e2e/search/search.spec.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

better solution for search icon
  frontend/src/components/search/Filters/AgencyFilterContent.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

revert csp change
  frontend/next.config.js
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Unticketed] Fix error when a non-string is passed for an enum (#5150)
  api/src/api/schemas/extension/schema_fields.py
  api/tests/src/schemas/extension/test_schema_fields.py
  api/tests/src/schemas/schema_validation_utils.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/staging-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Format
  api/src/db/models/foreign/__init__.py
  api/src/db/models/foreign/instructions.py
  api/src/db/models/legacy_mixin/instructions_mixin.py
  api/src/db/models/staging/__init__.py
  api/src/db/models/staging/instructions.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5080] Add more fields to the competition response schema (#5146)
  api/openapi.generated.yml
  api/src/api/competition_alpha/competition_schema.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/api/schemas/shared_schema.py
  api/src/db/models/competition_models.py
  api/src/services/applications/application_validation.py
  api/src/services/applications/create_application.py
  api/src/services/applications/submit_application.py
  api/src/services/competition_alpha/get_competition.py
  api/src/validation/validation_constants.py
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/api/competition_alpha/test_competition_route_get.py
  api/tests/src/db/models/factories.py
  api/tests/src/services/applications/test_application_validation.py
  api/tests/src/services/applications/test_submit_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5033] Setup a staging & foreign table for the TINSTRUCTIONS table (#5151)
  api/src/db/migrations/versions/2025_05_21_add_staging_table_for_tinstructions.py
  api/src/db/models/foreign/__init__.py
  api/src/db/models/foreign/instructions.py
  api/src/db/models/legacy_mixin/instructions_mixin.py
  api/src/db/models/staging/__init__.py
  api/src/db/models/staging/instructions.py
  documentation/api/database/erds/staging-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

use usePrevious to track the previous queryname
  frontend/src/components/workspace/EditSavedSearchModal.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

prettier format
  frontend/src/components/workspace/EditSavedSearchModal.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

WIP
  api/src/api/application_alpha/application_route.py
  api/src/api/application_alpha/application_schemas.py
  api/src/services/applications/get_application.py
  api/tests/src/db/models/factories.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Ignore warning about ":latest" tags in docker images
  .github/workflows/vulnerability-scans-nofos.yml
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

feat(linter): Adds inherit parent milestone linter script Updates an issue to inherit the milestone of its parent issue.
  .github/linters/scripts/inherit-parent-milestone.sh
Owners: @acouch, @coilysiren, @mdragon

[#5141] Ignore warning about ":latest" tags in NOFO docker images (#5156)
  .github/workflows/vulnerability-scans-nofos.yml
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

Update auth for app form
  frontend/src/app/[locale]/formPrototype/[applicationId]/form/layout.tsx
  frontend/src/components/applyForm/actions.ts
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Add a button that resets the feature flags cookie
  frontend/src/app/[locale]/dev/feature-flags/page.tsx
  frontend/tests/pages/dev/feature-flags/page.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5157] Application form links to competition form instead of form
  api/src/db/migrations/versions/2025_05_23_application_form_points_to_comp_form.py
  api/src/db/migrations/versions/2025_05_23_drop_competition_form.py
  api/src/db/models/competition_models.py
  api/src/services/applications/application_validation.py
  api/src/services/applications/get_application.py
  api/src/services/applications/update_application_form.py
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/db/models/factories.py
  api/tests/src/services/applications/test_application_validation.py
  api/tests/src/services/applications/test_submit_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

format
  api/src/services/applications/application_validation.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Force opportunity_details to list and add util.
  api/src/legacy_soap_api/applicants/schemas/get_opportunity_list_schemas.py
  api/src/legacy_soap_api/legacy_soap_api_utils.py
  api/tests/src/legacy_soap_api/applicants/test_schemas.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_utils.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Changes to keep track of default feature flags and user modified ones. This allows us to avoid storing defaults beyond when they have changed
  frontend/src/components/dev/FeatureFlagsTable.tsx
  frontend/src/hooks/useFeatureFlags.ts
  frontend/src/services/featureFlags/FeatureFlagManager.ts
  frontend/src/services/featureFlags/featureFlagHelpers.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Add local proxy support and add db session.
  api/local.env
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/src/legacy_soap_api/legacy_soap_api_config.py
  api/src/legacy_soap_api/legacy_soap_api_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

force pages with AuthenticationGate to redirect to "/" and maintain the current page on non protected pages
  frontend/src/components/user/AuthenticationGate.tsx
  frontend/src/components/user/UserControl.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

lint rules
  frontend/src/components/user/AuthenticationGate.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Auth format
  frontend/src/components/user/AuthenticationGate.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Temp unset combo box
  frontend/src/components/applyForm/actions.ts
  frontend/src/components/applyForm/widgets/SelectWidget.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

feat(linter): Adds script to propagate milestone Takes the milestone from a root issue and applies it to all sub-issues
  .github/linters/scripts/propagate-milestone-to-sub-issues.sh
Owners: @acouch, @coilysiren, @mdragon

[unticketed] Fix unique key error in roadmap milestones section. (#5149)
  frontend/src/components/roadmap/sections/RoadmapMilestones.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

ci(linter): Adds GH actions for milestone linters
  .github/workflows/lint-inherit-parent-milestone.yml
  .github/workflows/lint-propagate-milestone-to-sub-issues.yml
Owners: @acouch, @coilysiren, @mdragon

ci(linters): Adds new linters to ci-project-linters.yml
  .github/workflows/ci-project-linters.yml
Owners: @acouch, @coilysiren, @mdragon

docs(linters): Adds new linters to README.md
  .github/linters/README.md
Owners: @acouch, @coilysiren, @mdragon

fix(linter): Fix action linter warning
  .github/workflows/lint-propagate-milestone-to-sub-issues.yml
Owners: @acouch, @coilysiren, @mdragon

[Issue #5144] Propagate milestones to sub issues (#5164)
  .github/linters/README.md
  .github/linters/scripts/inherit-parent-milestone.sh
  .github/linters/scripts/propagate-milestone-to-sub-issues.sh
  .github/workflows/ci-project-linters.yml
  .github/workflows/lint-inherit-parent-milestone.yml
  .github/workflows/lint-propagate-milestone-to-sub-issues.yml
Owners: @acouch, @coilysiren, @mdragon

Update frontend/src/i18n/getMessagesSync.ts
  frontend/src/i18n/getMessagesSync.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update from comments
  frontend/src/components/applyForm/utils.tsx
  frontend/src/i18n/getMessagesSync.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/tests/i18n/getSimpleTranslationsSync.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc
