Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

Format
  api/src/constants/lookup_constants.py
  api/src/services/applications/application_validation.py
  api/src/services/applications/auth_utils.py
  api/src/services/applications/create_application.py
  api/src/services/applications/create_application_attachment.py
  api/src/services/applications/get_application_attachment.py
  api/src/services/applications/update_application_form.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

some cosmetic fixes
  api/src/form_schema/forms/sflll.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5727] Add metrics to submission logic (#5770)
  api/src/constants/lookup_constants.py
  api/src/services/applications/application_validation.py
  api/src/services/applications/auth_utils.py
  api/src/services/applications/create_application.py
  api/src/services/applications/create_application_attachment.py
  api/src/services/applications/get_application_attachment.py
  api/src/services/applications/update_application_form.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Provide "Fixes/Work for" guidance in PR template (#5765)
  .github/pull_request_template.md
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

[Unticketed] Update to latest template pattern for post apt-get install cleanup (#5769)
  analytics/Dockerfile
  api/Dockerfile
  frontend/Dockerfile
Owners: @acouch, @freddieyebra, @widal001, @chouinar, @mdragon, @joshtonava, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

WIP
  api/src/legacy_soap_api/legacy_soap_api_proxy.py
  api/src/legacy_soap_api/legacy_soap_api_routes.py
  api/src/logging/flask_logger.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5771] Only skip validation for is_included_in_submission during submit
  api/src/services/applications/application_validation.py
  api/tests/src/services/applications/test_application_validation.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

wip deal with nested paths
  documentation/frontend/application-forms.md
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/components/applyForm/utils.tsx
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

further wip, for some reason pointer lookup failing if path does not exist
  frontend/src/components/applyForm/utils.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5684] Adjust logging/error messaging for SOAP API
  api/src/legacy_soap_api/legacy_soap_api_auth.py
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/src/legacy_soap_api/legacy_soap_api_config.py
  api/src/legacy_soap_api/legacy_soap_api_constants.py
  api/src/legacy_soap_api/legacy_soap_api_proxy.py
  api/src/legacy_soap_api/legacy_soap_api_routes.py
  api/src/legacy_soap_api/simpler_soap_api.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

still wipping
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/components/applyForm/utils.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

tweak form schema
  api/src/form_schema/forms/sflll.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

GITBOOK-223: Andy's Jul 25 changes
  documentation/wiki/SUMMARY.md
  documentation/wiki/product/decisions/adr/README.md
  documentation/wiki/product/decisions/adr/use-condens.io-+-public-wiki-for-design-research-repository.md
Owners: @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @mdragon, @myduong-navapbc, @widal001, @prasnava

Update for formatting
  frontend/src/components/applyForm/actions.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionA.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionB.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aTotalBudgetSummary.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5771] Only skip validation for is_included_in_submission during submit (#5773)
  api/src/services/applications/application_validation.py
  api/tests/src/services/applications/test_application_validation.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Fix formatting
  api/src/form_schema/forms/sf424a.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #4515] Add unique ID to certs in SOAP calls (#5766)
  api/bin/setup-soap.sh
  api/src/legacy_soap_api/legacy_soap_api_auth.py
  api/src/legacy_soap_api/legacy_soap_api_proxy.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_auth.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Limit attachment size to 2GB
  api/src/api/application_alpha/application_schemas.py
  api/src/api/schemas/extension/field_validators.py
  api/src/app.py
  api/src/app_config.py
  api/src/constants/lookup_constants.py
  api/src/services/applications/create_application_attachment.py
  api/tests/src/api/schemas/extension/test_field_validators.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

add utm tag
  api/src/task/notifications/closing_date_notification.py
  api/src/task/notifications/opportunity_notifcation.py
  api/src/task/notifications/search_notification.py
  api/tests/src/task/notifications/test_opportunity_notification.py
  api/tests/src/task/notifications/test_search_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Remove validator approach
  api/src/api/application_alpha/application_schemas.py
  api/src/api/schemas/extension/field_validators.py
  api/src/services/applications/create_application_attachment.py
  api/tests/src/api/applications/test_flask_file_size_limits.py
  api/tests/src/api/schemas/extension/test_field_validators.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Sort values before comparison when possible.
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/src/legacy_soap_api/legacy_soap_api_utils.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_utils.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5383] opportunity detail margins (#5681)
  api/tests/lib/seed_local_db.py
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/components/opportunity/OpportunityAwardGridRow.tsx
  frontend/src/components/opportunity/OpportunityAwardInfo.tsx
  frontend/src/components/opportunity/OpportunityDownload.tsx
  frontend/src/components/opportunity/OpportunityEligibility.tsx
  frontend/src/components/opportunity/OpportunityHistory.tsx
  frontend/src/components/opportunity/OpportunityIntro.tsx
  frontend/src/components/opportunity/OpportunityStatusWidget.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/tests/components/opportunity/OpportunityAwardGridRow.test.tsx
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

Remove explicit validation
  api/src/services/applications/create_application_attachment.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Clean up
  api/src/constants/lookup_constants.py
  api/src/services/applications/create_application_attachment.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Format
  api/src/services/applications/create_application_attachment.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Unticketed] Allow version_number to be null in search response
  api/src/api/opportunities_v1/opportunity_schemas.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5710] Add utm tag (#5806)
  api/src/task/notifications/closing_date_notification.py
  api/src/task/notifications/opportunity_notifcation.py
  api/src/task/notifications/search_notification.py
  api/tests/src/task/notifications/test_opportunity_notification.py
  api/tests/src/task/notifications/test_search_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update api/tests/src/api/applications/test_flask_file_size_limits.py
  api/tests/src/api/applications/test_flask_file_size_limits.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Remove unnecessary import
  api/src/api/application_alpha/application_schemas.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5224] Add dict diff for soap responses (#5745)
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/src/legacy_soap_api/legacy_soap_api_config.py
  api/src/legacy_soap_api/legacy_soap_api_utils.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_utils.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Lint
  api/tests/src/api/applications/test_flask_file_size_limits.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Fix a flaky test
  api/tests/src/task/notifications/test_opportunity_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

chore: adds larger file upload sizes for nextjs
  frontend/next.config.js
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: addresses pr comments to extract types and functionality to closer comments
  frontend/src/components/TableHeader.tsx
  frontend/src/components/application/attachments/AttachmentsCard.tsx
  frontend/src/components/application/attachments/AttachmentsCardTable.tsx
  frontend/src/components/application/attachments/AttachmentsCardTableHeaders.tsx
  frontend/src/components/application/attachments/attachmentUtils.tsx
  frontend/src/constants/attachment/deleteUploadActionsInitialState.ts
  frontend/src/constants/attachment/uploadActionsInitialState.ts
  frontend/src/types/attachment/attachmentSortKeyType.ts
  frontend/src/types/sortDirectionType.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Unticketed] Allow version_number to be null in search response (#5809)
  api/openapi.generated.yml
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/tests/src/task/notifications/test_opportunity_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5740] Limit backend attachment size (#5808)
  api/src/app.py
  api/src/app_config.py
  api/tests/src/api/applications/test_flask_file_size_limits.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

GITBOOK-224: No subject
  documentation/wiki/product/decisions/adr/use-condens.io-+-public-wiki-for-design-research-repository.md
Owners: @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @mdragon, @myduong-navapbc, @widal001, @prasnava

chore: moved attachment utils to the global utils folder
  frontend/src/components/application/attachments/AttachmentsCard.tsx
  frontend/src/components/application/attachments/AttachmentsCardTable.tsx
  frontend/src/utils/attachment/createTempAttachment.tsx
  frontend/src/utils/attachment/sortAttachments.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: PR request to rename variable name
  frontend/src/components/application/attachments/AttachmentsCard.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava
