Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @coilysiren, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @pcraig3

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @coilysiren @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 # everyone

/analytics/               @acouch @coilysiren @freddieyebra @widal001
/documentation/analytics/ @acouch @coilysiren @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @coilysiren @mdragon
/infra/nofos/              @acouch @coilysiren @mdragon @pcraig3
/documentation/infra/      @acouch @coilysiren @mdragon
/.github/                  @acouch @coilysiren @mdragon
/.github/workflows/*nofos* @acouch @coilysiren @mdragon @pcraig3
/bin/                      @acouch @coilysiren @mdragon

Updated get competition route and tests
  api/openapi.generated.yml
  api/src/api/competition_alpha/competition_schema.py
  api/tests/src/api/competition_alpha/test_competition_route_get.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Updated get competition route and tests. Added support for UUID or int in path params
  api/openapi.generated.yml
  api/src/api/opportunities_v1/opportunity_routes.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/services/opportunities_v1/get_opportunity.py
  api/tests/src/api/opportunities_v1/conftest.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_get.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #4889] add facet counts to agency filter (#5008)
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/src/components/search/SearchFilters.tsx
  frontend/tests/components/search/SearchFilterAccordion/AgencyFilterAccordion.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Take in an optional application name
  api/src/api/application_alpha/application_route.py
  api/src/api/application_alpha/application_schemas.py
  api/src/services/applications/create_application.py
  api/tests/src/api/applications/test_application_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

WIP
  api/src/services/applications/submit_application.py
  api/src/validation/validation_constants.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Fixed migration heads
  api/src/db/migrations/versions/2025_05_02_add_application_status_table_and_field.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add 2 static env vars to the nofos app
  infra/nofos/app-config/env-config/environment_variables.tf
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

[Issue #5065] Add 2 static env vars to the nofos app (#5066)
  infra/nofos/app-config/env-config/environment_variables.tf
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

run format
  frontend/src/components/workspace/EditSavedSearchModal.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Proposed changes to local.env for #5607
  api/local.env
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

replace saved-grants with saved-opportunities, update slug
  frontend/src/app/[locale]/saved-opportunities/layout.tsx
  frontend/src/app/[locale]/saved-opportunities/page.tsx
  frontend/src/constants/breadcrumbs.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/stories/components/SaveButton.stories.tsx
  frontend/tests/e2e/saved-grants.spec.ts
  frontend/tests/pages/saved-opportunities/page.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

update hardcoded links and copy
  frontend/next.config.js
  frontend/src/app/[locale]/saved-opportunities/layout.tsx
  frontend/src/app/[locale]/saved-opportunities/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/user/OpportunitySaveUserControl.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/tests/components/__snapshots__/Header.test.tsx.snap
  frontend/tests/e2e/saved-opportunities.spec.ts
  frontend/tests/utils/getRoutes.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

run format
  frontend/src/app/[locale]/saved-opportunities/layout.tsx
  frontend/src/app/[locale]/saved-opportunities/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/user/OpportunitySaveUserControl.tsx
  frontend/src/constants/breadcrumbs.ts
  frontend/stories/components/SaveButton.stories.tsx
  frontend/tests/e2e/saved-opportunities.spec.ts
  frontend/tests/pages/saved-opportunities/page.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update api/src/services/applications/create_application.py
  api/src/services/applications/create_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Allow none in schema
  api/src/api/application_alpha/application_schemas.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

take out frontend feature flags, change terminology for mock oauth server callback URLS
  api/local.env
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

add snapshot test for saved opportunities page
  frontend/tests/pages/saved-opportunities/page.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

write saved opportunities snapshot
  frontend/tests/pages/saved-opportunities/__snapshots__/page.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #4983] Take in an optional application name to start application endpoint (#5064)
  api/openapi.generated.yml
  api/src/api/application_alpha/application_route.py
  api/src/api/application_alpha/application_schemas.py
  api/src/services/applications/create_application.py
  api/tests/src/api/applications/test_application_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

add feature flag for filter drawer
  frontend/src/constants/defaultFeatureFlags.ts
  frontend/src/constants/environments.ts
  infra/frontend/app-config/env-config/environment_variables.tf
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc, @coilysiren, @mdragon

rendering new page behind feature flag
  frontend/src/components/search/SearchVersionTwo.tsx
  frontend/src/services/featureFlags/withFeatureFlag.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

drawer displays
  frontend/src/components/drawer/Drawer.tsx
  frontend/src/components/drawer/DrawerControl.tsx
  frontend/src/components/drawer/DrawerUnit.tsx
  frontend/src/components/drawer/DrawerWindow
  frontend/src/components/drawer/DrawerWrapper.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip drawer content
  frontend/src/components/drawer/Drawer.tsx
  frontend/src/components/drawer/DrawerWindow
  frontend/src/components/drawer/DrawerWrapper.tsx
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchDrawerFilters.tsx
  frontend/src/components/search/SearchFilterDrawer.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

feature-4268: Allow roadmap image to self-crop
  frontend/src/components/roadmap/sections/RoadmapHeader.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Add get opportunity list response schemas.
  api/src/legacy_soap_api/applicants/schemas/__init__.py
  api/src/legacy_soap_api/applicants/schemas/cfda_details.py
  api/src/legacy_soap_api/applicants/schemas/get_opportunity_list_request.py
  api/src/legacy_soap_api/applicants/schemas/get_opportunity_list_response.py
  api/src/legacy_soap_api/applicants/schemas/opportunity_details.py
  api/src/legacy_soap_api/applicants/schemas/opportunity_filter.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

styling fixes
  frontend/src/components/drawer/Drawer.tsx
  frontend/src/components/opportunity/OpportunityStatusWidget.tsx
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchDrawerFilters.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/components/search/SearchFilterDrawer.tsx
  frontend/src/components/search/SearchResults.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

some styling refinement and adding two more filters
  frontend/src/components/search/SearchDrawerFilters.tsx
  frontend/src/components/search/SearchFilterDrawer.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Modify the apply endpoints to only allow the owner of an application to interact
  api/src/api/application_alpha/application_route.py
  api/src/db/models/competition_models.py
  api/src/services/applications/auth_utils.py
  api/src/services/applications/get_application.py
  api/src/services/applications/get_application_form.py
  api/src/services/applications/submit_application.py
  api/src/services/applications/update_application_form.py
  api/src/validation/validation_constants.py
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/db/models/factories.py
  api/tests/src/services/applications/test_auth_utils.py
  api/tests/src/services/applications/test_submit_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

more styling refinement
  frontend/src/components/drawer/DrawerUnit.tsx
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchDrawerFilters.tsx
  frontend/src/components/search/SearchFilterDrawer.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update api/tests/src/api/opportunities_v1/test_opportunity_route_get.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_get.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #4393] Update GET Opportunity endpoint (#5063)
  api/openapi.generated.yml
  api/src/api/competition_alpha/competition_schema.py
  api/src/api/opportunities_v1/opportunity_routes.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/services/opportunities_v1/get_opportunity.py
  api/tests/src/api/competition_alpha/test_competition_route_get.py
  api/tests/src/api/opportunities_v1/conftest.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_get.py
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Make the nofos github workflow cache id more specific
  .github/workflows/ci-nofos.yml
  .github/workflows/deploy-nofos.yml
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

Make the nofos github workflow cache id more specific (#5071)
  .github/workflows/ci-nofos.yml
  .github/workflows/deploy-nofos.yml
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

Add database migrations step to nofos deploy workflow
  .github/workflows/deploy-nofos.yml
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

Adding tests and cleanup
  api/src/api/response.py
  api/src/api/schemas/response_schema.py
  api/src/services/applications/application_validation.py
  api/src/services/applications/submit_application.py
  api/src/validation/validation_constants.py
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/api/test_route_error_format.py
  api/tests/src/db/models/factories.py
  api/tests/src/services/applications/test_application_validation.py
  api/tests/src/services/applications/test_submit_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

move filter button and saved search panel to new locations to allow full width search results
  frontend/src/components/drawer/DrawerControl.tsx
  frontend/src/components/drawer/DrawerUnit.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

cleanup
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/components/LoginButtonModal.tsx
  frontend/src/components/drawer/Drawer.tsx
  frontend/src/components/drawer/DrawerControl.tsx
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchDrawerFilters.tsx
  frontend/src/components/search/SearchFilterDrawer.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
  frontend/tests/components/search/SearchResults.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc
