Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

[Issue #5684] Update logging in SOAP endpoint to easily pull out various scenarios (#5817)
  api/src/legacy_soap_api/legacy_soap_api_auth.py
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/src/legacy_soap_api/legacy_soap_api_config.py
  api/src/legacy_soap_api/legacy_soap_api_constants.py
  api/src/legacy_soap_api/legacy_soap_api_proxy.py
  api/src/legacy_soap_api/legacy_soap_api_routes.py
  api/src/legacy_soap_api/simpler_soap_api.py
  api/src/logging/flask_logger.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

chore: formats and updates object to remove the unsupported format
  api/src/form_schema/forms/sf424.py
  frontend/src/app/api/applications/[applicationId]/attachments/route.ts
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/validate.ts
  frontend/src/components/applyForm/widgets/AttachmentUploadWidget.tsx
  frontend/src/components/applyForm/widgets/MultipleAttachmentUploadWidget.tsx
  frontend/src/services/attachments/upload.ts
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
  frontend/src/types/applicationResponseTypes.ts
  frontend/src/types/attachmentTypes.ts
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

feat: adds multiple attachments widget that displays file's name
  frontend/src/components/applyForm/widgets/MultipleAttachmentUploadWidget.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix: duplicate key when displaying file names
  frontend/src/components/applyForm/widgets/MultipleAttachmentUploadWidget.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Unticketed] Make all post-populated fields non-required
  api/src/form_schema/forms/sf424.py
  api/src/form_schema/forms/sf424b.py
  api/src/form_schema/forms/sflll.py
  api/tests/src/form_schema/forms/test_sf424.py
  api/tests/src/form_schema/forms/test_sf424b.py
  api/tests/src/form_schema/forms/test_sflll.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

new migration
  api/src/db/migrations/versions/2025_07_30_add_suppressed_email_table.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue 5128]: Attachment Card (#5756)
  frontend/next.config.js
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/page.tsx
  frontend/src/app/api/applications/[applicationId]/attachments/[applicationAttachmentId]/handler.ts
  frontend/src/app/api/applications/[applicationId]/attachments/[applicationAttachmentId]/route.ts
  frontend/src/components/PopoverMenu.tsx
  frontend/src/components/TableHeader.tsx
  frontend/src/components/application/ApplicationContainer.tsx
  frontend/src/components/application/attachments/AttachmentsCard.tsx
  frontend/src/components/application/attachments/AttachmentsCardForm.tsx
  frontend/src/components/application/attachments/AttachmentsCardTable.tsx
  frontend/src/components/application/attachments/AttachmentsCardTableHeaders.tsx
  frontend/src/components/application/attachments/AttachmentsCardTableRowDeleting.tsx
  frontend/src/components/application/attachments/AttachmentsCardTableRowEmpty.tsx
  frontend/src/components/application/attachments/AttachmentsCardTableRowUploading.tsx
  frontend/src/components/application/attachments/DeleteAttachmentButton.tsx
  frontend/src/components/application/attachments/DeleteAttachmentModal.tsx
  frontend/src/components/application/attachments/actions.ts
  frontend/src/constants/attachment/deleteUploadActionsInitialState.ts
  frontend/src/constants/attachment/uploadActionsInitialState.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/services/fetch/endpointConfigs.ts
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
  frontend/src/services/fetch/fetchers/fetchers.ts
  frontend/src/styles/_loading.scss
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/src/styles/_uswds-theme.scss
  frontend/src/types/applicationResponseTypes.ts
  frontend/src/types/attachment/attachmentSortKeyType.ts
  frontend/src/types/attachmentTypes.ts
  frontend/src/types/sortDirectionType.ts
  frontend/src/utils/attachment/createTempAttachment.tsx
  frontend/src/utils/attachment/sortAttachments.tsx
  frontend/src/utils/dateUtil.ts
  frontend/src/utils/fileUtils/createFormData.ts
  frontend/src/utils/fileUtils/formatFileSizeUtil.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Added top level agency to filter should terms
  api/src/services/opportunities_v1/search_opportunities.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Removed redundant test
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

small change to add FF
  frontend/src/constants/defaultFeatureFlags.ts
  frontend/src/constants/environments.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

adjusting to design changes
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/components/SaveIcon.tsx
  frontend/src/components/search/SearchResultsTable.tsx
  frontend/src/components/user/OpportunitySaveUserControl.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

updated unit tests
  frontend/src/components/user/OpportunitySaveUserControl.tsx
  frontend/tests/components/SaveIcon.test.tsx
  frontend/tests/components/search/SearchResultsTable.test.tsx
  frontend/tests/components/search/__snapshots__/SearchResultsTable.test.tsx.snap
  frontend/tests/components/user/OpportunitySaveUserControl.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fixed formatting
  frontend/tests/components/SaveIcon.test.tsx
  frontend/tests/components/search/SearchResultsTable.test.tsx
  frontend/tests/components/user/OpportunitySaveUserControl.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5244] Include opportunities assigned to top level agency when filtering by top level agency (#5826)
  api/src/services/opportunities_v1/search_opportunities.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

updating formatting
  frontend/src/components/search/SearchResultsTable.tsx
  frontend/tests/components/search/SearchResultsTable.test.tsx
  frontend/tests/components/search/__snapshots__/SearchResultsTable.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Unticketed] Make all post-populated fields non-required (#5825)
  api/src/form_schema/forms/sf424.py
  api/src/form_schema/forms/sf424b.py
  api/src/form_schema/forms/sflll.py
  api/tests/src/form_schema/forms/test_sf424.py
  api/tests/src/form_schema/forms/test_sf424b.py
  api/tests/src/form_schema/forms/test_sflll.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

GITBOOK-226: Minor EOQ updates
  documentation/wiki/how-to-edit-the-wiki.md
  documentation/wiki/product/product-roadmap.md
  documentation/wiki/references/terminology.md
Owners: @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @mdragon, @myduong-navapbc, @widal001, @prasnava

[Issue #5810] Create suppressed emails table (#5824)
  api/src/db/migrations/versions/2025_07_30_add_suppressed_email_table.py
  api/src/db/models/user_models.py
  api/tests/src/db/models/factories.py
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

mock ses client
  api/src/adapters/aws/ses_adapter.py
  api/tests/src/adapters/aws/test_ses_adapter.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update login page
  frontend/src/app/[locale]/login/page.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

working, need to fix ts issue in new util
  frontend/src/components/applyForm/formDataToJson.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/tests/utils/formDataToJson.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

it works
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/validate.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

cleaned up with hack
  frontend/src/components/applyForm/formDataToJson.ts
  frontend/tests/utils/formDataToJson.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

validate optional forms
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add sf111 changes
  api/src/form_schema/forms/sflll.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

wip fix validation problems
  frontend/src/components/applyForm/formDataToJson.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add null check on pointer fetches
  frontend/src/components/applyForm/actions.ts
  frontend/src/components/applyForm/utils.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

clean up some schema stuff
  api/src/form_schema/forms/sflll.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fix some validation, may revert if we figure a better way
  api/src/form_schema/forms/sflll.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

wip removing empty nested fields from form data prior to submit to allow proper validation
  frontend/package.json
  frontend/src/components/applyForm/actions.ts
  frontend/src/components/applyForm/formDataToJson.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

does not work yet, need to include nesting down to final leaf
  frontend/src/components/applyForm/utils.tsx
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

doing a good enough job of pruning form data for now
  frontend/src/components/applyForm/utils.tsx
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix tests
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/widgets/CheckboxWidget.tsx
  frontend/src/components/applyForm/widgets/RadioWidget.tsx
  frontend/src/components/applyForm/widgets/SelectWidget.tsx
  frontend/src/components/applyForm/widgets/TextAreaWidget.tsx
  frontend/tests/components/applyForm/utils.test.tsx
  frontend/tests/components/applyForm/validate.test.ts
  frontend/tests/utils/formDataToJson.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add a test
  frontend/src/components/applyForm/utils.tsx
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip cleanup
  frontend/src/components/applyForm/formDataToJson.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add time
  api/tests/src/adapters/aws/test_ses_adapter.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

rename files
  api/src/adapters/aws/sesv2_adapter.py
  api/tests/src/adapters/aws/test_sesv2_adapter.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

initial changes
  frontend/src/app/[locale]/developer/page.tsx
  frontend/src/components/user/UserControl.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

developer portal
  frontend/src/components/user/UserControl.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava
