Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava

fix linter
  api/src/common_grants/scripts/lint_openapi.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update documentation
  api/COMMON_GRANTS_INTEGRATION.md
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update docs
  api/COMMON_GRANTS_INTEGRATION.md
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update docs
  api/COMMON_GRANTS_INTEGRATION.md
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

finish tests
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update api/src/auth/api_gateway_key_auth.py
  api/src/auth/api_gateway_key_auth.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

iterating on feedback
  api/src/auth/api_gateway_key_auth.py
  api/tests/src/auth/test_api_gateway_key_auth.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

iterating on feedback
  api/src/auth/api_gateway_key_auth.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fixing formattingh
  api/src/auth/api_gateway_key_auth.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

iterating on feedback
  api/openapi.generated.yml
  api/src/auth/api_user_key_auth.py
  api/src/auth/auth_utils.py
  api/src/auth/multi_auth.py
  api/tests/src/auth/test_api_user_key_auth.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fixing formatting
  api/src/auth/api_user_key_auth.py
  api/src/auth/multi_auth.py
  api/tests/src/auth/test_api_user_key_auth.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

added unit tests
  api/src/auth/api_user_key_auth.py
  api/tests/src/api/opportunities_v1/test_opportunity_auth.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #6050] Rename analytics user table (#6052)
  analytics/src/analytics/integrations/etldb/migrations/versions/0013_rename_user_table.sql
  analytics/src/analytics/integrations/extracts/constants.py
  analytics/src/analytics/integrations/extracts/load_opportunity_data.py
  analytics/tests/conftest.py
  analytics/tests/integrations/extracts/test_load_opportunity_data.py
Owners: @acouch, @freddieyebra, @widal001

[Issue #5832] correctly indicate failed validations for nested required fields (#6070)
  frontend/src/components/applyForm/utils.tsx
  frontend/tests/components/applyForm/sflll.mock.json
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

drop migration
  api/src/db/migrations/versions/2025_08_22_drop_excluded_opportunity_review_table.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

create table migration
  api/src/db/migrations/versions/2025_08_22_add_excluded_opportunity_review_table.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update fields
  api/src/db/models/opportunity_models.py
  api/src/search/backend/load_opportunities_to_index.py
  api/src/services/agencies_v1/get_agencies.py
  api/tests/src/db/models/factories.py
  api/tests/src/search/backend/test_load_agencies_to_index.py
  api/tests/src/search/backend/test_load_opportunities_to_index.py
  api/tests/src/task/opportunities/test_export_opportunity_data_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update fields
  api/src/task/opportunities/export_opportunity_data_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

wip
  infra/analytics/app-config/.terraform.lock.hcl
  infra/api/app-config/env-config/scheduled_jobs.tf
  infra/frontend/service/main.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

reverting form route changes
  api/src/api/form_alpha/form_route.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update api/tests/src/api/opportunities_v1/test_opportunity_auth.py
  api/tests/src/api/opportunities_v1/test_opportunity_auth.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

changed API key to be generated in conftest
  api/tests/conftest.py
  api/tests/src/api/opportunities_v1/test_opportunity_auth.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update api/src/auth/api_user_key_auth.py
  api/src/auth/api_user_key_auth.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fixing formatting
  api/src/api/form_alpha/form_route.py
  api/src/auth/api_user_key_auth.py
  api/src/services/pdf_generation/clients.py
  api/tests/src/api/opportunities_v1/test_opportunity_auth.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update infra/project-config/networks.tf
  infra/project-config/networks.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

reverting change
  api/src/services/pdf_generation/clients.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update clients.py
  api/src/services/pdf_generation/clients.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update clients.py
  api/src/services/pdf_generation/clients.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update api/src/auth/api_user_key_auth.py
  api/src/auth/api_user_key_auth.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

wip
  infra/api/app-config/env-config/scheduled_jobs.tf
  infra/api/service/.terraform.lock.hcl
  infra/api/service/notifications.tf
  infra/modules/notifications/resources/email.tf
  infra/project-config/networks.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

Update api/tests/src/api/opportunities_v1/test_opportunity_auth.py
  api/tests/src/api/opportunities_v1/test_opportunity_auth.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

iterating based on feedback
  api/src/api/agencies_v1/agency_routes.py
  api/src/auth/api_user_key_auth.py
  api/tests/src/api/agencies_v1/test_agency_auth.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

feat(applyforms): adds multiselect widget
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/validate.ts
  frontend/src/components/applyForm/widgets/MultiSelectWidget.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: formatting
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/widgets/MultiSelectWidget.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fixing linting issue
  api/src/auth/api_user_key_auth.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #6047] Update excluded_opportunity_review table (#6076)
  api/src/db/migrations/versions/2025_08_22_add_excluded_opportunity_review_table.py
  api/src/db/migrations/versions/2025_08_22_drop_excluded_opportunity_review_table.py
  api/src/db/models/opportunity_models.py
  api/src/search/backend/load_opportunities_to_index.py
  api/src/services/agencies_v1/get_agencies.py
  api/src/task/opportunities/export_opportunity_data_task.py
  api/tests/src/db/models/factories.py
  api/tests/src/search/backend/test_load_agencies_to_index.py
  api/tests/src/search/backend/test_load_opportunities_to_index.py
  api/tests/src/task/opportunities/test_export_opportunity_data_task.py
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fixing unit tests
  api/tests/src/api/agencies_v1/test_agency_auth.py
  api/tests/src/api/agencies_v1/test_agency_routes_search.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava
