Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @coilysiren, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @pcraig3

add agency filter
  frontend/src/components/search/SearchDrawerFilters.tsx
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/tests/components/search/SearchDrawerFilters.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix drawer env var name
  frontend/src/constants/environments.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

close button custom styling
  frontend/src/components/LoginModal.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add shared component
  frontend/src/components/LoginModal.tsx
  frontend/src/components/SimplerModal.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

convert modals to use simplermodal
  frontend/next.config.js
  frontend/src/components/SimplerModal.tsx
  frontend/src/components/search/SaveSearchModal.tsx
  frontend/src/components/workspace/DeleteSavedSearchModal.tsx
  frontend/src/components/workspace/EditSavedSearchModal.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

simplerModal tests
  frontend/next.config.js
  frontend/src/components/SimplerModal.tsx
  frontend/tests/components/SimplerModal.test.tsx
  frontend/tests/components/__snapshots__/SimplerModal.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

allow custom on close behavior
  frontend/src/components/SimplerModal.tsx
  frontend/src/components/search/SaveSearchModal.tsx
  frontend/src/components/workspace/DeleteSavedSearchModal.tsx
  frontend/src/components/workspace/EditSavedSearchModal.tsx
  frontend/tests/components/search/__snapshots__/SaveSearchModal.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5100] add status and agency filters to drawer (#5178)
  frontend/src/components/search/SearchDrawerFilters.tsx
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/tests/components/search/SearchDrawerFilters.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[unticketed] fix drawer env var name (#5196)
  frontend/src/constants/environments.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5132] Modify GET /application to also return the competition (#5190)
  api/openapi.generated.yml
  api/src/api/application_alpha/application_schemas.py
  api/src/services/applications/get_application.py
  api/tests/src/api/applications/test_application_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

add button to header and some styling tweaks
  frontend/src/components/drawer/Drawer.tsx
  frontend/src/components/drawer/DrawerUnit.tsx
  frontend/src/components/search/SearchDrawerHeading.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
  frontend/src/hooks/useSearchParamUpdater.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add button outside of drawer
  frontend/src/components/Footer.tsx
  frontend/src/components/search/ClearSearchButton.tsx
  frontend/src/components/search/SearchDrawerHeading.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add tests
  frontend/tests/components/search/ClearSearchButton.test.tsx
  frontend/tests/hooks/useSearchParamUpdater.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Tests and cleanup
  api/src/api/application_alpha/application_route.py
  api/src/api/application_alpha/application_schemas.py
  api/src/constants/lookup_constants.py
  api/src/services/applications/application_validation.py
  api/src/services/applications/get_application_form.py
  api/src/services/applications/update_application_form.py
  api/tests/src/api/applications/test_application_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Require vulnerability scans to pass before NOFO app deploys
  .github/workflows/cd-nofos.yml
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

[#4949] Require vulnerability scans to pass before NOFO app deploys (#5202)
  .github/workflows/cd-nofos.yml
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

[Issue #5136] Add form instruction table (#5198)
  api/src/db/migrations/versions/2025_05_29_add_form_instruction_table_and_relation_.py
  api/src/db/models/competition_models.py
  api/tests/src/db/models/factories.py
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

redirect to home on auth, show alert on protected routes if no auth
  frontend/src/components/user/AuthenticationGate.tsx
  frontend/src/components/user/RequireLogin.tsx
  frontend/src/components/user/UserControl.tsx
  frontend/tests/components/user/AuthenticationGate.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

lint
  frontend/src/app/[locale]/subscribe/actions.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wrap in suspense boundary
  frontend/src/components/user/AuthenticationGate.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add button to header and some styling tweaks
  frontend/src/components/drawer/Drawer.tsx
  frontend/src/components/drawer/DrawerUnit.tsx
  frontend/src/components/search/SearchDrawerHeading.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
  frontend/src/hooks/useSearchParamUpdater.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add button outside of drawer
  frontend/src/components/Footer.tsx
  frontend/src/components/search/ClearSearchButton.tsx
  frontend/src/components/search/SearchDrawerHeading.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add tests
  frontend/tests/components/search/ClearSearchButton.test.tsx
  frontend/tests/hooks/useSearchParamUpdater.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

remove button from outside the drawer, update button behavior in drawer to only clear filter based params
  frontend/src/components/search/ClearSearchButton.tsx
  frontend/src/components/search/SearchDrawerHeading.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
  frontend/tests/components/search/ClearSearchButton.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

update language
  frontend/src/components/search/SearchDrawerHeading.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

initial commit
  frontend/src/components/application/OpportunityOverviewCard.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/stories/pages/application.stories.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5183] Better error logging when we have trouble talking to Sendy (#5185)
  frontend/src/app/[locale]/subscribe/actions.tsx
  frontend/tests/pages/subscribe/SubscriptionForm.test.tsx
  frontend/tests/pages/subscribe/subscribeEmailAction.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5188] Lookup the app folder specific most recent hash (no later than the current ref being deployed) (#5189)
  .github/workflows/build-and-publish.yml
  bin/is-image-published
Owners: @acouch, @coilysiren, @mdragon

Changes to keep track of default feature flags and user modified ones. This allows us to avoid storing defaults beyond when they have changed
  frontend/src/components/dev/FeatureFlagsTable.tsx
  frontend/src/hooks/useFeatureFlags.ts
  frontend/src/services/featureFlags/FeatureFlagManager.ts
  frontend/src/services/featureFlags/featureFlagHelpers.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Fix tests now that cookies have different contents and there's two of them
  frontend/tests/services/featureFlags/FeatureFlagManager.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Address failing test, even though real page worked as written
  frontend/src/components/dev/FeatureFlagsTable.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #4280] common modal component with close functionality (#5174)
  frontend/src/components/LoginModal.tsx
  frontend/src/components/SimplerModal.tsx
  frontend/src/components/search/SaveSearchModal.tsx
  frontend/src/components/workspace/DeleteSavedSearchModal.tsx
  frontend/src/components/workspace/EditSavedSearchModal.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/tests/components/SimplerModal.test.tsx
  frontend/tests/components/__snapshots__/SimplerModal.test.tsx.snap
  frontend/tests/components/search/__snapshots__/SaveSearchModal.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip - potentially throw away
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/src/components/search/SearchFilters.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

more wip, lots or reorg to try and get suspense and data fetching to work, not there yet
  frontend/src/components/search/Filters/AgencyFilterContent.tsx
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/src/components/search/SearchFilters.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

looks like it is loading with a search input
  frontend/src/components/search/Filters/AgencyFilterContent.tsx
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/src/components/search/SearchFilters.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

successfully requesting, not succesfully formatting for ui
  frontend/src/app/api/agencies/handler.ts
  frontend/src/app/api/agencies/route.ts
  frontend/src/services/fetch/fetchers/agenciesFetcher.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip performing search
  frontend/src/app/api/agencies/handler.ts
  frontend/src/app/api/agencies/route.ts
  frontend/src/components/search/Filters/AgencyFilterContent.tsx
  frontend/src/services/fetch/endpointConfigs.ts
  frontend/src/services/fetch/fetchers/agenciesFetcher.ts
  frontend/src/services/fetch/fetchers/clientAgenciesFetcher.ts
  frontend/src/services/fetch/fetchers/fetchers.ts
  frontend/src/utils/apiUtils.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

get the call to actually work, some refactors
  frontend/src/app/api/agencies/handler.ts
  frontend/src/components/search/Filters/AgencyFilterContent.tsx
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/src/components/search/SearchFilters.tsx
  frontend/src/services/fetch/fetchers/agenciesFetcher.ts
  frontend/src/services/fetch/fetchers/clientAgenciesFetcher.ts
  frontend/src/types/search/searchFilterTypes.ts
  frontend/src/utils/search/searchUtils.ts
  frontend/tests/services/fetch/fetchers/agenciesFetcher.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @coilysiren @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 # everyone

/analytics/               @acouch @coilysiren @freddieyebra @widal001
/documentation/analytics/ @acouch @coilysiren @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @coilysiren @mdragon
/infra/nofos/              @acouch @coilysiren @mdragon @pcraig3
/documentation/infra/      @acouch @coilysiren @mdragon
/.github/                  @acouch @coilysiren @mdragon
/.github/workflows/*nofos* @acouch @coilysiren @mdragon @pcraig3
/bin/                      @acouch @coilysiren @mdragon
