Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava

Add local logging and namespace config.
  api/local.env
  api/src/legacy_soap_api/legacy_soap_api_config.py
  api/src/legacy_soap_api/legacy_soap_api_utils.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

chore: formatting
  frontend/src/components/application/ApplicationFormsTable.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

remove patching
  api/tests/conftest.py
  api/tests/src/task/notifications/test_closing_date_notification.py
  api/tests/src/task/notifications/test_search_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

cleanup
  api/local.env
  api/src/adapters/aws/sesv2_adapter.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

remove logs, add comemnts and ts fix
  frontend/src/components/ActivityMonitor.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

update test
  api/tests/src/task/notifications/test_opportunity_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
  documentation/api/database/erds/staging-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

mv cmnt
  api/src/task/notifications/sync_suppressed_emails.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Updated create analytics db csvs to use extract config instead of wildcards
  api/src/task/analytics/create_analytics_db_csvs.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Updated tests to verify columns matche for exported CSV
  api/tests/src/task/analytics/test_create_analytics_db_csvs.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Added tests for lookup tables when creating analytics dbs
  api/tests/src/task/analytics/test_create_analytics_db_csvs.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Ammended comment
  api/tests/src/task/analytics/test_create_analytics_db_csvs.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add function to build xml with namespaces.
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/src/legacy_soap_api/legacy_soap_api_config.py
  api/src/legacy_soap_api/soap_payload_handler.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Fixing formatting and linting
  api/tests/src/task/analytics/test_create_analytics_db_csvs.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add examples
  api/src/api/competition_alpha/competition_schema.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add descriptions / examples
  api/src/api/application_alpha/application_schemas.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5812] Exclude suppressed emails form email notifications (#5922)
  api/src/task/notifications/closing_date_notification.py
  api/src/task/notifications/opportunity_notifcation.py
  api/src/task/notifications/search_notification.py
  api/tests/src/task/notifications/test_closing_date_notification.py
  api/tests/src/task/notifications/test_opportunity_notification.py
  api/tests/src/task/notifications/test_search_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Format
  api/src/api/application_alpha/application_schemas.py
  api/src/api/competition_alpha/competition_schema.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add test for xml with namespaces.
  api/src/legacy_soap_api/soap_payload_handler.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
  api/tests/util/minifiers.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update pypdf to pass vulnerabliity scans.
  api/poetry.lock
  api/pyproject.toml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Bump another version.
  api/poetry.lock
  api/pyproject.toml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5929] Find & replace simplergrants.discourse.group => forum.simpler.grants.gov (#5930)
  documentation/wiki/get-involved/communication-channels/README.md
  documentation/wiki/get-involved/github-code.md
  frontend/src/components/Header.tsx
  frontend/src/components/homepage/sections/HomepageInvolved.tsx
  frontend/tests/components/__snapshots__/Header.test.tsx.snap
  frontend/tests/components/homepage/__snapshots__/HomepageInvolved.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @mdragon, @myduong-navapbc, @widal001, @prasnava

[Issue #5859] Small fixes/adjustments to sam.gov processing
  api/src/adapters/sam_gov/client.py
  api/src/task/sam_extracts/process_sam_extracts.py
  api/tests/src/task/sam_extracts/test_process_sam_extracts.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

rm pag test and add limit
  api/src/adapters/aws/sesv2_adapter.py
  api/tests/src/adapters/aws/test_sesv2_adapter.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[unticketed] Update pypdf package to pass scans. (#5937)
  api/poetry.lock
  api/pyproject.toml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5743] Make analytics opportunity loading resilient to csv order changes (#5935)
  api/src/task/analytics/create_analytics_db_csvs.py
  api/tests/src/task/analytics/test_create_analytics_db_csvs.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

wip tests - need to figure out how to properly reset mocks
  frontend/src/services/auth/UserProvider.tsx
  frontend/tests/components/ActivityMonitor.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add metrics
  api/src/task/notifications/constants.py
  api/src/task/notifications/sync_suppressed_emails.py
  api/tests/src/task/notifications/test_sync_suppressed_emails.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add build namespace xml from dict tests.
  api/src/legacy_soap_api/soap_payload_handler.py
  api/tests/src/legacy_soap_api/test_soap_payload_handler.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

style: updates icons to match designs
  frontend/src/components/application/ApplicationFormsTable.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5859] Small fixes/adjustments to sam.gov processing (#5938)
  api/src/adapters/sam_gov/client.py
  api/src/task/sam_extracts/process_sam_extracts.py
  api/tests/src/task/sam_extracts/test_process_sam_extracts.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

wip
  frontend/src/components/ActivityMonitor.tsx
  frontend/tests/components/ActivityMonitor.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update error message.
  frontend/src/components/application/ApplicationFormsTable.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Remove margin from form group.
  frontend/src/components/applyForm/widgets/RadioWidget.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

feat: updates text
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: updates in progress text
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: formatting
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add table
  api/src/db/migrations/versions/2025_08_14_create_excluded_opportunity_review_table.py
  api/src/db/models/opportunity_models.py
  api/tests/src/db/models/factories.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Dont log for tests and use defused xml.
  api/src/legacy_soap_api/legacy_soap_api_utils.py
  api/src/legacy_soap_api/soap_payload_handler.py
  api/tests/conftest.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava
