Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava

Comment out logging
  infra/modules/service/api_gateway.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

Address checkov finding
  infra/modules/service/api_gateway.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

Update to drive mocks by config
  api/local.env
  api/src/services/pdf_generation/config.py
  api/src/task/apply/create_application_submission_task.py
  api/tests/src/services/pdf_generation/test_clients.py
  api/tests/src/services/pdf_generation/test_service.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Infra 5775 - Fix API Gateway deploy issues (#5996)
  infra/modules/service/api_gateway.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

condense json schema properties
  frontend/src/components/applyForm/formDataToJson.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/tests/components/applyForm/utils.test.tsx
  frontend/tests/utils/formDataToJson.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[WIP] fix test
  api/src/services/pdf_generation/service.py
  api/src/task/apply/create_application_submission_task.py
  api/tests/src/task/apply/test_create_application_submission_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Use a written/committed token
  api/src/services/pdf_generation/service.py
  api/src/task/apply/create_application_submission_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Remove task integration, keep PDF client
  api/src/task/apply/create_application_submission_task.py
  api/src/task/pdf_generation_cli.py
  api/tests/src/task/apply/test_create_application_submission_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update URL
  api/src/services/pdf_generation/clients.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Remove util
  api/src/task/pdf_generation_cli.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update docs to reflect bytes of PDF response
  api/src/services/pdf_generation/service.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Unticketed] Update packages for vulnerability scans
  api/Dockerfile
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fix footer links
  frontend/src/components/Footer.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

removing duplicate log
  api/src/api/users/user_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

updated from a PATCH to a PUT
  api/src/api/users/user_routes.py
  api/tests/src/api/users/test_user_rename_api_key.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5978] Enable apply endpoints in prod (#5995)
  infra/api/app-config/prod.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

wip
  frontend/src/components/applyForm/utils.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

update snapshot
  frontend/tests/components/__snapshots__/Footer.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Unticketed] Update packages for vulnerability scans (#5997)
  api/Dockerfile
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

prune empty fields and objects more aggressively to improve validation results
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5835] format string and number fields with proper types (#5973)
  frontend/src/components/applyForm/actions.ts
  frontend/src/components/applyForm/formDataToJson.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/tests/components/applyForm/utils.test.tsx
  frontend/tests/utils/formDataToJson.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

cleanup
  frontend/src/components/applyForm/utils.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[unticketed] fix footer links (#5998)
  frontend/src/components/Footer.tsx
  frontend/tests/components/__snapshots__/Footer.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update poetry.lock
  api/poetry.lock
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update code to indlude status
  api/src/search/backend/load_agencies_to_index.py
  api/src/services/agencies_v1/get_agencies.py
  api/tests/src/search/backend/test_load_agencies_to_index.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update comment
  api/src/services/agencies_v1/get_agencies.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fixing formatting
  api/src/api/users/user_routes.py
  api/src/api/users/user_schemas.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

point footer to subscribe
  frontend/src/components/Footer.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/tests/components/__snapshots__/Footer.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update api/src/services/pdf_generation/clients.py
  api/src/services/pdf_generation/clients.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update api/src/services/pdf_generation/service.py
  api/src/services/pdf_generation/service.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update api/src/services/pdf_generation/service.py
  api/src/services/pdf_generation/service.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[unticketed] point footer to subscribe (#6003)
  frontend/src/components/Footer.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/tests/components/__snapshots__/Footer.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Updated test case for excluded opportunities
  api/tests/src/search/backend/test_load_opportunities_to_index.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

iterating on feedback
  api/src/api/users/user_routes.py
  api/src/services/users/delete_api_key.py
  api/tests/src/api/users/test_user_delete_api_key.py
  api/tests/src/services/users/test_delete_api_key.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5993] Skip non-required forms that aren't included in submission
  api/src/task/apply/create_application_submission_task.py
  api/tests/src/task/apply/test_create_application_submission_task.py
  api/tests/src/task/sam_extracts/test_create_orgs_from_sam_entity.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

feat(sf424): adds supporting features for widgets
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/validate.ts
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

feat(sf424a): adds sections b-e
  api/src/form_schema/forms/sf424a.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

feat(sf424a): adds sections b & c widgets
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionB.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionC.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

feat(sf424a): sections d & e
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionD.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionE.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc
