Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @coilysiren, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @pcraig3

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @coilysiren @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 # everyone

/analytics/               @acouch @coilysiren @freddieyebra @widal001
/documentation/analytics/ @acouch @coilysiren @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @coilysiren @mdragon
/infra/nofos/              @acouch @coilysiren @mdragon @pcraig3
/documentation/infra/      @acouch @coilysiren @mdragon
/.github/                  @acouch @coilysiren @mdragon
/.github/workflows/*nofos* @acouch @coilysiren @mdragon @pcraig3
/bin/                      @acouch @coilysiren @mdragon

Updated delete saved opportunities to support legacy id
  api/openapi.generated.yml
  api/src/api/users/user_routes.py
  api/src/services/users/delete_saved_opportunity.py
  api/tests/src/api/users/test_user_delete_saved_opportunity.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Fixed type issue in get opportunity
  api/src/services/opportunities_v1/get_opportunity.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Unticketed] Attempt to fix vulnerability scans for anchore/grype (#5117)
  .github/workflows/vulnerability-scans.yml
  analytics/poetry.lock
  analytics/src/analytics/datasets/base.py
Owners: @acouch, @coilysiren, @mdragon, @freddieyebra, @widal001

Add test for GetOpportunityListRequest.
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[#4823] Standardize saved opportunities (#5069)
  frontend/next.config.js
  frontend/src/app/[locale]/saved-opportunities/layout.tsx
  frontend/src/app/[locale]/saved-opportunities/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/user/OpportunitySaveUserControl.tsx
  frontend/src/constants/breadcrumbs.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/stories/components/SaveButton.stories.tsx
  frontend/tests/components/__snapshots__/Header.test.tsx.snap
  frontend/tests/e2e/saved-opportunities.spec.ts
  frontend/tests/pages/saved-opportunities/__snapshots__/page.test.tsx.snap
  frontend/tests/pages/saved-opportunities/page.test.tsx
  frontend/tests/utils/getRoutes.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

rm check for false/none
  api/src/services/agencies_v1/get_agencies.py
  api/src/services/agencies_v1/search_agencies.py
  api/tests/src/api/agencies_v1/test_agencies_routes.py
  api/tests/src/api/agencies_v1/test_agency_routes_search.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update vulnerability-scans-nofos.yml
  .github/workflows/vulnerability-scans-nofos.yml
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

Limiting number of opportunities to show in email to 10
  api/src/task/notifications/search_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Cleaning up tests and adding to other endpoint
  api/src/services/applications/application_validation.py
  api/src/services/applications/submit_application.py
  api/src/services/applications/update_application.py
  api/src/services/applications/update_application_form.py
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/api/applications/test_application_update.py
  api/tests/src/db/models/factories.py
  api/tests/src/services/applications/test_application_validation.py
  api/tests/src/services/applications/test_submit_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

clean up typography and layout
  frontend/src/app/[locale]/events/EventsCoding.tsx
  frontend/src/app/[locale]/events/EventsDemo.tsx
  frontend/src/app/[locale]/events/EventsHero.tsx
  frontend/src/app/[locale]/events/EventsUpcoming.tsx
  frontend/src/app/[locale]/subscribe/confirmation/page.tsx
  frontend/src/app/[locale]/subscribe/page.tsx
  frontend/src/app/[locale]/subscribe/unsubscribe/page.tsx
  frontend/src/components/LoginModal.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Add src/i18n/getMessagesSync.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/i18n/getMessagesSync.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #4726] Agency filter by status (#5053)
  api/Makefile
  api/openapi.generated.yml
  api/src/adapters/search/opensearch_client.py
  api/src/adapters/search/opensearch_query_builder.py
  api/src/api/agencies_v1/agency_routes.py
  api/src/api/agencies_v1/agency_schema.py
  api/src/search/backend/load_agencies_to_index.py
  api/src/services/agencies_v1/get_agencies.py
  api/src/services/agencies_v1/search_agencies.py
  api/src/services/service_utils.py
  api/tests/conftest.py
  api/tests/src/api/agencies_v1/test_agencies_routes.py
  api/tests/src/api/agencies_v1/test_agency_routes_search.py
  api/tests/src/search/backend/test_load_agencies_to_index.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue 5108] Remove fields from epic template (#5116)
  .github/ISSUE_TEMPLATE/5_internal_epic.yml
Owners: @acouch, @coilysiren, @mdragon

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

NOFOs vuln scans (#5113)
  .github/workflows/cd-nofos.yml
  .github/workflows/ci-nofos.yml
  .github/workflows/deploy-nofos.yml
  .github/workflows/vulnerability-scans-nofos.yml
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

add top level agency param and fetch subagencies
  api/src/api/opportunities_v1/opportunity_routes.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/api/users/user_schemas.py
  api/src/services/opportunities_v1/search_opportunities.py
  api/tests/src/api/opportunities_v1/conftest.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

cleanup
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

add top level agency
  api/src/api/opportunities_v1/opportunity_routes.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/api/users/user_schemas.py
  api/src/services/opportunities_v1/search_opportunities.py
  api/tests/src/api/opportunities_v1/conftest.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

updte wording
  api/src/services/opportunities_v1/search_opportunities.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

feat: Adds GH action to rollover open sprint tix Rolls over tix from the previous sprint into the current sprint. It runs on a schedule by default but can be triggered manually.
  .github/workflows/lint-sprint-rollover.yml
Owners: @acouch, @coilysiren, @mdragon

Add base soap schema and fault message.
  api/src/legacy_soap_api/applicants/fault_messages.py
  api/src/legacy_soap_api/applicants/schemas/cfda_details.py
  api/src/legacy_soap_api/applicants/schemas/get_opportunity_list_request.py
  api/src/legacy_soap_api/applicants/schemas/get_opportunity_list_response.py
  api/src/legacy_soap_api/applicants/schemas/opportunity_details.py
  api/src/legacy_soap_api/applicants/schemas/opportunity_filter.py
  api/src/legacy_soap_api/legacy_soap_api_schemas.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_schemas.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

style accordion button
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

update snapshots
  frontend/tests/components/homepage/__snapshots__/HomepageBuilding.test.tsx.snap
  frontend/tests/components/homepage/__snapshots__/HomepageExperimental.test.tsx.snap
  frontend/tests/components/homepage/__snapshots__/HomepageHero.test.tsx.snap
  frontend/tests/components/homepage/__snapshots__/HomepageInvolved.test.tsx.snap
  frontend/tests/pages/events/__snapshots__/page.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Add instructions models / migration
  api/src/db/migrations/versions/2025_05_21_add_staging_table_for_tinstructions.py
  api/src/db/models/foreign/__init__.py
  api/src/db/models/foreign/instructions.py
  api/src/db/models/legacy_mixin/instructions_mixin.py
  api/src/db/models/staging/__init__.py
  api/src/db/models/staging/instructions.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fix spacing between roadmap accordion items
  frontend/src/components/homepage/sections/HomepageHero.tsx
  frontend/src/components/roadmap/sections/RoadmapMilestones.tsx
  frontend/tests/components/homepage/__snapshots__/HomepageHero.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

prettier
  frontend/src/app/[locale]/events/EventsCoding.tsx
  frontend/src/app/[locale]/events/EventsDemo.tsx
  frontend/src/app/[locale]/events/EventsHero.tsx
  frontend/src/app/[locale]/events/EventsUpcoming.tsx
  frontend/src/app/[locale]/saved-opportunities/page.tsx
  frontend/src/app/[locale]/subscribe/confirmation/page.tsx
  frontend/src/app/[locale]/subscribe/page.tsx
  frontend/src/app/[locale]/subscribe/unsubscribe/page.tsx
  frontend/src/components/homepage/IconInfoSection.tsx
  frontend/src/components/homepage/homePageSection.tsx
  frontend/src/components/homepage/sections/HomepageBuilding.tsx
  frontend/src/components/homepage/sections/HomepageInvolved.tsx
  frontend/src/components/opportunity/OpportunityDescription.tsx
  frontend/src/components/roadmap/RoadmapPageSection.tsx
  frontend/src/components/roadmap/sections/RoadmapHeader.tsx
  frontend/src/components/roadmap/sections/RoadmapMilestones.tsx
  frontend/src/components/roadmap/sections/RoadmapProcess.tsx
  frontend/src/components/roadmap/sections/RoadmapWhatWereWorkingOn.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchCallToAction.tsx
  frontend/src/components/vision/sections/VisionGetThere.tsx
  frontend/src/components/vision/sections/VisionGoals.tsx
  frontend/src/components/vision/sections/VisionHeader.tsx
  frontend/src/components/vision/sections/VisionMission.tsx
  frontend/src/components/vision/visionPageSection.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/src/styles/_uswds-theme.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

rm db use filter prefix
  api/src/adapters/search/opensearch_query_builder.py
  api/src/services/opportunities_v1/search_opportunities.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fix botched EditSavedSearchModal.tsx
  frontend/src/components/workspace/EditSavedSearchModal.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix e2e test
  frontend/tests/e2e/search/search-no-results.spec.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Clean up and add tests based on PR feedback from original ticket
  frontend/src/utils/testing/fixtures.ts
  frontend/tests/api/opportunities/[opportunityId]/attachments-download/route.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Remove need for testid
  frontend/src/components/opportunity/ZipDownloadButton.tsx
  frontend/tests/components/ZipDownloadButton.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Add component test
  frontend/tests/components/ZipDownloadButton.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Fix up data-testid
  frontend/src/components/opportunity/ZipDownloadButton.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Add invalid schema exception handling and fault message.
  api/src/legacy_soap_api/applicants/schemas/get_opportunity_list_request.py
  api/src/legacy_soap_api/applicants/schemas/opportunity_filter.py
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/src/legacy_soap_api/legacy_soap_api_schemas.py
  api/src/legacy_soap_api/legacy_soap_api_utils.py
  api/tests/src/legacy_soap_api/applicants/test_schemas.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_schemas.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Remove import.
  api/tests/src/legacy_soap_api/applicants/test_schemas.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

clean up homepage section widths
  frontend/src/components/homepage/homePageSection.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

cleanup
  api/src/adapters/search/opensearch_query_builder.py
  api/src/api/opportunities_v1/opportunity_routes.py
  api/src/services/opportunities_v1/search_opportunities.py
  api/src/services/service_utils.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fmt lint
  api/src/services/service_utils.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update tests
  frontend/tests/components/workspace/CreateApplicationButton.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc
