Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava

Revert "Use VPC link"
  infra/modules/service/api_gateway.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

Revert "Swap to use AWS ALB DNS"
  infra/modules/service/api_gateway.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

Revert to using public DNS and cert
  infra/api/service/.terraform.lock.hcl
  infra/modules/service/api_gateway.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

Revert lockfile change
  infra/api/service/.terraform.lock.hcl
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

it is the sf-424b with expanded support for long descriptions, empty child arrays, and disabled fields
  api/src/form_schema/forms/sf424b.py
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/validate.ts
  frontend/src/components/applyForm/widgets/FieldsetWidget.tsx
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

[Issue #4281] add page anchor scroll offset (#5893)
  frontend/next.config.js
  frontend/package.json
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/README.md
  frontend/src/components/application/ApplicationFormsTable.tsx
  frontend/src/components/applyForm/ApplyForm.tsx
  frontend/src/components/applyForm/ApplyFormMessage.tsx
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/widgets/FieldsetWidget.tsx
  frontend/src/components/opportunity/OpportunityDocuments.tsx
  frontend/src/components/opportunity/OpportunityDownload.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/tests/components/opportunity/OpportunityDownload.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Uses our normalization for the main comparison / handle XML parsing issues
  api/src/legacy_soap_api/legacy_soap_api_client.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fix api tests
  api/tests/src/form_schema/forms/test_sf424b.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update query and tests
  api/src/task/notifications/closing_date_notification.py
  api/src/task/notifications/opportunity_notifcation.py
  api/src/task/notifications/search_notification.py
  api/tests/src/task/notifications/test_closing_date_notification.py
  api/tests/src/task/notifications/test_opportunity_notification.py
  api/tests/src/task/notifications/test_search_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5703] sf424b ui (#5920)
  api/src/form_schema/forms/sf424b.py
  api/tests/src/form_schema/forms/test_sf424b.py
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/validate.ts
  frontend/src/components/applyForm/widgets/FieldsetWidget.tsx
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

Update to remove debugging diffs
  api/src/legacy_soap_api/legacy_soap_api_client.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

helper func
  api/local.env
  api/src/adapters/aws/sesv2_adapter.py
  api/src/task/notifications/sync_suppressed_emails.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Finishing touches
  infra/modules/service/api_gateway.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

Apply burst limit
  infra/modules/service/api_gateway.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

[Unticketed] Fix vulnerability in API
  api/Dockerfile
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
  documentation/api/database/erds/staging-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

add empty children array to ui schema to fix render
  api/src/form_schema/forms/sf424b.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
  documentation/api/database/erds/staging-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Remove _normalize_soap_dict_for_comparison
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/src/legacy_soap_api/legacy_soap_api_utils.py
  api/tests/src/legacy_soap_api/test_empty_response_comparison.py
  api/tests/src/legacy_soap_api/test_empty_response_pipeline_normalization.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update test
  api/tests/src/legacy_soap_api/test_empty_response_pipeline_normalization.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Format
  api/tests/src/legacy_soap_api/test_empty_response_comparison.py
  api/tests/src/legacy_soap_api/test_empty_response_pipeline_normalization.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
  documentation/api/database/erds/staging-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

wip
  infra/modules/dms-networking/networking.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

update .dockleignore for vuln scan workflow
  .github/workflows/vulnerability-scans.yml
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

added user test for create analytics db
  api/tests/src/task/analytics/test_create_analytics_db_csvs.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
  documentation/api/database/erds/staging-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Updated approach to use config for craeting csv and updated tests with new data to make sure the ordering didnt change
  analytics/tests/integrations/extracts/opportunity_tables_test_files/current_opportunity_summary.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/lk_opportunity_category.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/lk_opportunity_status.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/opportunity.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/opportunity_summary.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/user.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/user_saved_opportunity.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/user_saved_search.csv
  analytics/tests/integrations/extracts/test_load_opportunity_data.py
  api/src/task/analytics/create_analytics_db_csvs.py
Owners: @acouch, @freddieyebra, @widal001, @chouinar, @mdragon, @joshtonava

[Unticketed] Fix vulnerability in API (#5926)
  .github/workflows/vulnerability-scans.yml
  api/Dockerfile
  documentation/api/database/erds/api-schema.png
  documentation/api/database/erds/staging-schema.png
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava, @freddieyebra

update
  api/src/adapters/aws/sesv2_adapter.py
  api/src/task/notifications/sync_suppressed_emails.py
  api/tests/src/adapters/aws/test_sesv2_adapter.py
  api/tests/src/task/notifications/test_sync_suppressed_emails.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
  documentation/api/database/erds/staging-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[unticketed] add empty children array to sf424b form ui schema to fix render (#5927)
  api/src/form_schema/forms/sf424b.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5858] Handle empty response (#5909)
  api/src/legacy_soap_api/applicants/schemas/get_opportunity_list_schemas.py
  api/src/legacy_soap_api/legacy_soap_api_utils.py
  api/tests/src/legacy_soap_api/applicants/test_schemas.py
  api/tests/src/legacy_soap_api/test_empty_response_comparison.py
  api/tests/src/legacy_soap_api/test_empty_response_pipeline_normalization.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Find & replace simplergrants.discourse.group => forum.simpler.grants.gov
  documentation/wiki/get-involved/communication-channels/README.md
  documentation/wiki/get-involved/github-code.md
  frontend/src/components/Header.tsx
  frontend/src/components/homepage/sections/HomepageInvolved.tsx
  frontend/tests/components/__snapshots__/Header.test.tsx.snap
  frontend/tests/components/homepage/__snapshots__/HomepageInvolved.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @mdragon, @myduong-navapbc, @widal001, @prasnava

[Issue #5238] Move user records from api to analytics db (#5904)
  analytics/src/analytics/integrations/etldb/migrations/versions/0012_add_user_tables.sql
  analytics/src/analytics/integrations/extracts/constants.py
  analytics/tests/conftest.py
  analytics/tests/integrations/extracts/opportunity_tables_test_files/current_opportunity_summary.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/lk_opportunity_category.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/lk_opportunity_status.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/opportunity.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/opportunity_summary.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/user.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/user_saved_opportunity.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/user_saved_search.csv
  analytics/tests/integrations/extracts/test_load_opportunity_data.py
  api/src/task/analytics/create_analytics_db_csvs.py
  api/tests/src/task/analytics/test_create_analytics_db_csvs.py
Owners: @acouch, @freddieyebra, @widal001, @chouinar, @mdragon, @joshtonava

[Issue #5795] Add service to create API key in DB (#5885)
  api/openapi.generated.yml
  api/src/api/users/user_routes.py
  api/src/api/users/user_schemas.py
  api/src/db/migrations/versions/2025_08_08_add_unique_constraint_to_user_api_key_.py
  api/src/db/models/user_models.py
  api/src/services/users/create_api_key.py
  api/src/util/api_key_gen.py
  api/tests/src/api/users/test_user_create_api_key.py
  api/tests/src/services/users/test_create_api_key.py
  api/tests/src/util/test_api_key_gen.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

feat(attachments): adds ability to find fields that are attachments and does not exist in attachments array
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/page.tsx
  frontend/src/components/application/ApplicationContainer.tsx
  frontend/src/components/application/ApplicationFormsTable.tsx
  frontend/src/hooks/useMissingAttachments.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/types/applicationResponseTypes.ts
  frontend/src/types/attachmentTypes.ts
  frontend/src/types/formResponseTypes.ts
  frontend/src/utils/attachment/getFormsWithMissingAttachments.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: formatting
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/page.tsx
  frontend/src/components/application/ApplicationContainer.tsx
  frontend/src/components/application/ApplicationFormsTable.tsx
  frontend/src/hooks/useMissingAttachments.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/types/applicationResponseTypes.ts
  frontend/src/types/attachmentTypes.ts
  frontend/src/utils/attachment/getFormsWithMissingAttachments.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

attempting to parse form data values as json should fix this
  frontend/src/components/applyForm/formDataToJson.ts
  frontend/tests/utils/formDataToJson.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

feature: updates application forms table to have inline status
  frontend/src/components/application/ApplicationFormsTable.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

support pagination
  api/src/adapters/aws/sesv2_adapter.py
  api/tests/src/adapters/aws/test_sesv2_adapter.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava
