Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava

fixing formatting
  frontend/src/app/[locale]/developer/page.tsx
  frontend/src/components/user/UserControl.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fixing formatting, linting, tests
  frontend/src/app/[locale]/developer/page.tsx
  frontend/tests/utils/getRoutes.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip - updated training env config
  infra/frontend/service/image_tag.tf
  infra/frontend/service/main.tf
  infra/frontend/service/training.s3.tfbackend
  infra/frontend/service/variables.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

wip - updated training env config
  infra/analytics/app-config/main.tf
  infra/analytics/app-config/training.tf
  infra/api/app-config/env-config/scheduled_jobs.tf
  infra/api/app-config/main.tf
  infra/api/app-config/training.tf
  infra/api/database/.terraform.lock.hcl
  infra/api/database/main.tf
  infra/api/database/training.s3.tfbackend
  infra/frontend/app-config/main.tf
  infra/frontend/app-config/training.tf
  infra/modules/dms-networking/networking.tf
  infra/modules/search/authentication.tf
  infra/modules/service/cdn.tf
  infra/modules/service/load_balancer.tf
  infra/networks/outputs.tf
  infra/networks/training.s3.tfbackend
  infra/project-config/networks.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

[Issue #5226] Stock API Gateway deployment (#5228)
  infra/api/service/.terraform.lock.hcl
  infra/api/service/main.tf
  infra/modules/service/api_gateway.tf
  infra/modules/service/variables.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

Infra 5775 - Standup API Gateway configuration
  infra/modules/service/api_gateway.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

move budget award thing back into ref
  api/src/form_schema/forms/sflll.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

more cleanup
  frontend/src/components/applyForm/types.ts
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Unticketed] Update redirect on login page (#5828)
  frontend/src/app/[locale]/login/page.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5701] SF-LLL form (#5807)
  api/src/form_schema/forms/sflll.py
  frontend/package.json
  frontend/src/components/applyForm/actions.ts
  frontend/src/components/applyForm/formDataToJson.ts
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/validate.ts
  frontend/src/components/applyForm/widgets/CheckboxWidget.tsx
  frontend/src/components/applyForm/widgets/RadioWidget.tsx
  frontend/src/components/applyForm/widgets/SelectWidget.tsx
  frontend/src/components/applyForm/widgets/TextAreaWidget.tsx
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
  frontend/tests/components/applyForm/utils.test.tsx
  frontend/tests/components/applyForm/validate.test.ts
  frontend/tests/utils/formDataToJson.test.ts
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

wip
  frontend/src/app/api/competitions/handler.ts
  frontend/src/app/api/competitions/route.ts
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/services/fetch/fetchers/clientCompetitionsFetcher.ts
  frontend/src/services/fetch/fetchers/competitionsFetcher.ts
  frontend/src/types/competitionsResponseTypes.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

setting things up - not doing anything yet but not broken
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/services/auth/session.ts
  frontend/src/types/UserTypes.ts
  frontend/src/types/competitionsResponseTypes.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add organizations and organization users to seed
  api/tests/lib/seed_local_db.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fetching org and competition data
  frontend/src/app/api/competitions/[competitionId]/handler.ts
  frontend/src/app/api/competitions/[competitionId]/route.ts
  frontend/src/app/api/user/organizations/handler.ts
  frontend/src/app/api/user/organizations/route.ts
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/services/fetch/endpointConfigs.ts
  frontend/src/services/fetch/fetchers/clientCompetitionsFetcher.ts
  frontend/src/services/fetch/fetchers/clientUserFetcher.ts
  frontend/src/services/fetch/fetchers/fetchers.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

some error correction
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
  frontend/src/components/workspace/StartApplicationModal.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add description text
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

move things around to prepare for error handling
  frontend/src/components/user/OpportunityCompetitionStart.tsx
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationDescription.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationInputs.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModal.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModalControl.tsx
  frontend/src/services/fetch/fetchers/clientApplicationFetcher.ts
  frontend/tests/components/workspace/StartApplicationModal.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

front page loading state
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModalControl.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

handle validation errors
  frontend/src/components/workspace/StartApplicationModal/IneligibleStartApplicationModal.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationInputs.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModal.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModalControl.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

more fixups
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/services/fetch/fetchers/clientApplicationFetcher.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix ineligible state
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

send org to api
  frontend/src/app/api/applications/start/handler.ts
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
  frontend/src/services/fetch/fetchers/clientApplicationFetcher.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

some test fixes
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModal.tsx
  frontend/tests/api/competitions/competitionId/route.test.ts
  frontend/tests/components/workspace/StartApplicationModal/StartApplicationModalControl.test.tsx
  frontend/tests/services/fetch/fetchers/competitionsFetcher.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

save search modal test
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModal.tsx
  frontend/src/utils/testing/fixtures.ts
  frontend/tests/components/workspace/StartApplicationModal/StartApplicationModal.test.tsx
  frontend/tests/components/workspace/StartApplicationModal/StartApplicationModalControl.test.tsx
  frontend/tests/components/workspace/StartApplicationModal/__snapshots__/StartApplicationModal.test.tsx.snap
  frontend/tests/components/workspace/__snapshots__/StartApplicationModal.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip more tests
  frontend/tests/api/competitions/competitionId/route.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip tests
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModal.tsx
  frontend/src/services/auth/session.ts
  frontend/tests/components/workspace/StartApplicationModal/StartApplicationModal.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

modal control test
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModalControl.tsx
  frontend/src/utils/testing/fixtures.ts
  frontend/tests/components/workspace/StartApplicationModal/StartApplicationModalControl.test.tsx
  frontend/tests/components/workspace/StartApplicationModal/__snapshots__/StartApplicationModalControl.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

another test
  frontend/tests/api/user/organizations/route.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

more cleanup
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModal.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModalControl.tsx
  frontend/src/services/fetch/fetchers/clientApplicationFetcher.ts
  frontend/src/services/fetch/fetchers/clientUserFetcher.ts
  frontend/src/types/competitionsResponseTypes.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

api format
  api/tests/lib/seed_local_db.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

ts fix
  frontend/tests/api/user/organizations/route.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip, styling is off
  frontend/src/components/LoginButton.tsx
  frontend/src/components/LoginModal.tsx
  frontend/src/components/user/UserControl.tsx
  frontend/src/constants/auth.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

update
  api/src/adapters/aws/sesv2_adapter.py
  api/tests/src/adapters/aws/test_sesv2_adapter.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

typo
  api/src/adapters/aws/sesv2_adapter.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5759] Add ability to save opportunities from search results table (#5762)
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/components/SaveIcon.tsx
  frontend/src/components/search/SearchResultsTable.tsx
  frontend/src/components/user/OpportunitySaveUserControl.tsx
  frontend/tests/components/SaveIcon.test.tsx
  frontend/tests/components/search/SearchResultsTable.test.tsx
  frontend/tests/components/search/__snapshots__/SearchResultsTable.test.tsx.snap
  frontend/tests/components/user/OpportunitySaveUserControl.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update application.is_included_in_submission.
  api/src/services/applications/get_application.py
  api/src/services/applications/get_application_form.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

closer
  frontend/src/components/LoginButton.tsx
  frontend/src/components/LoginModal.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

got it
  frontend/src/components/LoginButton.tsx
  frontend/tests/components/LoginButtonModal.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix tests
  frontend/tests/components/LoginButton.test.tsx
  frontend/tests/components/LoginButtonModal.test.tsx
  frontend/tests/components/LoginModal.test.tsx
  frontend/tests/components/__snapshots__/LoginButton.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Address checkov findings
  infra/modules/service/api_gateway.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava
