Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

[Issue #5797] Add service to get and return API keys from logged in user in DB (#5887)
  api/openapi.generated.yml
  api/src/api/users/user_routes.py
  api/src/api/users/user_schemas.py
  api/src/services/users/get_user_api_keys.py
  api/tests/src/api/users/test_user_list_api_keys.py
  api/tests/src/services/users/test_get_user_api_keys.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

removing
  api/src/services/users/rename_api_key.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fixing merge conflict
  api/src/api/users/user_routes.py
  api/src/api/users/user_schemas.py
  api/src/services/users/rename_api_key.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fixing tests
  api/tests/src/api/users/test_user_rename_api_key.py
  api/tests/src/services/users/test_rename_api_key.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add route for printing
  frontend/src/app/[locale]/print/form/[applicationId]/[appFormId]/page.tsx
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/components/applyForm/PrintForm.tsx
  frontend/src/constants/environments.ts
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
  frontend/src/utils/getFormData.ts
  frontend/tests/utils/getRoutes.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip
  infra/modules/search/main.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

run terraform fmt
  infra/analytics/app-config/main.tf
  infra/analytics/metabase/main.tf
  infra/analytics/service/main.tf
  infra/analytics/service/notifications.tf
  infra/api/app-config/main.tf
  infra/api/app-config/training.tf
  infra/api/database/main.tf
  infra/api/service/main.tf
  infra/api/service/notifications.tf
  infra/frontend/app-config/main.tf
  infra/frontend/app-config/training.tf
  infra/frontend/service/main.tf
  infra/modules/service/cdn.tf
  infra/nofos/app-config/main.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava, @pcraig3

fixing tests
  api/tests/src/api/users/test_user_rename_api_key.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fixing formatting
  api/tests/src/api/users/test_user_rename_api_key.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update token handling
  frontend/src/app/[locale]/print/form/[applicationId]/[appFormId]/page.tsx
  frontend/src/utils/getFormData.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Updated loading opportunities to search index to filter results in review status
  api/src/search/backend/load_opportunities_to_index.py
  api/tests/src/search/backend/test_load_opportunities_to_index.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add envar
  frontend/.env.development
  infra/frontend/app-config/env-config/environment_variables.tf
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc, @mdragon, @joshtonava, @chouinar, @prasnava

[Issue #5933] Extract opportunity exclude review status (#5962)
  api/src/task/opportunities/export_opportunity_data_task.py
  api/tests/src/task/opportunities/test_export_opportunity_data_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

exclude opps in review status
  api/src/services/agencies_v1/get_agencies.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update test
  api/tests/src/search/backend/test_load_agencies_to_index.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update assert
  api/tests/src/search/backend/test_load_agencies_to_index.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fmt
  api/tests/src/search/backend/test_load_agencies_to_index.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update form routes
  frontend/src/app/[locale]/print/form/[applicationId]/[appFormId]/page.tsx
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/utils/getFormData.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update route name
  frontend/src/app/[locale]/print/form/application/[applicationId]/form/[appFormId]/page.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update page and getFormData
  frontend/src/app/[locale]/print/form/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/utils/getFormData.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Add tests
  frontend/tests/utils/getFormData.test.ts
  frontend/tests/utils/getRoutes.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Add tests
  frontend/tests/utils/getFormData.test.ts
  frontend/tests/utils/getRoutes.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update to use header
  frontend/src/app/[locale]/print/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
  frontend/src/utils/getFormData.ts
  infra/frontend/app-config/env-config/environment_variables.tf
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc, @mdragon, @joshtonava, @chouinar, @prasnava

Update .env.development
  frontend/.env.development
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update tests/utils/getRoutes.test.ts
  frontend/tests/utils/getRoutes.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[WIP] Call Application Render endpoint / send to DocRaptor for viewing
  api/local.env
  api/pyproject.toml
  api/src/services/pdf_generation/__init__.py
  api/src/services/pdf_generation/clients.py
  api/src/services/pdf_generation/config.py
  api/src/services/pdf_generation/models.py
  api/src/services/pdf_generation/service.py
  api/src/task/apply/create_application_submission_task.py
  api/tests/src/services/pdf_generation/__init__.py
  api/tests/src/services/pdf_generation/test_clients.py
  api/tests/src/services/pdf_generation/test_service.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Fixed linting
  api/tests/src/search/backend/test_load_opportunities_to_index.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Remove user agent
  api/src/services/pdf_generation/clients.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Unticketed] Create a utility script for uploading forms to a given environment
  api/src/task/__init__.py
  api/src/task/forms/README.md
  api/src/task/forms/__init__.py
  api/src/task/forms/update_form_task.py
  api/tests/src/task/forms/__init__.py
  api/tests/src/task/forms/test_update_form_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update TODO
  api/src/task/apply/create_application_submission_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fix tests
  frontend/src/components/applyForm/formDataToJson.ts
  frontend/tests/utils/formDataToJson.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Infra 5775 - Standup API Gateway configuration (#5831)
  infra/accounts/api-gateway.tf
  infra/modules/service/api_gateway.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

[Issue #5978] Enable apply endpoints in prod
  infra/api/app-config/prod.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

Add timeout
  api/src/task/forms/update_form_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update page.tsx
  frontend/src/app/[locale]/print/application/[applicationId]/form/[appFormId]/page.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update environments.ts
  frontend/src/constants/environments.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Infra 5775 - Fix API Gateway timeout length
  infra/modules/service/api_gateway.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

[Issue #5317] Add print route (#5987)
  frontend/src/app/[locale]/print/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/components/applyForm/PrintForm.tsx
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
  frontend/src/utils/getFormData.ts
  frontend/tests/utils/getFormData.test.ts
  frontend/tests/utils/getRoutes.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

cleanup
  frontend/tests/components/applyForm/utils.test.tsx
  frontend/tests/utils/formDataToJson.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5580] Add support for including non-required forms in application submissions. (#5877)
  frontend/src/app/api/applications/[applicationId]/forms/[formId]/handler.ts
  frontend/src/app/api/applications/[applicationId]/forms/[formId]/route.ts
  frontend/src/components/application/ApplicationContainer.tsx
  frontend/src/components/application/ApplicationFormsTable.tsx
  frontend/src/components/application/ApplicationValidationAlert.tsx
  frontend/src/components/application/IncludeFormInSubmissionRadio.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
  frontend/src/types/applicationResponseTypes.ts
  frontend/tests/api/applications/updateIncludeFormInSubmission/route.test.ts
  frontend/tests/components/application/ApplicationFormsTable.test.tsx
  frontend/tests/components/application/IncludeFormInSubmissionRadio.test.tsx
  frontend/tests/components/application/__snapshots__/ApplicationFormsTable.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava
