Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava

Refresh application page on form inclusion updates.
  frontend/src/components/application/ApplicationFormsTable.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

refactor: getLabelComponent to be DynamicFieldLabel. adds tests and applied to existing components
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/widgets/DynamicFieldLabel.tsx
  frontend/src/components/applyForm/widgets/FieldLabel.tsx
  frontend/src/components/applyForm/widgets/MultipleAttachmentUploadWidget.tsx
  frontend/src/components/applyForm/widgets/RadioWidget.tsx
  frontend/src/components/applyForm/widgets/SelectWidget.tsx
  frontend/src/components/applyForm/widgets/TextAreaWidget.tsx
  frontend/src/components/applyForm/widgets/TextWidget.tsx
  frontend/src/components/applyForm/widgets/getLabelTypeFromOptions.ts
  frontend/tests/components/applyForm/widgets/DynamicFieldLabel.test.tsx
  frontend/tests/components/applyForm/widgets/FieldLabel.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

refactor: removes context
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/components/applyForm/AttachmentContext.tsx
  frontend/src/components/applyForm/ClientApplyForm.tsx
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/widgets/AttachmentUploadWidget.tsx
  frontend/src/components/applyForm/widgets/MultipleAttachmentUploadWidget.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

refactor: uniform catch in attachment upload
  frontend/src/app/api/applications/[applicationId]/attachments/handler.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5816] revert addition of ethnio script (#5884)
  frontend/.pa11yci-desktop.json
  frontend/.pa11yci-mobile.json
  frontend/next.config.js
  frontend/src/app/[locale]/layout.tsx
  frontend/src/components/ScriptInjector.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/src/utils/injectableScripts.tsx
  frontend/tests/components/ScriptInjector.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #4517] clean up display and spacing on opportunity detail (#5888)
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/components/opportunity/OpportunityAwardInfo.tsx
  frontend/src/components/opportunity/OpportunityDescription.tsx
  frontend/src/components/opportunity/OpportunityIntro.tsx
  frontend/src/constants/routes.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/tests/components/opportunity/OpportunityIntro.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5818] add pagination beneath search results (#5886)
  frontend/src/components/search/SearchResultsView.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add offsets to anchors for opportunity documents, application form validation errors, application form nav items, application validation errors
  frontend/next.config.js
  frontend/src/components/Layout.tsx
  frontend/src/components/application/ApplicationFormsTable.tsx
  frontend/src/components/applyForm/ApplyForm.tsx
  frontend/src/components/applyForm/ApplyFormMessage.tsx
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/widgets/FieldsetWidget.tsx
  frontend/src/components/opportunity/OpportunityDocuments.tsx
  frontend/src/components/opportunity/OpportunityDownload.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/tests/components/opportunity/OpportunityDownload.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add readme for directions to access applications
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/README.md
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: moves the validation error/warning to utils
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/widgets/AttachmentUploadWidget.tsx
  frontend/src/components/applyForm/widgets/MultipleAttachmentUploadWidget.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: lints, no relative imports
  frontend/src/components/applyForm/widgets/AttachmentUploadWidget.tsx
  frontend/src/components/applyForm/widgets/MultipleAttachmentUploadWidget.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

migrating changes to new db migration
  api/src/db/migrations/versions/2025_08_06_add_user_api_key_table.py
  api/src/db/migrations/versions/2025_08_08_add_unique_constraint_to_user_api_key_.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update api/src/api/users/user_routes.py
  api/src/api/users/user_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

removed unneeded validation
  api/src/api/users/user_routes.py
  api/src/db/migrations/versions/2025_08_06_add_user_api_key_table.py
  api/src/services/users/create_api_key.py
  api/tests/src/services/users/test_create_api_key.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

refactor: splits attachment list into its own component
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/widgets/MultiAttachmentUploadList.tsx
  frontend/src/components/applyForm/widgets/MultipleAttachmentUploadWidget.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fixing linting
  api/src/api/users/user_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fix format
  frontend/package.json
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fixing formatting
  api/src/api/users/user_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

refactor: simplified the error messages block
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/widgets/AttachmentUploadWidget.tsx
  frontend/src/components/applyForm/widgets/MultipleAttachmentUploadWidget.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: npm run format
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/app/api/applications/[applicationId]/attachments/handler.ts
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/widgets/AttachmentUploadWidget.tsx
  frontend/src/components/applyForm/widgets/DynamicFieldLabel.tsx
  frontend/src/components/applyForm/widgets/SelectWidget.tsx
  frontend/src/components/applyForm/widgets/TextWidget.tsx
  frontend/src/hooks/useApplicationId.ts
  frontend/src/hooks/useAttachmentDelete.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fixing unused import
  api/src/db/migrations/versions/2025_08_08_add_unique_constraint_to_user_api_key_.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

refactor: explicitly defines shape of data & and adds tests for dynamic field labels
  frontend/tests/components/applyForm/utils.test.tsx
  frontend/tests/components/applyForm/validate.test.ts
  frontend/tests/components/applyForm/widgets/DynamicFieldLabel.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip
  frontend/src/components/ActivityMonitor.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

adding tests
  api/tests/src/api/users/test_user_create_api_key.py
  api/tests/src/services/users/test_create_api_key.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

removing unused import
  api/tests/src/api/users/test_user_create_api_key.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

refactor: mocked sessions and revalidatetag
  frontend/tests/components/applyForm/ApplyForm.test.tsx
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5859] Modify sam extract fetching to not refetch pending extracts
  api/src/task/sam_extracts/fetch_sam_extracts.py
  api/tests/src/task/sam_extracts/test_fetch_sam_extracts.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5859] Modify sam extract fetching to not refetch pending extracts (#5895)
  api/src/task/sam_extracts/fetch_sam_extracts.py
  api/tests/src/task/sam_extracts/test_fetch_sam_extracts.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Handle errors.
  frontend/src/components/application/ApplicationContainer.tsx
  frontend/src/components/application/ApplicationFormsTable.tsx
  frontend/src/components/application/ApplicationValidationAlert.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

refactor: backed out my workaround to get nest refs resolving
  api/src/form_schema/forms/sf424.py
  frontend/src/components/applyForm/utils.tsx
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

chore: linting and formatting
  frontend/src/components/applyForm/widgets/MultiAttachmentUploadList.tsx
  frontend/tests/components/applyForm/ApplyForm.test.tsx
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: format sf424 file
  api/src/form_schema/forms/sf424.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

wip
  frontend/src/components/ActivityMonitor.tsx
  frontend/src/components/Layout.tsx
  frontend/src/constants/auth.ts
  frontend/src/services/auth/UserProvider.tsx
  infra/api/app-config/env-config/environment_variables.tf
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc, @mdragon, @joshtonava, @chouinar, @prasnava

Fix tests that are flaky around midnight
  api/tests/src/task/notifications/test_closing_date_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Format
  api/tests/src/task/notifications/test_closing_date_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

working, with lots of logs. should add some automated tests if possible
  frontend/src/components/ActivityMonitor.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

tests: fixes tests to match sf424 json schema
  api/tests/src/db/models/factories.py
  api/tests/src/form_schema/forms/test_sf424.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

tests: update the type casing in tests to match the sf424 json file
  api/tests/src/form_schema/forms/test_sf424.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[issue #5394] SF-424 standard form (#5860)
  api/src/form_schema/forms/sf424.py
  api/tests/src/db/models/factories.py
  api/tests/src/form_schema/forms/test_sf424.py
  frontend/package-lock.json
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/app/api/applications/[applicationId]/attachments/handler.ts
  frontend/src/app/api/applications/[applicationId]/attachments/route.ts
  frontend/src/components/application/ApplicationValidationAlert.tsx
  frontend/src/components/applyForm/ApplyForm.tsx
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/validate.ts
  frontend/src/components/applyForm/widgets/AttachmentUploadWidget.tsx
  frontend/src/components/applyForm/widgets/CheckboxWidget.tsx
  frontend/src/components/applyForm/widgets/DynamicFieldLabel.tsx
  frontend/src/components/applyForm/widgets/FieldLabel.tsx
  frontend/src/components/applyForm/widgets/MultiAttachmentUploadList.tsx
  frontend/src/components/applyForm/widgets/MultipleAttachmentUploadWidget.tsx
  frontend/src/components/applyForm/widgets/RadioWidget.tsx
  frontend/src/components/applyForm/widgets/SelectWidget.tsx
  frontend/src/components/applyForm/widgets/TextAreaWidget.tsx
  frontend/src/components/applyForm/widgets/TextWidget.tsx
  frontend/src/components/applyForm/widgets/getLabelTypeFromOptions.ts
  frontend/src/hooks/useApplicationId.ts
  frontend/src/hooks/useAttachmentDelete.ts
  frontend/src/hooks/useAttachmentUpload.ts
  frontend/src/types/attachmentTypes.ts
  frontend/src/utils/formHasAttachment.ts
  frontend/tests/components/applyForm/ApplyForm.test.tsx
  frontend/tests/components/applyForm/utils.test.tsx
  frontend/tests/components/applyForm/validate.test.ts
  frontend/tests/components/applyForm/widgets/DynamicFieldLabel.test.tsx
  frontend/tests/components/applyForm/widgets/FieldLabel.test.tsx
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

Handle parsing GetOpportunityListResponse from proxy response
  api/src/legacy_soap_api/applicants/schemas/get_opportunity_list_schemas.py
  api/src/util/datetime_util.py
  api/tests/src/legacy_soap_api/applicants/schemas/test_get_opportunity_list_schemas.py
  api/tests/src/legacy_soap_api/test_proxy_response_parsing.py
  api/tests/src/util/test_datetime_util.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava
