Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

new mig
  api/src/db/migrations/versions/2025_08_18_create_excluded_opportunity_review_table.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

recreate
  api/src/db/migrations/versions/2025_08_18_create_excluded_opportunity_review_table.py
  api/src/db/models/opportunity_models.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fix ups from my review
  frontend/src/components/application/ApplicationFormsTable.tsx
  frontend/src/components/application/IncludeFormInSubmissionRadio.tsx
  frontend/src/components/applyForm/widgets/RadioWidget.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

cleanup
  frontend/tests/components/application/ApplicationFormsTable.test.tsx
  frontend/tests/components/application/IncludeFormInSubmissionRadio.test.tsx
  frontend/tests/components/application/__snapshots__/ApplicationFormsTable.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add allofs back to sf424
  api/src/form_schema/forms/sf424.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

use legacy opp id
  api/src/db/models/opportunity_models.py
  api/src/task/opportunities/export_opportunity_data_task.py
  api/tests/src/db/models/factories.py
  api/tests/src/task/opportunities/test_export_opportunity_data_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fix ref parser error
  frontend/src/components/applyForm/utils.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #4942] update the footer (#5842)
  frontend/src/components/Footer.tsx
  frontend/src/constants/routes.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/tests/components/Footer.test.tsx
  frontend/tests/components/__snapshots__/Footer.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5316 and Issue #5170] various styling and accessibility changes (#5951)
  frontend/src/app/[locale]/saved-opportunities/page.tsx
  frontend/src/app/[locale]/saved-search-queries/page.tsx
  frontend/src/components/search/SearchDrawerFilters.tsx
  frontend/src/components/search/SearchSortBy.tsx
  frontend/src/components/user/OpportunitySaveUserControl.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/styles/_uswds-theme.scss
  frontend/tests/pages/saved-opportunities/__snapshots__/page.test.tsx.snap
  frontend/tests/pages/saved-opportunities/page.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5821] refresh user auth token on click and keyboard activity (#5939)
  frontend/src/components/ActivityMonitor.tsx
  frontend/src/components/Layout.tsx
  frontend/src/services/auth/UserProvider.tsx
  frontend/tests/components/ActivityMonitor.test.tsx
  frontend/tests/services/auth/useUser.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5915] fix attachment field validations (#5934)
  frontend/src/components/applyForm/formDataToJson.ts
  frontend/tests/utils/formDataToJson.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5913] add excluded opportunity review table (#5949)
  api/src/db/migrations/versions/2025_08_18_create_excluded_opportunity_review_table.py
  api/src/db/models/opportunity_models.py
  api/tests/src/db/models/factories.py
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

rm old file
  api/src/db/migrations/versions/2025_08_15_create_excluded_opportunity_review_table.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

wip
  .github/workflows/cd-analytics.yml
  .github/workflows/cd-api.yml
  .github/workflows/cd-frontend.yml
  .github/workflows/cd-nofos.yml
  infra/analytics/metabase/main.tf
  infra/analytics/service/main.tf
  infra/api/service/main.tf
  infra/frontend/service/main.tf
  infra/modules/service/load_balancer.tf
  infra/nofos/app-config/training.tf
  infra/nofos/service/main.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava, @pcraig3

fixes for allofs in sf424
  api/src/form_schema/forms/sf424.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

remove processing allOfs on defs
  frontend/src/components/applyForm/utils.tsx
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5839] resolve allof references in form schema properties (#5955)
  api/src/form_schema/forms/sf424.py
  api/src/form_schema/forms/sflll.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/README.md
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/components/applyForm/actions.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

wip - need to test
  frontend/src/components/applyForm/ApplyForm.tsx
  frontend/src/components/applyForm/builFormTree.tsx
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/widgets/WidgetRenderers.tsx
  frontend/src/components/applyForm/widgets/Widgets.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

this may work, not fully tested
  frontend/src/components/applyForm/actions.ts
  frontend/src/components/applyForm/formDataToJson.ts
  frontend/src/components/applyForm/utils.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

post rebase cleanup
  frontend/src/components/applyForm/formDataToJson.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

adding additional functionality
  api/src/api/users/user_routes.py
  api/src/api/users/user_schemas.py
  api/tests/src/api/users/test_user_list_api_keys.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update api/tests/src/services/users/test_get_user_api_keys.py
  api/tests/src/services/users/test_get_user_api_keys.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

updating openAPI.yml
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

removing unused import
  api/tests/src/services/users/test_get_user_api_keys.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fixing import
  api/tests/src/services/users/test_get_user_api_keys.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fixed import
  api/tests/src/services/users/test_get_user_api_keys.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update draft status
  api/src/data_migration/transformation/subtask/transform_opportunity.py
  api/tests/src/data_migration/transformation/subtask/test_transform_opportunity.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

wip
  infra/analytics/metabase/image_tag.tf
  infra/analytics/service/image_tag.tf
  infra/api/service/variables.tf
  infra/frontend/service/image_tag.tf
  infra/modules/database/main.tf
  infra/modules/search/authentication.tf
  infra/modules/search/main.tf
  infra/nofos/service/image_tag.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava, @pcraig3

initial commit
  api/openapi.generated.yml
  api/src/api/users/user_routes.py
  api/src/api/users/user_schemas.py
  api/src/services/users/rename_api_key.py
  api/tests/src/api/users/test_user_rename_api_key.py
  api/tests/src/services/users/test_rename_api_key.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

basics done
  frontend/src/app/[locale]/subscribe/page.tsx
  frontend/src/constants/breadcrumbs.ts
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

initial commit
  api/src/api/users/user_routes.py
  api/src/api/users/user_schemas.py
  api/src/services/users/delete_api_key.py
  api/tests/src/api/users/test_user_delete_api_key.py
  api/tests/src/services/users/test_delete_api_key.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fixing formatting
  api/src/api/users/user_routes.py
  api/tests/src/services/users/test_delete_api_key.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fixing formatting
  api/tests/src/services/users/test_delete_api_key.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

updating based on feedback
  api/src/api/users/user_routes.py
  api/src/api/users/user_schemas.py
  api/tests/src/api/users/test_user_list_api_keys.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5921] Move attachments when draft (#5982)
  api/src/data_migration/transformation/subtask/transform_opportunity.py
  api/tests/src/data_migration/transformation/subtask/test_transform_opportunity.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava
