Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

Format
  api/src/legacy_soap_api/applicants/schemas/get_opportunity_list_schemas.py
  api/src/util/datetime_util.py
  api/tests/src/legacy_soap_api/applicants/schemas/test_get_opportunity_list_schemas.py
  api/tests/src/legacy_soap_api/test_proxy_response_parsing.py
  api/tests/src/util/test_datetime_util.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Lint
  api/tests/src/legacy_soap_api/test_proxy_response_parsing.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

this works, but validation is wonky
  api/src/form_schema/forms/project_narrative_attachment.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5744] Handle parsing GetOpportunityListResponse from proxy response (#5901)
  api/src/legacy_soap_api/applicants/schemas/get_opportunity_list_schemas.py
  api/src/util/datetime_util.py
  api/tests/src/legacy_soap_api/applicants/schemas/test_get_opportunity_list_schemas.py
  api/tests/src/legacy_soap_api/test_proxy_response_parsing.py
  api/tests/src/util/test_datetime_util.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Unticketed] Add application name to app form API model (#5891)
  api/openapi.generated.yml
  api/src/api/application_alpha/application_schemas.py
  api/src/db/models/competition_models.py
  api/tests/src/api/applications/test_application_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

wip - need to figure out grabbing application name at least
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/components/applyForm/utils.tsx
  frontend/src/types/applicationResponseTypes.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

finished it
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/components/applyForm/utils.tsx
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
  frontend/src/types/applicationResponseTypes.ts
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[unticketed] fetch application form, rather than full application, on form page (#5890)
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/components/applyForm/utils.tsx
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
  frontend/src/types/applicationResponseTypes.ts
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

minor tweak to form section, add description to section display
  api/src/form_schema/forms/project_abstract_summary.py
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/validate.ts
  frontend/src/components/applyForm/widgets/FieldsetWidget.tsx
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

add error border to text area
  frontend/src/components/applyForm/widgets/TextAreaWidget.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5702] minor tweak to form section, add description to section display (#5900)
  api/src/form_schema/forms/project_abstract_summary.py
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/validate.ts
  frontend/src/components/applyForm/widgets/FieldsetWidget.tsx
  frontend/src/components/applyForm/widgets/TextAreaWidget.tsx
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

allow server actions at all deployed locations
  frontend/next.config.js
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Outputting user table in column specific order
  api/src/task/analytics/create_analytics_db_csvs.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

feat(apply): updates status text
  frontend/src/components/application/ApplicationFormsTable.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Updated analytics load to load user table data
  analytics/src/analytics/integrations/etldb/migrations/versions/0012_add_user_tables.sql
  analytics/src/analytics/integrations/extracts/constants.py
Owners: @acouch, @freddieyebra, @widal001

Updated analytics load process to load user data
  analytics/tests/conftest.py
  analytics/tests/integrations/extracts/opportunity_tables_test_files/user.csv
  analytics/tests/integrations/extracts/test_load_opportunity_data.py
Owners: @acouch, @freddieyebra, @widal001

[Unticketed] Adjust saved-opp query to fetch much less
  api/src/services/users/get_saved_opportunities.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Addressed linting issue with too many local variables
  analytics/tests/integrations/extracts/test_load_opportunity_data.py
Owners: @acouch, @freddieyebra, @widal001

action returning undefined, does this fix it
  frontend/src/components/applyForm/actions.ts
  frontend/src/middleware.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

disable lint
  frontend/src/components/applyForm/actions.ts
  frontend/src/middleware.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

my's solution
  api/src/form_schema/forms/project_narrative_attachment.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

more logs
  frontend/src/components/applyForm/ApplyForm.tsx
  frontend/src/middleware.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Ignoring sql error
  api/src/task/analytics/create_analytics_db_csvs.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

more logging
  frontend/src/middleware.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

handle undefined form state
  frontend/src/components/applyForm/ApplyForm.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Unticketed] Adjust saved-opp query to fetch much less (#5905)
  api/src/services/users/get_saved_opportunities.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5699] ui for project narrative attachment form (#5907)
  api/src/form_schema/forms/project_narrative_attachment.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Handle empty response
  api/src/legacy_soap_api/legacy_soap_api_utils.py
  api/tests/src/legacy_soap_api/test_empty_response_comparison.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Format
  api/src/legacy_soap_api/legacy_soap_api_utils.py
  api/tests/src/legacy_soap_api/test_empty_response_comparison.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fix heading
  frontend/src/components/Footer.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

update task
  api/src/task/notifications/config.py
  api/src/task/notifications/sync_suppressed_emails.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fixture for mock client
  api/tests/conftest.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update test
  api/tests/src/task/notifications/test_closing_date_notification.py
  api/tests/src/task/notifications/test_opportunity_notification.py
  api/tests/src/task/notifications/test_search_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update
  api/src/adapters/aws/sesv2_adapter.py
  api/src/task/notifications/email_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update budget narrative form
  api/src/form_schema/forms/budget_narrative_attachment.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update snapshot
  frontend/tests/components/__snapshots__/Footer.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update to disabled
  infra/api/app-config/env-config/scheduled_jobs.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

[Issue #5699] update budget narrative form ui (#5911)
  api/src/form_schema/forms/budget_narrative_attachment.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5594] Add schedule (#5716)
  documentation/api/data-setup.md
  infra/api/app-config/env-config/scheduled_jobs.tf
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @prasnava

Implement model-level consistency updates
  api/src/legacy_soap_api/applicants/schemas/get_opportunity_list_schemas.py
  api/tests/src/legacy_soap_api/applicants/test_schemas.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava
