Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @coilysiren, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @pcraig3

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @coilysiren @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 # everyone

/analytics/               @acouch @coilysiren @freddieyebra @widal001
/documentation/analytics/ @acouch @coilysiren @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @coilysiren @mdragon
/infra/nofos/              @acouch @coilysiren @mdragon @pcraig3
/documentation/infra/      @acouch @coilysiren @mdragon
/.github/                  @acouch @coilysiren @mdragon
/.github/workflows/*nofos* @acouch @coilysiren @mdragon @pcraig3
/bin/                      @acouch @coilysiren @mdragon

Format
  api/src/api/competition_alpha/competition_schema.py
  api/src/db/models/competition_models.py
  api/tests/src/api/competition_alpha/test_competition_route_get.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

chore: fix linting issues
  frontend/src/components/application/OpportunityCard.tsx
  frontend/src/components/application/mapOpportunity.ts
  frontend/src/types/opportunity/opportunityResponseTypes.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix: typo
  frontend/src/components/application/mapOpportunity.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: reorganize the properties
  frontend/src/components/application/mapOpportunity.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: formatting
  frontend/src/components/application/OpportunityCard.tsx
  frontend/src/components/application/mapOpportunity.ts
  frontend/src/components/opportunity/OpportunityAwardInfo.tsx
  frontend/src/types/opportunity/opportunityResponseTypes.ts
  frontend/src/utils/formatCurrencyUtil.ts
  frontend/stories/components/application/OpportunityCard.stories.tsx
  frontend/stories/components/application/opportunity.mock.json
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

replace HTTP method to HEAD as only Headers are needed
  frontend/src/components/user/UserControl.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5083] Add GET application attachment endpoint (#5235)
  api/openapi.generated.yml
  api/src/api/application_alpha/application_route.py
  api/src/api/application_alpha/application_schemas.py
  api/src/db/models/competition_models.py
  api/src/services/applications/get_application_attachment.py
  api/tests/src/api/applications/test_application_attachment_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Remove mocks, update to CDN URL download_path
  api/tests/src/api/extracts_v1/test_extract_schema.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add tests to cover additional presign/CDN scenarios
  api/src/util/file_util.py
  api/tests/src/api/extracts_v1/test_extract_schema.py
  api/tests/src/api/extracts_v1/test_extracts_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Lint
  api/src/util/file_util.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

chore: address pr review messages
  frontend/src/components/application/OpportunityCard.tsx
  frontend/src/utils/formatCurrencyUtil.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Use singleton lookup / update tests
  api/src/util/file_util.py
  api/tests/src/api/extracts_v1/test_extract_schema.py
  api/tests/src/api/extracts_v1/test_extracts_routes.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_get.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Fix test
  api/tests/src/api/opportunities_v1/test_opportunity_route_get.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Format
  api/tests/src/api/opportunities_v1/test_opportunity_route_get.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

quick fix for breaking agency search on no child options
  frontend/src/components/search/SearchFilterAccordion/AllOptionCheckbox.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[unticketed] quick fix for breaking agency search on no child options (#5240)
  frontend/src/components/search/SearchFilterAccordion/AllOptionCheckbox.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Remove db commit and no results test.
  api/src/legacy_soap_api/applicants/services/get_opportunity_list_response.py
  api/tests/src/legacy_soap_api/applicants/services/test_get_opportunity_list_response.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

chore: fixes git request
  frontend/src/components/application/OpportunityCard.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5137] Return the form instructions in the form response object (#5229)
  api/openapi.generated.yml
  api/src/adapters/aws/s3_adapter.py
  api/src/api/form_alpha/form_schema.py
  api/src/db/models/competition_models.py
  api/src/db/models/extract_models.py
  api/src/db/models/opportunity_models.py
  api/src/services/competition_alpha/get_competition.py
  api/src/services/extracts_v1/get_extracts.py
  api/src/services/form_alpha/get_form.py
  api/src/services/opportunities_v1/get_opportunity.py
  api/src/util/file_util.py
  api/tests/src/api/extracts_v1/test_extract_schema.py
  api/tests/src/api/extracts_v1/test_extracts_routes.py
  api/tests/src/api/form_alpha/test_form_route_get.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_get.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

chore: remove extra map function
  frontend/src/components/application/mapOpportunity.ts
  frontend/stories/components/application/OpportunityCard.stories.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: added in the entirety of summary instead of breaking it out
  frontend/src/components/application/OpportunityCard.tsx
  frontend/src/types/opportunity/opportunityResponseTypes.ts
  frontend/stories/components/application/OpportunityCard.stories.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update frontend/src/components/application/OpportunityCard.tsx
  frontend/src/components/application/OpportunityCard.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: fix typos
  frontend/src/components/application/OpportunityCard.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix: broken story
  frontend/stories/components/application/OpportunityCard.stories.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: linting
  frontend/src/components/application/OpportunityCard.tsx
  frontend/stories/components/application/OpportunityCard.stories.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5041]: opportunity card creation (#5204)
  frontend/src/components/application/OpportunityCard.tsx
  frontend/src/components/opportunity/OpportunityAwardInfo.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/src/types/opportunity/opportunityResponseTypes.ts
  frontend/src/utils/formatCurrencyUtil.ts
  frontend/stories/components/application/OpportunityCard.stories.tsx
  frontend/stories/components/application/opportunity.mock.json
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Lint
  api/src/services/extracts_v1/get_extracts.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Got load opportunities to index tests to pass
  api/src/search/backend/load_opportunities_to_index.py
  api/tests/src/search/backend/test_load_opportunities_to_index.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Got create analytics db csvs tests to pass
  api/tests/src/task/analytics/test_create_analytics_db_csvs.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add db truncate and refactor query.
  api/src/legacy_soap_api/applicants/services/get_opportunity_list_response.py
  api/tests/src/legacy_soap_api/applicants/services/test_get_opportunity_list_response.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add test cases for soap client.
  api/tests/src/legacy_soap_api/applicants/services/test_get_opportunity_list_response.py
  api/tests/src/legacy_soap_api/soap_request_templates/get_opportunity_list_requests.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Remove unused factory.
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Clean up opportunity factories
  api/tests/src/legacy_soap_api/applicants/services/test_get_opportunity_list_response.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update DEVELOPMENT.md
  DEVELOPMENT.md
Owners: @mdragon

Update tests
  api/tests/src/api/competition_alpha/test_competition_route_get.py
  api/tests/src/api/extracts_v1/test_extract_schema.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

WIP
  api/src/form_schema/rule_processing/__init__.py
  api/src/form_schema/rule_processing/json_rule_context.py
  api/src/form_schema/rule_processing/json_rule_field_population.py
  api/src/form_schema/rule_processing/json_rule_processor.py
  api/src/form_schema/rule_processing/json_rule_util.py
  api/tests/src/form_schema/rule_processing/__init__.py
  api/tests/src/form_schema/rule_processing/test_json_rule_processor.py
  api/tests/src/form_schema/rule_processing/test_json_rule_util.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Remove manual sets to S3_ENDPOINT_URL, calls to monkeypatch_session
  api/tests/src/api/competition_alpha/test_competition_route_get.py
  api/tests/src/api/extracts_v1/test_extract_schema.py
  api/tests/src/api/extracts_v1/test_extracts_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update terraform lockfile for the nofos app
  infra/nofos/service/.terraform.lock.hcl
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

Update for new types
  frontend/src/types/applicationResponseTypes.ts
  frontend/src/types/competitionsResponseTypes.ts
  frontend/src/types/opportunity/opportunityResponseTypes.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Run a terraform init to set the environment for run-command
  bin/run-command
Owners: @acouch, @coilysiren, @mdragon
