Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @coilysiren, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @pcraig3

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @coilysiren @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 # everyone

/analytics/               @acouch @coilysiren @freddieyebra @widal001
/documentation/analytics/ @acouch @coilysiren @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @coilysiren @mdragon
/infra/nofos/              @acouch @coilysiren @mdragon @pcraig3
/documentation/infra/      @acouch @coilysiren @mdragon
/.github/                  @acouch @coilysiren @mdragon
/.github/workflows/*nofos* @acouch @coilysiren @mdragon @pcraig3
/bin/                      @acouch @coilysiren @mdragon

[Issue #5002] Translation for enum form strings and fix prototype (#5081)
  frontend/src/app/[locale]/formPrototype/[applicationId]/form/[formId]/page.tsx
  frontend/src/app/[locale]/formPrototype/[applicationId]/form/layout.tsx
  frontend/src/app/api/applications/start/route.ts
  frontend/src/components/applyForm/actions.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/widgets/SelectWidget.tsx
  frontend/src/components/workspace/CreateApplicationButton.tsx
  frontend/src/i18n/getMessagesSync.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
  frontend/tests/components/workspace/CreateApplicationButton.test.tsx
  frontend/tests/i18n/getSimpleTranslationsSync.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

initial commit
  frontend/src/components/workspace/DeleteSavedSearchModal.tsx
  frontend/src/components/workspace/SavedSearchesList.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Cleanup
  api/src/api/application_alpha/application_route.py
  api/src/api/application_alpha/application_schemas.py
  api/src/services/applications/get_application.py
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/db/models/factories.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

WIP
  api/src/api/application_alpha/application_schemas.py
  api/src/constants/lookup_constants.py
  api/src/services/applications/get_application_form.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add header inspection endpoint and mtls auth.
  api/src/legacy_soap_api/legacy_soap_api_routes.py
  infra/modules/service/load_balancer.tf
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @coilysiren

[Issue #5077] Add application attachment table
  api/src/db/migrations/versions/2025_05_27_application_attachment_table.py
  api/src/db/models/competition_models.py
  api/tests/src/db/models/factories.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

font size fix
  frontend/src/components/workspace/SavedSearchesList.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #4712] Clean up saved search page part 1 (#5168)
  frontend/src/components/workspace/DeleteSavedSearchModal.tsx
  frontend/src/components/workspace/SavedSearchesList.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #4862] Add a button that resets the feature flags cookie (#5158)
  frontend/src/app/[locale]/dev/feature-flags/page.tsx
  frontend/tests/pages/dev/feature-flags/page.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

WIP
  api/src/api/application_alpha/application_route.py
  api/src/api/application_alpha/application_schemas.py
  api/src/api/schemas/extension/schema_fields.py
  api/src/services/applications/create_application_attachment.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Fix type
  api/src/db/migrations/versions/2025_05_27_application_attachment_table.py
  api/src/db/models/competition_models.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #4393] Application Updates for migrating Opportunity tables to use UUID (#5118)
  api/openapi.generated.yml
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/api/users/user_routes.py
  api/src/api/users/user_schemas.py
  api/src/services/opportunities_v1/get_opportunity.py
  api/src/services/opportunities_v1/search_opportunities.py
  api/src/services/users/delete_saved_opportunity.py
  api/tests/src/adapters/db/type_decorators/test_postgres_type_decorators.py
  api/tests/src/api/competition_alpha/test_competition_route_get.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
  api/tests/src/api/users/test_user_delete_saved_opportunity.py
  api/tests/src/api/users/test_user_saved_opportunities_get.py
  api/tests/src/services/opportunities_v1/test_opportunity_version.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

rendering new page behind feature flag
  frontend/src/components/search/SearchVersionTwo.tsx
  frontend/src/services/featureFlags/withFeatureFlag.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add feature flag for filter drawer
  frontend/src/constants/defaultFeatureFlags.ts
  frontend/src/constants/environments.ts
  infra/frontend/app-config/env-config/environment_variables.tf
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc, @coilysiren, @mdragon

move filter button and saved search panel to new locations to allow full width search results
  frontend/src/components/drawer/DrawerControl.tsx
  frontend/src/components/drawer/DrawerUnit.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip drawer content
  frontend/src/components/drawer/Drawer.tsx
  frontend/src/components/drawer/DrawerWindow
  frontend/src/components/drawer/DrawerWrapper.tsx
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchDrawerFilters.tsx
  frontend/src/components/search/SearchFilterDrawer.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

drawer displays
  frontend/src/components/drawer/Drawer.tsx
  frontend/src/components/drawer/DrawerControl.tsx
  frontend/src/components/drawer/DrawerUnit.tsx
  frontend/src/components/drawer/DrawerWindow
  frontend/src/components/drawer/DrawerWrapper.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

more styling refinement
  frontend/src/components/drawer/DrawerUnit.tsx
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchDrawerFilters.tsx
  frontend/src/components/search/SearchFilterDrawer.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

styling fixes
  frontend/src/components/drawer/Drawer.tsx
  frontend/src/components/opportunity/OpportunityStatusWidget.tsx
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchDrawerFilters.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/components/search/SearchFilterDrawer.tsx
  frontend/src/components/search/SearchResults.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

some styling refinement and adding two more filters
  frontend/src/components/search/SearchDrawerFilters.tsx
  frontend/src/components/search/SearchFilterDrawer.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

more tests and some adjustments
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchDrawerFilters.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/tests/components/search/Filters/CheckboxFilter.test.tsx
  frontend/tests/components/search/SearchDrawerFilters.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterAccordion.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

update env var and feature flag name
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/constants/defaultFeatureFlags.ts
  infra/frontend/app-config/env-config/environment_variables.tf
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc, @coilysiren, @mdragon

test drawer components
  frontend/src/components/drawer/Drawer.tsx
  frontend/tests/components/drawer/Drawer.test.tsx
  frontend/tests/components/drawer/DrawerControl.test.tsx
  frontend/tests/components/drawer/DrawerUnit.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

cleanup
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/components/LoginButtonModal.tsx
  frontend/src/components/drawer/Drawer.tsx
  frontend/src/components/drawer/DrawerControl.tsx
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchDrawerFilters.tsx
  frontend/src/components/search/SearchFilterDrawer.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
  frontend/tests/components/search/SearchResults.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

refactor drawer components
  frontend/src/components/drawer/Drawer.tsx
  frontend/src/components/drawer/DrawerUnit.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

improve mobile styling
  frontend/src/components/drawer/Drawer.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

pass children instead of content prop to new accordion
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterAccordion.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

more tests and fixes
  frontend/tests/components/search/Filters/CheckboxFilter.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterAccordion.test.tsx
  frontend/tests/components/search/SearchPagination.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

minor cleanup
  frontend/src/components/drawer/Drawer.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip e2e failures
  frontend/next.config.js
  frontend/src/i18n/messages/en/index.ts
  frontend/tests/e2e/subscribe.spec.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update docs while running through the image update process
  documentation/infra/set-up-infrastructure-tools.md
  fluentbit/README.md
Owners: @acouch, @coilysiren, @mdragon

fix lint
  frontend/tests/e2e/subscribe.spec.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Include competitions in opportunity GET
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/services/opportunities_v1/get_opportunity.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_get.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Double the RAM of nofo app containers
  infra/nofos/app-config/env-config/variables.tf
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

Double the RAM of nofo app containers to 4096 MB (#5184)
  infra/nofos/app-config/env-config/variables.tf
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

Clean up references to AWS tokens
  documentation/infra/set-up-infrastructure-tools.md
Owners: @acouch, @coilysiren, @mdragon
