Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava

all the stuff from pairing. Need to cut back the header change and clean up some of the rest
  frontend/.pa11yci-desktop.json
  frontend/src/app/[locale]/saved-opportunities/page.tsx
  frontend/src/app/[locale]/saved-search-queries/page.tsx
  frontend/src/components/LoginButton.tsx
  frontend/src/components/search/SearchDrawerFilters.tsx
  frontend/src/components/search/SearchSortBy.tsx
  frontend/src/components/user/OpportunitySaveUserControl.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/styles/_uswds-theme.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

new tests
  frontend/src/components/ActivityMonitor.tsx
  frontend/tests/components/ActivityMonitor.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

revert testing related code
  frontend/src/constants/auth.ts
  infra/api/app-config/env-config/environment_variables.tf
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc, @mdragon, @joshtonava, @chouinar, @prasnava

expand comments
  frontend/src/components/ActivityMonitor.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

expand test
  frontend/tests/services/auth/useUser.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

expand test
  frontend/tests/services/auth/useUser.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

more comment fixes
  frontend/src/components/ActivityMonitor.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add logs and update token expiration timing for testing
  api/src/auth/api_jwt_auth.py
  frontend/src/components/ActivityMonitor.tsx
  frontend/src/constants/auth.ts
  frontend/src/services/auth/UserProvider.tsx
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

various styling and accessibility changes:
  frontend/src/app/[locale]/saved-opportunities/page.tsx
  frontend/src/app/[locale]/saved-search-queries/page.tsx
  frontend/src/components/search/SearchDrawerFilters.tsx
  frontend/src/components/search/SearchSortBy.tsx
  frontend/src/components/user/OpportunitySaveUserControl.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/styles/_uswds-theme.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5584] Rework seed script to add users and more flexibility
  api/tests/lib/seed_local_db.py
  api/tests/lib/seed_orgs_and_users.py
  api/tests/lib/test_seed_local_db.py
  api/tests/src/api/agencies_v1/test_agencies_routes.py
  api/tests/src/db/models/factories.py
  documentation/api/images/local-mock-oauth.png
  documentation/api/local-seed-data.md
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

delete migration file
  api/src/db/migrations/versions/2025_08_14_create_excluded_opportunity_review_table.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

new migration file
  api/src/db/migrations/versions/2025_08_15_create_excluded_opportunity_review_table.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update model and factory
  api/src/db/models/opportunity_models.py
  api/tests/src/db/models/factories.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5811] Sync suppressed emails task (#5864)
  api/local.env
  api/src/adapters/aws/sesv2_adapter.py
  api/src/task/notifications/config.py
  api/src/task/notifications/constants.py
  api/src/task/notifications/email_notification.py
  api/src/task/notifications/sync_suppressed_emails.py
  api/tests/src/adapters/aws/test_sesv2_adapter.py
  api/tests/src/task/notifications/test_closing_date_notification.py
  api/tests/src/task/notifications/test_opportunity_notification.py
  api/tests/src/task/notifications/test_search_notification.py
  api/tests/src/task/notifications/test_sync_suppressed_emails.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

refactor LoginLink
  frontend/src/components/Header.tsx
  frontend/src/components/LoginButton.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Initial attachment processing.
  api/src/legacy_soap_api/legacy_soap_api_routes.py
  api/src/legacy_soap_api/legacy_soap_api_schemas.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update snaps, fix linting
  frontend/src/components/LoginButton.tsx
  frontend/tests/components/__snapshots__/Header.test.tsx.snap
  frontend/tests/components/__snapshots__/LoginButton.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix tests
  frontend/src/app/[locale]/saved-opportunities/page.tsx
  frontend/src/app/[locale]/saved-search-queries/page.tsx
  frontend/tests/pages/saved-opportunities/__snapshots__/page.test.tsx.snap
  frontend/tests/pages/saved-opportunities/page.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

make select id more user friendly and hopefully fix e2e error
  frontend/src/components/search/SearchSortBy.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip
  api/src/task/opportunities/export_opportunity_data_task.py
  api/tests/src/db/models/factories.py
  api/tests/src/task/opportunities/test_export_opportunity_data_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update name
  api/tests/src/db/models/factories.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[issue#5579] Remove status column and insert statuses "inline" (#5948)
  frontend/src/components/application/ApplicationFormsTable.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue: #5950] Refactor the LoginLink to remove unnecessary button (#5953)
  frontend/src/components/Header.tsx
  frontend/src/components/LoginButton.tsx
  frontend/tests/components/__snapshots__/Header.test.tsx.snap
  frontend/tests/components/__snapshots__/LoginButton.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5584] Rework seed script to add users and more flexibility (#5952)
  api/tests/lib/seed_local_db.py
  api/tests/lib/seed_orgs_and_users.py
  api/tests/lib/test_seed_local_db.py
  api/tests/src/api/agencies_v1/test_agencies_routes.py
  api/tests/src/db/models/factories.py
  documentation/api/images/local-mock-oauth.png
  documentation/api/local-seed-data.md
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update query/test
  api/src/task/opportunities/export_opportunity_data_task.py
  api/tests/src/task/opportunities/test_export_opportunity_data_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

forms are loading, unclear if anything is improved
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/components/applyForm/actions.ts
  frontend/src/components/applyForm/utils.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

proof of concept for loading props and defs with allofs
  frontend/src/components/applyForm/utils.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update api/src/api/competition_alpha/competition_schema.py
  api/src/api/competition_alpha/competition_schema.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update api/src/api/application_alpha/application_schemas.py
  api/src/api/application_alpha/application_schemas.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update api/src/api/competition_alpha/competition_schema.py
  api/src/api/competition_alpha/competition_schema.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Format
  api/src/api/application_alpha/application_schemas.py
  api/src/api/competition_alpha/competition_schema.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

add allOfs back into sf-lll definition
  api/src/form_schema/forms/sflll.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

cleanup
  frontend/src/components/applyForm/actions.ts
  frontend/src/components/applyForm/utils.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add tests
  frontend/src/components/applyForm/utils.tsx
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

last commit.
  frontend/src/components/application/ApplicationFormsTable.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

update readme with dev application directions
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/README.md
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

rm mig
  api/src/db/migrations/versions/2025_08_15_create_excluded_opportunity_review_table.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

new mig update model
  api/src/db/models/opportunity_models.py
  api/tests/src/db/models/factories.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava
