Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @andycochran, @btabaska, @chouinar, @doug-s-nava, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @jakobpederson, @ErinPattisonNava, @sean-navapbc, @pcraig3

[Issue #6812] Create legacy_certificate table
  api/src/db/migrations/versions/2025_10_31_add_legacy_certificate.py
  api/src/db/models/user_models.py
  api/tests/src/db/models/factories.py
Owners: @chouinar, @mdragon, @joshtonava, @jakobpederson

Add ENABLE_XML_GENERATION feature flag
  api/src/api/feature_flags/feature_flag.py
  api/src/api/feature_flags/feature_flag_config.py
Owners: @chouinar, @mdragon, @joshtonava, @jakobpederson

[Issue #6496] Modify forms to use our shared schemas (#6859)
  api/src/form_schema/forms/budget_narrative_attachment.py
  api/src/form_schema/forms/project_narrative_attachment.py
  api/src/form_schema/forms/sf424.py
  api/src/form_schema/forms/sf424a.py
  api/src/form_schema/forms/sflll.py
Owners: @chouinar, @mdragon, @joshtonava, @jakobpederson

checkout branch before starting make commands instead of after
  .github/workflows/ci-openapi.yml
Owners: @mdragon, @joshtonava, @chouinar, @prasnava, @sean-navapbc

[Issue #6678] Modify the start application endpoint to allow an individual to start an application when only orgs are allowed (#6911)
  api/src/services/applications/application_validation.py
  api/src/services/applications/create_application.py
  api/src/validation/validation_constants.py
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/services/applications/test_application_validation.py
  api/tests/src/services/applications/test_create_application.py
Owners: @chouinar, @mdragon, @joshtonava, @jakobpederson

Update feature flag config property
  api/src/api/feature_flags/feature_flag.py
  api/src/task/apply/create_application_submission_task.py
Owners: @chouinar, @mdragon, @joshtonava, @jakobpederson

wip
  api/docker-python-openapi
Owners: @chouinar, @mdragon, @joshtonava, @jakobpederson

code review comment to remove empty tag
  frontend/src/app/[locale]/(base)/applications/page.tsx
Owners: @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc, @ErinPattisonNava

refactor(db/models.user_models): Update fields and factory
  api/src/db/migrations/versions/2025_10_31_add_legacy_certificate.py
  api/src/db/models/user_models.py
  api/tests/src/db/models/factories.py
Owners: @chouinar, @mdragon, @joshtonava, @jakobpederson

wip
  .github/workflows/ci-openapi.yml
Owners: @mdragon, @joshtonava, @chouinar, @prasnava, @sean-navapbc

wip
  .github/workflows/ci-openapi.yml
Owners: @mdragon, @joshtonava, @chouinar, @prasnava, @sean-navapbc

save branch name as env variable for committing changes
  .github/workflows/ci-openapi.yml
Owners: @mdragon, @joshtonava, @chouinar, @prasnava, @sean-navapbc

[Issue #6812] Create legacy_certificate table (#6918)
  api/src/db/migrations/versions/2025_10_31_add_legacy_certificate.py
  api/src/db/models/user_models.py
  api/tests/src/db/models/factories.py
Owners: @chouinar, @mdragon, @joshtonava, @jakobpederson

[Issue #6830]: Update ci-openapi.yml workflow to run in a separate container (#6897)
  .github/workflows/ci-openapi.yml
  api/Makefile
  api/docker-compose.yml
  api/docker-python-openapi
  api/openapi.generated.yml
  documentation/api/database/erds/api-schema.png
Owners: @mdragon, @joshtonava, @chouinar, @prasnava, @sean-navapbc, @jakobpederson

[Issue #6813] Add lookup user_type to User table
  api/src/constants/lookup_constants.py
  api/src/db/migrations/versions/2025_11_03_add_lk_user_type.py
  api/src/db/models/lookup_models.py
  api/src/db/models/user_models.py
  documentation/api/lookup-values.md
Owners: @chouinar, @mdragon, @joshtonava, @jakobpederson

feat(factories.py): Update UserFactory with user_type_id
  api/tests/src/db/models/factories.py
Owners: @chouinar, @mdragon, @joshtonava, @jakobpederson

[Issue #6903] Add CD511 and form building docs
  api/src/constants/lookup_constants.py
  api/src/db/models/lookup_models.py
  api/src/form_schema/forms/README.md
  api/src/form_schema/forms/__init__.py
  api/src/form_schema/forms/cd511.py
  api/src/form_schema/forms/sf424.py
  api/src/form_schema/forms/sf424b.py
  api/src/form_schema/forms/sflll.py
  api/src/form_schema/shared/common_shared.py
  api/tests/src/form_schema/forms/conftest.py
  api/tests/src/form_schema/forms/test_cd511.py
  api/tests/src/form_schema/shared/test_common_shared.py
Owners: @chouinar, @mdragon, @joshtonava, @jakobpederson

feat: adding the skeleton of the Applications page
  frontend/src/app/[locale]/(base)/api-dashboard/page.tsx
  frontend/src/app/[locale]/(base)/applications/page.tsx
  frontend/src/app/[locale]/(base)/saved-opportunities/page.tsx
  frontend/src/app/[locale]/(base)/saved-search-queries/page.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/tests/pages/applications/page.test.tsx
  frontend/tests/pages/saved-opportunities/__snapshots__/page.test.tsx.snap
  frontend/tests/utils/getRoutes.test.ts
Owners: @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc, @ErinPattisonNava

code review comment to remove empty tag
  frontend/src/app/[locale]/(base)/applications/page.tsx
Owners: @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc, @ErinPattisonNava

feat: adding the skeleton of the Applications page (#6907)
  frontend/src/app/[locale]/(base)/api-dashboard/page.tsx
  frontend/src/app/[locale]/(base)/applications/page.tsx
  frontend/src/app/[locale]/(base)/saved-opportunities/page.tsx
  frontend/src/app/[locale]/(base)/saved-search-queries/page.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/tests/pages/applications/page.test.tsx
  frontend/tests/pages/saved-opportunities/__snapshots__/page.test.tsx.snap
  frontend/tests/utils/getRoutes.test.ts
Owners: @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc, @ErinPattisonNava

fix(migrations): Handle sql injection security
  api/src/db/migrations/versions/2025_11_03_add_lk_user_type.py
Owners: @chouinar, @mdragon, @joshtonava, @jakobpederson

fix(models): Update default
  api/src/db/models/user_models.py
Owners: @chouinar, @mdragon, @joshtonava, @jakobpederson

update schema
  api/src/api/schemas/search_schema.py
  api/src/api/users/user_schemas.py
  api/src/search/search_models.py
Owners: @chouinar, @mdragon, @joshtonava, @jakobpederson

update types and test
  api/src/services/users/get_user_applications.py
  api/tests/src/api/users/test_user_application_routes.py
Owners: @chouinar, @mdragon, @joshtonava, @jakobpederson

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @andycochran @btabaska @chouinar @doug-s-nava @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava @jakobpederson @ErinPattisonNava # everyone

/analytics/               @widal001
/documentation/analytics/ @widal001

/api/               @chouinar @mdragon @joshtonava @jakobpederson
/documentation/api/ @chouinar @mdragon @joshtonava @jakobpederson

/frontend/               @andycochran @btabaska @doug-s-nava @myduong-navapbc @ErinPattisonNava
/documentation/frontend/ @andycochran @btabaska @doug-s-nava @myduong-navapbc @ErinPattisonNava

/infra/                    @mdragon @joshtonava @chouinar @prasnava @sean-navapbc
/infra/nofos/              @mdragon @pcraig3 @joshtonava @chouinar @prasnava 
/documentation/infra/      @mdragon @joshtonava @chouinar @prasnava @sean-navapbc
/.github/                  @mdragon @joshtonava @chouinar @prasnava @sean-navapbc
/.github/workflows/*nofos* @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @mdragon @joshtonava @chouinar @prasnava @sean-navapbc
