Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

Add a bit more logging
  api/src/legacy_soap_api/legacy_soap_api_auth.py
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/src/legacy_soap_api/legacy_soap_api_constants.py
  api/src/legacy_soap_api/legacy_soap_api_proxy.py
  api/src/legacy_soap_api/legacy_soap_api_routes.py
  api/src/legacy_soap_api/simpler_soap_api.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Readd accidentally deleted code
  api/src/legacy_soap_api/legacy_soap_api_proxy.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

chore: pr request to simplify the upload useeffect
  frontend/src/components/application/attachments/AttachmentsCard.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Works, but all the tests fail for now
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Layout.tsx
  frontend/src/hooks/useFeatureFlags.ts
  frontend/src/services/auth/UserProvider.tsx
  frontend/src/services/featureFlags/FeatureFlagManager.ts
  frontend/src/services/featureFlags/featureFlagHelpers.ts
  frontend/src/types/authTypes.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix broken tests
  frontend/src/services/featureFlags/FeatureFlagManager.ts
  frontend/tests/components/search/SearchBar.test.tsx
  frontend/tests/hooks/useFeatureFlags.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Remove the polling for cookies, pop a warning on the FF page when the user makes a change to prompt them to refresh
  frontend/src/components/Layout.tsx
  frontend/src/components/dev/FeatureFlagsTable.tsx
  frontend/src/services/auth/UserProvider.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Some feedback from Andy and Crystabel
  frontend/src/app/[locale]/dev/feature-flags/page.tsx
  frontend/src/components/dev/FeatureFlagsTable.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

This fixes some test issues, creates more
  frontend/tests/hooks/useFeatureFlags.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

lint
  frontend/tests/hooks/useFeatureFlags.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

PR feedback
  frontend/src/components/ClientMaintenanceCheck.tsx
  frontend/src/components/dev/FeatureFlagsTable.tsx
  frontend/src/hooks/useFeatureFlags.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Broken npm build
  frontend/src/components/ClientMaintenanceCheck.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Add default feature flags to let lint pass
  frontend/tests/services/auth/useUser.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Make the maintenance page aware of the "major feature" flags that might make us be in maintenance mode and if those are not set, redirect the user to homepage as we're no longer in maintenance
  frontend/src/app/[locale]/maintenance/page.tsx
  frontend/src/components/ClientMaintenanceCheck.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Clean up lint issues
  frontend/src/components/ClientMaintenanceCheck.tsx
  frontend/tests/components/search/SearchBar.test.tsx
  frontend/tests/hooks/useFeatureFlags.test.ts
  frontend/tests/pages/maintenance/page.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Get tests caught up with implementation
  frontend/src/app/[locale]/dev/feature-flags/page.tsx
  frontend/tests/pages/dev/feature-flags/page.test.tsx
  frontend/tests/services/featureFlags/FeatureFlagManager.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Remove consoles
  frontend/src/components/ClientMaintenanceCheck.tsx
  frontend/src/services/auth/UserProvider.tsx
  frontend/src/services/featureFlags/FeatureFlagManager.ts
  frontend/tests/services/featureFlags/FeatureFlagManager.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Get things working while incorporating Env Var Flags
  frontend/src/components/ClientMaintenanceCheck.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/dev/FeatureFlagsTable.tsx
  frontend/src/constants/environments.ts
  frontend/src/hooks/useFeatureFlags.ts
  frontend/src/services/auth/UserProvider.tsx
  frontend/src/services/featureFlags/FeatureFlagManager.ts
  frontend/src/services/fetch/fetchers/fetchers.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Clean up from PR feedback. Add some tests and rename others to better represent the test
  frontend/src/components/Header.tsx
  frontend/src/hooks/useFeatureFlags.ts
  frontend/src/services/featureFlags/FeatureFlagManager.ts
  frontend/src/utils/testing/providerMocks.tsx
  frontend/tests/pages/maintenance/page.test.tsx
  frontend/tests/services/featureFlags/FeatureFlagManager.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: PR comment 422 from backend
  frontend/src/app/api/applications/[applicationId]/attachments/[applicationAttachmentId]/handler.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

update metrics
  api/src/task/notifications/base_notification.py
  api/src/task/notifications/closing_date_notification.py
  api/src/task/notifications/constants.py
  api/src/task/notifications/opportunity_notifcation.py
  api/src/task/notifications/search_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

chore: addresses PR comment, not using interface. dupe definition
  frontend/src/components/application/attachments/actions.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: addresses PR comment, rename function name to be more precise
  frontend/src/components/application/attachments/AttachmentsCard.tsx
  frontend/src/components/application/attachments/AttachmentsCardTable.tsx
  frontend/src/components/application/attachments/DeleteAttachmentButton.tsx
  frontend/src/components/application/attachments/DeleteAttachmentModal.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: addresses PR comment, simplify component by removing props and using values inside component
  frontend/src/components/application/attachments/AttachmentsCard.tsx
  frontend/src/components/application/attachments/DeleteAttachmentModal.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: addresses PR comments, adds new static text to messages
  frontend/src/components/application/attachments/DeleteAttachmentModal.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

rm generate notifications and related
  api/src/task/__init__.py
  api/src/task/notifications/generate_notifications.py
  api/tests/src/task/notifications/test_generate_notifications.py
  api/tests/src/task/notifications/test_search_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

chore: format files
  frontend/src/components/TableHeader.tsx
  frontend/src/components/application/attachments/AttachmentsCard.tsx
  frontend/src/components/application/attachments/AttachmentsCardTable.tsx
  frontend/src/components/application/attachments/AttachmentsCardTableHeaders.tsx
  frontend/src/components/application/attachments/DeleteAttachmentButton.tsx
  frontend/src/components/application/attachments/DeleteAttachmentModal.tsx
  frontend/src/components/application/attachments/actions.ts
  frontend/src/constants/attachment/deleteUploadActionsInitialState.ts
  frontend/src/constants/attachment/uploadActionsInitialState.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/types/attachment/attachmentSortKeyType.ts
  frontend/src/types/sortDirectionType.ts
  frontend/src/utils/attachment/createTempAttachment.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: updates pathing to message
  frontend/src/components/application/attachments/AttachmentsCardTableRowDeleting.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5819] Cleanup email notifications (#5820)
  api/src/task/__init__.py
  api/src/task/notifications/base_notification.py
  api/src/task/notifications/closing_date_notification.py
  api/src/task/notifications/constants.py
  api/src/task/notifications/generate_notifications.py
  api/src/task/notifications/opportunity_notifcation.py
  api/src/task/notifications/search_notification.py
  api/tests/src/task/notifications/test_generate_notifications.py
  api/tests/src/task/notifications/test_search_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

GITBOOK-225: No subject
  documentation/wiki/product/decisions/adr/use-condens.io-+-public-wiki-for-design-research-repository.md
Owners: @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @mdragon, @myduong-navapbc, @widal001, @prasnava

Make the application_user table have a dedicated primary key ID like the organization_user table
  api/src/db/migrations/versions/2025_07_29_drop_application_user_table.py
  api/src/db/migrations/versions/2025_07_29_recreate_application_user_table_with_.py
  api/src/db/models/user_models.py
  api/tests/src/db/models/factories.py
  api/tests/src/db/models/test_application_user.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Format
  api/tests/src/db/models/test_application_user.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Unticketed] Ignore vulnerability in tarfile package we don't use
  .grype.yml
Owners: @mdragon

[Issue #5805] Make the application_user table have a dedicated primary key ID (#5822)
  api/src/db/migrations/versions/2025_07_29_drop_application_user_table.py
  api/src/db/migrations/versions/2025_07_29_recreate_application_user_table_with_.py
  api/src/db/models/user_models.py
  api/tests/src/db/models/factories.py
  api/tests/src/db/models/test_application_user.py
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add a test for checking some log stuff
  api/src/legacy_soap_api/legacy_soap_api_proxy.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Remove print
  api/src/legacy_soap_api/legacy_soap_api_proxy.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

model
  api/src/db/models/user_models.py
  api/tests/src/db/models/factories.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

migration file
  api/src/db/migrations/versions/2025_07_30_add_suppressed_email_table.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Unticketed] Ignore vulnerability in tarfile package we don't use (#5823)
  .grype.yml
Owners: @mdragon

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava
