Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

Update to not call it sidecar, use docraptor lib, update clients
  api/local.env
  api/poetry.lock
  api/pyproject.toml
  api/src/services/pdf_generation/clients.py
  api/src/services/pdf_generation/config.py
  api/src/services/pdf_generation/service.py
  api/tests/src/services/pdf_generation/test_clients.py
  api/tests/src/services/pdf_generation/test_service.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5798] Add service to rename API keys from logged in user in DB (#5983)
  api/openapi.generated.yml
  api/src/api/users/user_routes.py
  api/src/api/users/user_schemas.py
  api/src/services/users/rename_api_key.py
  api/tests/src/api/users/test_user_rename_api_key.py
  api/tests/src/services/users/test_rename_api_key.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5140] Update the API schema for application/competition endpoints to have descriptions/examples (#5945)
  api/openapi.generated.yml
  api/src/api/application_alpha/application_schemas.py
  api/src/api/competition_alpha/competition_schema.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5993] Skip non-required forms that aren't included in submission (#6005)
  api/src/task/apply/create_application_submission_task.py
  api/tests/src/task/apply/test_create_application_submission_task.py
  api/tests/src/task/sam_extracts/test_create_orgs_from_sam_entity.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

turn off
  api/src/task/notifications/config.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

wip
  infra/analytics/metabase/image_tag.tf
  infra/analytics/metabase/main.tf
  infra/analytics/service/api_analytics_bucket.tf
  infra/analytics/service/main.tf
  infra/analytics/service/notifications.tf
  infra/api/service/main.tf
  infra/api/service/notifications.tf
  infra/frontend/service/main.tf
  infra/networks/outputs.tf
  infra/nofos/service/image_tag.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava, @pcraig3

wip
  infra/api/database/main.tf
  infra/frontend/service/variables.tf
  infra/modules/service/cdn.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

wip
  infra/api/service/main.tf
  infra/api/service/notifications.tf
  infra/frontend/service/image_tag.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

wip
  .github/workflows/cd-metabase.yml
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

Update api/src/services/pdf_generation/clients.py
  api/src/services/pdf_generation/clients.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Remove explicit imports
  api/pyproject.toml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update lock file
  api/poetry.lock
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

correctly label fields
  frontend/src/components/application/IncludeFormInSubmissionRadio.tsx
  frontend/tests/components/application/__snapshots__/ApplicationFormsTable.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

set syns to false in dev and prod
  api/src/task/notifications/config.py
  infra/api/app-config/dev.tf
  infra/api/app-config/prod.tf
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @prasnava

fmt
  infra/api/app-config/dev.tf
  infra/api/app-config/prod.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

fmt
  infra/api/app-config/dev.tf
  infra/api/app-config/prod.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

rm dev
  infra/api/app-config/dev.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

Bug/Turn off email notification sync (#6012)
  infra/api/app-config/dev.tf
  infra/api/app-config/prod.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

initial commit
  api/local.env
  api/src/adapters/aws/README_apigateway.md
  api/src/adapters/aws/__init__.py
  api/src/adapters/aws/apigateway_adapter.py
  api/tests/src/adapters/aws/test_apigateway_adapter.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5919] Search agency review status (#5989)
  api/src/search/backend/load_agencies_to_index.py
  api/src/services/agencies_v1/get_agencies.py
  api/tests/src/search/backend/test_load_agencies_to_index.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5918] Search Filtering - Update Opportunities search Index to use review status (#5988)
  api/src/search/backend/load_opportunities_to_index.py
  api/tests/src/search/backend/test_load_opportunities_to_index.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

GITBOOK-228: ADR- PB/Co-planning Pilot
  documentation/wiki/SUMMARY.md
  documentation/wiki/product/decisions/adr/README.md
  documentation/wiki/product/decisions/adr/participatory-budgeting-co-planning-pilot-tool.md
Owners: @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @mdragon, @myduong-navapbc, @widal001, @prasnava

GITBOOK-230: tiny adr update
  documentation/wiki/product/decisions/adr/participatory-budgeting-co-planning-pilot-tool.md
Owners: @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @mdragon, @myduong-navapbc, @widal001, @prasnava

[Issue #5958] Sort the application forms when fetching an application
  api/src/services/applications/get_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5055] Call the "Application render" endpoint and send it to Docraptor for "PDFing" (#5999)
  api/local.env
  api/poetry.lock
  api/pyproject.toml
  api/src/services/pdf_generation/__init__.py
  api/src/services/pdf_generation/clients.py
  api/src/services/pdf_generation/config.py
  api/src/services/pdf_generation/models.py
  api/src/services/pdf_generation/service.py
  api/tests/src/services/pdf_generation/__init__.py
  api/tests/src/services/pdf_generation/test_clients.py
  api/tests/src/services/pdf_generation/test_service.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

feat(sf424a): adds budget form sections
  api/src/form_schema/forms/sf424a.py
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/validate.ts
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionB.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionC.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionD.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionE.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionF.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

[Issue #6016] fix conditional nested requires (#6001)
  frontend/src/components/applyForm/utils.tsx
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

clean up comments
  frontend/src/app/[locale]/(base)/layout.tsx
  frontend/src/app/[locale]/(print)/layout.tsx
  frontend/src/components/RootLayoutWrapper.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #6002] fix issues with inclusion radio for multiple optional forms (#6014)
  frontend/src/components/application/IncludeFormInSubmissionRadio.tsx
  frontend/tests/components/application/__snapshots__/ApplicationFormsTable.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Fix var / format
  api/src/task/apply/create_application_submission_task.py
  api/tests/src/task/apply/test_create_application_submission_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Remove failure case
  api/src/task/apply/create_application_submission_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

add mixing and legacy table wrapper
  api/src/db/models/foreign/opportunity.py
  api/src/db/models/legacy_mixin/opportunity_mixin.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

remove relation
  api/src/db/models/foreign/opportunity.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

rm primary key decl
  api/src/db/models/legacy_mixin/opportunity_mixin.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

add prim key
  api/src/db/models/legacy_mixin/opportunity_mixin.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update api/src/task/apply/create_application_submission_task.py
  api/src/task/apply/create_application_submission_task.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fix: collapsing table rows
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

implement common_grants routes
  api/poetry.lock
  api/pyproject.toml
  api/src/api/common_grants/__init__.py
  api/src/api/common_grants/common_grants_blueprint.py
  api/src/api/common_grants/common_grants_routes.py
  api/src/app.py
  api/src/services/common_grants/__init__.py
  api/src/services/common_grants/opportunity_service.py
  api/src/services/common_grants/transformation.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

add tests
  api/tests/src/api/common_grants/__init__.py
  api/tests/src/api/common_grants/test_opportunities_routes.py
  api/tests/src/services/common_grants/__init__.py
  api/tests/src/services/common_grants/test_opportunity_service.py
  api/tests/src/services/common_grants/test_transformation.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

add documentation
  api/COMMON_GRANTS_INTEGRATION.md
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava
