Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

update saved opportunities page metadata description
  frontend/src/app/[locale]/saved-opportunities/layout.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

task
  api/src/adapters/aws/ses_adapter.py
  api/src/task/notifications/email_notification.py
  api/src/task/notifications/sync_suppressed_emails.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update the footer
  frontend/src/components/Footer.tsx
  frontend/src/constants/routes.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/tests/components/Footer.test.tsx
  frontend/tests/components/__snapshots__/Footer.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

remove unused
  frontend/src/services/fetch/fetchers/clientCompetitionsFetcher.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

update
  api/src/adapters/aws/sesv2_adapter.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

lint fix
  frontend/tests/components/Footer.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

added ff to tf
  infra/frontend/app-config/env-config/environment_variables.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

update request
  api/src/adapters/aws/sesv2_adapter.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Started failing after #5408 because that updated checkov
  infra/modules/service/load_balancer.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

add and|or operator to frontend side saved searches
  frontend/src/i18n/messages/en/index.ts
  frontend/src/types/search/searchQueryTypes.ts
  frontend/src/types/search/searchRequestTypes.ts
  frontend/src/utils/search/searchFormatUtils.ts
  frontend/src/utils/testing/fixtures.ts
  frontend/tests/components/workspace/SavedSearchesList.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update bugdet form
  frontend/src/components/applyForm/ApplyForm.tsx
  frontend/src/components/applyForm/ApplyFormNav.tsx
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/widgets/TextWidget.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionA.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Unticketed] Add checkov skip for something that doesn't apply to us (#5844)
  infra/modules/service/load_balancer.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

Remove uneeded component
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionA.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionB.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aTotalBudgetSummary.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Removes test file
  frontend/src/components/applyForm/widgets/desired-data.json
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Run post populate
  api/src/services/applications/application_validation.py
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/services/applications/test_application_validation.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Remove lint ignore now that this file passes
  analytics/src/analytics/integrations/slack.py
Owners: @acouch, @freddieyebra, @widal001

[Issue #5815] Mock sesv2 client (#5829)
  api/src/adapters/aws/sesv2_adapter.py
  api/tests/src/adapters/aws/test_sesv2_adapter.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Delete old commented out code
  frontend/tests/hooks/useFeatureFlags.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5403] application start modal by competition type (#5714)
  api/tests/lib/seed_local_db.py
  frontend/src/app/api/applications/start/handler.ts
  frontend/src/app/api/competitions/[competitionId]/handler.ts
  frontend/src/app/api/competitions/[competitionId]/route.ts
  frontend/src/app/api/user/organizations/handler.ts
  frontend/src/app/api/user/organizations/route.ts
  frontend/src/components/user/OpportunityCompetitionStart.tsx
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/components/workspace/StartApplicationModal/IneligibleStartApplicationModal.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationDescription.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationInputs.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModal.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModalControl.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/services/fetch/endpointConfigs.ts
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
  frontend/src/services/fetch/fetchers/clientApplicationFetcher.ts
  frontend/src/services/fetch/fetchers/competitionsFetcher.ts
  frontend/src/services/fetch/fetchers/fetchers.ts
  frontend/src/types/UserTypes.ts
  frontend/src/types/competitionsResponseTypes.ts
  frontend/src/utils/testing/fixtures.ts
  frontend/tests/api/competitions/competitionId/route.test.ts
  frontend/tests/api/user/organizations/route.test.ts
  frontend/tests/components/workspace/StartApplicationModal.test.tsx
  frontend/tests/components/workspace/StartApplicationModal/StartApplicationModal.test.tsx
  frontend/tests/components/workspace/StartApplicationModal/StartApplicationModalControl.test.tsx
  frontend/tests/components/workspace/StartApplicationModal/__snapshots__/StartApplicationModal.test.tsx.snap
  frontend/tests/components/workspace/StartApplicationModal/__snapshots__/StartApplicationModalControl.test.tsx.snap
  frontend/tests/components/workspace/__snapshots__/StartApplicationModal.test.tsx.snap
  frontend/tests/services/fetch/fetchers/competitionsFetcher.test.ts
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

Update api/src/services/applications/application_validation.py
  api/src/services/applications/application_validation.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Remove unused consts
  api/tests/src/api/applications/test_application_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update test
  api/tests/src/task/notifications/test_closing_date_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update test
  api/tests/src/task/notifications/test_closing_date_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update tests
  api/src/form_schema/forms/sf424a.py
  frontend/src/components/applyForm/README.md
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionA.tsx
  frontend/tests/components/applyForm/widgets/budget/Budget424aSectionA.test.tsx
  frontend/tests/components/applyForm/widgets/budget/budget424a.mock.json
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

[Issue #5786] feature flag for developer portal (#5830)
  frontend/src/app/[locale]/developer/page.tsx
  frontend/src/components/user/UserControl.tsx
  frontend/src/constants/defaultFeatureFlags.ts
  frontend/src/constants/environments.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/tests/utils/getRoutes.test.ts
  infra/frontend/app-config/env-config/environment_variables.tf
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc, @mdragon, @joshtonava, @chouinar, @prasnava

GITBOOK-227: Adding a reference article on sentence case
  documentation/wiki/design-and-research/content-guidelines/editoral-style.md
Owners: @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @mdragon, @myduong-navapbc, @widal001, @prasnava

Update tests
  api/src/form_schema/forms/sf424a.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5489] Run post-population during submit flow (#5846)
  api/src/services/applications/application_validation.py
  api/tests/src/services/applications/test_application_validation.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #4994] Better handling of Feature Flag Defaults (#5269)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/[locale]/dev/feature-flags/page.tsx
  frontend/src/app/[locale]/maintenance/page.tsx
  frontend/src/components/ClientMaintenanceCheck.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/dev/FeatureFlagsTable.tsx
  frontend/src/constants/environments.ts
  frontend/src/hooks/useFeatureFlags.ts
  frontend/src/services/auth/UserProvider.tsx
  frontend/src/services/featureFlags/FeatureFlagManager.ts
  frontend/src/services/featureFlags/featureFlagHelpers.ts
  frontend/src/services/fetch/fetchers/fetchers.ts
  frontend/src/types/authTypes.ts
  frontend/src/utils/testing/providerMocks.tsx
  frontend/tests/components/search/SearchBar.test.tsx
  frontend/tests/hooks/useFeatureFlags.test.ts
  frontend/tests/pages/dev/feature-flags/page.test.tsx
  frontend/tests/pages/maintenance/page.test.tsx
  frontend/tests/services/auth/useUser.test.tsx
  frontend/tests/services/featureFlags/FeatureFlagManager.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Fixes from deploy and testing
  infra/accounts/api-gateway.tf
  infra/modules/service/api_gateway.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

[Issue #5314] Adjust sam.gov extract parsing based on testing
  api/src/task/sam_extracts/process_sam_extracts.py
  api/tests/src/task/sam_extracts/test_process_sam_extracts.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add a comment
  api/src/task/sam_extracts/process_sam_extracts.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issues #5574] add budget form (#5717)
  api/src/form_schema/forms/sf424a.py
  api/src/form_schema/forms/sflll.py
  frontend/package-lock.json
  frontend/src/components/applyForm/ApplyForm.tsx
  frontend/src/components/applyForm/ApplyFormNav.tsx
  frontend/src/components/applyForm/README.md
  frontend/src/components/applyForm/actions.ts
  frontend/src/components/applyForm/formDataToJson.ts
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/validate.ts
  frontend/src/components/applyForm/widgets/CheckboxWidget.tsx
  frontend/src/components/applyForm/widgets/RadioWidget.tsx
  frontend/src/components/applyForm/widgets/SelectWidget.tsx
  frontend/src/components/applyForm/widgets/TextAreaWidget.tsx
  frontend/src/components/applyForm/widgets/TextWidget.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionA.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionB.tsx
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/tests/components/applyForm/utils.test.tsx
  frontend/tests/components/applyForm/validate.test.ts
  frontend/tests/components/applyForm/widgets/budget/Budget424aSectionA.test.tsx
  frontend/tests/components/applyForm/widgets/budget/budget424a.mock.json
  frontend/tests/utils/formDataToJson.test.ts
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

wip
  infra/analytics/database/.terraform.lock.hcl
  infra/analytics/database/training.s3.tfbackend
  infra/analytics/metabase/image_tag.tf
  infra/analytics/metabase/main.tf
  infra/analytics/metabase/training.s3.tfbackend
  infra/analytics/service/api_analytics_bucket.tf
  infra/analytics/service/image_tag.tf
  infra/analytics/service/main.tf
  infra/analytics/service/notifications.tf
  infra/analytics/service/training.s3.tfbackend
  infra/api/service/main.tf
  infra/api/service/notifications.tf
  infra/api/service/training.s3.tfbackend
  infra/api/service/variables.tf
  infra/nofos/app-config/main.tf
  infra/nofos/app-config/training.tf
  infra/nofos/database/training.s3.tfbackend
  infra/nofos/service/image_tag.tf
  infra/nofos/service/training.s3.tfbackend
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava, @pcraig3

Disable caching
  infra/modules/service/api_gateway.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

Pre-population for pilot forms
  api/src/services/applications/application_validation.py
  api/src/services/applications/create_application.py
  api/tests/src/api/applications/test_application_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update
  api/src/services/applications/application_validation.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Bug/email notification test (#5849)
  api/tests/src/task/notifications/test_closing_date_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Drop redirect when not in maintenance mode for now
  frontend/src/components/ClientMaintenanceCheck.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Drop redirect when not in maintenance mode for now
  frontend/src/components/ClientMaintenanceCheck.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava
