Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

chore: merges with main
  api/src/form_schema/forms/sf424.py
  api/src/form_schema/forms/sf424a.py
  frontend/next.config.js
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/components/applyForm/ApplyForm.tsx
  frontend/src/components/applyForm/AttachmentContext.tsx
  frontend/src/components/applyForm/ClientApplyForm.tsx
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/utils/getLabelComponent.tsx
  frontend/src/components/applyForm/validate.ts
  frontend/src/components/applyForm/widgets/AttachmentUploadWidget.tsx
  frontend/src/components/applyForm/widgets/FieldLabel.tsx
  frontend/src/components/applyForm/widgets/FieldLabelWithTooltipWidget.tsx
  frontend/src/components/applyForm/widgets/MultipleAttachmentUploadWidget.tsx
  frontend/src/components/applyForm/widgets/RadioWidget.tsx
  frontend/src/components/applyForm/widgets/SF424A/SectionA.tsx
  frontend/src/components/applyForm/widgets/SelectWidget.tsx
  frontend/src/components/applyForm/widgets/TextAreaWidget.tsx
  frontend/src/components/applyForm/widgets/TextWidget.tsx
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

Skip redirect associated test
  frontend/tests/pages/maintenance/page.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Skip call to Maintenance Check
  frontend/src/app/[locale]/maintenance/page.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update api/src/services/applications/application_validation.py
  api/src/services/applications/application_validation.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update api/src/services/applications/application_validation.py
  api/src/services/applications/application_validation.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update api/tests/src/api/applications/test_application_routes.py
  api/tests/src/api/applications/test_application_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #4994] Drop redirect when not in maintenance mode for now (#5856)
  frontend/src/app/[locale]/maintenance/page.tsx
  frontend/src/components/ClientMaintenanceCheck.tsx
  frontend/tests/pages/maintenance/page.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5314] Adjust sam.gov extract parsing based on testing (#5854)
  api/src/task/sam_extracts/process_sam_extracts.py
  api/tests/src/task/sam_extracts/test_process_sam_extracts.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Remove pathing restriction
  infra/modules/service/api_gateway.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

Tweak throttle and add quota to public usage
  infra/modules/service/api_gateway.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

Format
  api/tests/src/api/applications/test_application_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Swap to use AWS ALB DNS
  infra/modules/service/api_gateway.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

Linting
  infra/modules/service/api_gateway.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

feat(forms): sf-424 standard form
  api/src/form_schema/forms/sf424.py
  frontend/package-lock.json
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/app/api/applications/[applicationId]/attachments/handler.ts
  frontend/src/app/api/applications/[applicationId]/attachments/route.ts
  frontend/src/components/applyForm/ApplyForm.tsx
  frontend/src/components/applyForm/AttachmentContext.tsx
  frontend/src/components/applyForm/ClientApplyForm.tsx
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/validate.ts
  frontend/src/components/applyForm/widgets/AttachmentUploadWidget.tsx
  frontend/src/components/applyForm/widgets/CheckboxWidget.tsx
  frontend/src/components/applyForm/widgets/FieldLabel.tsx
  frontend/src/components/applyForm/widgets/MultipleAttachmentUploadWidget.tsx
  frontend/src/components/applyForm/widgets/RadioWidget.tsx
  frontend/src/components/applyForm/widgets/SelectWidget.tsx
  frontend/src/components/applyForm/widgets/TextAreaWidget.tsx
  frontend/src/components/applyForm/widgets/TextWidget.tsx
  frontend/src/services/attachments/upload.ts
  frontend/tests/components/applyForm/utils.test.tsx
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

Update types and add fetcher and optional form message.
  frontend/src/i18n/messages/en/index.ts
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
  frontend/src/types/applicationResponseTypes.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Use VPC link
  infra/modules/service/api_gateway.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

[Issue #5664] Pre-population for pilot forms (#5855)
  api/src/services/applications/application_validation.py
  api/src/services/applications/create_application.py
  api/tests/src/api/applications/test_application_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

initial commit
  frontend/src/app/[locale]/developer/page.tsx
  frontend/src/components/developer/DeveloperSections.tsx
  frontend/src/components/developer/sections/DeveloperHeader.tsx
  frontend/src/components/developer/sections/DeveloperInfo.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/tests/components/developer/sections/DeveloperHeader.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: linting and fixes to tests
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/components/applyForm/ApplyForm.tsx
  frontend/src/components/applyForm/AttachmentContext.tsx
  frontend/src/components/applyForm/ClientApplyForm.tsx
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/widgets/AttachmentUploadWidget.tsx
  frontend/src/components/applyForm/widgets/CheckboxWidget.tsx
  frontend/src/components/applyForm/widgets/FieldLabel.tsx
  frontend/src/components/applyForm/widgets/MultipleAttachmentUploadWidget.tsx
  frontend/src/components/applyForm/widgets/RadioWidget.tsx
  frontend/src/services/attachments/upload.ts
  frontend/src/types/attachmentTypes.ts
  frontend/tests/components/applyForm/ApplyForm.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

cleanup
  api/src/adapters/aws/ses_adapter.py
  api/src/adapters/aws/sesv2_adapter.py
  api/src/task/notifications/email_notification.py
  api/src/task/notifications/sync_suppressed_emails.py
  api/tests/src/task/notifications/test_sync_suppressed_emails.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update name
  api/src/adapters/aws/sesv2_adapter.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

delete
  api/tests/src/adapters/aws/test_ses_adapter.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update api for application forms.
  frontend/src/app/api/applications/[applicationId]/forms/[formId]/handler.ts
  frontend/src/app/api/applications/[applicationId]/forms/[formId]/route.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: adds the attachment upload delete functionality
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/widgets/AttachmentUploadWidget.tsx
  frontend/src/components/applyForm/widgets/MultipleAttachmentUploadWidget.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: dedupe types
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update message
  frontend/src/components/application/ApplicationFormsTable.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: format
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/tests/components/applyForm/ApplyForm.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: fixes build errors
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/utils/formHasAttachment.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: formats sf424 file
  api/src/form_schema/forms/sf424.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5591] add and|or operator to frontend side saved searches (#5845)
  frontend/src/i18n/messages/en/index.ts
  frontend/src/types/search/searchQueryTypes.ts
  frontend/src/types/search/searchRequestTypes.ts
  frontend/src/utils/search/searchFormatUtils.ts
  frontend/src/utils/testing/fixtures.ts
  frontend/tests/components/workspace/SavedSearchesList.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #3797] update saved opportunities page metadata description (#5841)
  frontend/src/app/[locale]/saved-opportunities/layout.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

initial commit
  api/docs/api_keys_schema.md
  api/src/db/migrations/versions/2025_08_06_add_user_api_key_table.py
  api/src/db/models/user_models.py
  api/tests/src/db/models/factories.py
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

commit
  api/docs/api_keys_schema.md
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update api/src/db/models/user_models.py
  api/src/db/models/user_models.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

merging changes based on feedback
  api/docs/api_keys_schema.md
  api/src/db/migrations/versions/2025_08_06_add_user_api_key_table.py
  api/src/db/models/user_models.py
  api/tests/src/db/models/factories.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[#5314] Commit sam.gov processing more frequently
  api/src/task/sam_extracts/process_sam_extracts.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[#5314] Commit sam.gov processing more frequently (#5867)
  api/src/task/sam_extracts/process_sam_extracts.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Unticketed] Fix signature field to be post populated, not pre
  api/src/form_schema/forms/sf424.py
  api/src/form_schema/forms/sf424b.py
  api/src/form_schema/forms/sflll.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Unticketed] Fix signature field to be post populated, not pre (#5870)
  api/src/form_schema/forms/sf424.py
  api/src/form_schema/forms/sf424b.py
  api/src/form_schema/forms/sflll.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava
