Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @coilysiren, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @pcraig3

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @coilysiren @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 # everyone

/analytics/               @acouch @coilysiren @freddieyebra @widal001
/documentation/analytics/ @acouch @coilysiren @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @coilysiren @mdragon
/infra/nofos/              @acouch @coilysiren @mdragon @pcraig3
/documentation/infra/      @acouch @coilysiren @mdragon
/.github/                  @acouch @coilysiren @mdragon
/.github/workflows/*nofos* @acouch @coilysiren @mdragon @pcraig3
/bin/                      @acouch @coilysiren @mdragon

Remove test val.
  api/src/legacy_soap_api/applicants/services/get_opportunity_list_response.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Lint
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5077] Add application attachment table (#5175)
  api/src/db/migrations/versions/2025_05_27_application_attachment_table.py
  api/src/db/models/competition_models.py
  api/tests/src/db/models/factories.py
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Move import.
  api/src/legacy_soap_api/legacy_soap_api_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fix: alternative generic solution to weird column clipping
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

refactor: removes unused code
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Using top new opportunities instead of new opportunities
  api/src/task/notifications/search_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Fixed typo
  api/src/task/notifications/search_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5078] Create an endpoint for adding an attachment to an application (#5191)
  api/openapi.generated.yml
  api/src/api/application_alpha/application_route.py
  api/src/api/application_alpha/application_schemas.py
  api/src/api/response.py
  api/src/api/schemas/extension/schema_fields.py
  api/src/services/applications/create_application_attachment.py
  api/src/util/file_util.py
  api/tests/src/api/applications/attachments/pdf_file.pdf
  api/tests/src/api/applications/attachments/spaces in file name.txt
  api/tests/src/api/applications/attachments/text_file.txt
  api/tests/src/api/applications/test_application_attachment_routes.py
  api/tests/src/schemas/schema_validation_utils.py
  api/tests/src/util/test_file_util.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Updates terraform lock
  infra/nofos/service/.terraform.lock.hcl
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

[Issue #5135] In the create application endpoint, initialize the application form objects (#5221)
  api/src/services/applications/application_validation.py
  api/src/services/applications/create_application.py
  api/src/validation/validation_constants.py
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/services/applications/test_application_validation.py
  api/tests/src/services/applications/test_submit_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Updates terraform lock (#5227)
  infra/nofos/service/.terraform.lock.hcl
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

Stock API Gateway deployment
  infra/api/service/.terraform.lock.hcl
  infra/api/service/main.tf
  infra/modules/service/api_gateway.tf
  infra/modules/service/variables.tf
Owners: @acouch, @coilysiren, @mdragon

Return the form instructions in the form response object
  api/src/api/form_alpha/form_schema.py
  api/src/db/models/competition_models.py
  api/src/services/competition_alpha/get_competition.py
  api/src/services/form_alpha/get_form.py
  api/src/services/opportunities_v1/get_opportunity.py
  api/src/util/file_util.py
  api/tests/src/api/form_alpha/test_form_route_get.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

removes stuff
  infra/modules/service/api_gateway.tf
Owners: @acouch, @coilysiren, @mdragon

actually remove stuff
  infra/modules/service/api_gateway.tf
Owners: @acouch, @coilysiren, @mdragon

ignore checkov
  infra/modules/service/api_gateway.tf
Owners: @acouch, @coilysiren, @mdragon

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[unticketed]: fixes issue where tables are squished due to max-width set to zero (#5194)
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update api/src/util/file_util.py
  api/src/util/file_util.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

PR feedback
  api/src/adapters/aws/s3_adapter.py
  api/src/db/models/competition_models.py
  api/src/db/models/opportunity_models.py
  api/src/services/extracts_v1/get_extracts.py
  api/src/services/opportunities_v1/get_opportunity.py
  api/src/util/file_util.py
  api/tests/src/api/form_alpha/test_form_route_get.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

big wip
  frontend/src/components/search/SearchDrawerFilters.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterOptions.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/types/search/searchFilterTypes.ts
  frontend/src/types/search/searchQueryTypes.ts
  frontend/src/types/search/searchRequestTypes.ts
  frontend/src/utils/search/searchFormatUtils.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

working better on single selection at least
  frontend/src/components/search/SearchFilterAccordion/SearchFilterCheckbox.tsx
  frontend/src/utils/search/searchUtils.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

ok, something is happening, but need to handle enforcing only one selection at a time
  frontend/src/types/search/searchQueryTypes.ts
  frontend/src/types/search/searchRequestTypes.ts
  frontend/src/utils/search/searchFormatUtils.ts
  frontend/src/utils/search/searchUtils.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip radio buttons
  frontend/src/components/search/Filters/RadioButtonFilter.tsx
  frontend/src/components/search/SearchDrawerFilters.tsx
  frontend/src/components/search/SearchFilterRadio.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix facet counts and checked state
  frontend/src/components/search/Filters/RadioButtonFilter.tsx
  frontend/src/components/search/SearchDrawerFilters.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterCheckbox.tsx
  frontend/src/components/search/SearchFilterRadio.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

cleanup
  frontend/src/i18n/messages/en/index.ts
  frontend/src/types/search/searchQueryTypes.ts
  frontend/src/utils/search/searchFormatUtils.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

more cleanup
  frontend/src/components/search/Filters/RadioButtonFilter.tsx
  frontend/src/errors.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/utils/search/searchFormatUtils.ts
  frontend/src/utils/search/searchUtils.ts
  frontend/src/utils/testing/fixtures.ts
  frontend/tests/api/search/export/route.test.ts
  frontend/tests/components/search/Filters/RadioButtonFilter.test.tsx
  frontend/tests/components/search/SearchFilterRadio.test.tsx
  frontend/tests/components/search/SearchResults.test.tsx
  frontend/tests/components/workspace/SavedSearchesList.test.tsx
  frontend/tests/errors.test.ts
  frontend/tests/utils/Search/searchFormatUtils.test.ts
  frontend/tests/utils/search/searchUtils.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Add opportunity filter query and tests
  api/src/legacy_soap_api/applicants/services/get_opportunity_list_response.py
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/tests/src/legacy_soap_api/applicants/services/test_get_opportunity_list_response.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Format.
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

saved searches fix
  frontend/src/components/search/SearchFilterRadio.tsx
  frontend/src/components/workspace/SavedSearchesList.tsx
  frontend/src/utils/search/searchFormatUtils.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5083] Add GET application attachment endpoint
  api/src/api/application_alpha/application_route.py
  api/src/api/application_alpha/application_schemas.py
  api/src/db/models/competition_models.py
  api/src/services/applications/get_application_attachment.py
  api/tests/src/api/applications/test_application_attachment_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

feat: adds a data object and removes page story file
  frontend/src/components/application/OpportunityCard.tsx
  frontend/src/components/opportunity/OpportunityAwardInfo.tsx
  frontend/src/types/opportunity/opportunityResponseTypes.ts
  frontend/src/utils/formatCurrencyUtil.ts
  frontend/stories/pages/application.stories.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Add the competition instruction object to the competition response object
  api/src/api/competition_alpha/competition_schema.py
  api/src/db/models/competition_models.py
  api/src/services/competition_alpha/get_competition.py
  api/tests/src/api/competition_alpha/test_competition_route_get.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add download_path to extracts
  api/src/db/models/extract_models.py
  api/src/services/extracts_v1/get_extracts.py
  api/tests/src/api/extracts_v1/test_extract_schema.py
  api/tests/src/api/extracts_v1/test_extracts_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Remove download_path from ApplicationAttachment
  api/src/db/models/competition_models.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #3920] Email notification content for new matches to a saved search content (#5061)
  api/src/task/notifications/search_notification.py
  api/tests/src/task/notifications/test_search_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

feat(application): opportunity overview mockdata added
  frontend/src/components/application/OpportunityCard.tsx
  frontend/src/components/application/mapOpportunity.ts
  frontend/src/types/opportunity/opportunityResponseTypes.ts
  frontend/stories/components/application/OpportunityCard.stories.tsx
  frontend/stories/components/application/opportunity.mock.json
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava
