Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

Update
  documentation/wiki/SUMMARY.md
Owners: @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @mdragon, @myduong-navapbc, @widal001, @prasnava

add organizations and organization users to seed
  api/tests/lib/seed_local_db.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

setting things up - not doing anything yet but not broken
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/services/auth/session.ts
  frontend/src/types/UserTypes.ts
  frontend/src/types/competitionsResponseTypes.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip
  frontend/src/app/api/competitions/handler.ts
  frontend/src/app/api/competitions/route.ts
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/services/fetch/fetchers/clientCompetitionsFetcher.ts
  frontend/src/services/fetch/fetchers/competitionsFetcher.ts
  frontend/src/types/competitionsResponseTypes.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

more fixups
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/services/fetch/fetchers/clientApplicationFetcher.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix ineligible state
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fetching org and competition data
  frontend/src/app/api/competitions/[competitionId]/handler.ts
  frontend/src/app/api/competitions/[competitionId]/route.ts
  frontend/src/app/api/user/organizations/handler.ts
  frontend/src/app/api/user/organizations/route.ts
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/services/fetch/endpointConfigs.ts
  frontend/src/services/fetch/fetchers/clientCompetitionsFetcher.ts
  frontend/src/services/fetch/fetchers/clientUserFetcher.ts
  frontend/src/services/fetch/fetchers/fetchers.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

some error correction
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
  frontend/src/components/workspace/StartApplicationModal.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add description text
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

send org to api
  frontend/src/app/api/applications/start/handler.ts
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
  frontend/src/services/fetch/fetchers/clientApplicationFetcher.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

move things around to prepare for error handling
  frontend/src/components/user/OpportunityCompetitionStart.tsx
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationDescription.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationInputs.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModal.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModalControl.tsx
  frontend/src/services/fetch/fetchers/clientApplicationFetcher.ts
  frontend/tests/components/workspace/StartApplicationModal.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

handle validation errors
  frontend/src/components/workspace/StartApplicationModal/IneligibleStartApplicationModal.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationInputs.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModal.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModalControl.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip tests
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModal.tsx
  frontend/src/services/auth/session.ts
  frontend/tests/components/workspace/StartApplicationModal/StartApplicationModal.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

save search modal test
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModal.tsx
  frontend/src/utils/testing/fixtures.ts
  frontend/tests/components/workspace/StartApplicationModal/StartApplicationModal.test.tsx
  frontend/tests/components/workspace/StartApplicationModal/StartApplicationModalControl.test.tsx
  frontend/tests/components/workspace/StartApplicationModal/__snapshots__/StartApplicationModal.test.tsx.snap
  frontend/tests/components/workspace/__snapshots__/StartApplicationModal.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

modal control test
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModalControl.tsx
  frontend/src/utils/testing/fixtures.ts
  frontend/tests/components/workspace/StartApplicationModal/StartApplicationModalControl.test.tsx
  frontend/tests/components/workspace/StartApplicationModal/__snapshots__/StartApplicationModalControl.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

front page loading state
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModalControl.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

another test
  frontend/tests/api/user/organizations/route.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip more tests
  frontend/tests/api/competitions/competitionId/route.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

more cleanup
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModal.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModalControl.tsx
  frontend/src/services/fetch/fetchers/clientApplicationFetcher.ts
  frontend/src/services/fetch/fetchers/clientUserFetcher.ts
  frontend/src/types/competitionsResponseTypes.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

some test fixes
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModal.tsx
  frontend/tests/api/competitions/competitionId/route.test.ts
  frontend/tests/components/workspace/StartApplicationModal/StartApplicationModalControl.test.tsx
  frontend/tests/services/fetch/fetchers/competitionsFetcher.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

ts fix
  frontend/tests/api/user/organizations/route.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

api format
  api/tests/lib/seed_local_db.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

:
  frontend/tests/components/search/SearchResultsTable.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add some higher level frontend form documentation
  documentation/frontend/application-forms.md
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

update search alert w/ ethnio survey link
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

prettier
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update for PR feedback, and additional detail
  documentation/wiki/product/decisions/adr/2025-07-23-file-upload-virus-scanning.md
Owners: @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @mdragon, @myduong-navapbc, @widal001, @prasnava

fixing tests
  frontend/src/components/search/SearchResultsTable.tsx
  frontend/tests/components/search/SearchResultsTable.test.tsx
  frontend/tests/components/search/__snapshots__/SearchResultsTable.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fixing formatting
  frontend/src/components/search/SearchResultsTable.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/tests/components/search/SearchResultsTable.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Provide "Fixes/Work for" guidance in PR template
  .github/pull_request_template.md
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

[Issue 5763] Update search alert w/ ethnio survey link (#5764)
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #4515] Add unique ID to certs in SOAP calls.
  api/bin/setup-soap.sh
  api/src/legacy_soap_api/legacy_soap_api_auth.py
  api/src/legacy_soap_api/legacy_soap_api_proxy.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_auth.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

add external link icon to ethnio survey
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update to latest template pattern for post apt-get install cleanup
  analytics/Dockerfile
  api/Dockerfile
  frontend/Dockerfile
Owners: @acouch, @freddieyebra, @widal001, @chouinar, @mdragon, @joshtonava, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

updates to get form displaying
  api/src/form_schema/forms/sflll.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/applyForm/ApplyForm.tsx
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/validate.ts
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

remove unnecessary catch
  frontend/src/components/applyForm/utils.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

prettier
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add sections
  api/src/form_schema/forms/sflll.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue: #5763] Follow-up: Add external link icon to ethnio survey (#5767)
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Add SubmissionIssue enum / add logging
  api/src/constants/lookup_constants.py
  api/src/services/applications/application_validation.py
  api/src/services/applications/auth_utils.py
  api/src/services/applications/create_application.py
  api/src/services/applications/create_application_attachment.py
  api/src/services/applications/get_application_attachment.py
  api/src/services/applications/update_application_form.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava
