Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @coilysiren, @doug-s-nava, @freddieyebra, @widal001, @capriiis

Restore action_type
  api/src/db/models/legacy_mixin/forecast_mixin.py
Owners: @chouinar, @freddieyebra, @mdragon

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/staging-schema.png
Owners: @chouinar, @freddieyebra, @mdragon

remove unused components (and adjust unrelated package script)
  frontend/package.json
  frontend/src/components/CollapsableContent.tsx
  frontend/src/components/FullWidthAlert.tsx
  frontend/stories/components/FullWidthAlert.stories.tsx
  frontend/tests/components/FullWidthAlert.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra

reverts load balancer changes
  infra/modules/service/load_balancer.tf
Owners: @acouch, @coilysiren, @mdragon

reverts load balancer changes
  infra/modules/service/load_balancer.tf
Owners: @acouch, @coilysiren, @mdragon

reverts load balancer changes
  infra/modules/service/load_balancer.tf
Owners: @acouch, @coilysiren, @mdragon

force ssl
  infra/modules/service/access_logs.tf
Owners: @acouch, @coilysiren, @mdragon

appease checkov
  infra/modules/domain/query_logs.tf
Owners: @acouch, @coilysiren, @mdragon

revert
  infra/modules/network/vpc_endpoints.tf
Owners: @acouch, @coilysiren, @mdragon

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @coilysiren @doug-s-nava @freddieyebra @mdragon @widal001 @capriiis # everyone

/analytics/               @acouch @coilysiren @freddieyebra @widal001
/documentation/analytics/ @acouch @coilysiren @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon
/documentation/api/ @chouinar @freddieyebra @mdragon

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra

/infra/               @acouch @coilysiren @mdragon
/documentation/infra/ @acouch @coilysiren @mdragon
/.github/             @acouch @coilysiren @mdragon
/bin/                 @acouch @coilysiren @mdragon
