Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava

Redirect to UUID (new opportunity_id) if page was loaded with old integer ID
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Feedback from PR
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Added new migration to support column changes in api schema
  analytics/src/analytics/integrations/etldb/migrations/versions/0011_update_to_uuid_primary_keys.sql
Owners: @acouch, @freddieyebra, @widal001

Renamed typo truncate function
  analytics/src/analytics/integrations/extracts/load_opportunity_data.py
Owners: @acouch, @freddieyebra, @widal001

Clean up stuff we explicitly install to see what is already patched upstream
  analytics/Dockerfile
  api/Dockerfile
  frontend/Dockerfile
Owners: @acouch, @freddieyebra, @widal001, @chouinar, @mdragon, @joshtonava, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

Add banner to application page.
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/page.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Truncating table data before running migration so alter statements work as expected
  analytics/src/analytics/integrations/etldb/migrations/versions/0011_update_to_uuid_primary_keys.sql
Owners: @acouch, @freddieyebra, @widal001

Updated column ordering based off api extract from seed data
  analytics/src/analytics/integrations/extracts/constants.py
  analytics/tests/conftest.py
  analytics/tests/integrations/extracts/opportunity_tables_test_files/current_opportunity_summary.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/lk_opportunity_category.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/lk_opportunity_status.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/opportunity.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/opportunity_summary.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/user_saved_opportunity.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/user_saved_search.csv
  analytics/tests/integrations/extracts/test_load_opportunity_data.py
Owners: @acouch, @freddieyebra, @widal001

add description text
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Add icon and put banner on correct page.
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/page.tsx
  frontend/src/app/[locale]/workspace/layout.tsx
  frontend/src/components/BookmarkBanner.tsx
  frontend/tests/components/BookmarkBanner.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix ineligible state
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5711] Update package installs for vulnerabilities (#5712)
  analytics/Dockerfile
  api/Dockerfile
  frontend/Dockerfile
Owners: @acouch, @freddieyebra, @widal001, @chouinar, @mdragon, @joshtonava, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

more fixups
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/services/fetch/fetchers/clientApplicationFetcher.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Add schedule
  documentation/api/data-setup.md
  infra/api/app-config/env-config/scheduled_jobs.tf
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @prasnava

[unticketed] disable ethnio in dev (#5683)
  frontend/src/utils/injectableScripts.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5634] Redirect prior int Opp ID to new UUID (#5635)
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5566] Add bookmark this page banner to application page. (#5715)
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/app/[locale]/workspace/layout.tsx
  frontend/src/components/BookmarkBanner.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/tests/components/BookmarkBanner.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5590] Roadmap content update (#5707)
  frontend/public/img/bridge.png
  frontend/src/components/roadmap/RoadmapPageSection.tsx
  frontend/src/components/roadmap/RoadmapSections.tsx
  frontend/src/components/roadmap/sections/RoadmapHeader.tsx
  frontend/src/components/roadmap/sections/RoadmapTimeline.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/src/styles/_uswds-theme.scss
  frontend/src/utils/testing/intlMocks.ts
  frontend/tests/components/roadmap/RoadmapTimeline.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

send org to api
  frontend/src/app/api/applications/start/handler.ts
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
  frontend/src/services/fetch/fetchers/clientApplicationFetcher.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Issues #5574 add budget form
  api/src/form_schema/forms/sf424a.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/components/applyForm/ApplyForm.tsx
  frontend/src/components/applyForm/actions.ts
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
  frontend/src/components/applyForm/validate.ts
  frontend/src/components/applyForm/widgets/TextWidget.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424a.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionA.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionB.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aTotalBudgetSummary.tsx
  frontend/src/components/applyForm/widgets/desired-data.json
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava, @acouch, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

move things around to prepare for error handling
  frontend/src/components/user/OpportunityCompetitionStart.tsx
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationDescription.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationInputs.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModal.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModalControl.tsx
  frontend/src/services/fetch/fetchers/clientApplicationFetcher.ts
  frontend/tests/components/workspace/StartApplicationModal.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/form/[appFormId]/page.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update frontend/src/components/applyForm/ApplyForm.tsx
  frontend/src/components/applyForm/ApplyForm.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update frontend/src/components/applyForm/ApplyForm.tsx
  frontend/src/components/applyForm/ApplyForm.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

handle validation errors
  frontend/src/components/workspace/StartApplicationModal/IneligibleStartApplicationModal.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationInputs.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModal.tsx
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModalControl.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Apply suggestions from code review
  frontend/src/components/applyForm/actions.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Delete frontend/src/components/applyForm/widgets/budget/Budget424a.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424a.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

front page loading state
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModalControl.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update forms
  frontend/src/components/applyForm/actions.ts
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionA.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aSectionB.tsx
  frontend/src/components/applyForm/widgets/budget/Budget424aTotalBudgetSummary.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #4412] fix unstable saved search select state (#5692)
  frontend/src/components/search/SaveSearchSelector.tsx
  frontend/src/hooks/useSearchParamUpdater.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5147] move frontend health check to api route (#5693)
  frontend/src/app/[locale]/health/page.tsx
  frontend/src/app/api/health/route.ts
  frontend/tests/utils/getRoutes.test.ts
  infra/frontend/service/main.tf
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc, @mdragon, @joshtonava, @chouinar, @prasnava

add healthcheck command
  infra/frontend/service/main.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

remove double slash
  infra/frontend/service/main.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

infra format
  infra/frontend/service/main.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

[unticketed] Frontend health check fix (#5720)
  infra/frontend/service/main.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

Update time
  documentation/api/data-setup.md
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update forms
  frontend/src/components/applyForm/ApplyForm.tsx
  frontend/src/components/applyForm/types.ts
  frontend/src/components/applyForm/utils.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip tests
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModal.tsx
  frontend/src/services/auth/session.ts
  frontend/tests/components/workspace/StartApplicationModal/StartApplicationModal.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

some non-search related query params as custom new relic attributes
  frontend/src/components/search/SearchAnalytics.tsx
  frontend/src/types/search/searchQueryTypes.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5003] Suppress important dates fields update (#5708)
  api/src/task/notifications/opportunity_notifcation.py
  api/tests/src/task/notifications/test_opportunity_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava
