Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

save search modal test
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModal.tsx
  frontend/src/utils/testing/fixtures.ts
  frontend/tests/components/workspace/StartApplicationModal/StartApplicationModal.test.tsx
  frontend/tests/components/workspace/StartApplicationModal/StartApplicationModalControl.test.tsx
  frontend/tests/components/workspace/StartApplicationModal/__snapshots__/StartApplicationModal.test.tsx.snap
  frontend/tests/components/workspace/__snapshots__/StartApplicationModal.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Add a new env var to the nofo container
  infra/nofos/app-config/env-config/environment_variables.tf
Owners: @acouch, @mdragon, @pcraig3, @joshtonava, @chouinar, @prasnava

[Issue #5601] Setup SF424B form
  api/src/form_schema/forms/sf424b.py
  api/tests/lib/seed_local_db.py
  api/tests/src/form_schema/forms/test_sf424b.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Consolidate to one list returning from validate_application_form
  api/src/services/applications/application_validation.py
  api/src/services/applications/get_application_form.py
  api/src/services/applications/update_application_form.py
  api/tests/src/services/applications/test_application_validation.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5697] Add Budget & Project Narrative Attachment Forms
  api/src/form_schema/forms/budget_narrative_attachment.py
  api/src/form_schema/forms/project_narrative_attachment.py
  api/tests/lib/seed_local_db.py
  api/tests/src/form_schema/forms/test_budget_narrative_attachment.py
  api/tests/src/form_schema/forms/test_project_narrative_attachment.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5601] Setup SF424B form (#5725)
  api/src/form_schema/forms/sf424b.py
  api/tests/lib/seed_local_db.py
  api/tests/src/form_schema/forms/test_sf424b.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5239] Allow users to skip validation for non-required forms (#5671)
  api/src/services/applications/application_validation.py
  api/src/services/applications/get_application_form.py
  api/src/services/applications/update_application_form.py
  api/src/validation/validation_constants.py
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/services/applications/test_application_validation.py
  api/tests/src/services/applications/test_submit_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5555] Update analytics job and DB to pull UUID's (#5713)
  analytics/src/analytics/integrations/etldb/migrations/versions/0011_update_to_uuid_primary_keys.sql
  analytics/src/analytics/integrations/extracts/constants.py
  analytics/src/analytics/integrations/extracts/load_opportunity_data.py
  analytics/tests/conftest.py
  analytics/tests/integrations/extracts/opportunity_tables_test_files/current_opportunity_summary.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/lk_opportunity_category.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/lk_opportunity_status.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/opportunity.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/opportunity_summary.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/user_saved_opportunity.csv
  analytics/tests/integrations/extracts/opportunity_tables_test_files/user_saved_search.csv
  analytics/tests/integrations/extracts/test_load_opportunity_data.py
Owners: @acouch, @freddieyebra, @widal001

Update tests.
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/src/legacy_soap_api/legacy_soap_api_config.py
  api/src/legacy_soap_api/legacy_soap_api_routes.py
  api/src/legacy_soap_api/legacy_soap_api_schemas.py
  api/src/legacy_soap_api/simpler_soap_api.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Nuke comment.
  api/src/legacy_soap_api/legacy_soap_api_config.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

modal control test
  frontend/src/components/workspace/StartApplicationModal/StartApplicationModalControl.tsx
  frontend/src/utils/testing/fixtures.ts
  frontend/tests/components/workspace/StartApplicationModal/StartApplicationModalControl.test.tsx
  frontend/tests/components/workspace/StartApplicationModal/__snapshots__/StartApplicationModalControl.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Make LEGACY_HOST and return to Grants.gov more environment aware
  frontend/src/components/ReturnToGrantsNotification.tsx
  frontend/src/constants/environments.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update test
  frontend/tests/components/opportunity/OpportunityCTA.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5697 & #5698] Add Budget & Project Narrative Attachment Forms (#5726)
  api/src/form_schema/forms/budget_narrative_attachment.py
  api/src/form_schema/forms/project_narrative_attachment.py
  api/tests/lib/seed_local_db.py
  api/tests/src/form_schema/forms/test_budget_narrative_attachment.py
  api/tests/src/form_schema/forms/test_project_narrative_attachment.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

feat: addas attachment cards to application
  frontend/next.config.js
  frontend/src/app/[locale]/workspace/applications/application/[applicationId]/page.tsx
  frontend/src/app/api/applications/[applicationId]/attachments/[applicationAttachmentId]/handler.ts
  frontend/src/app/api/applications/[applicationId]/attachments/[applicationAttachmentId]/route.ts
  frontend/src/components/PopoverMenu.tsx
  frontend/src/components/TableHeader.tsx
  frontend/src/components/application/ApplicationContainer.tsx
  frontend/src/components/application/attachments/AttachmentsCard.tsx
  frontend/src/components/application/attachments/AttachmentsCardForm.tsx
  frontend/src/components/application/attachments/AttachmentsCardTable.tsx
  frontend/src/components/application/attachments/AttachmentsCardTableHeaders.tsx
  frontend/src/components/application/attachments/AttachmentsCardTableRowDeleting.tsx
  frontend/src/components/application/attachments/AttachmentsCardTableRowEmpty.tsx
  frontend/src/components/application/attachments/AttachmentsCardTableRowUploading.tsx
  frontend/src/components/application/attachments/DeleteAttachmentButton.tsx
  frontend/src/components/application/attachments/DeleteAttachmentModal.tsx
  frontend/src/components/application/attachments/actions.ts
  frontend/src/components/application/attachments/attachmentUtils.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/services/fetch/endpointConfigs.ts
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
  frontend/src/services/fetch/fetchers/fetchers.ts
  frontend/src/styles/_loading.scss
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/src/styles/_uswds-theme.scss
  frontend/src/types/applicationResponseTypes.ts
  frontend/src/types/attachmentTypes.ts
  frontend/src/utils/dateUtil.ts
  frontend/src/utils/fileUtils/formatFileSizeUtil.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

date range agg
  api/src/adapters/search/opensearch_query_builder.py
  api/src/adapters/search/opensearch_response.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/services/opportunities_v1/search_opportunities.py
  api/tests/src/adapters/search/test_opensearch_query_builder.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update exception.
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/src/legacy_soap_api/simpler_soap_api.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update doc
  api/src/adapters/search/opensearch_query_builder.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update cache size.
  api/src/legacy_soap_api/legacy_soap_api_config.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

use enddate relative
  api/tests/src/adapters/search/test_opensearch_query_builder.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add back id for click thru tracking
  frontend/src/components/search/SearchResultsTable.tsx
  frontend/src/components/search/SearchResultsView.tsx
  frontend/tests/components/search/SearchResultsTable.test.tsx
  frontend/tests/components/search/__snapshots__/SearchResultsTable.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update api/src/services/form_alpha/update_form.py
  api/src/services/form_alpha/update_form.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Fix tests
  frontend/tests/components/search/SearchResultsTable.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update test.
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

PR feedback
  api/src/api/form_alpha/form_schema.py
  api/src/services/form_alpha/update_form.py
  api/tests/src/api/form_alpha/test_form_route_update.py
  api/tests/src/services/form_alpha/test_update_form.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Align with how we're pulling data
  frontend/src/constants/environments.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Align test
  frontend/tests/components/opportunity/OpportunityCTA.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

WIP
  api/src/form_schema/rule_processing/json_rule_field_population.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Remove email test disclaimer from subjects
  api/src/task/notifications/closing_date_notification.py
  api/src/task/notifications/opportunity_notifcation.py
  api/src/task/notifications/search_notification.py
  api/tests/src/task/notifications/test_opportunity_notification.py
  api/tests/src/task/notifications/test_search_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update api/src/services/form_alpha/update_form.py
  api/src/services/form_alpha/update_form.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Format
  api/src/services/form_alpha/update_form.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5737] Remove email test disclaimer from subjects (#5738)
  api/src/task/notifications/closing_date_notification.py
  api/src/task/notifications/opportunity_notifcation.py
  api/src/task/notifications/search_notification.py
  api/tests/src/task/notifications/test_opportunity_notification.py
  api/tests/src/task/notifications/test_search_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5555] Add flag for how soap response returned (#5709)
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/src/legacy_soap_api/legacy_soap_api_config.py
  api/src/legacy_soap_api/legacy_soap_api_proxy.py
  api/src/legacy_soap_api/legacy_soap_api_routes.py
  api/src/legacy_soap_api/legacy_soap_api_schemas.py
  api/src/legacy_soap_api/legacy_soap_api_utils.py
  api/src/legacy_soap_api/simpler_soap_api.py
  api/src/legacy_soap_api/soap_payload_handler.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_routes.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_utils.py
  api/tests/src/legacy_soap_api/test_soap_payload_handler.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

handle static date -range only
  api/src/adapters/search/opensearch_query_builder.py
  api/src/adapters/search/opensearch_response.py
  api/src/services/opportunities_v1/search_opportunities.py
  api/tests/src/adapters/search/test_opensearch_query_builder.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

udpate test
  api/src/adapters/search/opensearch_response.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update doc string
  api/src/adapters/search/opensearch_response.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add key value diff.
  api/tests/src/legacy_soap_api/test_legacy_soap_api_utils.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5321] Create admin endpoint to update forms in the db (#5686)
  api/openapi.generated.yml
  api/src/api/form_alpha/form_route.py
  api/src/api/form_alpha/form_schema.py
  api/src/services/form_alpha/update_form.py
  api/tests/src/api/form_alpha/test_form_route_update.py
  api/tests/src/services/form_alpha/test_update_form.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava
