Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @coilysiren, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @pcraig3

PR feedback
  api/openapi.generated.yml
  api/src/api/application_alpha/application_schemas.py
  api/src/services/applications/get_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Lint
  api/src/services/applications/get_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

nix stray span in home hero
  frontend/src/components/homepage/sections/HomepageHero.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Ignore settings.py false-positives flagged by Dockle
  .dockleconfig
Owners: @mdragon

update
  api/src/adapters/search/opensearch_query_builder.py
  api/src/services/opportunities_v1/search_opportunities.py
  api/src/services/service_utils.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Move functions to utils so we can mock, add better tests
  frontend/src/components/opportunity/ZipDownloadButton.tsx
  frontend/src/utils/opportunity/zipDownloadUtils.ts
  frontend/tests/components/ZipDownloadButton.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

use responsive grid on roadmap
  frontend/src/components/roadmap/RoadmapPageSection.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Fix what was mis-resolved during rebase
  frontend/tests/api/opportunities/[opportunityId]/attachments-download/route.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

undo row change
  frontend/src/components/roadmap/sections/RoadmapProcess.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #4985] Don't allow a user to modify an application if it's not in-progress (#5119)
  api/src/services/applications/application_validation.py
  api/src/services/applications/submit_application.py
  api/src/services/applications/update_application.py
  api/src/services/applications/update_application_form.py
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/api/applications/test_application_update.py
  api/tests/src/db/models/factories.py
  api/tests/src/services/applications/test_application_validation.py
  api/tests/src/services/applications/test_submit_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fix grid
  frontend/src/components/vision/visionPageSection.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #4784] Improve tests for Zip Download (#4960)
  frontend/src/components/opportunity/ZipDownloadButton.tsx
  frontend/src/utils/opportunity/zipDownloadUtils.ts
  frontend/src/utils/testing/fixtures.ts
  frontend/tests/api/opportunities/[opportunityId]/attachments-download/route.test.ts
  frontend/tests/components/ZipDownloadButton.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #4785] abstract sub agencies for saved search (#5127)
  api/openapi.generated.yml
  api/src/adapters/search/opensearch_query_builder.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/api/users/user_schemas.py
  api/src/services/opportunities_v1/search_opportunities.py
  api/tests/src/api/opportunities_v1/conftest.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add test case for fault message.
  api/src/legacy_soap_api/applicants/schemas/get_opportunity_list_request.py
  api/src/legacy_soap_api/applicants/schemas/opportunity_filter.py
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/src/legacy_soap_api/legacy_soap_api_utils.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[#5141] Ignore settings.py python files flagged by Dockle (#5142)
  .dockleconfig
Owners: @mdragon

updte snaps
  frontend/tests/components/homepage/__snapshots__/HomepageExperimental.test.tsx.snap
  frontend/tests/components/homepage/__snapshots__/HomepageHero.test.tsx.snap
  frontend/tests/components/homepage/__snapshots__/HomepageInvolved.test.tsx.snap
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5109] Adds GH action to rollover open sprint tix (#5130)
  .github/workflows/lint-sprint-rollover.yml
Owners: @acouch, @coilysiren, @mdragon

Update log message.
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Ignore PyJWT METADATA file in nofos container
  .github/workflows/vulnerability-scans-nofos.yml
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

[Issue #5080] Add more fields to the competition response schema
  api/src/api/competition_alpha/competition_schema.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/api/schemas/shared_schema.py
  api/src/db/models/competition_models.py
  api/src/services/applications/application_validation.py
  api/src/services/applications/create_application.py
  api/src/services/applications/submit_application.py
  api/src/services/competition_alpha/get_competition.py
  api/src/validation/validation_constants.py
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/api/competition_alpha/test_competition_route_get.py
  api/tests/src/db/models/factories.py
  api/tests/src/services/applications/test_application_validation.py
  api/tests/src/services/applications/test_submit_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fix e2e
  frontend/src/components/search/SearchResults.tsx
  frontend/tests/e2e/search/search-no-results.spec.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[#5141] Ignore PyJWT METADATA file in nofos container trivy vuln scan (#5145)
  .github/workflows/vulnerability-scans-nofos.yml
Owners: @acouch, @coilysiren, @mdragon, @pcraig3

Fix test
  api/tests/src/api/applications/test_application_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Fix test
  api/tests/src/api/applications/test_application_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5106] Modify application response schema to include additional fields (#5122)
  api/openapi.generated.yml
  api/src/api/application_alpha/application_schemas.py
  api/src/db/models/competition_models.py
  api/src/services/applications/get_application.py
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/db/models/factories.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Add getSimpleTranslationsSync.test.ts
  frontend/tests/i18n/getSimpleTranslationsSync.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Address CR.
  api/src/legacy_soap_api/applicants/fault_messages.py
  api/src/legacy_soap_api/applicants/schemas/__init__.py
  api/src/legacy_soap_api/applicants/schemas/cfda_details.py
  api/src/legacy_soap_api/applicants/schemas/get_opportunity_list_request.py
  api/src/legacy_soap_api/applicants/schemas/get_opportunity_list_response.py
  api/src/legacy_soap_api/applicants/schemas/get_opportunity_list_schemas.py
  api/src/legacy_soap_api/applicants/schemas/opportunity_details.py
  api/src/legacy_soap_api/applicants/schemas/opportunity_filter.py
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

add updated text
  frontend/src/components/workspace/EditSavedSearchModal.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

update EditSavedSearchModal aria-label and test suite for updatedNotification i18n label
  frontend/src/components/workspace/EditSavedSearchModal.tsx
  frontend/tests/components/workspace/EditSavedSearchModal.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

remove unused import
  frontend/tests/components/workspace/EditSavedSearchModal.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

run format check
  frontend/tests/components/workspace/EditSavedSearchModal.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update MAINTAINERS.md (#5105)
  MAINTAINERS.md
Owners: @mdragon

capturing CI faiing issue
  frontend/src/app/[locale]/[...not-found]/page.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix: update opportunity award info
  frontend/src/components/opportunity/OpportunityAwardInfo.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix: update opportunity award info
  frontend/src/components/opportunity/OpportunityAwardGridRow.tsx
  frontend/tests/components/opportunity/OpportunityAwardGridRow.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

update index format type
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

reforing error catch variable name to e in all folder /frontend
  frontend/src/components/applyForm/widgets/CheckboxWidget.tsx
  frontend/src/components/applyForm/widgets/RadioWidget.tsx
  frontend/src/components/applyForm/widgets/SelectWidget.tsx
  frontend/src/components/applyForm/widgets/TextAreaWidget.tsx
  frontend/src/components/applyForm/widgets/TextWidget.tsx
  frontend/src/components/search/SearchError.tsx
  frontend/src/components/search/SearchQueryCopyButton.tsx
  frontend/src/components/search/SearchResults.tsx
  frontend/src/components/user/OpportunitySaveUserControl.tsx
  frontend/src/errors.ts
  frontend/src/hooks/useClientFetch.ts
  frontend/src/hooks/useCopyToClipboard.ts
  frontend/src/services/auth/sessionStorage.ts
  frontend/src/services/auth/sessionUtils.ts
  frontend/src/services/featureFlags/featureFlagHelpers.ts
  frontend/src/services/fetch/fetcherHelpers.ts
  frontend/src/services/fetch/fetchers/fetchers.ts
  frontend/src/types/apiResponseTypes.ts
  frontend/src/types/authTypes.ts
  frontend/src/types/uiTypes.ts
  frontend/src/utils/testing/commonTestUtils.ts
  frontend/tests/components/applyForm/validate.test.ts
  frontend/tests/components/search/SaveSearchModal.test.tsx
  frontend/tests/components/workspace/DeleteSavedSearchModal.test.tsx
  frontend/tests/components/workspace/EditSavedSearchModal.test.tsx
  frontend/tests/errors.test.ts
  frontend/tests/hooks/useClientFetch.test.ts
  frontend/tests/services/auth/useUser.test.tsx
  frontend/tests/services/fetch/FetcherHelpers.test.ts
  frontend/tests/services/fetch/Fetchers.test.ts
  frontend/tests/services/fetch/fetchers/clientUserFetcher.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix CI code format failure
  frontend/tests/components/opportunity/OpportunityHistory.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix CI code format failure
  frontend/tests/services/auth/useUser.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @coilysiren @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 # everyone

/analytics/               @acouch @coilysiren @freddieyebra @widal001
/documentation/analytics/ @acouch @coilysiren @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @coilysiren @mdragon
/infra/nofos/              @acouch @coilysiren @mdragon @pcraig3
/documentation/infra/      @acouch @coilysiren @mdragon
/.github/                  @acouch @coilysiren @mdragon
/.github/workflows/*nofos* @acouch @coilysiren @mdragon @pcraig3
/bin/                      @acouch @coilysiren @mdragon
