Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @prasnava, @pcraig3

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 @prasnava # everyone

/analytics/               @acouch @freddieyebra @widal001
/documentation/analytics/ @acouch @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @mdragon @joshtonava @chouinar @prasnava
/infra/nofos/              @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/documentation/infra/      @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/                  @acouch @mdragon @joshtonava @chouinar @prasnava
/.github/workflows/*nofos* @acouch @mdragon @pcraig3 @joshtonava @chouinar @prasnava
/bin/                      @acouch @mdragon @joshtonava @chouinar @prasnava

custom handling for p margins and such
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/components/opportunity/OpportunityAwardGridRow.tsx
  frontend/src/components/opportunity/OpportunityAwardInfo.tsx
  frontend/src/components/opportunity/OpportunityDownload.tsx
  frontend/src/components/opportunity/OpportunityEligibility.tsx
  frontend/src/components/opportunity/OpportunityHistory.tsx
  frontend/src/components/opportunity/OpportunityIntro.tsx
  frontend/src/components/opportunity/OpportunityStatusWidget.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix test
  frontend/tests/components/opportunity/OpportunityAwardGridRow.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

use same stacking for tablet and desktop
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

cleanup
  frontend/src/components/opportunity/OpportunityDownload.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

disable ethnio in dev
  frontend/src/utils/injectableScripts.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: changes per pr comments
  frontend/src/components/application/editAppFilingName/EditAppFilingName.tsx
  frontend/src/components/application/editAppFilingName/actions.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: revert props, linting error
  frontend/src/components/application/editAppFilingName/actions.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[issue #5125]: edit app filing name (#5678)
  frontend/src/app/api/applications/[applicationId]/submit/handler.ts
  frontend/src/app/api/applications/[applicationId]/submit/route.ts
  frontend/src/components/application/ApplicationContainer.tsx
  frontend/src/components/application/InformationCard.tsx
  frontend/src/components/application/editAppFilingName/EditAppFilingName.tsx
  frontend/src/components/application/editAppFilingName/EditAppFilingNameModal.tsx
  frontend/src/components/application/editAppFilingName/EditAppFilingNameModalBody.tsx
  frontend/src/components/application/editAppFilingName/EditAppFilingNameModalForm.tsx
  frontend/src/components/application/editAppFilingName/actions.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/services/fetch/fetchers/applicationFetcher.ts
  frontend/tests/api/applications/submit/route.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Unticketed] Clean up docs for better steps to get someone from 0 to 1 on local FE (#5554)
  documentation/frontend/development.md
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Get things working while incorporating Env Var Flags
  frontend/src/components/ClientMaintenanceCheck.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/dev/FeatureFlagsTable.tsx
  frontend/src/constants/environments.ts
  frontend/src/hooks/useFeatureFlags.ts
  frontend/src/services/auth/UserProvider.tsx
  frontend/src/services/featureFlags/FeatureFlagManager.ts
  frontend/src/services/fetch/fetchers/fetchers.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Add admin endpoint to update forms
  api/openapi.generated.yml
  api/src/api/form_alpha/form_route.py
  api/src/api/form_alpha/form_schema.py
  api/src/services/form_alpha/update_form.py
  api/tests/src/api/form_alpha/test_form_route_update.py
  api/tests/src/services/form_alpha/test_update_form.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Improve sentence
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5052] Generate a metadata file in the application submission ZIP (#5679)
  api/src/db/migrations/versions/2025_07_14_add_short_form_name.py
  api/src/db/models/competition_models.py
  api/src/form_schema/forms/project_abstract_summary.py
  api/src/form_schema/forms/sf424.py
  api/src/form_schema/forms/sf424a.py
  api/src/form_schema/forms/sflll.py
  api/src/task/apply/create_application_submission_task.py
  api/tests/src/db/models/factories.py
  api/tests/src/task/apply/test_create_application_submission_task.py
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

may have a better solution to explicitly waiting for saved search to apply
  frontend/src/components/search/SaveSearchSelector.tsx
  frontend/src/utils/injectableScripts.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Initial commit.
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/src/legacy_soap_api/legacy_soap_api_config.py
  api/src/legacy_soap_api/legacy_soap_api_proxy.py
  api/src/legacy_soap_api/legacy_soap_api_routes.py
  api/src/legacy_soap_api/legacy_soap_api_schemas.py
  api/src/legacy_soap_api/legacy_soap_api_utils.py
  api/src/legacy_soap_api/simpler_soap_api.py
  api/src/legacy_soap_api/soap_payload_handler.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_utils.py
  api/tests/src/legacy_soap_api/test_soap_payload_handler.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

PR feedback
  api/src/services/applications/application_validation.py
  api/tests/src/services/applications/test_application_validation.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Format
  api/tests/src/services/applications/test_application_validation.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

cleanup
  frontend/src/components/search/SaveSearchSelector.tsx
  frontend/src/hooks/useSearchParamUpdater.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

move frontend health check to api route
  frontend/src/app/[locale]/health/page.tsx
  frontend/src/app/api/health/route.ts
  frontend/tests/utils/getRoutes.test.ts
  infra/frontend/service/main.tf
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc, @mdragon, @joshtonava, @chouinar, @prasnava

infra format
  infra/frontend/service/main.tf
Owners: @acouch, @mdragon, @joshtonava, @chouinar, @prasnava

[no issue] Improve sentence on empty docs section (#5687)
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add organizations and organization users to seed
  api/tests/lib/seed_local_db.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

setting things up - not doing anything yet but not broken
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/services/auth/session.ts
  frontend/src/types/UserTypes.ts
  frontend/src/types/competitionsResponseTypes.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip
  frontend/src/app/api/competitions/handler.ts
  frontend/src/app/api/competitions/route.ts
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/services/fetch/fetchers/clientCompetitionsFetcher.ts
  frontend/src/services/fetch/fetchers/competitionsFetcher.ts
  frontend/src/types/competitionsResponseTypes.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

roadmap page: swap img, add timeline section
  frontend/public/img/bridge.png
  frontend/src/components/roadmap/RoadmapPageSection.tsx
  frontend/src/components/roadmap/RoadmapSections.tsx
  frontend/src/components/roadmap/sections/RoadmapHeader.tsx
  frontend/src/components/roadmap/sections/RoadmapTimeline.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/src/styles/_uswds-theme.scss
  frontend/tests/components/roadmap/RoadmapTimeline.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

prettier
  frontend/src/components/roadmap/RoadmapSections.tsx
  frontend/src/components/roadmap/sections/RoadmapTimeline.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/styles/_uswds-theme.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

prettier
  frontend/src/styles/_uswds-theme.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

More refactor.
  api/src/legacy_soap_api/applicants/services/get_opportunity_list_response.py
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/src/legacy_soap_api/legacy_soap_api_proxy.py
  api/src/legacy_soap_api/legacy_soap_api_routes.py
  api/src/legacy_soap_api/legacy_soap_api_utils.py
  api/src/legacy_soap_api/simpler_soap_api.py
  api/src/legacy_soap_api/soap_payload_handler.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

update imp dates
  api/src/task/notifications/opportunity_notifcation.py
  api/tests/src/task/notifications/test_opportunity_notification.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Remove placeholder.
  api/src/legacy_soap_api/applicants/services/get_opportunity_list_response.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update envelope logic tests.
  api/tests/src/legacy_soap_api/test_legacy_soap_api_utils.py
  api/tests/src/legacy_soap_api/test_soap_payload_handler.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Fix tests.
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Use single route.
  api/src/legacy_soap_api/legacy_soap_api_routes.py
  api/src/legacy_soap_api/legacy_soap_api_utils.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Replace spooky encoding
  api/src/legacy_soap_api/legacy_soap_api_client.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

fetching org and competition data
  frontend/src/app/api/competitions/[competitionId]/handler.ts
  frontend/src/app/api/competitions/[competitionId]/route.ts
  frontend/src/app/api/user/organizations/handler.ts
  frontend/src/app/api/user/organizations/route.ts
  frontend/src/components/workspace/StartApplicationModal.tsx
  frontend/src/services/fetch/endpointConfigs.ts
  frontend/src/services/fetch/fetchers/clientCompetitionsFetcher.ts
  frontend/src/services/fetch/fetchers/clientUserFetcher.ts
  frontend/src/services/fetch/fetchers/fetchers.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

some error correction
  frontend/src/components/workspace/CompetitionStartFormIndividiual.tsx
  frontend/src/components/workspace/StartApplicationModal.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add timeline mock data
  frontend/src/utils/testing/intlMocks.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

prettier
  frontend/src/utils/testing/intlMocks.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Add bookmark banner component.
  frontend/src/components/BookmarkBanner.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/tests/components/BookmarkBanner.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc
