Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @coilysiren, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @pcraig3

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @coilysiren @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 # everyone

/analytics/               @acouch @coilysiren @freddieyebra @widal001
/documentation/analytics/ @acouch @coilysiren @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @coilysiren @mdragon
/infra/nofos/              @acouch @coilysiren @mdragon @pcraig3
/documentation/infra/      @acouch @coilysiren @mdragon
/.github/                  @acouch @coilysiren @mdragon
/.github/workflows/*nofos* @acouch @coilysiren @mdragon @pcraig3
/bin/                      @acouch @coilysiren @mdragon

some cleanup
  frontend/src/components/search/SearchFilters.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/services/fetch/fetchers/fetchers.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add 'no results' view
  frontend/src/components/search/Filters/AgencyFilterContent.tsx
  frontend/src/components/search/Filters/FilterSearchNoResults.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fixes, tests, refactor for two different fetch and transform functions
  frontend/src/app/api/agencies/handler.ts
  frontend/src/components/search/Filters/AgencyFilterContent.tsx
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/Filters/FilterSearchNoResults.tsx
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/src/components/search/SearchFilters.tsx
  frontend/src/services/fetch/fetchers/agenciesFetcher.ts
  frontend/src/utils/search/searchUtils.ts
  frontend/src/utils/testing/fixtures.ts
  frontend/tests/services/fetch/fetchers/agenciesFetcher.test.ts
  frontend/tests/utils/search/searchUtils.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

remove any box when search term is present
  frontend/src/components/search/Filters/AgencyFilterContent.tsx
  frontend/src/services/fetch/fetchers/clientAgenciesFetcher.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add icon to input
  frontend/src/components/USWDSIcon.tsx
  frontend/src/components/search/Filters/AgencyFilterContent.tsx
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterSection/SearchFilterSection.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

e2e fix
  frontend/next.config.js
  frontend/tests/e2e/search/search.spec.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add more tests
  frontend/src/app/api/agencies/handler.ts
  frontend/src/components/search/Filters/AgencyFilterContent.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterSection/SearchFilterSection.tsx
  frontend/tests/api/agencies/route.test.ts
  frontend/tests/components/search/Filters/AgencyFilterContent.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterSection/SearchFilterSection.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

cleanup
  frontend/tests/api/agencies/route.test.ts
  frontend/tests/components/search/Filters/AgencyFilterContent.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterSection/SearchFilterSection.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix type bug
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

better solution for search icon
  frontend/src/components/search/Filters/AgencyFilterContent.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

revert csp change
  frontend/next.config.js
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

post rebase fix
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

feat(linter): Adds script to inherit parent deliverable Inherit the value of the "Deliverable" field from the parent issue
  .github/linters/queries/getParentFieldValues.graphql
  .github/linters/queries/updateProjectFieldValue.graphql
  .github/linters/scripts/inherit-parent-deliverable.sh
Owners: @acouch, @coilysiren, @mdragon

feat(linter): Add script to bulk inherit parent metadata Bulk update project items to inherit the value of the "deliverable" field from their parent issue
  .github/linters/queries/getProjectItems.graphql
  .github/linters/scripts/bulk-inherit-parent-deliverable.sh
Owners: @acouch, @coilysiren, @mdragon

feat(lint): Adds GH action for bulk inherit script Triggers `bulk-inherit-parent-metadata.sh` manually or on a schedule
  .github/linters/scripts/bulk-inherit-parent-metadata.sh
  .github/workflows/lint-bulk-inherit-parent-metadata.yml
Owners: @acouch, @coilysiren, @mdragon

refactor(linter): Update per-issue inherit parent script - Renames `lint-inherit-parent-milestone.yml` - Invokes the `inherit-parent-deliverable.sh` in the renamed action
  .github/workflows/lint-inherit-parent-metadata.yml
  .github/workflows/lint-inherit-parent-milestone.yml
Owners: @acouch, @coilysiren, @mdragon

docs(linter): Updates README
  .github/linters/README.md
Owners: @acouch, @coilysiren, @mdragon

ci: Adds new linters to ci-project-linters.yml
  .github/workflows/ci-project-linters.yml
  .github/workflows/lint-inherit-parent-metadata.yml
Owners: @acouch, @coilysiren, @mdragon

filterDrawerOn -> searchDrawerOn
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/constants/defaultFeatureFlags.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

andy's updates
  frontend/src/components/drawer/Drawer.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

feat(application): adds the opportunity card and overview sections
  frontend/src/components/application/OpportunityAwardOverview.tsx
  frontend/src/components/application/OpportunityCard.tsx
  frontend/src/components/application/OpportunityItem.tsx
  frontend/src/components/application/OpportunityOverview.tsx
  frontend/src/components/application/OpportunityOverviewCard.tsx
  frontend/stories/components/application/OpportunityCard.stories.tsx
  frontend/stories/pages/application.stories.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

feat(application): adds styles to items and updates i18n
  frontend/src/components/application/OpportunityAwardOverview.tsx
  frontend/src/components/application/OpportunityItem.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[unticketed] fix another bug with filter drawer feature flag (#5207)
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/constants/defaultFeatureFlags.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

redirect users on protected routes using headers
  frontend/next.config.js
  frontend/src/components/user/UserControl.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

remove old comment
  frontend/src/components/user/UserControl.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Add factory and new field to competition_instruction table
  api/src/db/migrations/versions/2025_05_30_add_competition_instruction_table_and_.py
  api/src/db/models/competition_models.py
  api/tests/src/db/models/factories.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Try to get fixed systemd
  analytics/Dockerfile
  api/Dockerfile
  frontend/Dockerfile
Owners: @acouch, @coilysiren, @freddieyebra, @widal001, @chouinar, @mdragon, @joshtonava, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

[Issue #4716] add clear all filters button to drawer (#5200)
  frontend/src/components/Footer.tsx
  frontend/src/components/drawer/Drawer.tsx
  frontend/src/components/drawer/DrawerUnit.tsx
  frontend/src/components/search/ClearSearchButton.tsx
  frontend/src/components/search/SearchDrawerHeading.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
  frontend/src/hooks/useSearchParamUpdater.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/tests/components/search/ClearSearchButton.test.tsx
  frontend/tests/hooks/useSearchParamUpdater.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #3916] agency filter search input (#5121)
  frontend/src/app/api/agencies/handler.ts
  frontend/src/app/api/agencies/route.ts
  frontend/src/components/USWDSIcon.tsx
  frontend/src/components/search/Filters/AgencyFilterContent.tsx
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/Filters/FilterSearchNoResults.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterSection/SearchFilterSection.tsx
  frontend/src/components/search/SearchFilters.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/services/fetch/endpointConfigs.ts
  frontend/src/services/fetch/fetchers/agenciesFetcher.ts
  frontend/src/services/fetch/fetchers/clientAgenciesFetcher.ts
  frontend/src/services/fetch/fetchers/fetchers.ts
  frontend/src/types/search/searchFilterTypes.ts
  frontend/src/utils/apiUtils.ts
  frontend/src/utils/search/searchUtils.ts
  frontend/src/utils/testing/fixtures.ts
  frontend/tests/api/agencies/route.test.ts
  frontend/tests/components/search/Filters/AgencyFilterContent.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterSection/SearchFilterSection.test.tsx
  frontend/tests/e2e/search/search.spec.ts
  frontend/tests/services/fetch/fetchers/agenciesFetcher.test.ts
  frontend/tests/utils/search/searchUtils.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

[Issue #5133] Add factory and new field to competition_instruction table (#5218)
  api/src/db/migrations/versions/2025_05_30_add_competition_instruction_table_and_.py
  api/src/db/models/competition_models.py
  api/tests/src/db/models/factories.py
  documentation/api/database/erds/api-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

WIP
  api/src/services/applications/application_validation.py
  api/src/services/applications/create_application.py
  api/src/validation/validation_constants.py
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/services/applications/test_application_validation.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5216] Update systemd for vuln failure (#5217)
  analytics/Dockerfile
  api/Dockerfile
  frontend/Dockerfile
Owners: @acouch, @coilysiren, @freddieyebra, @widal001, @chouinar, @mdragon, @joshtonava, @andycochran, @btabaska, @doug-s-nava, @myduong-navapbc

Create ERD diagram and Update OpenAPI spec
  documentation/api/database/erds/api-schema.png
  documentation/api/database/erds/staging-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Create ERD diagram and Update OpenAPI spec
  api/openapi.generated.yml
  documentation/api/database/erds/api-schema.png
  documentation/api/database/erds/staging-schema.png
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

refactor: flatten the opportunity card component
  frontend/src/components/application/OpportunityAwardOverview.tsx
  frontend/src/components/application/OpportunityCard.tsx
  frontend/src/components/application/OpportunityItem.tsx
  frontend/src/components/application/OpportunityOverview.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

chore: ran linter
  frontend/src/components/application/OpportunityCard.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/stories/components/application/OpportunityCard.stories.tsx
  frontend/stories/pages/application.stories.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Cleanup
  api/src/services/applications/application_validation.py
  api/src/services/applications/create_application.py
  api/tests/src/api/applications/test_application_routes.py
  api/tests/src/services/applications/test_application_validation.py
  api/tests/src/services/applications/test_submit_application.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #4986] Add an application form status to the response model for relevant endpoints (#5201)
  api/openapi.generated.yml
  api/src/api/application_alpha/application_route.py
  api/src/api/application_alpha/application_schemas.py
  api/src/constants/lookup_constants.py
  api/src/services/applications/application_validation.py
  api/src/services/applications/get_application_form.py
  api/src/services/applications/update_application_form.py
  api/tests/src/api/applications/test_application_routes.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Update schema and soap payload response.
  api/src/legacy_soap_api/applicants/schemas/get_opportunity_list_schemas.py
  api/src/legacy_soap_api/applicants/services/get_opportunity_list_response.py
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/src/legacy_soap_api/legacy_soap_api_utils.py
  api/src/legacy_soap_api/soap_payload_handler.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
  api/tests/src/legacy_soap_api/test_soap_payload_handler.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava
