Repository HHS/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdragon, @acouch, @andycochran, @btabaska, @chouinar, @coilysiren, @doug-s-nava, @freddieyebra, @joshtonava, @myduong-navapbc, @widal001, @pcraig3

fix CI code format failure
  frontend/tests/components/opportunity/OpportunityHistory.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix CI failures
  frontend/tests/components/opportunity/OpportunityAwardGridRow.test.tsx
  frontend/tests/components/opportunity/OpportunityHistory.test.tsx
  frontend/tests/components/opportunity/OpportunityIntro.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix CI code format failure
  frontend/tests/components/opportunity/OpportunityAwardGridRow.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

polishing CI failing code format
  frontend/src/components/applyForm/widgets/RadioWidget.tsx
  frontend/src/components/applyForm/widgets/SelectWidget.tsx
  frontend/src/components/applyForm/widgets/TextAreaWidget.tsx
  frontend/src/components/applyForm/widgets/TextWidget.tsx
  frontend/src/services/fetch/fetcherHelpers.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

polishing CI code failures
  frontend/src/services/featureFlags/featureFlagHelpers.ts
  frontend/tests/components/ServerErrorAlert.test.tsx
  frontend/tests/components/opportunity/OpportunityCTA.test.tsx
  frontend/tests/components/opportunity/OpportunityDescription.test.tsx
  frontend/tests/components/search/SearchSortBy.test.tsx
  frontend/tests/pages/not-found.test.tsx
  frontend/tests/pages/subscribe/subscribeEmailAction.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix CI code format failure
  frontend/tests/components/opportunity/OpportunityAwardInfo.test.tsx
  frontend/tests/services/auth/useUser.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix CI code format failure
  frontend/tests/services/auth/useUser.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix CI code format failure
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/components/search/SearchResultsListItem.tsx
  frontend/src/utils/testing/fixtures.ts
  frontend/src/utils/testing/opportunityMock.ts
  frontend/stories/components/search/SearchListItem.stories.tsx
  frontend/tests/utils/search/searchUtils.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix CI code format failure
  frontend/src/components/opportunity/OpportunityAwardInfo.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix CI code format failure
  frontend/tests/services/auth/useUser.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix CI code format failure
  frontend/src/components/opportunity/OpportunityAwardInfo.tsx
  frontend/src/types/opportunity/opportunityResponseTypes.ts
  frontend/tests/components/opportunity/OpportunityAwardInfo.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix CI code format failure
  frontend/src/components/opportunity/OpportunityAwardInfo.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix CI code format failure
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/components/opportunity/OpportunityAwardInfo.tsx
  frontend/src/components/search/SearchResultsListItem.tsx
  frontend/src/types/opportunity/opportunityResponseTypes.ts
  frontend/src/utils/testing/fixtures.ts
  frontend/src/utils/testing/opportunityMock.ts
  frontend/stories/components/search/SearchListItem.stories.tsx
  frontend/tests/components/opportunity/OpportunityAwardInfo.test.tsx
  frontend/tests/utils/search/searchUtils.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix CI code format failure
  frontend/tests/services/auth/useUser.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix CI code format failure
  frontend/tests/services/auth/useUser.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix CI code format failure
  frontend/tests/components/opportunity/OpportunityAwardInfo.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix CI code format failure
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

format fix with prettier
  frontend/src/services/fetch/fetcherHelpers.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

addressing PR comments and reverse unwanted changes from codebase
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/components/opportunity/OpportunityAwardInfo.tsx
  frontend/src/components/search/SearchResultsListItem.tsx
  frontend/src/hooks/useClientFetch.ts
  frontend/src/services/fetch/fetcherHelpers.ts
  frontend/src/types/apiResponseTypes.ts
  frontend/src/types/opportunity/opportunityResponseTypes.ts
  frontend/src/utils/testing/fixtures.ts
  frontend/src/utils/testing/opportunityMock.ts
  frontend/stories/components/search/SearchListItem.stories.tsx
  frontend/tests/components/opportunity/OpportunityAwardGridRow.test.tsx
  frontend/tests/components/opportunity/OpportunityAwardInfo.test.tsx
  frontend/tests/services/fetch/FetcherHelpers.test.ts
  frontend/tests/services/fetch/Fetchers.test.ts
  frontend/tests/utils/search/searchUtils.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix CI code format failure
  frontend/src/types/authTypes.ts
  frontend/tests/services/auth/useUser.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fix CI code format failure
  frontend/tests/services/auth/useUser.test.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

fixes
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/components/applyForm/widgets/CheckboxWidget.tsx
  frontend/src/components/applyForm/widgets/RadioWidget.tsx
  frontend/src/components/applyForm/widgets/SelectWidget.tsx
  frontend/src/components/applyForm/widgets/TextAreaWidget.tsx
  frontend/src/components/applyForm/widgets/TextWidget.tsx
  frontend/src/components/opportunity/OpportunityAwardInfo.tsx
  frontend/src/components/search/SearchError.tsx
  frontend/src/components/search/SearchResults.tsx
  frontend/src/components/search/SearchResultsListItem.tsx
  frontend/src/components/vision/sections/VisionGetThere.tsx
  frontend/src/errors.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/types/opportunity/opportunityResponseTypes.ts
  frontend/src/types/uiTypes.ts
  frontend/src/utils/testing/fixtures.ts
  frontend/src/utils/testing/opportunityMock.ts
  frontend/stories/components/search/SearchListItem.stories.tsx
  frontend/tests/components/applyForm/validate.test.ts
  frontend/tests/components/opportunity/OpportunityAwardGridRow.test.tsx
  frontend/tests/components/opportunity/OpportunityAwardInfo.test.tsx
  frontend/tests/components/search/SaveSearchModal.test.tsx
  frontend/tests/components/workspace/DeleteSavedSearchModal.test.tsx
  frontend/tests/components/workspace/EditSavedSearchModal.test.tsx
  frontend/tests/errors.test.ts
  frontend/tests/hooks/useClientFetch.test.ts
  frontend/tests/services/fetch/fetchers/clientUserFetcher.test.ts
  frontend/tests/utils/search/searchUtils.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

more fixes
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/components/applyForm/widgets/TextAreaWidget.tsx
  frontend/src/components/applyForm/widgets/TextWidget.tsx
  frontend/src/components/opportunity/OpportunityAwardInfo.tsx
  frontend/tests/components/opportunity/OpportunityAwardGridRow.test.tsx
  frontend/tests/hooks/useClientFetch.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Fix unique key error in milestones section.
  frontend/src/components/roadmap/sections/RoadmapMilestones.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

post rebase fix
  frontend/src/app/[locale]/subscribe/unsubscribe/page.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Update spacing.
  frontend/src/components/roadmap/sections/RoadmapMilestones.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

Removing use of Optional type
  api/src/services/opportunities_v1/get_opportunity.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

Removed unecessary casting OpportunityCategory
  api/tests/src/services/opportunities_v1/test_opportunity_version.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Unticketed] Fix error when a non-string is passed for an enum
  api/src/api/schemas/extension/schema_fields.py
  api/tests/src/schemas/extension/test_schema_fields.py
  api/tests/src/schemas/schema_validation_utils.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

[Issue #5031] Extract and support validating get opportunity list request data (#5102)
  api/src/legacy_soap_api/applicants/fault_messages.py
  api/src/legacy_soap_api/applicants/schemas/__init__.py
  api/src/legacy_soap_api/applicants/schemas/get_opportunity_list_schemas.py
  api/src/legacy_soap_api/legacy_soap_api_client.py
  api/src/legacy_soap_api/legacy_soap_api_routes.py
  api/src/legacy_soap_api/legacy_soap_api_schemas.py
  api/src/legacy_soap_api/legacy_soap_api_utils.py
  api/src/legacy_soap_api/soap_payload_handler.py
  api/tests/src/legacy_soap_api/applicants/test_schemas.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_client.py
  api/tests/src/legacy_soap_api/test_legacy_soap_api_schemas.py
  api/tests/src/legacy_soap_api/test_soap_payload_handler.py
Owners: @chouinar, @freddieyebra, @mdragon, @joshtonava

squashed filter drawer up to e40
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/components/drawer/Drawer.tsx
  frontend/src/components/drawer/DrawerControl.tsx
  frontend/src/components/drawer/DrawerUnit.tsx
  frontend/src/components/opportunity/OpportunityStatusWidget.tsx
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchDrawerFilters.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/components/search/SearchResults.tsx
  frontend/src/components/search/SearchVersionTwo.tsx
  frontend/src/constants/defaultFeatureFlags.ts
  frontend/src/constants/environments.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/services/featureFlags/withFeatureFlag.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/tests/components/search/Filters/CheckboxFilter.test.tsx
  frontend/tests/components/search/SearchDrawerFilters.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterAccordion.test.tsx
  frontend/tests/components/search/SearchPagination.test.tsx
  frontend/tests/components/search/SearchResults.test.tsx
  infra/frontend/app-config/env-config/environment_variables.tf
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc, @coilysiren, @mdragon

wip - potentially throw away
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/src/components/search/SearchFilters.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

more wip, lots or reorg to try and get suspense and data fetching to work, not there yet
  frontend/src/components/search/Filters/AgencyFilterContent.tsx
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/src/components/search/SearchFilters.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

wip performing search
  frontend/src/app/api/agencies/handler.ts
  frontend/src/app/api/agencies/route.ts
  frontend/src/components/search/Filters/AgencyFilterContent.tsx
  frontend/src/services/fetch/endpointConfigs.ts
  frontend/src/services/fetch/fetchers/agenciesFetcher.ts
  frontend/src/services/fetch/fetchers/clientAgenciesFetcher.ts
  frontend/src/services/fetch/fetchers/fetchers.ts
  frontend/src/utils/apiUtils.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

looks like it is loading with a search input
  frontend/src/components/search/Filters/AgencyFilterContent.tsx
  frontend/src/components/search/Filters/CheckboxFilter.tsx
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/src/components/search/SearchFilters.tsx
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

get the call to actually work, some refactors
  frontend/src/app/api/agencies/handler.ts
  frontend/src/components/search/Filters/AgencyFilterContent.tsx
  frontend/src/components/search/SearchFilterAccordion/AgencyFilterAccordion.tsx
  frontend/src/components/search/SearchFilters.tsx
  frontend/src/services/fetch/fetchers/agenciesFetcher.ts
  frontend/src/services/fetch/fetchers/clientAgenciesFetcher.ts
  frontend/src/types/search/searchFilterTypes.ts
  frontend/src/utils/search/searchUtils.ts
  frontend/tests/services/fetch/fetchers/agenciesFetcher.test.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

successfully requesting, not succesfully formatting for ui
  frontend/src/app/api/agencies/handler.ts
  frontend/src/app/api/agencies/route.ts
  frontend/src/services/fetch/fetchers/agenciesFetcher.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

remove any box when search term is present
  frontend/src/components/search/Filters/AgencyFilterContent.tsx
  frontend/src/services/fetch/fetchers/clientAgenciesFetcher.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

add 'no results' view
  frontend/src/components/search/Filters/AgencyFilterContent.tsx
  frontend/src/components/search/Filters/FilterSearchNoResults.tsx
  frontend/src/i18n/messages/en/index.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

some cleanup
  frontend/src/components/search/SearchFilters.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/services/fetch/fetchers/fetchers.ts
Owners: @acouch, @andycochran, @btabaska, @doug-s-nava, @freddieyebra, @myduong-navapbc

.github/CODEOWNERS:

# Keep this document in sync with MAINTAINERS.md.
# More generic / higher level paths should be listed first.

* @mdragon # project lead

/documentation/  @acouch @andycochran @btabaska @chouinar @coilysiren @doug-s-nava @freddieyebra @joshtonava @mdragon @myduong-navapbc @widal001 # everyone

/analytics/               @acouch @coilysiren @freddieyebra @widal001
/documentation/analytics/ @acouch @coilysiren @freddieyebra @widal001

/api/               @chouinar @freddieyebra @mdragon @joshtonava
/documentation/api/ @chouinar @freddieyebra @mdragon @joshtonava

/frontend/               @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc
/documentation/frontend/ @acouch @andycochran @btabaska @doug-s-nava @freddieyebra @myduong-navapbc

/infra/                    @acouch @coilysiren @mdragon
/infra/nofos/              @acouch @coilysiren @mdragon @pcraig3
/documentation/infra/      @acouch @coilysiren @mdragon
/.github/                  @acouch @coilysiren @mdragon
/.github/workflows/*nofos* @acouch @coilysiren @mdragon @pcraig3
/bin/                      @acouch @coilysiren @mdragon
