Repository HHS/simpler-grants-gov, pull requests merged in 2023-07, with the labels that each got.

#38 [Issue 27] API Language ADR
  documentation/decisions/adr/0003-api-language.md
Labels: docs: adr

#121 [Issue 28] Back End Framework ADR
  documentation/decisions/adr/0004-api-framework.md
Labels: docs: adr

#113 [ISSUE 101] ADR for back-end code quality tools
  documentation/decisions/adr/0005-backend-tooling.md
Labels: docs: adr

#122 [116] ADR: Use Mural for diagramming and whiteboarding
  documentation/decisions/adr/000n-design-diagramming-tool.md
Labels: docs: adr

#120 [103] ADR: Use Figma as design prototyping tool
  documentation/decisions/adr/000n-design-prototyping-tool.md
Labels: docs: adr

#29 [ISSUE 21] API Planning milestone
  documentation/milestones/individual_milestones/api_planning.md
  documentation/milestones/milestone_dependency_diagram.mmd
  documentation/milestones/milestone_short_descriptions.md
Labels: docs: milestone

#236 [issue 97] Front-end Framework ADR
  documentation/decisions/adr/0010-front-end-framework.md
Labels: docs: adr

#115 [ISSUE 104] DB Planning milestone doc
  documentation/milestones/individual_milestones/api_planning.md
  documentation/milestones/individual_milestones/db_planning.md
  documentation/milestones/milestone_dependency_diagram.mmd
  documentation/milestones/milestone_short_descriptions.md
Labels: docs: milestone

#190 ADR for front-end code quality tools
  documentation/decisions/adr/0011-frontend-tooling.md
Labels: docs: adr, topic: frontend

#13 (WIP) Goals
  documentation/goals.md
Labels: draft

#24 [ISSUE-20] Developer tools milestone
  documentation/milestones/individual_milestones/developer_tools.md
  documentation/milestones/milestone_short_descriptions.md
Labels: docs: milestone

#284 [ISSUE 183] Front-end Testing Framework and Coverage
  documentation/decisions/adr/0011-frontend-tooling.md
  documentation/decisions/adr/00NN-frontend-testing.md
  documentation/decisions/template.md
Labels: docs: adr

#307 [ISSUE 187] Deployment Strategy
  documentation/decisions/adr/0020-deployment-strategy.md
Labels: docs: adr

#324 [ISSUE 321] Standardize Github Action workflow naming conventions
  .github/workflows/ci-api.yml
  .github/workflows/ci-frontend.yml
Labels: topic: infra

#182 [ISSUE 98] ticket tracking
  documentation/decisions/adr/2023-07-11-ticket-tracking.md
Labels: docs: adr, topic: comms

#334 [ADR]: Back-end production server#245
  documentation/decisions/adr/2023-07-05-chat-adr.md
  documentation/decisions/adr/2023-07-20-deployment-strategy.md
  documentation/decisions/adr/2023-07-26-backend-prod-server.md
Labels: docs: adr, topic: backend

#364 [ISSUE 290] Implement header for static site
  frontend/.storybook/main.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/common.json
  frontend/src/components/Header.tsx
  frontend/stories/components/Header.stories.tsx
  frontend/tests/components/Header.test.tsx
Labels: topic: frontend, project: grants.gov
