Repository HHS/simpler-grants-gov, pull requests merged in 2023-08, with the labels that each got.

#243 [Issue 33] Static Site milestone doc
  documentation/milestones/individual_milestones/static_site.md
  documentation/milestones/milestone_dependency_diagram.mmd
  documentation/milestones/milestone_short_descriptions.md
Labels: docs: milestone

#249 [Issue 220] GET Opportunities milestone doc
  documentation/milestones/individual_milestones/get_opportunities.md
  documentation/milestones/milestone_dependency_diagram.mmd
  documentation/milestones/milestone_short_descriptions.md
Labels: docs: milestone

#376 [ISSUE 359] Implement Hero for static site
  frontend/public/locales/en/common.json
  frontend/src/components/Hero.tsx
  frontend/src/components/Layout.tsx
  frontend/src/styles/_uswds-theme.scss
  frontend/stories/components/Hero.stories.tsx
  frontend/tests/components/Hero.test.tsx
Labels: topic: frontend

#377 [ Issue 361 ] Funding Opportunity Content
  frontend/public/docs/acf_prototype.pdf
  frontend/public/docs/acl_prototype.pdf
  frontend/public/docs/cdc_prototype.pdf
  frontend/public/docs/samhsa_prototype.pdf
  frontend/public/img/acf_prototype.png
  frontend/public/img/acl_prototype.png
  frontend/public/img/cdc_prototype.png
  frontend/public/img/samhsa_prototype.png
  frontend/public/locales/en/common.json
  frontend/src/components/FundingContent.tsx
  frontend/src/components/GoalContent.tsx
  frontend/src/components/NofoImageLink.tsx
  frontend/src/constants/nofoPdfs.ts
  frontend/src/pages/index.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
  frontend/src/styles/_uswds-theme.scss
  frontend/stories/components/FullWidthAlert.stories.tsx
  frontend/stories/components/FundingContent.stories.tsx
  frontend/stories/components/GoalContent.stories.tsx
  frontend/stories/components/NofoImageLink.stories.tsx
  frontend/tests/components/FundingContent.test.tsx
  frontend/tests/components/NofoImageLink.test.tsx
  frontend/tests/pages/index.test.tsx
Labels: topic: frontend

#374 [ISSUE 246] Integrate back-end production server + other Flask API updates
  api/Dockerfile
  api/Makefile
  api/gunicorn.conf.py
  api/poetry.lock
  api/pyproject.toml
  api/src/__main__.py
  api/src/adapters/db/clients/postgres_client.py
  api/src/app_config.py
  api/tests/src/adapters/db/clients/test_postgres_client.py
  docker-compose.yml
  documentation/api/database/database-access-management.md
  documentation/api/database/database-management.md
Labels: topic: backend

#393 [ISSUE 390] Production Image Caching
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
Labels: topic: frontend

#395 [ISSUE 394] Failing health check for next.js app
  .grype.yml
  frontend/Dockerfile
  frontend/Makefile
  frontend/next-i18next.config.js
Labels: topic: frontend

#372 [Issue 323] Analytics Platform ADR
  documentation/decisions/adr/2023-08-01-analytics-platform.md
Labels: docs: adr, project: grants.gov

#36 [Issue 30] ADR: wiki platform
  documentation/decisions/adr/2023-07-10-wiki-platform.md
Labels: docs: adr, topic: comms

#405 [Issue: 396] Update content
  frontend/public/locales/en/common.json
Labels: project: grants.gov, level: story

#119 [Issue 93] Add ADR for Cloud Platform and IAC
  documentation/decisions/adr/2023-08-21-cloud-platform.md
  documentation/decisions/adr/2023-08-21-infrastructure-as-code-tool.md
Labels: docs: adr

#407 [ISSUE 406] Fix deploy Github Actions workflow
  .github/workflows/build-and-publish.yml
  .github/workflows/cd-frontend.yml
  .github/workflows/ci-infra.yml
  .github/workflows/ci-vulnerability-scans.yml
  .github/workflows/database-migrations.yml
  .github/workflows/deploy.yml
  Makefile
  infra/test/infra_test.go
Labels: topic: infra
