Repository HHS/simpler-grants-gov, pull requests merged in 2024-01, with the labels that each got.

#1021 [Issue 1019] Rename `analytics.etl` sub package
  analytics/src/analytics/cli.py
  analytics/src/analytics/integrations/__init__.py
  analytics/src/analytics/integrations/github.py
  analytics/src/analytics/integrations/slack.py
  analytics/src/analytics/metrics/base.py
  analytics/tests/integrations/test_slack.py
Labels: python, analytics

#1014 [Issue 963] Moves ECS services into private subnets
  infra/api/app-config/main.tf
  infra/api/app-config/staging.tf
  infra/api/database/staging.s3.tfbackend
  infra/api/service/main.tf
  infra/api/service/staging.s3.tfbackend
  infra/frontend/app-config/main.tf
  infra/frontend/app-config/staging.tf
  infra/frontend/service/main.tf
  infra/frontend/service/staging.s3.tfbackend
  infra/modules/database/role_manager/role_manager.py
  infra/modules/service/access-control.tf
  infra/modules/service/load-balancer.tf
  infra/modules/service/main.tf
  infra/modules/service/variables.tf
  infra/networks/main.tf
  infra/networks/subnet-backfill.tf
  infra/networks/variables.tf
Labels: terraform, infra, python

#1043 Move DMS stuff to `modules/dms-networking` folder
  infra/modules/database/networking.tf
  infra/modules/dms-networking/.terraform.lock.hcl
  infra/modules/dms-networking/main.tf
  infra/modules/dms-networking/networking.tf
  infra/modules/dms-networking/outputs.tf
  infra/modules/dms-networking/security.tf
  infra/modules/dms-networking/variables.tf
  infra/modules/dms/networking.tf
  infra/modules/dms/outputs.tf
  infra/modules/dms/variables.tf
  infra/networks/main.tf
Labels: terraform, infra

#1046 [Issue 1041] Update infra service tf version
  .github/workflows/infra-service.yml
Labels: ci/cd

#1047 [Issue 1037] Harden subnet selection logic
  infra/api/database/main.tf
  infra/api/service/main.tf
  infra/frontend/service/main.tf
Labels: terraform, infra

#1039 [Issue 960] ELB Deletion Protection
  infra/api/service/main.tf
  infra/api/service/outputs.tf
  infra/frontend/service/main.tf
  infra/frontend/service/outputs.tf
  infra/modules/service/load-balancer.tf
  infra/modules/service/variables.tf
Labels: terraform, infra

#1049 [Issue 960 fast follow] PR cleanup
  infra/api/service/outputs.tf
  infra/frontend/service/outputs.tf
  infra/modules/service/variables.tf
Labels: terraform, infra

#926 [Issue 854] ADR for 30k deliverable reporting strategy
  documentation/decisions/adr/2023-12-15-deliverable-reporting-strategy.md
Labels: documentation

#984 [Issue 894] analytics documentation
  analytics/README.md
  analytics/src/analytics/datasets/__init__.py
  documentation/analytics/README.md
  documentation/analytics/development.md
  documentation/analytics/formatting-and-linting.md
  documentation/analytics/metrics/README.md
  documentation/analytics/metrics/burndown.md
  documentation/analytics/metrics/percent-complete.md
  documentation/analytics/technical-overview.md
  documentation/analytics/testing.md
  documentation/analytics/usage.md
Labels: documentation, python, analytics

#1062 [Issue 1061] Move NAT Gateways go into the public subnets
  infra/networks/subnet-backfill.tf
Labels: terraform, infra

#1058 [Issue 1056] Fix release run names
  .github/workflows/cd-api.yml
  .github/workflows/cd-frontend.yml
Labels: ci/cd

#1052 [Issue 1037] Allow choosing between multiple VPCs
  infra/api/database/main.tf
  infra/api/service/main.tf
  infra/frontend/service/main.tf
  infra/networks/subnet-backfill.tf
  infra/project-config/main.tf
  infra/project-config/outputs.tf
Labels: terraform, infra

#1069 [DMS] Update security groups via terraform
  infra/modules/database/networking.tf
  infra/modules/dms-networking/security.tf
Labels: terraform, infra

#1070 [DMS] Update Security group rule ID
  infra/modules/database/networking.tf
Labels: terraform, infra

#1048 [Issue 965] Configure RDS to pass Security Hub checks
  infra/api/app-config/env-config/outputs.tf
  infra/api/app-config/env-config/variables.tf
  infra/api/app-config/prod.tf
  infra/api/database/main.tf
  infra/modules/database/main.tf
  infra/modules/database/variables.tf
Labels: terraform, infra

#1072 [DMS] Select the DMS security VPC with a VPC filter
  infra/modules/database/networking.tf
Labels: terraform, infra

#1044 [Issue 1037] Create non-default networking configuration
  infra/modules/network/main.tf
  infra/modules/network/outputs.tf
  infra/modules/network/variables.tf
  infra/modules/network/vpc-endpoints.tf
  infra/networks/main.tf
  infra/networks/staging.s3.tfbackend
  infra/networks/variables.tf
Labels: terraform, infra

#1084 [Issue 1051] Create configuration for Dev and Prod networks
  infra/networks/dev.tfbackend
  infra/networks/prod.s3.tfbackend
Labels: infra

#1090 [Issue 962] Add EC2 VPC endpoint (+ fix filename)
  infra/modules/network/vpc-endpoints.tf
  infra/networks/dev.s3.tfbackend
Labels: terraform, infra

#1093 [Issue 1051] Fix CIDR overlap
  infra/modules/dms-networking/main.tf
  infra/modules/dms-networking/variables.tf
  infra/modules/network/main.tf
  infra/modules/network/outputs.tf
  infra/modules/network/variables.tf
  infra/networks/.terraform.lock.hcl
  infra/networks/main.tf
  infra/project-config/main.tf
Labels: terraform, infra

#1095 [Issue 1051] Fix a security group name
  infra/api/database/.terraform.lock.hcl
  infra/modules/network/vpc-endpoints.tf
  infra/networks/.terraform.lock.hcl
  infra/networks/main.tf
Labels: terraform, infra

#1089 [Issue 962] Add VPC flow logs
  infra/modules/network/flow-logs.tf
  infra/modules/network/main.tf
Labels: terraform, infra

#1096 [Issue 1086] Enable HTTP endpoint to RDS databases
  infra/api/app-config/dev.tf
  infra/api/app-config/env-config/outputs.tf
  infra/api/app-config/env-config/variables.tf
  infra/api/app-config/prod.tf
  infra/api/app-config/staging.tf
  infra/api/database/main.tf
  infra/modules/database/main.tf
  infra/modules/database/variables.tf
Labels: terraform, infra

#936 [Issue 845] ADR for measurement dashboard architecture
  documentation/decisions/adr/2023-12-18-measurement-dashboard-architecture.md
Labels: documentation

#1088 [Issue 1051] Deploy dev to non-default dev VPC
  infra/project-config/main.tf
Labels: terraform, infra

#1080 [Issue 1015] Include exported data in post to slack
  analytics/src/analytics/datasets/base.py
  analytics/src/analytics/metrics/base.py
  analytics/src/analytics/metrics/burndown.py
  analytics/src/analytics/metrics/percent_complete.py
  analytics/tests/metrics/test_base.py
  analytics/tests/metrics/test_burndown.py
Labels: python, analytics

#1115 [Issue 1038] Explicitly associate the DMS with every subnet
  infra/modules/dms-networking/main.tf
  infra/modules/dms-networking/networking.tf
Labels: terraform, infra

#1099 Add DMS Replication instance and endpoints to Terraform
  infra/api/database/.terraform.lock.hcl
  infra/api/database/main.tf
  infra/modules/database/dms-instance.tf
Labels: terraform, infra

#1103 [Issue 1085] Make the topportunity transfer table and connect the API directly to it
  api/bin/create_erds.py
  api/src/db/migrations/versions/2024_01_29_add_topportunity_table_for_transfer.py
  api/src/db/models/__init__.py
  api/src/db/models/transfer/__init__.py
  api/src/db/models/transfer/topportunity_models.py
  api/src/services/opportunities/get_opportunities.py
  api/src/services/opportunities/opportunity_service_shared.py
  api/src/services/opportunities/search_opportunities.py
  api/tests/lib/seed_local_db.py
  api/tests/src/db/models/factories.py
  api/tests/src/route/test_opportunity_route.py
  documentation/api/database/erds/README.md
  documentation/api/database/erds/full-schema.png
  documentation/api/database/erds/transfer-schema.png
Labels: documentation, python, api, database

#1116 [Issue 1086] Bring in updates to `infra/modules/database`
  infra/modules/database/backups.tf
  infra/modules/database/monitoring.tf
  infra/modules/database/role-manager.tf
Labels: terraform, infra

#1117 Patch Update DMS to Terraform
  infra/modules/database/dms-instance.tf
Labels: terraform, infra
