Repository HHS/simpler-grants-gov, pull requests merged in 2024-04, with the labels that each got.

#1577 [Issue #1365] Create script to setup the current opportunities table
  api/src/app.py
  api/src/task/__init__.py
  api/src/task/opportunities/__init__.py
  api/src/task/opportunities/set_current_opportunities_task.py
  api/src/task/task.py
  api/src/task/task_blueprint.py
  api/src/util/datetime_util.py
  api/tests/src/task/__init__.py
  api/tests/src/task/opportunities/__init__.py
  api/tests/src/task/opportunities/test_set_current_opportunities_task.py
Labels: python, api

#1561 [Issue #1524] Cleanup the opportunity route tests
  api/tests/src/api/opportunities_v0_1/conftest.py
  api/tests/src/api/opportunities_v0_1/test_opportunity_route_get.py
  api/tests/src/api/opportunities_v0_1/test_opportunity_route_search.py
Labels: python, api

#1583 [Issue #1541] Fail CI when there are outstanding linter changes
  .github/workflows/ci-analytics.yml
  analytics/Makefile
  analytics/src/analytics/metrics/burnup.py
  analytics/src/analytics/metrics/utils.py
Labels: python, analytics, ci/cd

#1503 [Issue #1506] Business Analytics Data Storage ADR
  documentation/decisions/adr/2024-03-19-dashboard-storage.md
Labels: documentation

#1574 [Issue #1547] Deploy analytics ECS service
  infra/analytics/app-config/env-config/outputs.tf
  infra/analytics/app-config/env-config/variables.tf
  infra/analytics/service/.terraform.lock.hcl
  infra/analytics/service/dev.s3.tfbackend
  infra/analytics/service/image_tag.tf
  infra/analytics/service/main.tf
  infra/analytics/service/outputs.tf
  infra/analytics/service/variables.tf
  infra/modules/task-service/README.md
  infra/modules/task-service/access-control.tf
  infra/modules/task-service/application-logs.tf
  infra/modules/task-service/database-access.tf
  infra/modules/task-service/main.tf
  infra/modules/task-service/networking.tf
  infra/modules/task-service/outputs.tf
  infra/modules/task-service/secrets.tf
  infra/modules/task-service/variables.tf
Labels: documentation, terraform, infra

#1586 Update MAINTAINERS.md with Ebuwa Evbuoma-Fike
  MAINTAINERS.md
Labels: documentation

#1520 [Issue #1270] Modify DB session logic to allow for multiple schemas
  api/Makefile
  api/local.env
  api/pyproject.toml
  api/src/adapters/db/__init__.py
  api/src/adapters/db/clients/postgres_client.py
  api/src/adapters/db/clients/postgres_config.py
  api/src/constants/schema.py
  api/src/data_migration/copy_oracle_data.py
  api/src/data_migration/setup_foreign_tables.py
  api/src/db/migrations/env.py
  api/src/db/migrations/setup_local_postgres_db.py
  api/src/db/migrations/versions/2023_10_18_basic_opportunity_table.py
  api/src/db/migrations/versions/2023_11_27_rename_opportunity_table_prior_to_real_.py
  api/src/db/migrations/versions/2023_12_11_add_rest_of_opportunity_table.py
  api/src/db/migrations/versions/2024_01_29_add_topportunity_table_for_transfer.py
  api/src/db/migrations/versions/2024_02_02_add_opportunity_category_table.py
  api/src/db/migrations/versions/2024_02_07_add_expanded_opportunity_models.py
  api/src/db/migrations/versions/2024_02_12_create_dms_exceptions_table.py
  api/src/db/migrations/versions/2024_02_21_remove_dms_exceptions_table.py
  api/src/db/migrations/versions/2024_03_07_drop_tables_to_remake.py
  api/src/db/migrations/versions/2024_03_07_updates_for_summary_tables.py
  api/src/db/migrations/versions/2024_03_12_add_indexes_for_search.py
  api/src/db/models/base.py
  api/src/db/models/lookup/lookup_table.py
  api/src/db/models/opportunity_models.py
  api/src/db/models/transfer/topportunity_models.py
  api/tests/conftest.py
  api/tests/lib/db_testing.py
  api/tests/src/adapters/db/clients/test_postgres_client.py
  api/tests/src/adapters/db/type_decorators/test_postgres_type_decorators.py
  api/tests/src/data_migration/test_copy_oracle_data.py
  api/tests/src/data_migration/test_setup_foreign_tables.py
  api/tests/src/db/models/lookup/test_sync_lookup_values.py
  api/tests/src/db/test_migrations.py
Labels: python, api, ci/cd, database

#1609 [Issue #1551] Add missing output to analytics database
  infra/analytics/database/outputs.tf
Labels: terraform, infra

#1615 [Issue #1548] Update Oracle SFN logs
  infra/api/service/copy_oracle_data.tf
Labels: terraform, infra

#1604 [Issue #1548] sprint reports step function
  infra/analytics/service/sfn_sprint_reports.tf
  infra/api/service/sfn_copy_oracle_data.tf
Labels: terraform, infra

#1601 [Issue #1543] Update opportunity factories to use more varied data
  api/src/db/models/opportunity_models.py
  api/tests/lib/seed_local_db.py
  api/tests/src/db/models/factories.py
Labels: python, api, database

#1624 [Issue 1621] Adds Analytics secrets
  infra/analytics/app-config/dev.tf
  infra/analytics/app-config/env-config/environment-variables.tf
  infra/analytics/app-config/prod.tf
  infra/analytics/app-config/staging.tf
Labels: terraform, infra

#1617 [Issue #1471]: Tests for search components
  frontend/src/components/search/SearchFilterAccordion/SearchFilterSection/SectionLinkLabel.tsx
  frontend/src/components/search/SearchPagination.tsx
  frontend/src/components/search/SearchSortBy.tsx
  frontend/tests/components/search/SearchBar.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterAccordion.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterCheckbox.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterSection/SearchFilterSection.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterSection/SectionLinkCount.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterSection/SectionLinkLabel.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterToggleAll.test.tsx
  frontend/tests/components/search/SearchPagination.test.tsx
  frontend/tests/components/search/SearchResultsHeader.test.tsx
  frontend/tests/components/search/SearchResultsListItem.test.tsx
  frontend/tests/components/search/SearchSortBy.test.tsx
Labels: frontend, typescript

#1613 [Issue #1593]: Add eligibility and category filters
  frontend/src/app/api/SearchOpportunityAPI.ts
  frontend/src/app/search/SearchForm.tsx
  frontend/src/components/search/SearchFilterCategory.tsx
  frontend/src/components/search/SearchFilterEligibility.tsx
  frontend/src/hooks/useSearchFormState.ts
  frontend/src/services/search/FormDataService.ts
  frontend/src/services/search/searchfetcher/SearchFetcher.ts
  frontend/src/types/search/searchRequestTypes.ts
  frontend/src/utils/search/convertSearchParamsToProperTypes.ts
  frontend/tests/api/SearchOpportunityApi.test.ts
  frontend/tests/hooks/useSearchFormState.test.ts
Labels: frontend, typescript

#1628 [Issue #1272]: Setup API Debugger for VSCode
  api/Makefile
  api/docker-compose.debug.yml
  api/poetry.lock
  api/pyproject.toml
  documentation/api/development.md
Labels: documentation, api, ci/cd

#1639 [Issue #1272]: Commit launch.json for debugging
  .gitignore
  .vscode/launch.json
  documentation/api/development.md
  frontend/README.md
Labels: documentation, frontend

#1603 [Issue 1596] Run vuln scans on analytics directory
  .dockleconfig
  .github/workflows/ci-analytics.yml
  .github/workflows/ci-vulnerability-scans.yml
  analytics/Dockerfile
  analytics/poetry.lock
Labels: analytics, ci/cd

#1636 [Issue #1625] Deploy to staging and prod, fix path
  analytics/Makefile
  analytics/src/analytics/cli.py
  infra/analytics/database/prod.s3.tfbackend
  infra/analytics/database/staging.s3.tfbackend
  infra/analytics/service/prod.s3.tfbackend
  infra/analytics/service/sfn_sprint_reports.tf
  infra/analytics/service/staging.s3.tfbackend
Labels: terraform, infra, python, analytics, ci/cd

#1641 [Issue #1640]: Update next to 14.1
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#1679 [Issue #1581] Update MAINTAINERS.md
  MAINTAINERS.md
Labels: documentation

#1626 [Issue #1587] Switch to use ruff instead of flake8
  api/Makefile
  api/poetry.lock
  api/pyproject.toml
  api/setup.cfg
  api/src/tool/console/interactive.py
  documentation/api/formatting-and-linting.md
Labels: documentation, python, api, ci/cd

#1616 [Issue #1446] Fix `make login-db` to set schema path
  api/Makefile
Labels: api, ci/cd

#1703 [Issue# 1702]: Update README.md to add link to wiki
  README.md
Labels: documentation

#1704 [Issue# 1678]: Added Wiki link to Process Page on Static Site
  frontend/public/locales/en/common.json
  frontend/src/constants/routes.ts
  frontend/src/pages/content/ProcessInvolved.tsx
Labels: frontend, typescript

#1750 [Issue #1521]: Add env vars to connect frontend search to API
  frontend/Dockerfile
  infra/frontend/app-config/env-config/environment-variables.tf
Labels: frontend, terraform, infra

#1755 [Issue #1521]: Remove dockerfile env var args
  frontend/Dockerfile
Labels: frontend

#1759 [Issue #1521]: fix API_AUTH_TOKEN clash between backend and frontend
  infra/api/app-config/env-config/environment-variables.tf
  infra/api/app-config/env-config/outputs.tf
  infra/api/service/main.tf
  infra/modules/service/main.tf
  infra/modules/service/variables.tf
  infra/modules/task-service/main.tf
  infra/modules/task-service/variables.tf
Labels: terraform, infra

#1762 [Issue #1659] Create general purpose s3 bucket
  infra/modules/service/access-logs.tf
  infra/modules/service/main.tf
  infra/modules/service/s3.tf
Labels: terraform, infra

#1760 [Issue #1760] Add translation fix
  frontend/src/app/not-found.tsx
  frontend/src/app/search/page.tsx
  frontend/src/components/AppLayout.tsx
  frontend/src/components/BetaAlert.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/GrantsIdentifier.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Layout.tsx
  frontend/src/pages/404.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/newsletter/confirmation.tsx
  frontend/src/pages/newsletter/index.tsx
  frontend/src/pages/newsletter/unsubscribe.tsx
  frontend/src/pages/process.tsx
  frontend/src/pages/research.tsx
  frontend/tests/components/BetaAlert.test.tsx
  frontend/tests/components/Footer.test.tsx
  frontend/tests/components/GrantsIdentifier.test.tsx
  frontend/tests/components/Header.test.tsx
Labels: frontend, typescript

#1764 [Issue #1751] Turn on feature flag for delivery metrics
  analytics/Makefile
  analytics/poetry.lock
  documentation/analytics/usage.md
Labels: documentation, analytics, ci/cd

#1772 [Issue #1658]: Agency filter list
  frontend/src/app/search/SearchForm.tsx
  frontend/src/app/search/page.tsx
  frontend/src/components/search/SearchFilterAccordion/filterJSONLists/agencyFilterList.ts
  frontend/src/components/search/SearchResultsList.tsx
  frontend/src/components/search/SearchResultsListItem.tsx
  frontend/src/utils/search/generateAgencyNameLookup.ts
Labels: frontend, typescript

#1743 [Issue #1736] Adjust current opportunity summary logic to want null revision number
  api/src/db/migrations/versions/2024_04_16_make_revision_number_nullable.py
  api/src/db/models/opportunity_models.py
  api/src/task/opportunities/set_current_opportunities_task.py
  api/tests/src/task/opportunities/test_set_current_opportunities_task.py
Labels: python, api, database

#1780 [Issue #1779] Update Api dependencies
  api/poetry.lock
  api/pyproject.toml
Labels: api

#1773 [Issue #1659] Write a script that copies csvs from s3 to the db + script to generate them
  api/src/task/__init__.py
  api/src/task/opportunities/import_opportunity_csvs.py
  api/src/util/file_util.py
  api/tests/src/task/opportunities/test_files/link_opportunity_summary_applicant_type.csv
  api/tests/src/task/opportunities/test_files/link_opportunity_summary_funding_category.csv
  api/tests/src/task/opportunities/test_files/link_opportunity_summary_funding_instrument.csv
  api/tests/src/task/opportunities/test_files/opportunity.csv
  api/tests/src/task/opportunities/test_files/opportunity_assistance_listing.csv
  api/tests/src/task/opportunities/test_files/opportunity_summary.csv
  api/tests/src/task/opportunities/test_import_opportunity_csvs.py
  api/tests/util/__init__.py
  api/tests/util/convert_oracle_csvs_to_postgres.py
Labels: python, api

#1788 [Issue #1752] Small fixes to the database schema
  api/src/db/migrations/versions/2024_04_19_fix_column_type_and_add_version_number.py
  api/src/db/models/opportunity_models.py
  api/tests/src/db/models/factories.py
Labels: python, api, database

#1802 [Issue #1664]: Add a search nav link behind feature flag
  frontend/src/components/AppLayout.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Layout.tsx
  frontend/src/pages/_app.tsx
  frontend/tests/components/Layout.test.tsx
Labels: frontend, typescript

#1803 [Issue #1659] updates s3 permissions
  infra/modules/service/s3.tf
Labels: terraform, infra

#1649 [Issue #1288] Create infra CD files
  .github/workflows/cd-analytics-infra.yml
  .github/workflows/cd-api-infra.yml
  .github/workflows/cd-frontend-infra.yml
Labels: ci/cd

#1817 [Issue #1815] Update analytics packages
  .grype.yml
  analytics/poetry.lock
Labels: analytics

#1816 [Issue #1805] Scales up the database
  infra/api/app-config/dev.tf
  infra/api/app-config/env-config/outputs.tf
  infra/api/app-config/env-config/variables.tf
  infra/api/app-config/prod.tf
  infra/api/app-config/staging.tf
  infra/api/database/.terraform.lock.hcl
  infra/api/database/main.tf
  infra/modules/database/main.tf
  infra/modules/database/variables.tf
Labels: terraform, infra

#1827 [Issue #1805] Doubles DB scaling (again)
  infra/api/app-config/dev.tf
  infra/api/app-config/prod.tf
  infra/api/app-config/staging.tf
Labels: terraform, infra

#1829 [Issue #1805] 4x DB scaling
  infra/api/app-config/dev.tf
  infra/api/app-config/prod.tf
  infra/api/app-config/staging.tf
Labels: terraform, infra

#1769 [Issue #1697] add more foreign table models and update setup_foreign_tables.py
  api/Makefile
  api/src/constants/schema.py
  api/src/data_migration/copy_oracle_data.py
  api/src/data_migration/setup_foreign_tables.py
  api/src/db/foreign/__init__.py
  api/src/db/foreign/dialect.py
  api/src/db/foreign/forecast.py
  api/src/db/foreign/foreignbase.py
  api/src/db/foreign/opportunity.py
  api/src/db/foreign/synopsis.py
  api/src/db/migrations/setup_local_postgres_db.py
  api/tests/conftest.py
  api/tests/src/data_migration/test_copy_oracle_data.py
  api/tests/src/data_migration/test_setup_foreign_tables.py
  api/tests/src/task/opportunities/test_set_current_opportunities_task.py
Labels: python, api, ci/cd, database

#1836 [Issue #1835] Remove distinct from inner query of search
  api/src/services/opportunities_v0_1/search_opportunities.py
Labels: python, api

#1824 [Issue #1823]: Fix prod FE error
  frontend/src/app/api/BaseApi.ts
  frontend/src/app/search/error.tsx
  frontend/src/errors.ts
Labels: frontend, typescript

#1839 [Issue #1288] Frontend doesn't have a database
  .github/workflows/cd-frontend-infra.yml
Labels: ci/cd

#1840 [Issue #1744] Setup staging tables for Oracle data load
  api/bin/create_erds.py
  api/src/db/foreign/forecast.py
  api/src/db/foreign/opportunity.py
  api/src/db/foreign/synopsis.py
  api/src/db/legacy_mixin/__init__.py
  api/src/db/legacy_mixin/forecast_mixin.py
  api/src/db/legacy_mixin/opportunity_mixin.py
  api/src/db/legacy_mixin/synopsis_mixin.py
  api/src/db/migrations/env.py
  api/src/db/migrations/versions/2024_04_24_add_staging_tables.py
  api/src/db/models/staging/__init__.py
  api/src/db/models/staging/forecast.py
  api/src/db/models/staging/opportunity.py
  api/src/db/models/staging/staging_base.py
  api/src/db/models/staging/synopsis.py
  api/tests/src/data_migration/test_setup_foreign_tables.py
  api/tests/src/db/models/factories.py
  documentation/api/database/erds/README.md
  documentation/api/database/erds/api-schema.png
  documentation/api/database/erds/full-schema.png
  documentation/api/database/erds/staging-schema.png
Labels: documentation, python, api, database

#1854 [Issue #1853] Move where we define the lookup mapping to avoid constant import issues
  api/src/constants/lookup_constants.py
  api/src/db/models/lookup_models.py
Labels: python, api, database

#1857 [Issue #1855 ] Fix nav menu mobile
  frontend/src/components/Layout.tsx
Labels: frontend, typescript

#1843 [Issue #1842]: Add jest coverage report in PR
  .github/workflows/ci-frontend.yml
Labels: ci/cd

#1879 [Issue #1619] Update Google Analytics to add App Router support
  frontend/src/app/layout.tsx
Labels: frontend, typescript

#1821 [Issue: 1291] Update cd-* scripts to deploy staging
  .github/workflows/cd-analytics.yml
  .github/workflows/cd-api.yml
  .github/workflows/cd-frontend.yml
Labels: ci/cd
