Repository HHS/simpler-grants-gov, pull requests merged in 2024-11, with the labels that each got.

#2686 [Issue #2604] Incrementally pull updates from the search queue table
  api/src/db/migrations/versions/2024_10_31_remove_has_update_column_from_.py
  api/src/db/models/opportunity_models.py
  api/src/search/backend/load_opportunities_to_index.py
  api/tests/src/db/models/factories.py
  api/tests/src/search/backend/test_load_opportunities_to_index.py
  documentation/api/database/erds/api-schema.png
Labels: documentation, python, api, database

#2688 Feature/frontend opensearch
  .github/workflows/ci-frontend-e2e.yml
  frontend/package.json
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/app/api/BaseApi.ts
  frontend/src/app/api/Fetchers.ts
  frontend/src/app/api/OpportunityListingAPI.ts
  frontend/src/app/api/SearchOpportunityAPI.ts
  frontend/src/components/search/SearchPaginationFetch.tsx
  frontend/src/components/search/SearchResults.tsx
  frontend/src/components/search/SearchResultsHeaderFetch.tsx
  frontend/src/components/search/SearchResultsListFetch.tsx
  frontend/src/components/search/SearchSortBy.tsx
  frontend/src/errors.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/services/search/searchfetcher/APISearchFetcher.ts
  frontend/src/services/search/searchfetcher/MockSearchFetcher.ts
  frontend/src/services/search/searchfetcher/SearchFetcher.ts
  frontend/src/services/search/searchfetcher/SearchFetcherUtil.ts
  frontend/src/types/opportunity/opportunityResponseTypes.ts
  frontend/src/types/search/searchRequestTypes.ts
  frontend/src/types/search/searchResponseTypes.ts
  frontend/src/utils/search/convertSearchParamsToProperTypes.ts
  frontend/tests/api/BaseApi.test.ts
  frontend/tests/api/OpportunityListingApi.test.ts
  frontend/tests/api/SearchOpportunityApi.test.ts
  frontend/tests/components/search/SearchSortBy.test.tsx
  frontend/tests/e2e/search/search-loading.spec.ts
  frontend/tests/e2e/search/search-no-results.spec.ts
  frontend/tests/e2e/search/searchSpecUtil.ts
  frontend/tests/errors.test.ts
  frontend/tests/pages/search/page.test.tsx
Labels: frontend, ci/cd, typescript

#2702 [no ticket] Removes `beta.grants.gov` cert references
  infra/frontend/app-config/dev.tf
  infra/frontend/app-config/staging.tf
  infra/frontend/service/main.tf
Labels: terraform, infra

#2707 [Issue #2701] Set search FF to allow for anon users
  frontend/src/constants/featureFlags.ts
Labels: frontend, typescript

#2714 [Issue #2713] Update Ubuntu version on frontend container
  frontend/Dockerfile
Labels: frontend

#2711 [Issue #2699] Skip assistance listing transform processing with empty fields
  api/src/data_migration/transformation/subtask/transform_assistance_listing.py
  api/src/data_migration/transformation/transform_constants.py
  api/tests/src/data_migration/transformation/subtask/test_transform_assistance_listing.py
Labels: python, api

#2698 [Issue #2697] Enable agency data load in ELT process
  api/src/data_migration/load/load_oracle_data_task.py
  api/src/data_migration/transformation/transform_oracle_data_task.py
  api/tests/src/data_migration/transformation/test_transform_oracle_data_task.py
Labels: python, api

#2694 [Issue #2664] Join data from multiple sprint boards
  analytics/Makefile
  analytics/config/github-projects.json
  analytics/src/analytics/cli.py
  analytics/src/analytics/datasets/issues.py
  analytics/src/analytics/etl/__init__.py
  analytics/src/analytics/etl/github.py
  analytics/src/analytics/etl/utils.py
  analytics/src/analytics/integrations/github/main.py
  analytics/src/analytics/metrics/burndown.py
  analytics/tests/conftest.py
  analytics/tests/datasets/test_issues.py
  analytics/tests/etl/__init__.py
  analytics/tests/etl/test_github.py
  analytics/tests/etl/test_utils.py
  analytics/tests/metrics/test_burndown.py
  analytics/tests/test_cli.py
  documentation/analytics/usage.md
Labels: documentation, python, analytics, ci/cd

#2710 [Issue #2489] Updates `DeliverablePercentComplete` to use `GitHubIssues` dataset
  analytics/Makefile
  analytics/src/analytics/cli.py
  analytics/src/analytics/datasets/issues.py
  analytics/src/analytics/etl/github.py
  analytics/src/analytics/integrations/github/getRoadmapData.graphql
  analytics/src/analytics/integrations/github/main.py
  analytics/src/analytics/metrics/percent_complete.py
  analytics/tests/metrics/test_percent_complete.py
  analytics/tests/test_cli.py
Labels: python, analytics, ci/cd

#2626 [Issue 1890] add GA beacon for filter use on search
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/components/search/SearchAnalytics.tsx
  frontend/src/types/search/searchRequestTypes.ts
  frontend/tests/components/search/SearchAnalytics.test.tsx
Labels: frontend, typescript

#2727 [Issue 2709] add opportunity number to breadcrumb
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/components/Breadcrumbs.tsx
  frontend/src/i18n/messages/en/index.ts
Labels: frontend, typescript

#2704 [Issue #2510] Update search logic for /search path
  frontend/src/components/Header.tsx
  frontend/src/components/search/SearchOpportunityStatus.tsx
  frontend/src/constants/breadcrumbs.ts
  frontend/src/constants/search.ts
  frontend/src/types/search/searchRequestTypes.ts
  frontend/src/utils/search/convertSearchParamsToProperTypes.ts
  frontend/tests/e2e/search/search-loading.spec.ts
  frontend/tests/e2e/search/search-navigate.spec.ts
  frontend/tests/e2e/search/search-no-results.spec.ts
  frontend/tests/e2e/search/search.spec.ts
  frontend/tests/e2e/search/searchSpecUtil.ts
  frontend/tests/pages/search/page.test.tsx
Labels: frontend, typescript

#2617 [Issue 2482] Migrate delivery metrics transform and load from simpler-grants-sandbox
  analytics/Makefile
  analytics/src/analytics/cli.py
  analytics/src/analytics/datasets/etl_dataset.py
  analytics/src/analytics/datasets/utils.py
  analytics/src/analytics/integrations/db.py
  analytics/src/analytics/integrations/etldb/__init__.py
  analytics/src/analytics/integrations/etldb/create_etl_db.sql
  analytics/src/analytics/integrations/etldb/deliverable_model.py
  analytics/src/analytics/integrations/etldb/epic_model.py
  analytics/src/analytics/integrations/etldb/etldb.py
  analytics/src/analytics/integrations/etldb/issue_model.py
  analytics/src/analytics/integrations/etldb/main.py
  analytics/src/analytics/integrations/etldb/quad_model.py
  analytics/src/analytics/integrations/etldb/sprint_model.py
  analytics/tests/datasets/test_etldb.py
  analytics/tests/etldb_test_01.json
  analytics/tests/test_cli.py
  documentation/analytics/usage.md
Labels: documentation, python, analytics, ci/cd

#2683 [Issue 2616] show correct date opportunity data with collapsable text
  api/Makefile
  api/tests/lib/seed_local_db.py
  api/tests/src/db/models/factories.py
  frontend/package-lock.json
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/components/CollapsableContent.tsx
  frontend/src/components/ContentDisplayToggle.tsx
  frontend/src/components/opportunity/OpportunityDescription.tsx
  frontend/src/components/opportunity/OpportunityHistory.tsx
  frontend/src/components/opportunity/OpportunityStatusWidget.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/utils/generalUtils.ts
  frontend/tests/components/opportunity/OpportunityHistory.test.tsx
  frontend/tests/components/opportunity/OpportunityStatusWidget.test.tsx
  frontend/tests/utils/generalUtils.test.ts
Labels: frontend, python, api, ci/cd, typescript

#2744 [Issue 2665] Minor fix to Makefile and CLI to integrate GitHub export and import capabilities
  analytics/Makefile
  analytics/src/analytics/cli.py
  analytics/tests/test_cli.py
Labels: python, analytics, ci/cd

#2730 [Issue #2729] OpenSearch should return an accurate count of total results
  api/src/adapters/search/opensearch_query_builder.py
  api/src/services/opportunities_v1/search_opportunities.py
  api/tests/src/adapters/search/test_opensearch_query_builder.py
Labels: python, api

#2769 [no ticket] update labeler action version
  .github/workflows/labeler.yml
Labels: ci/cd

#2759 [Issue 2665] Add gh-transform-and-load command to scheduled jobs
  infra/analytics/app-config/env-config/scheduled_jobs.tf
Labels: terraform, infra

#2566 [Issue #2371] Rename agency to agency_code in API + DB
  api/openapi.generated.yml
  api/src/api/opportunities_v0_1/opportunity_schemas.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/data_migration/transformation/transform_util.py
  api/src/db/migrations/versions/2024_11_01_rename_agency_column.py
  api/src/db/models/opportunity_models.py
  api/src/pagination/paginator.py
  api/src/services/opportunities_v0/opportunity_service_shared.py
  api/src/services/opportunities_v0_1/search_opportunities.py
  api/src/services/opportunities_v1/search_opportunities.py
  api/src/task/__init__.py
  api/src/task/opportunities/import_opportunity_csvs.py
  api/tests/lib/seed_local_db.py
  api/tests/src/api/opportunities_v0_1/conftest.py
  api/tests/src/api/opportunities_v1/conftest.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_get.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
  api/tests/src/db/models/factories.py
  api/tests/src/db/models/test_factories.py
  api/tests/src/db/models/test_relationships.py
  api/tests/src/task/opportunities/test_files/link_opportunity_summary_applicant_type.csv
  api/tests/src/task/opportunities/test_files/link_opportunity_summary_funding_category.csv
  api/tests/src/task/opportunities/test_files/link_opportunity_summary_funding_instrument.csv
  api/tests/src/task/opportunities/test_files/opportunity.csv
  api/tests/src/task/opportunities/test_files/opportunity_assistance_listing.csv
  api/tests/src/task/opportunities/test_files/opportunity_summary.csv
  api/tests/src/task/opportunities/test_import_opportunity_csvs.py
  documentation/api/database/erds/api-schema.png
Labels: documentation, python, api, database

#2599 [Issue ##2798] Break up e2e tests
  .github/workflows/ci-frontend-e2e.yml
  frontend/docker-compose-release.yml
  frontend/tests/playwright.config.ts
Labels: frontend, ci/cd, typescript

#2723 [Issue #2473] Add new artillery
  frontend/Makefile
  frontend/artillery-load-test.yml
  frontend/tests/artillery/params.json
  frontend/tests/artillery/processor.ts
Labels: frontend, typescript

#2508 [Issue 2507] upgrade storybook to version 8
  frontend/.storybook/main.js
  frontend/.storybook/preview.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, storybook

#2760 [ISSUE 2716] Create user tables for basic login.gov
  api/src/constants/lookup_constants.py
  api/src/db/migrations/versions/2024_11_12_add_basic_user_tables.py
  api/src/db/models/__init__.py
  api/src/db/models/lookup_models.py
  api/src/db/models/user_models.py
  api/tests/src/db/models/factories.py
  documentation/api/database/erds/api-schema.png
Labels: python, api, database

#2724 [Issue #2622] Update opp page for ISR
  .github/workflows/ci-frontend-a11y.yml
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/tests/e2e/opportunity.spec.ts
Labels: frontend, typescript

#2722 Add documents section to opportunity listing page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/components/opportunity/OpportunityDocuments.tsx
  frontend/src/components/opportunity/OpportunityLink.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/types/opportunity/opportunityResponseTypes.ts
  frontend/stories/components/opportunity/OpportunityDocuments.stories.tsx
  frontend/tests/api/OpportunityListingApi.test.ts
  frontend/tests/components/opportunity/OpportunityDocuments.test.tsx
Labels: frontend, typescript, storybook

#2756 [Issue #2732] clear search input when clicking search nav link
  frontend/package.json
  frontend/src/components/Header.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/hooks/useSearchParamUpdater.ts
  frontend/tests/components/Header.test.tsx
  frontend/tests/components/search/SearchBar.test.tsx
  frontend/tests/pages/search/page.test.tsx
Labels: frontend, typescript
