Repository HHS/simpler-grants-gov, pull requests merged in 2024-05, with the labels that each got.

#1856 [Issue #1553] Deploys a Metabase ECS service
  infra/analytics/metabase/.terraform.lock.hcl
  infra/analytics/metabase/dev.s3.tfbackend
  infra/analytics/metabase/image_tag.tf
  infra/analytics/metabase/main.tf
  infra/analytics/metabase/variables.tf
  infra/modules/metabase-service/access-control.tf
  infra/modules/metabase-service/access-logs.tf
  infra/modules/metabase-service/application-logs.tf
  infra/modules/metabase-service/autoscaling.tf
  infra/modules/metabase-service/database-access.tf
  infra/modules/metabase-service/load-balancer.tf
  infra/modules/metabase-service/main.tf
  infra/modules/metabase-service/networking.tf
  infra/modules/metabase-service/outputs.tf
  infra/modules/metabase-service/s3.tf
  infra/modules/metabase-service/secrets.tf
  infra/modules/metabase-service/variables.tf
  infra/modules/metabase-service/waf.tf
Labels: terraform, infra

#1796 [Issue #1507] Update BI Tool ADR
  documentation/decisions/adr/2024-04-10-dashboard-tool.md
Labels: documentation

#1894 [Issue #1686] add `created_at`, `updated_at`, and `deleted_at` columns to staging tables
  api/src/db/migrations/env.py
  api/src/db/migrations/run.py
  api/src/db/migrations/versions/2024_05_01_add_created_at_updated_at_and_deleted_.py
  api/src/db/models/staging/staging_base.py
  documentation/api/database/erds/full-schema.png
  documentation/api/database/erds/staging-schema.png
Labels: documentation, python, api, database

#1901 [Patch] Update cd-* scripts to deploy staging
  .github/workflows/cd-analytics.yml
  .github/workflows/cd-api.yml
  .github/workflows/cd-frontend.yml
Labels: ci/cd

#1902 [Patch] Update cd-* scripts to deploy staging pt 2
  .github/workflows/cd-analytics.yml
  .github/workflows/cd-api.yml
  .github/workflows/cd-frontend.yml
Labels: ci/cd

#1896 [Issue #1531] Setup env for App Router In next.js GA4 implementation
  frontend/src/app/layout.tsx
  frontend/src/constants/environments.ts
  frontend/src/pages/_app.tsx
Labels: frontend, typescript

#1906 [Issue #1905] Add unique constraint for opportunity summary
  api/docker-compose.yml
  api/src/db/migrations/versions/2024_05_02_add_unique_constraint_for_summary.py
  api/src/db/models/base.py
  api/src/db/models/opportunity_models.py
Labels: python, api, database

#1904 [Issue #1597] Add analytics local docker database
  analytics/docker-compose.yml
  analytics/local.env
Labels: analytics

#1898 [Issue #1790] Pin Terraform version
  .github/workflows/cd-analytics-infra.yml
  .github/workflows/cd-api-infra.yml
  .github/workflows/cd-frontend-infra.yml
  .github/workflows/ci-infra.yml
  .github/workflows/infra-service.yml
  infra/accounts/main.tf
  infra/alarms/main.tf
  infra/analytics/build-repository/main.tf
  infra/analytics/database/main.tf
  infra/analytics/service/main.tf
  infra/api/build-repository/main.tf
  infra/api/service/main.tf
  infra/frontend/build-repository/main.tf
  infra/frontend/service/main.tf
  infra/networks/main.tf
Labels: terraform, infra, ci/cd

#1909 [Issue #1833] Adds a 2nd database to dev and staging
  infra/api/app-config/dev.tf
  infra/api/app-config/staging.tf
Labels: terraform, infra

#1911 [Task 1871] Finish configuring WAF
  infra/modules/metabase-service/waf.tf
  infra/modules/service/waf.tf
Labels: terraform, infra

#1826 [Issue #1820] Syncs ADRs with wiki
  .github/linters/scripts/check-wiki-pages-linked-to-summary.sh
  .github/workflows/ci-wiki-links.yml
  documentation/wiki/SUMMARY.md
  documentation/wiki/decisions/README.md
  documentation/wiki/decisions/adr/2023-06-26-recording-architecture-decisions.md
  documentation/wiki/decisions/adr/2023-06-29-ci-cd-task-runner.md
  documentation/wiki/decisions/adr/2023-06-30-api-language.md
  documentation/wiki/decisions/adr/2023-07-03-design-prototyping-tool.md
  documentation/wiki/decisions/adr/2023-07-05-chat-adr.md
  documentation/wiki/decisions/adr/2023-07-05-db-choices.md
  documentation/wiki/decisions/adr/2023-07-07-api-framework.md
  documentation/wiki/decisions/adr/2023-07-07-backend-tooling.md
  documentation/wiki/decisions/adr/2023-07-10-front-end-language.md
  documentation/wiki/decisions/adr/2023-07-10-wiki-platform.md
  documentation/wiki/decisions/adr/2023-07-11-design-diagramming-tool.md
  documentation/wiki/decisions/adr/2023-07-11-ticket-tracking.md
  documentation/wiki/decisions/adr/2023-07-14-front-end-framework.md
  documentation/wiki/decisions/adr/2023-07-17-frontend-tooling.md
  documentation/wiki/decisions/adr/2023-07-18-frontend-testing.md
  documentation/wiki/decisions/adr/2023-07-19-backend-api-type.md
  documentation/wiki/decisions/adr/2023-07-19-backend-testing.md
  documentation/wiki/decisions/adr/2023-07-20-deployment-strategy.md
  documentation/wiki/decisions/adr/2023-07-20-fe-design-system.md
  documentation/wiki/decisions/adr/2023-07-20-fe-server-rendering.md
  documentation/wiki/decisions/adr/2023-07-20-fe-use-npm.md
  documentation/wiki/decisions/adr/2023-07-20-fe-uswds-in-react.md
  documentation/wiki/decisions/adr/2023-07-24-video-conferencing.md
  documentation/wiki/decisions/adr/2023-07-26-backend-prod-server.md
  documentation/wiki/decisions/adr/2023-08-01-analytics-platform.md
  documentation/wiki/decisions/adr/2023-08-21-branch-conv-release-workflow.md
  documentation/wiki/decisions/adr/2023-08-21-cloud-platform.md
  documentation/wiki/decisions/adr/2023-08-21-infrastructure-as-code-tool.md
  documentation/wiki/decisions/adr/2023-09-07-data-replication-tool.md
  documentation/wiki/decisions/adr/2023-09-22-hhs-comms-site.md
  documentation/wiki/decisions/adr/2023-10-16-email-marketing.md
  documentation/wiki/decisions/adr/2023-10-16-listserv.md
  documentation/wiki/decisions/adr/2023-11-14-design-research-tools.md
  documentation/wiki/decisions/adr/2023-11-22-uptime-monitoring.md
  documentation/wiki/decisions/adr/2023-12-06-database-migrations.md
  documentation/wiki/decisions/adr/2023-12-15-deliverable-reporting-strategy.md
  documentation/wiki/decisions/adr/2023-12-18-measurement-dashboard-architecture.md
  documentation/wiki/decisions/adr/2023-12-20-contact-us-email.md
  documentation/wiki/decisions/adr/2024-02-26-e2e-integration-testing-framework.md
  documentation/wiki/decisions/adr/2024-03-04-logging-monitoring.md
  documentation/wiki/decisions/adr/2024-03-19-dashboard-storage.md
  documentation/wiki/decisions/adr/2024-04-10-dashboard-tool.md
  documentation/wiki/decisions/adr/README.md
  documentation/wiki/decisions/infra/0000-use-markdown-architectural-decision-records.md
  documentation/wiki/decisions/infra/0001-ci-cd-interface.md
  documentation/wiki/decisions/infra/0002-use-custom-implementation-of-github-oidc.md
  documentation/wiki/decisions/infra/0003-manage-ecr-in-prod-account-module.md
  documentation/wiki/decisions/infra/0004-separate-terraform-backend-configs-into-separate-config-files.md
  documentation/wiki/decisions/infra/0005-database-module-design.md
  documentation/wiki/decisions/infra/0006-provision-database-users-with-serverless-function.md
  documentation/wiki/decisions/infra/0007-database-migration-architecture.md
  documentation/wiki/decisions/infra/0008-consolidate-infra-config-from-tfvars-files-into-config-module.md
  documentation/wiki/decisions/infra/0009-environment-use-cases.md
  documentation/wiki/decisions/infra/0010-production-networking-long-term-state.md
  documentation/wiki/decisions/infra/README.md
  documentation/wiki/decisions/template.md
Labels: documentation, ci/cd

#1794 [Issue #1745] Setup transformation process structure & transform an opportunity
  api/poetry.lock
  api/pyproject.toml
  api/src/data_migration/transformation/__init__.py
  api/src/data_migration/transformation/transform_oracle_data_task.py
  api/src/util/datetime_util.py
  api/tests/conftest.py
  api/tests/src/data_migration/transformation/__init__.py
  api/tests/src/data_migration/transformation/test_transform_oracle_data_task.py
  api/tests/src/db/models/factories.py
Labels: python, api

#1875 [Issue #1746] Add transformations for assistance listing table
  api/src/data_migration/transformation/transform_oracle_data_task.py
  api/src/db/models/staging/opportunity.py
  api/tests/src/data_migration/transformation/test_transform_oracle_data_task.py
  api/tests/src/db/models/factories.py
  documentation/api/database/erds/full-schema.png
  documentation/api/database/erds/staging-schema.png
Labels: python, api, database

#1914 [Issue #1910] Configure a local Metabase instance
  analytics/docker-compose.yml
  analytics/local.env
Labels: analytics

#1927 [Issue #1918]: Add GA4 id to Dev
  frontend/src/app/layout.tsx
  frontend/src/constants/environments.ts
  frontend/src/pages/_app.tsx
Labels: frontend, typescript

#1929 [Issue #1919] Deploying to (dev, or staging) fails because trying to release the same image tag twice part 1
  .github/workflows/cd-frontend.yml
Labels: ci/cd

#1924 [Issue #1886]: Fix duplicate id bug in SearchFilterAccordion
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterAccordion.test.tsx
Labels: frontend, typescript

#1923 [Issue #1885]: fix heading level a11y issue
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/components/search/SearchOpportunityStatus.tsx
Labels: frontend, typescript

#1917 [Issue #1747] Add transformations for the opportunity summary table
  api/src/data_migration/transformation/__init__.py
  api/src/data_migration/transformation/transform_oracle_data_task.py
  api/src/data_migration/transformation/transform_util.py
  api/src/db/foreign/dialect.py
  api/src/db/migrations/env.py
  api/src/db/models/staging/forecast.py
  api/src/db/models/staging/synopsis.py
  api/tests/src/data_migration/transformation/test_transform_oracle_data_task.py
  api/tests/src/data_migration/transformation/test_transform_util.py
  api/tests/src/db/models/factories.py
Labels: python, api, database

#1934 [Issue #1931] DRY metabase deploy
  infra/analytics/metabase/main.tf
  infra/modules/metabase-service/access-control.tf
  infra/modules/metabase-service/access-logs.tf
  infra/modules/metabase-service/application-logs.tf
  infra/modules/metabase-service/autoscaling.tf
  infra/modules/metabase-service/database-access.tf
  infra/modules/metabase-service/load-balancer.tf
  infra/modules/metabase-service/main.tf
  infra/modules/metabase-service/networking.tf
  infra/modules/metabase-service/outputs.tf
  infra/modules/metabase-service/s3.tf
  infra/modules/metabase-service/secrets.tf
  infra/modules/metabase-service/variables.tf
  infra/modules/metabase-service/waf.tf
  infra/modules/service/access-control.tf
  infra/modules/service/database-access.tf
  infra/modules/service/load-balancer.tf
  infra/modules/service/main.tf
  infra/modules/service/variables.tf
  infra/modules/service/waf.tf
Labels: terraform, infra

#1851 [Issue #1657] Setup Next-Intl for App Pages
  frontend/next.config.js
  frontend/src/app/layout.tsx
  frontend/src/app/not-found.tsx
  frontend/src/app/search/page.tsx
  frontend/src/components/AppBetaAlert.tsx
  frontend/src/components/AppLayout.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Layout.tsx
  frontend/src/i18n/config.ts
  frontend/src/i18n/getMessagesWithFallbacks.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/i18n/messages/es/index.ts
  frontend/src/i18n/server.ts
  frontend/src/middleware.ts
  frontend/src/types/18n.d.ts
  frontend/src/types/searchRequestURLTypes.ts
  frontend/tests/components/AppLayout.test.tsx
  frontend/tests/react-utils.tsx
Labels: frontend, typescript, javascript

#1939 [Issue #1925]: Make SearchPagination unbounded
  frontend/src/app/search/SearchForm.tsx
  frontend/src/components/search/SearchPagination.tsx
Labels: frontend, typescript

#1922 [Issue #1921]: Move search results length check into SearchPagination component
  frontend/src/app/search/SearchForm.tsx
  frontend/src/components/search/SearchPagination.tsx
  frontend/tests/components/search/SearchPagination.test.tsx
Labels: frontend, typescript

#1945 [Issue #1943] Fix variable access
  infra/analytics/metabase/main.tf
  infra/api/service/main.tf
  infra/frontend/service/main.tf
  infra/modules/service/database-access.tf
  infra/modules/service/variables.tf
Labels: terraform, infra

#1941 [Issue #1940] Fix factories to initialize sequence based on DB values
  api/poetry.lock
  api/tests/lib/seed_local_db.py
  api/tests/src/db/models/factories.py
Labels: python, api

#1946 [Issue #1931] Conditionally deploy load balancer
  infra/analytics/service/main.tf
  infra/modules/service/load-balancer.tf
  infra/modules/service/main.tf
  infra/modules/service/networking.tf
  infra/modules/service/outputs.tf
  infra/modules/service/variables.tf
  infra/modules/service/waf.tf
  infra/modules/task-service/README.md
  infra/modules/task-service/access-control.tf
  infra/modules/task-service/application-logs.tf
  infra/modules/task-service/database-access.tf
  infra/modules/task-service/main.tf
  infra/modules/task-service/networking.tf
  infra/modules/task-service/outputs.tf
  infra/modules/task-service/secrets.tf
  infra/modules/task-service/variables.tf
Labels: documentation, terraform, infra

#1852 [Issue #1686] load data from legacy (Oracle) tables to staging tables
  api/Makefile
  api/src/data_migration/load/__init__.py
  api/src/data_migration/load/load_oracle_data_task.py
  api/src/data_migration/load/sql.py
  api/src/db/foreign/dialect.py
  api/tests/lib/seed_local_legacy_tables.py
  api/tests/src/data_migration/load/__init__.py
  api/tests/src/data_migration/load/test_load_oracle_data_task.py
  api/tests/src/data_migration/load/test_sql.py
  api/tests/src/data_migration/test_setup_foreign_tables.py
Labels: python, api, ci/cd, database

#1916 [Issue #1869] Removes old deliverable specs
  documentation/deliverables/README.md
  documentation/deliverables/deliverable_dependency_diagram.mmd
  documentation/deliverables/deliverable_template.md
  documentation/deliverables/individual_deliverables/api_planning.md
  documentation/deliverables/individual_deliverables/communication_platforms.md
  documentation/deliverables/individual_deliverables/db_planning.md
  documentation/deliverables/individual_deliverables/developer_tools.md
  documentation/deliverables/individual_deliverables/frontend_planning.md
  documentation/deliverables/individual_deliverables/get_opportunities.md
  documentation/deliverables/individual_deliverables/grants_protocol.md
  documentation/deliverables/individual_deliverables/milestone_template_published.md
  documentation/deliverables/individual_deliverables/search_mvp.md
  documentation/deliverables/individual_deliverables/static_site.md
  documentation/deliverables/individual_deliverables/static_site_public_launch_infrastructure_content.md
  documentation/wiki/SUMMARY.md
  documentation/wiki/product/deliverables/specifications/grants-protocol.md
Labels: documentation

#1950 [Issue #1810] add entrypoint to run load and transform tasks
  api/src/data_migration/__init__.py
  api/src/data_migration/command/__init__.py
  api/src/data_migration/command/load_transform.py
  api/src/task/opportunities/set_current_opportunities_task.py
Labels: python, api

#1973 [Issue #1680]: rename SearchFetcherProps to QueryParamData
  frontend/src/app/api/BaseApi.ts
  frontend/src/app/api/SearchOpportunityAPI.ts
  frontend/src/app/search/SearchForm.tsx
  frontend/src/app/search/error.tsx
  frontend/src/errors.ts
  frontend/src/hooks/useSearchFormState.ts
  frontend/src/services/search/FormDataService.ts
  frontend/src/services/search/searchfetcher/APISearchFetcher.ts
  frontend/src/services/search/searchfetcher/SearchFetcher.ts
  frontend/src/utils/search/convertSearchParamsToProperTypes.ts
  frontend/tests/api/SearchOpportunityApi.test.ts
  frontend/tests/errors.test.ts
  frontend/tests/hooks/useSearchFormState.test.ts
Labels: frontend, typescript

#1972 [Issue #1958]: Remove status message for 0 results
  frontend/src/components/search/SearchResultsList.tsx
Labels: frontend, typescript

#1969 [Issue #1968]: Add withFeatureFlag HOC
  frontend/src/app/search/page.tsx
  frontend/src/hoc/search/withFeatureFlag.tsx
Labels: frontend, typescript

#1947 [Issue #1749] Add transformations for the one-to-many lookup tables
  api/src/data_migration/transformation/__init__.py
  api/src/data_migration/transformation/transform_oracle_data_task.py
  api/src/data_migration/transformation/transform_util.py
  api/src/db/migrations/versions/2024_05_07_add_unique_constraint_link_table_legacy_.py
  api/src/db/models/opportunity_models.py
  api/src/db/models/staging/forecast.py
  api/src/db/models/staging/synopsis.py
  api/tests/src/data_migration/transformation/test_transform_oracle_data_task.py
  api/tests/src/db/models/factories.py
  api/tests/src/task/opportunities/test_files/link_opportunity_summary_funding_category.csv
Labels: python, api, database

#1981 [Issue #1978] make inserts in chunks to prevent Oracle error
  api/src/data_migration/command/load_transform.py
  api/src/data_migration/load/load_oracle_data_task.py
  api/src/data_migration/load/sql.py
  api/tests/src/data_migration/load/test_load_oracle_data_task.py
  api/tests/src/data_migration/load/test_sql.py
Labels: python, api

#1984 [Issue #1978] further optimizations for load chunking
  api/src/data_migration/load/load_oracle_data_task.py
  api/src/data_migration/load/sql.py
  api/tests/src/data_migration/load/test_sql.py
Labels: python, api

#1980 [Issue #1265] Delivery Dashboard Architecture Docs
  documentation/architecture/README.md
Labels: documentation

#1986 [Issue #1985] Allow yes/no for transformed booleans
  api/src/data_migration/transformation/transform_util.py
  api/tests/src/data_migration/transformation/test_transform_util.py
  api/tests/src/db/models/factories.py
Labels: python, api

#1979 [Issue #1965]: Reintroduce totalPages to Pagination component
  frontend/src/app/search/SearchForm.tsx
  frontend/src/components/search/SearchPagination.tsx
Labels: frontend, typescript

#1996 [Issue #1889]: Adding template to nextjs to fix history change with GA4
  frontend/src/app/template.tsx
Labels: frontend, typescript

#1988 [Issue #1834]: fix Agency filter space
  frontend/src/components/search/SearchFilterAccordion/filterJSONLists/agencyFilterList.ts
Labels: frontend, typescript

#1987 [Issue #1682]: remove search specific references in BaseAPI
  frontend/src/app/api/BaseApi.ts
Labels: frontend, typescript

#1982 [Issue #1977] Adjust transformation logic to handle orphaned history records
  api/src/data_migration/transformation/transform_oracle_data_task.py
  api/src/db/migrations/versions/2024_05_09_add_transformation_notes_to_staging_.py
  api/src/db/models/staging/forecast.py
  api/src/db/models/staging/staging_base.py
  api/src/db/models/staging/synopsis.py
  api/src/task/task.py
  api/tests/src/data_migration/transformation/test_transform_oracle_data_task.py
  api/tests/src/db/models/factories.py
  documentation/api/database/erds/full-schema.png
  documentation/api/database/erds/staging-schema.png
Labels: python, api, database

#2002 [Issue #1889] Updating GA4 for nextjs v2
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/app/template.tsx
  frontend/src/components/search/SearchBar.tsx
Labels: frontend, typescript

#1999 [Issue #1998] optimize the WHERE in load updates
  api/src/data_migration/load/load_oracle_data_task.py
  api/src/data_migration/load/sql.py
  api/tests/src/data_migration/load/test_sql.py
Labels: python, api

#2001 [Issue #1688] Remove feature flag for v0.1 endpoints
  api/local.env
  api/src/app.py
  infra/api/app-config/dev.tf
  infra/api/app-config/prod.tf
  infra/api/app-config/staging.tf
Labels: terraform, infra, python, api

#1974 [Issue #1757]: E2E tests for search page
  .github/workflows/ci-frontend-e2e.yml
  .github/workflows/ci-frontend.yml
  api/.gitignore
  api/bin/wait-for-api.sh
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/search/SearchFilterAccordion/SearchFilterCheckbox.tsx
  frontend/tests/e2e/search/search.spec.ts
  frontend/tests/e2e/search/searchUtil.ts
  frontend/tests/playwright.config.ts
Labels: frontend, api, ci/cd, shell, typescript
