Repository HHS/simpler-grants-gov, pull requests merged in 2024-02, with the labels that each got.

#1087 [Issue 1067] Allow for multiple auth tokens with primitive identification
  api/local.env
  api/src/app.py
  api/src/auth/api_key_auth.py
  api/tests/conftest.py
  api/tests/src/auth/test_api_key_auth.py
Labels: python, api

#1112 [Issue 1051] Production Networking ADR
  documentation/decisions/infra/0010-production-networking-long-term-state.md
Labels: documentation

#1129 [Issue 1119] Deploy DMS from database module, fixup
  infra/modules/database/dms-instance.tf
  infra/modules/database/dms-role.tf
  infra/modules/dms-networking/.terraform.lock.hcl
  infra/modules/dms/.terraform.lock.hcl
Labels: terraform, infra

#1132 [Issue 1119] Finish deploying DMS resources 🎉
  infra/api/database/main.tf
  infra/modules/database/dms-instance.tf
  infra/modules/database/dms-role.tf
  infra/modules/database/networking.tf
  infra/modules/database/variables.tf
  infra/modules/dms-networking/security.tf
Labels: terraform, infra

#1057 [Issue 1056] Adds step by step release instructions
  DEVELOPMENT.md
Labels: documentation

#1170 [Issue 887] Implement WAF
  infra/modules/service/waf.tf
Labels: terraform, infra

#1176 [Issue 975] Google Analytics nextjs build urls
  frontend/public/robots.txt
  frontend/src/pages/_app.tsx
Labels: frontend, typescript

#1196 [Issue 1079] Add Brett Rosenblatt to MAINTAINERS.md
  MAINTAINERS.md
Labels: documentation

#1136 [Issue 1135] Setup lookup value logic within the API
  api/src/adapters/__init__.py
  api/src/adapters/db/type_decorators/postgres_type_decorators.py
  api/src/constants/lookup_constants.py
  api/src/db/migrations/env.py
  api/src/db/migrations/run.py
  api/src/db/migrations/versions/2024_02_02_add_opportunity_category_table.py
  api/src/db/models/__init__.py
  api/src/db/models/lookup/__init__.py
  api/src/db/models/lookup/lookup.py
  api/src/db/models/lookup/lookup_registry.py
  api/src/db/models/lookup/lookup_table.py
  api/src/db/models/lookup/sync_lookup_values.py
  api/src/db/models/lookup_models.py
  api/src/db/models/opportunity_models.py
  api/tests/conftest.py
  api/tests/src/adapters/db/type_decorators/test_postgres_type_decorators.py
  api/tests/src/db/models/lookup/__init__.py
  api/tests/src/db/models/lookup/test_lookup.py
  api/tests/src/db/models/lookup/test_lookup_registry.py
  api/tests/src/db/models/lookup/test_sync_lookup_values.py
  documentation/api/database/erds/full-schema.png
  documentation/api/lookup-values.md
Labels: documentation, python, api, database

#1187 [Issue 1166] Create tables for expanded opportunity data model
  api/src/constants/lookup_constants.py
  api/src/db/migrations/versions/2024_02_07_add_expanded_opportunity_models.py
  api/src/db/models/lookup_models.py
  api/src/db/models/opportunity_models.py
  api/tests/src/db/models/factories.py
  api/tests/src/db/models/test_factories.py
  api/tests/src/pagination/test_paginator.py
  documentation/api/database/erds/full-schema.png
Labels: documentation, python, api, database

#1218 [Issue 1216] Create the awsdms_apply_exceptions table via Alembic
  api/src/db/migrations/env.py
  api/src/db/migrations/versions/2024_02_12_create_dms_exceptions_table.py
Labels: python, api, database

#1212 [Issue 1188] Add Brandon Tabaska to MAINTAINERS.md
  MAINTAINERS.md
Labels: documentation

#1219 [Issue 966] Configure access log S3 buckets to allow SSL requests only
  infra/modules/service/access-logs.tf
Labels: terraform, infra

#1243 [Issue 1240] Create a basic ECS script which will become the copy process for Oracle data
  api/Makefile
  api/src/app.py
  api/src/data_migration/__init__.py
  api/src/data_migration/copy_oracle_data.py
  api/src/data_migration/data_migration_blueprint.py
Labels: python, api, ci/cd

#1213 [Issue 1165] Setup the v0.1 opportunity endpoints
  api/local.env
  api/openapi.generated.yml
  api/src/api/opportunities/__init__.py
  api/src/api/opportunities/opportunity_blueprint.py
  api/src/api/opportunities_v0/__init__.py
  api/src/api/opportunities_v0/opportunity_blueprint.py
  api/src/api/opportunities_v0/opportunity_routes.py
  api/src/api/opportunities_v0/opportunity_schemas.py
  api/src/api/opportunities_v0_1/__init__.py
  api/src/api/opportunities_v0_1/opportunity_blueprint.py
  api/src/api/opportunities_v0_1/opportunity_routes.py
  api/src/api/opportunities_v0_1/opportunity_schemas.py
  api/src/app.py
  api/src/constants/lookup_constants.py
  api/src/db/models/opportunity_models.py
  api/src/pagination/pagination_models.py
  api/src/pagination/pagination_schema.py
  api/src/pagination/paginator.py
  api/src/services/opportunities_v0/__init__.py
  api/src/services/opportunities_v0/get_opportunities.py
  api/src/services/opportunities_v0/opportunity_service_shared.py
  api/src/services/opportunities_v0/search_opportunities.py
  api/src/services/opportunities_v0_1/__init__.py
  api/src/services/opportunities_v0_1/get_opportunity.py
  api/src/services/opportunities_v0_1/search_opportunities.py
  api/tests/src/api/__init__.py
  api/tests/src/api/opportunities_v0/__init__.py
  api/tests/src/api/opportunities_v0/test_opportunity_route.py
  api/tests/src/api/opportunities_v0_1/__init__.py
  api/tests/src/api/opportunities_v0_1/test_opportunity_route.py
  api/tests/src/api/test_healthcheck.py
  api/tests/src/api/test_index_route.py
  api/tests/src/api/test_route_error_format.py
  api/tests/src/auth/test_api_key_auth.py
  api/tests/src/db/models/factories.py
  documentation/api/feature-flags.md
Labels: documentation, python, api, database

#1236 [Issue 1192] Implement Feature Flags
  documentation/frontend/featureFlags.md
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/constants/featureFlags.ts
  frontend/src/hooks/useFeatureFlags.ts
  frontend/src/middleware.ts
  frontend/src/pages/dev/feature-flags.tsx
  frontend/src/services/FeatureFlagManager.ts
  frontend/tests/hooks/useFeatureFlags.test.ts
  frontend/tests/pages/dev/feature-flags.test.tsx
  frontend/tests/services/FeatureFlagManager.test.ts
  frontend/tests/utils/FeatureFlagTestUtils.ts
  frontend/tests/utils/commonTestUtils.ts
  frontend/tests/utils/jsdomNodeEnvironment.ts
Labels: documentation, frontend, typescript

#1197 [Issue 1179] Search Page Boilerplate
  frontend/src/pages/search.tsx
  frontend/stories/pages/search.stories.tsx
  frontend/tests/pages/search.test.tsx
Labels: frontend, typescript, storybook

#1252 TODO: set min node version to match docker
  frontend/package.json
Labels: frontend

#1247 [Issue 1242] AWS Event Bridge => Step Functions scheduler
  infra/api/service/copy_oracle_data.tf
  infra/modules/service/access-control.tf
  infra/modules/service/outputs.tf
Labels: terraform, infra

#1268 [Issue 1241] Truncate and load the transfer_topportunity table
  api/src/data_migration/copy_oracle_data.py
Labels: python, api

#1271 [Issue 1267] Adds foreign data wrapper security group permissions
  infra/api/database/main.tf
  infra/modules/database/networking.tf
  infra/modules/database/variables.tf
  infra/modules/dms-networking/main.tf
  infra/modules/dms-networking/variables.tf
  infra/networks/main.tf
  infra/project-config/main.tf
Labels: terraform, infra

#1260 [Issues 1259] add frontend make build target
  frontend/Makefile
  frontend/README.md
Labels: documentation, frontend, ci/cd

#1298 [Issue 1297] Add mock API response to frontend
  frontend/src/api/mock/APIMockResponse.json
Labels: frontend

#1313 [Issue 1311] Cleanup DMS table we no longer need
  api/src/db/migrations/env.py
  api/src/db/migrations/versions/2024_02_21_remove_dms_exceptions_table.py
Labels: python, api, database

#1318 [Issue 1281] Allow RDS Data API in prod
  infra/api/app-config/prod.tf
Labels: terraform, infra

#1317 [Issue 1285] Configure prod peering connection
  infra/modules/dms-networking/main.tf
  infra/modules/dms-networking/networking.tf
  infra/modules/dms-networking/security.tf
  infra/modules/dms-networking/variables.tf
  infra/networks/main.tf
  infra/project-config/main.tf
Labels: terraform, infra

#1324 [Issue 1323] Fix a mis-firing alarm
  infra/modules/monitoring/main.tf
Labels: terraform, infra

#1328 [Issue 1285] Allow DNS resolution over peering
  infra/modules/dms-networking/networking.tf
Labels: terraform, infra

#1263 [Issue #1282]: Setup architecture for API calls with real and mock data - part 1a
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/BaseApi.ts
  frontend/src/api/SearchOpportunityAPI.ts
  frontend/src/pages/search.tsx
  frontend/src/services/searchfetcher/APISearchFetcher.ts
  frontend/src/services/searchfetcher/MockSearchFetcher.ts
  frontend/src/services/searchfetcher/SearchFetcher.ts
  frontend/src/types/searchTypes.ts
  frontend/tests/api/BaseApi.test.ts
  frontend/tests/api/SearchOpportunityApi.test.ts
  frontend/tests/jest.setup.js
  frontend/tests/pages/search.test.tsx
Labels: frontend, typescript, javascript

#1342 [Issue #1100] Delete Default VPC Resources
  infra/networks/main.tf
  infra/networks/subnet-backfill.tf
Labels: terraform, infra

#1349 [Issue #1277] add enable_v01_endpoints env var
  infra/api/app-config/dev.tf
  infra/api/app-config/env-config/outputs.tf
  infra/api/app-config/env-config/variables.tf
  infra/api/app-config/prod.tf
  infra/api/app-config/staging.tf
  infra/api/service/main.tf
  infra/modules/service/main.tf
  infra/modules/service/variables.tf
Labels: terraform, infra

#1331 [Issue 1325]: add python interactive console
  api/Makefile
  api/src/db/models/base.py
  api/src/tool/__init__.py
  api/src/tool/console/__init__.py
  api/src/tool/console/interactive.py
  documentation/api/development.md
Labels: documentation, python, api, ci/cd, database

#1326 [Issue 853] Filter 30k deliverables based on status
  analytics/src/analytics/cli.py
  analytics/src/analytics/datasets/deliverable_tasks.py
  analytics/src/analytics/metrics/percent_complete.py
  analytics/tests/datasets/test_deliverable_tasks.py
  analytics/tests/metrics/test_percent_complete.py
  documentation/analytics/usage.md
Labels: documentation, python, analytics

#1319 [Issue 1016] Switch to using deliverable column to join issues and deliverables
  .github/workflows/ci-analytics.yml
  analytics/.vscode/settings.json
  analytics/Makefile
  analytics/src/analytics/cli.py
  analytics/src/analytics/datasets/base.py
  analytics/src/analytics/datasets/deliverable_tasks.py
  analytics/src/analytics/datasets/utils.py
  analytics/src/analytics/metrics/percent_complete.py
  analytics/tests/conftest.py
  analytics/tests/datasets/test_deliverable_tasks.py
  analytics/tests/integrations/test_slack.py
  analytics/tests/metrics/test_percent_complete.py
  documentation/analytics/usage.md
Labels: documentation, python, analytics, ci/cd

#1351 [Issue #1280] Remove DMS components
  infra/modules/database/dms-instance.tf
  infra/modules/database/dms-role.tf
  infra/modules/database/kms.tf
  infra/modules/database/networking.tf
  infra/modules/dms-networking/security.tf
Labels: terraform, infra

#1357 [Issue #1356] Create more subnets for MicroHealth
  infra/modules/network/main.tf
Labels: terraform, infra

#1360 [Issue #1359]: add frontend reinstall-deps make command
  frontend/Makefile
Labels: frontend, ci/cd

#1368 [Issue #1356] Rename MicroHealth's subnets
  infra/modules/network/main.tf
Labels: terraform, infra

#1091 [Issue 1055] Environments Use Cases ADR
  documentation/decisions/infra/0009-environment-use-cases.md
Labels: documentation

#1352 [Issue #1279] Add tests for copy oracle data + a script for generating foreign tables
  api/Makefile
  api/local.env
  api/src/data_migration/__init__.py
  api/src/data_migration/copy_oracle_data.py
  api/src/data_migration/setup_foreign_tables.py
  api/src/db/migrations/env.py
  api/tests/src/data_migration/__init__.py
  api/tests/src/data_migration/test_copy_oracle_data.py
  api/tests/src/data_migration/test_setup_foreign_tables.py
  api/tests/src/db/models/factories.py
Labels: python, api, ci/cd, database
