Repository HHS/simpler-grants-gov, pull requests merged in 2024-09, with the labels that each got.

#2178 [Issue #2029] Re-add items from merge commit
  api/.gitignore
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/package-lock.json
  frontend/src/components/search/SearchFilterAccordion/SearchFilterCheckbox.tsx
  frontend/tests/e2e/search/search.spec.ts
Labels: frontend, typescript

#2185 [Issue #2184] Tidy up python and docker usage in analytics
  .github/workflows/ci-analytics.yml
  analytics/Dockerfile
  analytics/Makefile
  analytics/docker-compose.yml
  analytics/poetry.lock
  analytics/pyproject.toml
Labels: analytics, ci/cd

#2183 [Issue #2094] Update the way we setup the connection to OpenSearch
  api/src/adapters/search/opensearch_client.py
  api/src/adapters/search/opensearch_config.py
  api/tests/src/adapters/search/test_opensearch_client.py
Labels: python, api

#2181 [Issue #2177] Fix facet count name issue
  api/src/services/opportunities_v1/search_opportunities.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Labels: python, api

#2182 [Issue #2030] Adjust opportunity response to contain the agency name
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/db/models/opportunity_models.py
  api/tests/src/api/opportunities_v1/conftest.py
  documentation/api/database/erds/api-schema.png
  documentation/api/database/erds/full-schema.png
Labels: documentation, python, api, database

#2192 [Issue #1868] Enforce absolute imports outside of the same directory
  frontend/.eslintrc.js
  frontend/.storybook/I18nStoryWrapper.tsx
  frontend/.storybook/preview.tsx
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/app/api/SearchOpportunityAPI.ts
  frontend/src/app/sitemap.ts
  frontend/src/components/content/FundingContent.tsx
  frontend/src/components/content/IndexGoalContent.tsx
  frontend/src/hoc/search/withFeatureFlag.tsx
  frontend/src/hooks/useFeatureFlags.ts
  frontend/src/services/FeatureFlagManager.ts
  frontend/src/services/search/SearchFilterManager.ts
  frontend/src/services/search/searchfetcher/APISearchFetcher.ts
  frontend/src/services/search/searchfetcher/MockSearchFetcher.ts
  frontend/src/utils/opportunity/isSummary.ts
  frontend/src/utils/search/convertSearchParamsToProperTypes.ts
  frontend/stories/pages/search.stories.tsx
  frontend/tests/api/BaseApi.test.ts
  frontend/tests/api/SearchOpportunityApi.test.ts
  frontend/tests/components/Spinner.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterSection/SectionLinkCount.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterSection/SectionLinkLabel.test.tsx
  frontend/tests/services/FeatureFlagManager.test.ts
  frontend/tests/utils/FeatureFlagTestUtils.ts
  frontend/tests/utils/getRoutes.test.ts
  frontend/tests/utils/isSummary.test.ts
Labels: frontend, typescript, storybook

#2197 test: basic tests for static pages [1393]
  frontend/tests/pages/not-found.test.tsx
  frontend/tests/pages/page.test.tsx
  frontend/tests/pages/process/page.test.tsx
  frontend/tests/pages/research/page.test.tsx
  frontend/tests/utils/intlMocks.ts
Labels: frontend, typescript

#2189 testing: search page component test [1393]
  frontend/next-env.d.ts
  frontend/tests/pages/search/page.test.tsx
Labels: frontend, typescript

#2186 [Issue #1937] Translate Loading component text
  frontend/src/app/[locale]/search/loading.tsx
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/stories/pages/loading.stories.tsx
  frontend/tests/e2e/search/search-loading.spec.ts
Labels: frontend, typescript, storybook

#2198 chore: standardize access to process.env [unticketed]
  frontend/src/app/[locale]/layout.tsx
  frontend/src/app/api/BaseApi.ts
  frontend/src/app/api/OpportunityListingAPI.ts
  frontend/src/app/api/SearchOpportunityAPI.ts
  frontend/src/app/sitemap.ts
  frontend/src/constants/environments.ts
  frontend/src/pages/api/subscribe.ts
  frontend/src/services/search/searchfetcher/SearchFetcherUtil.ts
  frontend/src/utils/assetPath.ts
Labels: frontend, typescript

#2199 chore: update lockfile version for supported node version [2194]
  frontend/package-lock.json
Labels: frontend

#2202 [Issue #1937] Comply with new linter rules about import paths
  frontend/stories/pages/loading.stories.tsx
Labels: frontend, typescript, storybook

#2191 [Issue #2190] Fix test setup and expand factories for foreign table load
  api/src/data_migration/command/load_transform.py
  api/src/data_migration/load/load_oracle_data_task.py
  api/src/db/foreign/forecast.py
  api/src/db/foreign/opportunity.py
  api/src/db/foreign/synopsis.py
  api/tests/conftest.py
  api/tests/lib/seed_local_legacy_tables.py
  api/tests/src/data_migration/load/test_load_oracle_data_task.py
  api/tests/src/data_migration/test_copy_oracle_data.py
  api/tests/src/data_migration/transformation/subtask/test_transform_opportunity.py
  api/tests/src/db/models/factories.py
Labels: python, api, database

#2196 [Issue #1578] Setup adding task information to all task logs
  api/src/data_migration/command/load_transform.py
  api/src/logging/flask_logger.py
  api/src/search/backend/load_search_data.py
  api/src/task/ecs_background_task.py
  api/src/task/opportunities/export_opportunity_data_task.py
  api/tests/src/task/test_ecs_background_task.py
Labels: python, api

#2223 Set defaults to unbreak Opensearch config for the moment
  api/src/adapters/search/opensearch_config.py
Labels: python, api

#2004 [Issue #1809] Add load-transform SFN
  infra/api/app-config/dev.tf
  infra/api/app-config/env-config/outputs.tf
  infra/api/app-config/env-config/variables.tf
  infra/api/app-config/prod.tf
  infra/api/app-config/staging.tf
  infra/api/service/sfn_load_transform.tf
Labels: terraform, infra

#2236 Handle Concurrent Releases
  .github/workflows/build-and-publish.yml
  .github/workflows/cd-frontend.yml
  .github/workflows/database-migrations.yml
  .github/workflows/deploy.yml
  bin/current-region
  bin/is-image-published
  infra/analytics/app-config/build_repository.tf
  infra/analytics/app-config/main.tf
  infra/api/app-config/build_repository.tf
  infra/api/app-config/main.tf
  infra/frontend/app-config/build_repository.tf
  infra/frontend/app-config/main.tf
  infra/project-config/main.tf
Labels: terraform, infra, ci/cd

#2229 Change reference location in api object for agency name on search
  frontend/src/components/search/SearchResultsListItem.tsx
Labels: frontend, typescript

#2221 Add width auto to fix aspect ratio warning but retain max height
  frontend/src/components/Footer.tsx
Labels: frontend, typescript

#2220 [Issue #2219] Move the location of the foreign and mixin tables
  api/src/data_migration/command/load_transform.py
  api/src/data_migration/load/load_oracle_data_task.py
  api/src/data_migration/setup_foreign_tables.py
  api/src/db/models/foreign/__init__.py
  api/src/db/models/foreign/dialect.py
  api/src/db/models/foreign/forecast.py
  api/src/db/models/foreign/foreignbase.py
  api/src/db/models/foreign/opportunity.py
  api/src/db/models/foreign/synopsis.py
  api/src/db/models/foreign/tgroups.py
  api/src/db/models/legacy_mixin/__init__.py
  api/src/db/models/legacy_mixin/forecast_mixin.py
  api/src/db/models/legacy_mixin/opportunity_mixin.py
  api/src/db/models/legacy_mixin/synopsis_mixin.py
  api/src/db/models/legacy_mixin/tgroups_mixin.py
  api/src/db/models/staging/forecast.py
  api/src/db/models/staging/opportunity.py
  api/src/db/models/staging/synopsis.py
  api/src/db/models/staging/tgroups.py
  api/tests/conftest.py
  api/tests/lib/seed_local_legacy_tables.py
  api/tests/src/data_migration/load/test_load_oracle_data_task.py
  api/tests/src/data_migration/test_setup_foreign_tables.py
  api/tests/src/db/models/factories.py
Labels: python, api, database

#2257 Documentation updates
  MAINTAINERS.md
  documentation/api/database/database-local-usage.md
  documentation/api/development.md
Labels: documentation
