Repository HHS/simpler-grants-gov, pull requests merged in 2024-10, with the labels that each got.

#2282 Update footer X/Twitter link
  frontend/src/components/Footer.tsx
  frontend/src/constants/routes.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/tests/components/Footer.test.tsx
Labels: frontend, typescript

#2328 [Issue #2324] Adjust various small pieces of the ELT process
  api/src/data_migration/load/load_oracle_data_task.py
  api/src/data_migration/transformation/subtask/transform_opportunity.py
  api/src/db/migrations/versions/2024_10_01_make_number_of_awards_a_big_int.py
  api/src/db/models/opportunity_models.py
  api/tests/src/data_migration/transformation/subtask/test_transform_opportunity.py
Labels: python, api, database

#2230 [Issue #2222] Account for empty summaries
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/components/opportunity/OpportunityAwardGridRow.tsx
  frontend/src/components/opportunity/OpportunityAwardInfo.tsx
  frontend/src/components/opportunity/OpportunityDescription.tsx
  frontend/src/components/opportunity/OpportunityIntro.tsx
  frontend/src/components/opportunity/OpportunityStatusWidget.tsx
  frontend/src/components/search/SearchResultsListItem.tsx
  frontend/src/constants/breadcrumbs.ts
  frontend/src/types/opportunity/opportunityResponseTypes.ts
  frontend/tests/api/OpportunityListingApi.test.ts
  frontend/tests/components/opportunity/OpportunityDescription.test.tsx
  frontend/tests/components/opportunity/OpportunityIntro.test.tsx
Labels: frontend, typescript

#2335 [Issue #2231] Fix Checks failing on forked branches
  .github/workflows/ci-frontend.yml
  .github/workflows/labeler.yml
Labels: ci/cd

#2332 [Issue #1560] change newsletter references to "subscribe"
  frontend/README.md
  frontend/src/app/[locale]/research/ResearchImpact.tsx
  frontend/src/app/[locale]/research/ResearchMethodology.tsx
  frontend/src/app/[locale]/subscribe/SubscriptionForm.tsx
  frontend/src/app/[locale]/subscribe/confirmation/page.tsx
  frontend/src/app/[locale]/subscribe/page.tsx
  frontend/src/app/[locale]/subscribe/unsubscribe/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/content/IndexGoalContent.tsx
  frontend/src/constants/breadcrumbs.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/utils/getRoutes.ts
  frontend/tests/e2e/newsletter.spec.ts
  frontend/tests/e2e/research.spec.ts
  frontend/tests/utils/getRoutes.test.ts
Labels: documentation, frontend, typescript

#2336 Fix 404 page text width, remove duplicate files, refactor
  frontend/src/app/[locale]/[...not-found]/page.tsx
  frontend/src/app/[locale]/layout.tsx
  frontend/src/app/[locale]/not-found.tsx
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/not-found.tsx
  frontend/src/utils/getRoutes.ts
  frontend/stories/pages/404.stories.tsx
  frontend/tests/pages/not-found.test.tsx
Labels: frontend, typescript, storybook

#2349 [Issue #2338] Adjust set-current-opportunities script to remove status from drafts
  api/src/data_migration/transformation/transform_util.py
  api/src/task/opportunities/set_current_opportunities_task.py
  api/tests/src/data_migration/transformation/test_transform_util.py
  api/tests/src/task/opportunities/test_set_current_opportunities_task.py
Labels: python, api

#2346 [Issue #684] Initial draft of ADR for selection of OpenSearch
  documentation/wiki/SUMMARY.md
  documentation/wiki/decisions/adr/2024-10-02-search-engine.md
Labels: documentation

#2364 Updates checkov
  .github/workflows/ci-infra.yml
  infra/modules/canary/main.tf
  infra/modules/container-image-repository/main.tf
  infra/modules/database/kms.tf
  infra/modules/database/main.tf
  infra/modules/database/role-manager.tf
  infra/modules/network/flow-logs.tf
  infra/modules/network/main.tf
  infra/modules/service/access-control.tf
  infra/modules/service/load-balancer.tf
  infra/modules/service/waf.tf
  infra/modules/terraform-backend-s3/main.tf
Labels: terraform, infra, ci/cd

#2238 [Issue #1563] Ability to hide search filters in mobile viewport
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/components/ContentDisplayToggle.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/components/search/SearchFilters.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/types/uiTypes.ts
  frontend/src/utils/search/convertSearchParamsToProperTypes.ts
  frontend/stories/components/ContentDisplayToggle.stories.tsx
  frontend/tests/components/ContentDisplayToggle.test.tsx
  frontend/tests/components/search/SearchFilters.test.tsx
  frontend/tests/e2e/search/search.spec.ts
  frontend/tests/e2e/search/searchSpecUtil.ts
Labels: frontend, typescript, storybook

#2388 [Issue #2387] Don't cascade delete through current_opportunity_summary
  api/src/db/models/opportunity_models.py
  api/tests/src/task/opportunities/test_set_current_opportunities_task.py
  documentation/api/database/erds/api-schema.png
  documentation/api/database/erds/full-schema.png
Labels: python, api, database

#2394 [Issue: #2395] Try not installing packages that were added to fix a prior trivy issue
  api/Dockerfile
Labels: api

#2383 New search input
  api/openapi.generated.yml
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/services/opportunities_v1/experimental_constant.py
  api/src/services/opportunities_v1/search_opportunities.py
  api/tests/src/api/opportunities_v1/conftest.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Labels: python, api

#2406 [Issue #2405] Account for updates when last_upd_date is null
  api/src/data_migration/load/sql.py
  api/tests/src/data_migration/load/test_load_oracle_data_task.py
  api/tests/src/data_migration/load/test_sql.py
Labels: python, api

#2404 Update terraform to 1.9, address deploy consistency
  .github/workflows/build-and-publish.yml
  .github/workflows/cd-analytics-infra.yml
  .github/workflows/cd-analytics.yml
  .github/workflows/cd-api-infra.yml
  .github/workflows/cd-api.yml
  .github/workflows/cd-frontend-infra.yml
  .github/workflows/cd-frontend.yml
  .github/workflows/ci-infra.yml
  .github/workflows/database-migrations.yml
  .github/workflows/deploy.yml
  .github/workflows/infra-service.yml
  infra/accounts/main.tf
  infra/alarms/main.tf
  infra/analytics/build-repository/.terraform.lock.hcl
  infra/analytics/build-repository/main.tf
  infra/analytics/database/.terraform.lock.hcl
  infra/analytics/database/main.tf
  infra/analytics/metabase/.terraform.lock.hcl
  infra/analytics/metabase/main.tf
  infra/analytics/service/.terraform.lock.hcl
  infra/analytics/service/main.tf
  infra/api/build-repository/.terraform.lock.hcl
  infra/api/build-repository/main.tf
  infra/api/database/.terraform.lock.hcl
  infra/api/database/main.tf
  infra/api/service/.terraform.lock.hcl
  infra/api/service/main.tf
  infra/frontend/build-repository/.terraform.lock.hcl
  infra/frontend/build-repository/main.tf
  infra/frontend/service/.terraform.lock.hcl
  infra/frontend/service/main.tf
  infra/networks/.terraform.lock.hcl
  infra/networks/main.tf
Labels: terraform, ci/cd, infra

#2432 Add service to environment variables
  infra/api/service/main.tf
Labels: terraform, infra

#2442 Update [locale]/layout.tsx to restore favicon
  frontend/src/app/[locale]/layout.tsx
Labels: frontend, typescript

#2434 [Task 2260] refactor search error page for maintainability
  frontend/src/app/[locale]/search/error.tsx
  frontend/src/app/[locale]/search/layout.tsx
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/app/api/BaseApi.ts
  frontend/src/components/search/SearchFilters.tsx
  frontend/src/components/search/SearchResults.tsx
  frontend/src/components/search/error/SearchErrorAlert.tsx
  frontend/tests/components/search/SearchResults.test.tsx
Labels: frontend, typescript

#2341 Deploy Opensearch
  .github/workflows/ci-infra.yml
  .gitignore
  infra/api/app-config/dev.tf
  infra/api/app-config/env-config/environment-variables.tf
  infra/api/app-config/env-config/outputs.tf
  infra/api/app-config/env-config/variables.tf
  infra/api/app-config/prod.tf
  infra/api/app-config/staging.tf
  infra/api/database/search.tf
  infra/api/service/.terraform.lock.hcl
  infra/api/service/main.tf
  infra/api/service/search.tf
  infra/api/service/secrets.tf
  infra/modules/search/authentication.tf
  infra/modules/search/main.tf
  infra/modules/search/networking.tf
  infra/modules/search/variables.tf
  infra/modules/secret/main.tf
  infra/modules/secret/outputs.tf
  infra/modules/secret/variables.tf
  infra/modules/service/access-control.tf
  infra/modules/service/main.tf
  infra/modules/service/secrets.tf
  infra/modules/service/variables.tf
Labels: topic: infra, terraform, ci/cd, infra

#2451 fix opensearch env vars
  infra/api/service/search.tf
Labels: terraform, infra

#2436 Fix newsletter archive URL
  frontend/src/constants/routes.ts
Labels: frontend, typescript

#2458 [Issue #2459] Speed up e2e tests by testing against built frontend
  .github/workflows/ci-frontend-e2e.yml
  frontend/tests/playwright.config.ts
Labels: frontend, ci/cd, typescript

#2449 Remove selective e2e test skips for webkit
  frontend/tests/e2e/search/search-loading.spec.ts
  frontend/tests/e2e/search/search-no-results.spec.ts
Labels: frontend, typescript

#2445 Remove PageSEO component
  frontend/src/app/[locale]/page.tsx
  frontend/src/app/[locale]/process/page.tsx
  frontend/src/app/[locale]/research/page.tsx
  frontend/src/app/[locale]/search/layout.tsx
  frontend/src/app/[locale]/subscribe/confirmation/page.tsx
  frontend/src/app/[locale]/subscribe/page.tsx
  frontend/src/app/[locale]/subscribe/unsubscribe/page.tsx
  frontend/src/components/PageSEO.tsx
  frontend/tests/components/PageSEO.test.tsx
Labels: frontend, typescript

#2457 [Issue #2456] Remove flicker from navigation between pages
  frontend/src/components/Header.tsx
  frontend/src/components/search/SearchResultsListItem.tsx
  frontend/tests/e2e/search/search-navigate.spec.ts
  frontend/tests/e2e/search/searchSpecUtil.ts
Labels: frontend, typescript

#2392 [Issue #1397] process roadmap accessibility
  frontend/src/app/[locale]/process/ProcessMilestones.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/tests/utils/intlMocks.ts
Labels: frontend, typescript

#2450 [Issue #2327] Configure API/backend to work with OpenSearch
  api/local.env
  api/src/adapters/search/opensearch_client.py
  api/src/adapters/search/opensearch_config.py
  api/src/search/backend/load_opportunities_to_index.py
  api/src/search/backend/load_search_data.py
  api/tests/src/adapters/search/test_opensearch_client.py
Labels: python, api

#2486 [Issue #2485] Swap everything to new secrets pattern
  infra/analytics/app-config/env-config/environment-variables.tf
  infra/analytics/app-config/env-config/outputs.tf
  infra/analytics/service/.terraform.lock.hcl
  infra/analytics/service/main.tf
  infra/analytics/service/secrets.tf
  infra/frontend/app-config/env-config/environment-variables.tf
  infra/frontend/app-config/env-config/outputs.tf
  infra/frontend/service/.terraform.lock.hcl
  infra/frontend/service/main.tf
  infra/frontend/service/secrets.tf
Labels: terraform, infra

#2247 [Issue 2498] update frontend readme for current file structure
  frontend/README.md
Labels: documentation, frontend

#2502 [Unticketed] Esbuild failing scans
  frontend/Dockerfile
Labels: frontend

#2503 Require build and publish before database migrations
  .github/workflows/deploy.yml
Labels: ci/cd

#2480 [Issue #2472] Terraform in ECS
  .dockerignore
  ecs-terraform/.dockerignore
  ecs-terraform/Dockerfile
  ecs-terraform/Makefile
  ecs-terraform/docker-compose.yml
  infra/ecs-terraform/app-config/.terraform.lock.hcl
  infra/ecs-terraform/app-config/build_repository.tf
  infra/ecs-terraform/app-config/dev.tf
  infra/ecs-terraform/app-config/env-config/environment-variables.tf
  infra/ecs-terraform/app-config/env-config/outputs.tf
  infra/ecs-terraform/app-config/env-config/variables.tf
  infra/ecs-terraform/app-config/main.tf
  infra/ecs-terraform/app-config/outputs.tf
  infra/ecs-terraform/app-config/prod.tf
  infra/ecs-terraform/app-config/staging.tf
  infra/ecs-terraform/build-repository/.terraform.lock.hcl
  infra/ecs-terraform/build-repository/main.tf
  infra/ecs-terraform/build-repository/shared.s3.tfbackend
  infra/ecs-terraform/service/.terraform.lock.hcl
  infra/ecs-terraform/service/dev.s3.tfbackend
  infra/ecs-terraform/service/image_tag.tf
  infra/ecs-terraform/service/main.tf
  infra/ecs-terraform/service/outputs.tf
  infra/ecs-terraform/service/prod.s3.tfbackend
  infra/ecs-terraform/service/secrets.tf
  infra/ecs-terraform/service/staging.s3.tfbackend
  infra/ecs-terraform/service/variables.tf
Labels: terraform, ci/cd, infra

#2479 [Issue #2391] More Metabases
  infra/analytics/app-config/env-config/environment-variables.tf
  infra/analytics/metabase/.terraform.lock.hcl
  infra/analytics/metabase/main.tf
  infra/analytics/metabase/prod.s3.tfbackend
  infra/analytics/metabase/secrets.tf
  infra/analytics/metabase/staging.s3.tfbackend
Labels: terraform, infra

#2483 [Issue #2123] Add Opportunity Attachment and Lookup Tables
  api/src/constants/lookup_constants.py
  api/src/db/migrations/versions/2024_10_16_add_opportunity_attachment_tables.py
  api/src/db/models/lookup_models.py
  api/src/db/models/opportunity_models.py
Labels: python, api, database

#2452 [Issue #2327] Allow access to opensearch
  infra/api/database/main.tf
  infra/api/database/search.tf
  infra/modules/search/authentication.tf
  infra/modules/search/networking.tf
  infra/modules/search/outputs.tf
  infra/modules/search/variables.tf
Labels: terraform, infra

#2477 [Issue 2497] network fronted and api docker containers
  api/docker-compose.yml
  frontend/.env.development
  frontend/README.md
  frontend/docker-compose.yml
Labels: documentation, frontend, api

#2506 [Issue #2351, #2472] Migrate to platforms step function pattern
  infra/api/app-config/dev.tf
  infra/api/app-config/env-config/environment-variables.tf
  infra/api/app-config/env-config/outputs.tf
  infra/api/app-config/env-config/scheduled_jobs.tf
  infra/api/app-config/env-config/variables.tf
  infra/api/app-config/prod.tf
  infra/api/app-config/staging.tf
  infra/api/service/main.tf
  infra/api/service/sfn_copy_oracle_data.tf
  infra/api/service/sfn_load_transform.tf
  infra/modules/service/access-control.tf
  infra/modules/service/scheduled_jobs.tf
  infra/modules/service/scheduler_role.tf
  infra/modules/service/variables.tf
  infra/modules/service/workflow_orchestrator_role.tf
Labels: terraform, infra

#2513 [Issue #2493] Allow certain agency fields to be null from the legacy values
  api/src/data_migration/transformation/subtask/transform_agency.py
  api/src/db/migrations/versions/2024_10_17_legacy_null_agency.py
  api/src/db/models/agency_models.py
  api/tests/src/data_migration/transformation/conftest.py
  api/tests/src/data_migration/transformation/subtask/test_transform_agency.py
  api/tests/src/db/models/factories.py
  documentation/api/database/erds/api-schema.png
  documentation/api/database/erds/full-schema.png
Labels: python, api, database

#2478 [issue 2279] Update how we generate ERD diagrams for the database schema
  api/bin/create_erds.py
  api/poetry.lock
  api/pyproject.toml
  documentation/api/database/erds/README.md
  documentation/api/database/erds/api-schema.png
  documentation/api/database/erds/full-schema.png
  documentation/api/database/erds/staging-schema.png
  documentation/api/database/erds/transfer-schema.png
Labels: documentation, python, api

#1847 Add `execute_sql_rds.sh` script to run SQL using RDS Data API
  api/bin/execute_sql_rds.sh
  api/bin/setup_localstack.py
  api/bin/sql/select_from_foreign_table.sql
  api/bin/sql/table_list.sql
  api/local.env
  api/src/adapters/aws/s3_adapter.py
Labels: python, api, shell

#2517 [Issue #2491] Modify the Agency table schema to include a link to a top-level agency
  api/src/db/migrations/versions/2024_10_17_add_top_level_agency_field.py
  api/src/db/models/agency_models.py
  api/src/db/models/opportunity_models.py
  api/tests/lib/seed_local_db.py
  api/tests/src/db/models/factories.py
  documentation/api/database/erds/api-schema.png
Labels: documentation, python, api, database

#2520 [Issue #2329] API-CI/CD Automation Conflict
  .github/workflows/ci-erd-diagrams.yml
  .github/workflows/ci-openapi.yml
Labels: ci/cd

#2518 [Issue 2448] use v1 search endpoint and frontend fetch pattern refactors
  .github/workflows/ci-frontend-e2e.yml
  frontend/package.json
  frontend/src/app/api/BaseApi.ts
  frontend/src/app/api/OpportunityListingAPI.ts
  frontend/src/app/api/SearchOpportunityAPI.ts
  frontend/src/services/search/searchfetcher/APISearchFetcher.ts
  frontend/src/types/opportunity/opportunityResponseTypes.ts
  frontend/src/types/search/searchResponseTypes.ts
  frontend/tests/api/BaseApi.test.ts
  frontend/tests/api/OpportunityListingApi.test.ts
  frontend/tests/api/SearchOpportunityApi.test.ts
  frontend/tests/e2e/newsletter.spec.ts
  frontend/tests/e2e/search/search-loading.spec.ts
  frontend/tests/e2e/search/search-no-results.spec.ts
  frontend/tests/e2e/search/searchSpecUtil.ts
Labels: frontend, ci/cd, typescript

#2519 [Issue #2495] Set points and sprint on close
  .github/linters/README.md
  .github/linters/queries/getFieldMetadata.graphql
  .github/linters/queries/getItemMetadata.graphql
  .github/linters/scripts/set-points-and-sprint.sh
  .github/workflows/ci-project-linters.yml
  .github/workflows/lint-set-points-and-sprint.yml
Labels: ci/cd

#2536 [Issue #2479] Update `lint-set-points-and-sprint.yml`
  .github/workflows/lint-set-points-and-sprint.yml
Labels: ci/cd

#2541 [Issue 2385] upgrade to python version 3.13.0
  .dockleconfig
  api/Dockerfile
  api/poetry.lock
  api/pyproject.toml
Labels: api

#2529 [Issue #2492] Create an agency linking step for the transformation process
  api/src/data_migration/transformation/subtask/transform_agency.py
  api/src/data_migration/transformation/transform_oracle_data_task.py
  api/tests/src/data_migration/transformation/subtask/test_transform_agency.py
Labels: python, api

#2523 [Issue #2521] Have the error response always return an internal request ID
  api/openapi.generated.yml
  api/src/api/response.py
  api/src/api/schemas/response_schema.py
  api/src/logging/flask_logger.py
  api/tests/src/api/test_healthcheck.py
Labels: python, api

#2542 [Issue #2538] Show the path of a vulnerability
  .github/workflows/vulnerability-scans.yml
Labels: ci/cd

#2534 Add top_agency_name api
  api/openapi.generated.yml
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/services/opportunities_v1/experimental_constant.py
  api/src/services/opportunities_v1/opportunity_to_csv.py
  frontend/src/types/opportunity/opportunityResponseTypes.ts
  frontend/tests/api/OpportunityListingApi.test.ts
Labels: frontend, python, api, typescript

#2557 [Issue #2351] Move alarms into accounts folder
  infra/accounts/alarms.tf
  infra/alarms/.terraform.lock.hcl
  infra/alarms/alarms.s3.tfbackend
  infra/alarms/main.tf
  infra/alarms/outputs.tf
Labels: terraform, infra

#2579 Return notFound if opportunity not found
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
Labels: frontend, typescript

#2572 [Issue #2355] Fix bug in analytics db import
  analytics/Makefile
  analytics/src/analytics/cli.py
  documentation/analytics/development.md
Labels: documentation, python, analytics, ci/cd

#2555 [Issue #2472] Remove all ECS terraform stuff
  ecs-terraform/.dockerignore
  ecs-terraform/Dockerfile
  ecs-terraform/Makefile
  ecs-terraform/docker-compose.yml
  infra/ecs-terraform/app-config/.terraform.lock.hcl
  infra/ecs-terraform/app-config/build_repository.tf
  infra/ecs-terraform/app-config/dev.tf
  infra/ecs-terraform/app-config/env-config/environment-variables.tf
  infra/ecs-terraform/app-config/env-config/outputs.tf
  infra/ecs-terraform/app-config/env-config/variables.tf
  infra/ecs-terraform/app-config/main.tf
  infra/ecs-terraform/app-config/outputs.tf
  infra/ecs-terraform/app-config/prod.tf
  infra/ecs-terraform/app-config/staging.tf
  infra/ecs-terraform/build-repository/.terraform.lock.hcl
  infra/ecs-terraform/build-repository/main.tf
  infra/ecs-terraform/build-repository/shared.s3.tfbackend
  infra/ecs-terraform/service/.terraform.lock.hcl
  infra/ecs-terraform/service/dev.s3.tfbackend
  infra/ecs-terraform/service/image_tag.tf
  infra/ecs-terraform/service/main.tf
  infra/ecs-terraform/service/outputs.tf
  infra/ecs-terraform/service/prod.s3.tfbackend
  infra/ecs-terraform/service/secrets.tf
  infra/ecs-terraform/service/staging.s3.tfbackend
  infra/ecs-terraform/service/variables.tf
Labels: terraform, ci/cd, infra

#2543 [Issue #2273] create opportunity call to action linking to legacy
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/components/opportunity/OpportunityAwardGridRow.tsx
  frontend/src/components/opportunity/OpportunityCTA.tsx
  frontend/src/components/opportunity/OpportunityStatusWidget.tsx
  frontend/src/constants/environments.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/services/search/searchfetcher/MockSearchFetcher.ts
  frontend/src/types/opportunity/opportunityResponseTypes.ts
  frontend/src/types/search/searchResponseTypes.ts
  frontend/tests/api/OpportunityListingApi.test.ts
  frontend/tests/components/opportunity/OpportunityCTA.test.tsx
  frontend/tests/components/opportunity/OpportunityStatusWidget.test.tsx
Labels: frontend, typescript

#2549 [Issue 2487] relevant uswds and trussworks upgrades
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#2577 [Issue 2552] opportunity detail heading updates
  frontend/src/components/opportunity/OpportunityAwardInfo.tsx
  frontend/src/components/opportunity/OpportunityDescription.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/tests/components/opportunity/OpportunityDescription.test.tsx
Labels: frontend, typescript

#2598 [Issue #2580] Run vulnerability scans twice
  .github/workflows/vulnerability-scans.yml
Labels: ci/cd

#2533 [Issue #2277] Document storage ADR
  documentation/wiki/SUMMARY.md
  documentation/wiki/decisions/adr/2024-10-18-document-storage.md
Labels: documentation

#2606 [Issue #2582] Ignore CVEs in upstream golang CLI
  .grype.yml
  analytics/Makefile
Labels: analytics, ci/cd

#2607 [Issue #2602] Create a table to act as a queue for updated opportunities
  api/src/db/migrations/versions/2024_10_28_add_opportunity_search_index_queue_table.py
  api/src/db/models/opportunity_models.py
  documentation/api/database/erds/api-schema.png
Labels: python, api, database

#2608 [no ticket] fix opensearch variable typo
  infra/api/app-config/env-config/outputs.tf
Labels: terraform, infra

#2584 [Issue 2583] opportunity detail error page
  frontend/src/app/[locale]/opportunity/[id]/error.tsx
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/app/[locale]/search/error.tsx
  frontend/src/components/ServerErrorAlert.tsx
  frontend/src/components/search/SearchResultsListFetch.tsx
  frontend/src/components/search/error/SearchErrorAlert.tsx
  frontend/src/errors.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/tests/components/ServerErrorAlert.test.tsx
  frontend/tests/components/search/error/SearchErrorAlert.test.tsx
Labels: frontend, typescript

#2530 [Issue #1362] Sendy Update
  frontend/README.md
  frontend/next-env.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/[locale]/subscribe/SubscriptionForm.tsx
  frontend/src/app/[locale]/subscribe/actions.ts
  frontend/src/app/[locale]/subscribe/page.tsx
  frontend/src/components/subscribe/SubscriptionForm.tsx
  frontend/src/components/subscribe/SubscriptionSubmitButton.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/pages/api/subscribe.ts
  frontend/src/types/intl.ts
  frontend/src/types/sendy.ts
  frontend/src/utils/testing/intlMocks.ts
  frontend/tests/e2e/newsletter.spec.ts
  frontend/tests/pages/api/subscribe.test.ts
  frontend/tests/pages/subscribe/SubscriptionForm.test.tsx
  frontend/tests/pages/subscribe/SubscriptionSubmitButton.test.tsx
  frontend/tests/pages/subscribe/page.test.tsx
  frontend/tests/pages/subscribe/subscribeEmailAction.test.tsx
Labels: documentation, frontend, typescript

#2624 [Issue #2327] Move WAF and Opensearch logs policies to the account level
  infra/accounts/logs.tf
  infra/modules/search/authentication.tf
  infra/modules/search/main.tf
  infra/modules/service/waf.tf
Labels: terraform, infra

#2539 [Issue #2481] Add new GitHub export
  analytics/Dockerfile
  analytics/Makefile
  analytics/pyproject.toml
  analytics/src/analytics/cli.py
  analytics/src/analytics/datasets/base.py
  analytics/src/analytics/datasets/issues.py
  analytics/src/analytics/datasets/utils.py
  analytics/src/analytics/integrations/github.py
  analytics/src/analytics/integrations/github/__init__.py
  analytics/src/analytics/integrations/github/getRoadmapData.graphql
  analytics/src/analytics/integrations/github/getSprintData.graphql
  analytics/src/analytics/integrations/github/main.py
  analytics/src/analytics/integrations/github/make-graphql-query.sh
  analytics/tests/conftest.py
  analytics/tests/datasets/test_issues.py
  analytics/tests/integrations/test_slack.py
Labels: python, analytics, ci/cd, shell

#2611 [Issue #2603] Setup triggers on our opportunity tables which populate the search queue table
  api/src/db/migrations/versions/2024_10_28_add_opportunity_table_triggers.py
  api/src/db/models/opportunity_models.py
Labels: python, api, database

#2546 [Issue #2548] Swap analytics to new step function pattern
  infra/analytics/app-config/env-config/environment-variables.tf
  infra/analytics/app-config/env-config/outputs.tf
  infra/analytics/app-config/env-config/scheduled_jobs.tf
  infra/analytics/service/main.tf
  infra/analytics/service/sfn_sprint_reports.tf
Labels: terraform, infra

#2545 [Issue #2391] Adds documentation about connecting Metabase to Analytics DB
  infra/analytics/app-config/env-config/environment-variables.tf
Labels: terraform, infra

#2641 [Issue #2528] Change job schedule ELT process to hourly
  infra/api/app-config/env-config/scheduled_jobs.tf
Labels: terraform, infra

#2563 [Issue 2512] S3 Presign URL
  api/local.env
  api/openapi.generated.yml
  api/src/adapters/aws/__init__.py
  api/src/adapters/aws/aws_session.py
  api/src/adapters/aws/s3_adapter.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/services/opportunities_v1/get_opportunity.py
  api/tests/conftest.py
  api/tests/lib/opportunity_attachment_test_files/test_file_1.txt
  api/tests/lib/opportunity_attachment_test_files/test_file_2.txt
  api/tests/lib/opportunity_attachment_test_files/test_file_3.txt
  api/tests/lib/opportunity_attachment_test_files/test_file_4.pdf
  api/tests/lib/opportunity_attachment_test_files/test_file_5.pdf
  api/tests/lib/seed_local_db.py
  api/tests/src/api/opportunities_v1/conftest.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_get.py
  api/tests/src/db/models/factories.py
Labels: python, api

#2678 [no ticket] remove lock timeout stuff
  .github/workflows/deploy.yml
Labels: ci/cd

#2681 [Unticketed] Change s3 client to use s3v4 signature version
  api/src/adapters/aws/s3_adapter.py
Labels: python, api

#2684 [Issue #2500] Remove duplicate restrictive search access policy
  infra/modules/search/authentication.tf
  infra/modules/search/main.tf
Labels: terraform, infra

#2618 [Issue #2471] Update `SprintBurndown` to use `GitHubIssues` dataset
  analytics/Makefile
  analytics/src/analytics/cli.py
  analytics/src/analytics/datasets/issues.py
  analytics/src/analytics/metrics/burndown.py
  analytics/src/analytics/metrics/burnup.py
  analytics/src/analytics/metrics/utils.py
  analytics/tests/conftest.py
  analytics/tests/datasets/test_issues.py
  analytics/tests/metrics/test_burndown.py
  analytics/tests/metrics/test_burnup.py
  analytics/tests/test_cli.py
Labels: python, analytics, ci/cd

#2687 [Unticketed] Add a command that fully sets up a working API
  api/Makefile
Labels: api, ci/cd

#2540 [Issue 2447] add relevancy sort option to opportunity search
  frontend/src/app/api/SearchOpportunityAPI.ts
  frontend/src/components/search/SearchSortBy.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/types/search/searchRequestTypes.ts
  frontend/src/utils/search/convertSearchParamsToProperTypes.ts
  frontend/tests/api/BaseApi.test.ts
  frontend/tests/api/SearchOpportunityApi.test.ts
  frontend/tests/components/search/SearchSortBy.test.tsx
  frontend/tests/errors.test.ts
Labels: frontend, typescript

#2689 [Issue #2630] Enable search load to run hourly
  infra/api/app-config/env-config/scheduled_jobs.tf
  infra/api/app-config/prod.tf
Labels: terraform, infra
