Repository HHS/simpler-grants-gov, pull requests merged in 2024-03, with the labels that each got.

#1345 [Issue #1337] E2E Testing ADR
  documentation/decisions/adr/2024-02-26-e2e-integration-testing-framework.md
Labels: documentation

#1358 [Issue #1382]: Move search page to app router
  frontend/next-env.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/app/search/page.tsx
  frontend/src/components/AppLayout.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/GrantsIdentifier.tsx
  frontend/src/components/Header.tsx
  frontend/src/pages/search.tsx
  frontend/stories/pages/search.stories.tsx
  frontend/tests/components/AppLayout.test.tsx
  frontend/tests/components/Header.test.tsx
  frontend/tests/pages/search.test.tsx
  frontend/tsconfig.json
Labels: frontend, typescript, storybook

#1386 [Issue #1294]: API setup part 2
  api/poetry.lock
  api/pyproject.toml
  api/src/app.py
  frontend/.env.development
  frontend/src/api/BaseApi.ts
  frontend/src/api/SearchOpportunityAPI.ts
  frontend/src/api/mock/APIMockResponse.json
  frontend/src/app/search/page.tsx
  frontend/src/services/searchfetcher/APISearchFetcher.ts
  frontend/src/services/searchfetcher/MockSearchFetcher.ts
  frontend/src/services/searchfetcher/SearchFetcher.ts
  frontend/src/types/searchTypes.ts
  frontend/tests/api/BaseApi.test.ts
  frontend/tests/api/SearchOpportunityApi.test.ts
  frontend/tests/pages/search.test.tsx
Labels: frontend, python, api, typescript

#1346 [Issue 1258] Add local libs and fix a11y issues
  api/openapi.generated.yml
  api/src/app.py
  api/src/static/swagger-ui-bundle.js
  api/src/static/swagger-ui-standalone-preset.js
  api/src/static/swagger-ui.min.css
Labels: python, api, javascript

#1401 [Issue 1258] Fix format for local lib update
  api/src/app.py
Labels: python, api

#1395 [Issue #1394]: Move search page to a server component
  frontend/.env.development
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api/BaseApi.ts
  frontend/src/app/api/SearchOpportunityAPI.ts
  frontend/src/app/api/mock/APIMockResponse.json
  frontend/src/app/search/SearchForm.tsx
  frontend/src/app/search/actions.ts
  frontend/src/app/search/loading.tsx
  frontend/src/app/search/page.tsx
  frontend/src/services/searchfetcher/APISearchFetcher.ts
  frontend/src/services/searchfetcher/MockSearchFetcher.ts
  frontend/src/services/searchfetcher/SearchFetcher.ts
  frontend/tests/api/BaseApi.test.ts
  frontend/tests/api/SearchOpportunityApi.test.ts
  frontend/tests/pages/search.test.tsx
Labels: frontend, typescript

#1398 [Issue #630] Logging and Monitoring ADR
  documentation/decisions/adr/2024-03-04-logging-monitoring.md
Labels: documentation

#1444 [Issue #1446] Add `make login-db` and add `Base.__rich_repr__` method
  api/Makefile
  api/src/db/models/base.py
  api/src/tool/console/interactive.py
Labels: python, api, ci/cd, database

#1402 [Issue #1363] Update the Opportunity summary database models based on updated database schema plan
  api/src/db/migrations/versions/2024_03_07_drop_tables_to_remake.py
  api/src/db/migrations/versions/2024_03_07_updates_for_summary_tables.py
  api/src/db/models/opportunity_models.py
  api/tests/lib/seed_local_db.py
  api/tests/src/api/opportunities_v0_1/test_opportunity_route.py
  api/tests/src/db/models/factories.py
  documentation/api/database/erds/full-schema.png
Labels: documentation, python, api, database

#1413 [Issue #1296]: setup uswds layout
  frontend/src/app/search/SearchForm.tsx
  frontend/src/app/search/_search.scss
  frontend/src/app/search/loading.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchOpportunityStatus.tsx
  frontend/src/components/search/SearchPagination.tsx
  frontend/src/components/search/SearchResultsHeader.tsx
  frontend/src/components/search/SearchResultsList.tsx
Labels: frontend, typescript

#1450 [Issue #1449]: Refresh api mock response and search types
  frontend/src/app/api/mock/APIMockResponse.json
  frontend/src/types/searchTypes.ts
Labels: frontend, typescript

#1452 [Issue #1451] Put search page behind feature flag
  frontend/src/app/not-found.tsx
  frontend/src/app/search/page.tsx
  frontend/src/components/BetaAlert.tsx
  frontend/src/services/FeatureFlagManager.ts
  frontend/tests/services/FeatureFlagManager.test.ts
Labels: frontend, typescript

#1453 [Issue #1223] add layout to search results
  frontend/src/app/search/SearchForm.tsx
  frontend/src/app/search/_search.scss
  frontend/src/app/search/page.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchOpportunityStatus.tsx
  frontend/src/components/search/SearchResultsList.tsx
  frontend/src/constants/breadcrumbs.ts
Labels: frontend, typescript

#1456 [Issue #1454]: Move search mock vs api data to an env var and cleanup components
  frontend/.env.development
  frontend/.env.production
  frontend/src/app/api/SearchOpportunityAPI.ts
  frontend/src/app/api/mock/APIMockResponse.json
  frontend/src/app/search/SearchForm.tsx
  frontend/src/app/search/actions.ts
  frontend/src/app/search/page.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchCallToAction.tsx
  frontend/src/components/search/SearchOpportunityStatus.tsx
  frontend/src/components/search/SearchResultsHeader.tsx
  frontend/src/components/search/SearchResultsList.tsx
  frontend/src/components/search/SearchSortBy.tsx
  frontend/src/services/searchfetcher/APISearchFetcher.ts
  frontend/src/services/searchfetcher/SearchFetcher.ts
  frontend/src/services/searchfetcher/SearchFetcherUtil.ts
  frontend/src/utils/dateUtil.ts
Labels: frontend, typescript

#1463 [Issue 906] Adds prod API domain
  infra/api/app-config/env-config/outputs.tf
  infra/api/app-config/env-config/variables.tf
  infra/api/app-config/prod.tf
  infra/api/service/main.tf
Labels: terraform, infra

#1392 feat: adds E2E tests for the frontend static site and runs them as part of CI
  .github/workflows/ci-frontend.yml
  frontend/.gitignore
  frontend/README.md
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/e2e/index.spec.ts
  frontend/tests/e2e/newsletter.spec.ts
  frontend/tests/e2e/process.spec.ts
  frontend/tests/e2e/research.spec.ts
  frontend/tests/playwright.config.ts
Labels: documentation, frontend, ci/cd, typescript, javascript

#1448 [Issue #1364] Update API schema with modified DB schema fields
  api/src/api/opportunities_v0_1/opportunity_schemas.py
  api/src/db/models/opportunity_models.py
  api/src/services/opportunities_v0_1/search_opportunities.py
  api/tests/lib/seed_local_db.py
  api/tests/src/api/opportunities_v0_1/test_opportunity_route.py
  api/tests/src/db/models/factories.py
  documentation/api/database/erds/full-schema.png
Labels: python, api, database

#1476 [Issue #1391] Set the gunicorn workers based on CPU count
  api/gunicorn.conf.py
Labels: python, api

#1486 [Issue #1473:] Add filter component
  frontend/src/app/search/SearchForm.tsx
  frontend/src/components/FilterCheckbox.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterCheckbox.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterSection/SearchFilterSection.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterSection/SectionLinkCount.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterSection/SectionLinkLabel.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterToggleAll.tsx
  frontend/src/components/search/SearchFilterAccordion/filterJSONLists/agencyFilterList.ts
  frontend/src/components/search/SearchFilterAgency.tsx
  frontend/src/components/search/SearchFilterFundingInstrument.tsx
  frontend/src/components/search/SearchFundingOpportunity.tsx
  frontend/src/hooks/useSearchFilter.ts
  frontend/tests/hooks/useSearchFilter.test.ts
Labels: frontend, typescript

#1480 [Issue #1477]: Hook up pagination
  frontend/.env.production
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api/BaseApi.ts
  frontend/src/app/api/SearchOpportunityAPI.ts
  frontend/src/app/search/SearchForm.tsx
  frontend/src/app/search/actions.ts
  frontend/src/app/search/page.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchOpportunityStatus.tsx
  frontend/src/components/search/SearchPagination.tsx
  frontend/src/components/search/SearchResultsHeader.tsx
  frontend/src/components/search/SearchResultsList.tsx
  frontend/src/components/search/SearchSortBy.tsx
  frontend/src/hooks/useSearchParamUpdater.ts
  frontend/src/services/searchfetcher/APISearchFetcher.ts
  frontend/src/services/searchfetcher/MockSearchFetcher.ts
  frontend/src/services/searchfetcher/SearchFetcher.ts
  frontend/src/types/requestURLTypes.ts
  frontend/src/types/searchTypes.ts
  frontend/src/utils/convertSearchParamsToStrings.ts
  frontend/tests/api/SearchOpportunityApi.test.ts
  frontend/tests/components/search/SearchOpportunityStatus.test.tsx
  frontend/tests/hooks/useSearchParamUpdater.test.ts
Labels: frontend, typescript

#1468 [Issue #1167] Add filtering to the search endpoint
  api/openapi.generated.yml
  api/src/api/opportunities_v0_1/opportunity_routes.py
  api/src/api/opportunities_v0_1/opportunity_schemas.py
  api/src/api/schemas/search_schema.py
  api/src/db/migrations/versions/2024_03_12_add_indexes_for_search.py
  api/src/db/models/opportunity_models.py
  api/src/pagination/paginator.py
  api/src/services/opportunities_v0/search_opportunities.py
  api/src/services/opportunities_v0_1/search_opportunities.py
  api/tests/conftest.py
  api/tests/src/api/opportunities_v0_1/test_opportunity_route.py
  api/tests/src/db/models/factories.py
  api/tests/src/logging/test_flask_logger.py
  api/tests/src/pagination/test_paginator.py
  documentation/api/database/erds/full-schema.png
Labels: documentation, python, api, database

#1490 [Issue #1489] Complete search filter accordion logic
  frontend/src/app/search/SearchForm.tsx
  frontend/src/app/search/actions.ts
  frontend/src/components/FilterCheckbox.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterCheckbox.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterSection/SearchFilterSection.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterToggleAll.tsx
  frontend/src/components/search/SearchFilterAgency.tsx
  frontend/src/components/search/SearchFilterFundingInstrument.tsx
  frontend/src/components/search/SearchOpportunityStatus.tsx
  frontend/src/components/search/SearchPagination.tsx
  frontend/src/components/search/SearchResultsHeader.tsx
  frontend/src/components/search/SearchResultsList.tsx
  frontend/src/hooks/useSearchFilter.ts
  frontend/src/hooks/useSearchFormState.ts
  frontend/src/hooks/useSearchParamUpdater.ts
  frontend/src/types/requestURLTypes.ts
  frontend/src/types/searchTypes.ts
  frontend/src/utils/convertSearchParamsToStrings.ts
  frontend/tests/components/search/SearchOpportunityStatus.test.tsx
  frontend/tests/hooks/useSearchFilter.test.ts
  frontend/tests/hooks/useSearchFormState.test.ts
  frontend/tests/hooks/useSearchParamUpdater.test.ts
Labels: frontend, typescript

#1481 [Issue #1467] Add order_by support for more fields
  api/openapi.generated.yml
  api/src/api/opportunities_v0_1/opportunity_schemas.py
  api/src/services/opportunities_v0_1/search_opportunities.py
  api/tests/conftest.py
  api/tests/src/api/opportunities_v0_1/test_opportunity_route.py
Labels: python, api

#1495 [Issue #1491]: Setup states to hide clear all and select all in filter accordion
  frontend/src/app/search/SearchForm.tsx
  frontend/src/app/search/actions.ts
  frontend/src/app/search/page.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterSection/SearchFilterSection.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterToggleAll.tsx
  frontend/src/hooks/useSearchFilter.ts
  frontend/src/hooks/useSearchFormState.ts
  frontend/src/services/search/SearchFilterManager.ts
  frontend/src/services/search/searchfetcher/APISearchFetcher.ts
  frontend/src/services/search/searchfetcher/MockSearchFetcher.ts
  frontend/src/services/search/searchfetcher/SearchFetcher.ts
  frontend/src/services/search/searchfetcher/SearchFetcherUtil.ts
  frontend/src/types/searchRequestURLTypes.ts
  frontend/src/utils/convertSearchParamsToStrings.ts
  frontend/tests/hooks/useSearchFormState.test.ts
  frontend/tests/pages/search.test.tsx
Labels: frontend, typescript

#1501 [Issue #1492]: Hook up rest of inputs to live API
  frontend/src/app/api/BaseApi.ts
  frontend/src/app/api/SearchOpportunityAPI.ts
  frontend/src/app/search/SearchForm.tsx
  frontend/src/app/search/actions.ts
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterCheckbox.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterSection/SearchFilterSection.tsx
  frontend/src/components/search/SearchFilterAccordion/filterJSONLists/agencyFilterList.ts
  frontend/src/components/search/SearchFilterAgency.tsx
  frontend/src/components/search/SearchFilterFundingInstrument.tsx
  frontend/src/components/search/SearchOpportunityStatus.tsx
  frontend/src/components/search/SearchResultsHeader.tsx
  frontend/src/components/search/SearchResultsList.tsx
  frontend/src/components/search/SearchSortBy.tsx
  frontend/src/hooks/useSearchFilter.ts
  frontend/src/hooks/useSearchFormState.ts
  frontend/src/services/search/FormDataService.ts
  frontend/src/services/search/SearchFilterManager.ts
  frontend/src/services/search/searchfetcher/APISearchFetcher.ts
  frontend/src/services/search/searchfetcher/MockSearchFetcher.ts
  frontend/src/services/search/searchfetcher/SearchFetcher.ts
  frontend/src/types/search/searchRequestTypes.ts
  frontend/src/types/search/searchResponseTypes.ts
  frontend/src/types/searchRequestURLTypes.ts
  frontend/src/utils/convertSearchParamsToStrings.ts
  frontend/tests/api/SearchOpportunityApi.test.ts
  frontend/tests/components/search/SearchOpportunityStatus.test.tsx
  frontend/tests/hooks/useSearchFilter.test.ts
  frontend/tests/hooks/useSearchFormState.test.ts
Labels: frontend, typescript

#1371 Issue 1018 sprint burnup metric
  analytics/reporting.ipynb
  analytics/src/analytics/cli.py
  analytics/src/analytics/datasets/sprint_board.py
  analytics/src/analytics/metrics/burndown.py
  analytics/src/analytics/metrics/burnup.py
  analytics/src/analytics/metrics/utils.py
  analytics/tests/metrics/test_burnup.py
  documentation/analytics/metrics/burnup.md
  documentation/analytics/usage.md
Labels: documentation, python, analytics

#1499 Updated architecture diagram
  documentation/architecture/README.md
Labels: documentation

#1513 [Issue #1510]: Split FE / BE docker-compose
  api/docker-compose.yml
  docker-compose.yml
  frontend/docker-compose.yml
Labels: frontend, api

#1512 [Issue #1505]: Pagination reset after changing results
  frontend/src/app/api/SearchOpportunityAPI.ts
  frontend/src/app/search/SearchForm.tsx
  frontend/src/app/search/page.tsx
  frontend/src/components/search/SearchPagination.tsx
  frontend/src/hooks/useSearchFormState.ts
  frontend/src/hooks/useSearchParamUpdater.ts
  frontend/src/services/search/FormDataService.ts
  frontend/src/services/search/searchfetcher/APISearchFetcher.ts
  frontend/src/services/search/searchfetcher/SearchFetcher.ts
  frontend/src/types/search/searchRequestTypes.ts
  frontend/src/types/search/searchResponseTypes.ts
  frontend/src/utils/search/convertSearchParamsToProperTypes.ts
Labels: frontend, typescript

#1514 [Issue #1455] Implement logic for query box in the search API
  api/Makefile
  api/openapi.generated.yml
  api/src/api/opportunities_v0_1/opportunity_schemas.py
  api/src/services/opportunities_v0_1/search_opportunities.py
  api/tests/lib/seed_local_db.py
  api/tests/src/api/opportunities_v0_1/test_opportunity_route.py
  documentation/api/database/database-local-usage.md
Labels: documentation, python, api, ci/cd

#1516 [Issue #1519] Cherry pick platform's pattern for env vars & ssm secrets
  documentation/infra/environment-variables-and-secrets.md
  infra/api/app-config/dev.tf
  infra/api/app-config/env-config/environment-variables.tf
  infra/api/app-config/env-config/outputs.tf
  infra/api/app-config/env-config/variables.tf
  infra/api/app-config/prod.tf
  infra/api/app-config/staging.tf
  infra/api/service/main.tf
  infra/frontend/app-config/env-config/environment-variables.tf
  infra/frontend/app-config/env-config/outputs.tf
  infra/frontend/app-config/env-config/variables.tf
  infra/frontend/service/main.tf
  infra/modules/service/access-control.tf
  infra/modules/service/main.tf
  infra/modules/service/secrets.tf
  infra/modules/service/variables.tf
Labels: documentation, terraform, infra

#1525 [Issue #1229] Dynamic tag format in search results
  frontend/src/components/search/SearchResultsList.tsx
  frontend/src/components/search/SearchResultsListItem.tsx
Labels: frontend, typescript

#1526 [Issue #1519] Configure sendy with new secrets pattern
  infra/frontend/app-config/dev.tf
  infra/frontend/app-config/env-config/environment-variables.tf
  infra/frontend/app-config/env-config/outputs.tf
  infra/frontend/app-config/env-config/variables.tf
  infra/frontend/app-config/prod.tf
  infra/frontend/app-config/staging.tf
  infra/frontend/service/main.tf
  infra/modules/service/main.tf
  infra/modules/service/variables.tf
Labels: terraform, infra

#1536 [Issue #1535] Adds analytics postgres DB
  infra/analytics/app-config/dev.tf
  infra/analytics/app-config/env-config/environment-variables.tf
  infra/analytics/app-config/env-config/outputs.tf
  infra/analytics/app-config/env-config/variables.tf
  infra/analytics/app-config/main.tf
  infra/analytics/app-config/outputs.tf
  infra/analytics/app-config/prod.tf
  infra/analytics/app-config/staging.tf
  infra/analytics/database/.terraform.lock.hcl
  infra/analytics/database/dev.s3.tfbackend
  infra/analytics/database/main.tf
  infra/analytics/database/variables.tf
Labels: terraform, infra

#1534 [Issue #1493] Update search schema to disallow empty filters
  api/openapi.generated.yml
  api/src/api/schemas/search_schema.py
  api/tests/src/api/opportunities_v0_1/test_opportunity_route.py
Labels: python, api

#1533 [Issue #1400] Close issues in done column
  .github/linters/.gitignore
  .github/linters/README.md
  .github/linters/queries/get-project-items.graphql
  .github/linters/scripts/close-issues-in-done-col.sh
  .github/workflows/ci-project-linters.yml
  .github/workflows/lint-close-done-issues.yml
Labels: ci/cd

#1475 Create Alert for Errors in API Application Logs
  infra/frontend/service/main.tf
  infra/modules/monitoring/main.tf
Labels: terraform, infra

#1539 [Issue 1541] Ran `make lint` on analytics folder
  analytics/src/analytics/cli.py
  analytics/src/analytics/metrics/burndown.py
  analytics/src/analytics/metrics/burnup.py
  analytics/src/analytics/metrics/utils.py
Labels: python, analytics

#1559 [Issue #1545] Layout improvements
  frontend/src/app/search/SearchForm.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchCallToAction.tsx
  frontend/src/components/search/SearchResultsHeader.tsx
  frontend/src/components/search/SearchResultsListItem.tsx
Labels: frontend, typescript

#1530 [Issue #1494] Modify agency filter to be an exact match
  api/src/services/opportunities_v0_1/search_opportunities.py
  api/tests/src/api/opportunities_v0_1/test_opportunity_route.py
Labels: python, api

#1566 [Issue #1546] Deploy Analytics folder to AWS ECR
  .github/workflows/cd-analytics.yml
  infra/analytics/app-config/outputs.tf
  infra/analytics/build-repository/.terraform.lock.hcl
  infra/analytics/build-repository/main.tf
  infra/analytics/build-repository/shared.s3.tfbackend
Labels: terraform, infra, ci/cd
